<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container-fluid p-0">
  <!-- <div class="d-flex align-items-center justify-content-end">
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'all' }"
      (click)="filterEmails('all')"
    >
      <i class="fa-solid fa-envelope me-1"></i> All
    </div>

    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'inbox' }"
      (click)="filterEmails('inbox')"
    >
      <i class="fa-solid fa-share me-1"></i> Inbox
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'outbox' }"
      (click)="filterEmails('outbox')"
    >
      <i class="fa-solid fa-reply me-1"></i> Outbox
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'sent' }"
      (click)="filterEmails('sent')"
    >
      <i class="fa-solid fa-reply me-1" style="color: green"></i>
      Sent
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'drafts' }"
      (click)="filterEmails('drafts')"
    >
      <i class="fa-solid fa-pencil-alt me-1 drafts"></i> Drafts
    </div>
    <button class="replay" (click)="showAllEmails()">Show All</button>
  </div> -->

  <div class="row mail-main-container">
    <div class="col-lg-3 p-0">
      <div class="card">
        <!-- Organization dropdown selector at the top -->
        <div class="org-selector">
          <div class="custom-dropdown">
            <div class="selected-option" (click)="toggleOrgDropdown()">
              <div class="d-flex align-items-center w-100">
                <div
                  *ngIf="getSelectedOrg()?.OrganizationId"
                  class="org-logo-container me-2"
                >
                  <img loading="lazy" 
                    class="org-logo"
                    [src]="
                      'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
                      getSelectedOrg()?.OrganizationId
                    "
                    alt=""
                  />
                </div>
                <span>
                  {{
                    getSelectedOrg()?.OrganizationName || "Select Organization"
                  }}
                </span>
                <i
                  class="fa-solid"
                  [ngClass]="
                    isOrgDropdownOpen ? 'fa-chevron-up' : 'fa-chevron-down'
                  "
                  style="margin-left: auto"
                ></i>
              </div>
            </div>
            <div class="dropdown-options" *ngIf="isOrgDropdownOpen">
              <div
                *ngFor="let org of BuyBoxMicroDeals"
                class="dropdown-option"
                [ngClass]="{ selected: org.OrganizationId === selectedOrgId }"
                (click)="selectOrg(org.OrganizationId)"
              >
                <div class="d-flex align-items-center w-100">
                  <div class="org-logo-container me-2">
                    <!-- <img
                      class="org-logo"
                      [src]="'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' + org.OrganizationId"
                      alt=""
                    /> -->
                  </div>
                  <span>{{ org.OrganizationName }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contacts list for the selected organization -->
        <div class="contacts-container" *ngIf="selectedOrgId">
          <div class="contacts-header">Contacts</div>
          <ul class="contacts-list m-0 p-0">
            <li
              class="contact-list flex-column"
              *ngFor="let contact of getSelectedOrgContacts()"
              (click)="getEmailsForContact(contact)"
              [ngClass]="{
                'selected-contact':
                  contact.ContactId === selectedContact?.ContactId
              }"
            >
              <div class="d-flex justify-content-between w-100">
                <span class="namecontact" id="{{ contact.ContactId }}">
                  {{ contact.Firstname }} {{ contact.Lastname }}
                </span>

                <!-- <button class="new-btnCompose" (click)="openCompose(contact)">
                  Compose
                  <i class="fa-solid fa-arrow-right"></i>
                </button> -->
              </div>
              <div class="shoppings-contacts">
                <ng-container *ngFor="let sc of contact.ShoppingCenters">
                  <div>
                    <span class="shopping-of-contact">{{ sc.CenterName }}</span>
                    <!-- <span
                    *ngIf="getTotalEmailsCount(sc.EmailStats[0]) > 0"
                  >
                    {{ getTotalEmailsCount(sc.EmailStats[0]) }}
                  </span> -->
                  </div>
                </ng-container>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9 p-0 mb-3" style="overflow-y: scroll" *ngIf="!selected">
      <div class="emails-header">
        <div class="header-container">
          <div class="left-section">
            <span class="main-top"> Mail Box </span>
          </div>
          <div class="right-section">
            <div class="custom-filter-dropdown">
              <div
                class="dropdown-toggle"
                (click)="isFilterDropdownOpen = !isFilterDropdownOpen"
              >
                <span class="dropdown-label">{{
                  selectedFilter | titlecase
                }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M11.9995 16.8C11.2995 16.8 10.5995 16.53 10.0695 16L3.54953 9.48001C3.25953 9.19001 3.25953 8.71001 3.54953 8.42001C3.83953 8.13001 4.31953 8.13001 4.60953 8.42001L11.1295 14.94C11.6095 15.42 12.3895 15.42 12.8695 14.94L19.3895 8.42001C19.6795 8.13001 20.1595 8.13001 20.4495 8.42001C20.7395 8.71001 20.7395 9.19001 20.4495 9.48001L13.9295 16C13.3995 16.53 12.6995 16.8 11.9995 16.8Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
              <div
                class="dropdown-menu"
                [ngClass]="{ show: isFilterDropdownOpen }"
              >
                <div
                  class="filter-option"
                  (click)="filterEmails('all'); isFilterDropdownOpen = false"
                >
                  <i class="fa-solid fa-envelope me-2"></i> All
                </div>
                <div
                  class="filter-option"
                  (click)="filterEmails('inbox'); isFilterDropdownOpen = false"
                >
                  <i class="fa-solid fa-share me-2"></i> Inbox
                </div>
                <div
                  class="filter-option"
                  (click)="filterEmails('outbox'); isFilterDropdownOpen = false"
                >
                  <i class="fa-solid fa-reply me-2"></i> Outbox
                </div>
                <div
                  class="filter-option"
                  (click)="filterEmails('sent'); isFilterDropdownOpen = false"
                >
                  <i class="fa-solid fa-reply me-2" style="color: green"></i>
                  Sent
                </div>
                <div
                  class="filter-option"
                  (click)="filterEmails('drafts'); isFilterDropdownOpen = false"
                >
                  <i class="fa-solid fa-pencil-alt me-2 drafts"></i> Drafts
                </div>
                <!-- <div class="filter-option" (click)="showAllEmails(); isFilterDropdownOpen = false">
                  <i class="fa-solid fa-list me-2"></i> Show All
                </div> -->
              </div>
            </div>
            <button class="refresh-button" (click)="refreshEmails()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M12.0001 22.75C6.80008 22.75 2.58008 18.52 2.58008 13.33C2.58008 8.13999 6.80008 3.89999 12.0001 3.89999C13.0701 3.89999 14.1101 4.04999 15.1101 4.35999C15.5101 4.47999 15.7301 4.89999 15.6101 5.29999C15.4901 5.69999 15.0701 5.91999 14.6701 5.79999C13.8201 5.53999 12.9201 5.39999 12.0001 5.39999C7.63008 5.39999 4.08008 8.94999 4.08008 13.32C4.08008 17.69 7.63008 21.24 12.0001 21.24C16.3701 21.24 19.9201 17.69 19.9201 13.32C19.9201 11.74 19.4601 10.22 18.5901 8.91999C18.3601 8.57999 18.4501 8.10999 18.8001 7.87999C19.1401 7.64999 19.6101 7.73999 19.8401 8.08999C20.8801 9.63999 21.4301 11.45 21.4301 13.33C21.4201 18.52 17.2001 22.75 12.0001 22.75Z"
                  fill="#704E73"
                />
                <path
                  d="M16.1304 6.06999C15.9204 6.06999 15.7104 5.97999 15.5604 5.80999L12.6704 2.49C12.4004 2.18 12.4304 1.69999 12.7404 1.42999C13.0504 1.15999 13.5304 1.18999 13.8004 1.49999L16.6904 4.82C16.9604 5.13 16.9304 5.60999 16.6204 5.87999C16.4904 6.00999 16.3104 6.06999 16.1304 6.06999Z"
                  fill="#704E73"
                />
                <path
                  d="M12.7602 8.52999C12.5302 8.52999 12.3002 8.41999 12.1502 8.21999C11.9102 7.88999 11.9802 7.41999 12.3102 7.16999L15.6802 4.70999C16.0102 4.45999 16.4802 4.53999 16.7302 4.86999C16.9802 5.19999 16.9002 5.66999 16.5702 5.91999L13.2002 8.38999C13.0702 8.48999 12.9202 8.52999 12.7602 8.52999Z"
                  fill="#704E73"
                />
              </svg>
            </button>
            <button
              class="compose-button"
              (click)="
                selectedContact
                  ? openCompose(selectedContact)
                  : showNoContactToast()
              "
            >
              <i class="fa-solid fa-plus"></i>
              <span>Compose</span>
            </button>
          </div>
        </div>
      </div>

      <div class="card" style="border: none; border-radius: 0">
        <div class="card-bodyy" style="max-height: 74vh; overflow-y: auto">
          <div>
            <div class="email-list">
              <div
                class="single-mail"
                style="cursor: pointer"
                *ngFor="let email of filteredEmails"
                [ngClass]="{
                  'selected-email': email.id === selectedEmail?.ID
                }"
              >
                <!-- <div class="d-flex">

                </div> -->
                <div class="d-flex justify-content-between w-100">
                  <strong class="d-flex align-items-center">
                    <div
                      class="direction-badge"
                      [ngClass]="getDirectionClass(email.Direction)"
                      (click)="openEmail(email)"
                    >
                      <i
                        [ngClass]="
                          'fa-solid ' + getDirectionIcon(email.Direction)
                        "
                      ></i>
                      <span class="direction-label">{{
                        getDirectionLabel(email.Direction)
                      }}</span>
                    </div>

                    <span
                      class="subject subject-mob ms-2"
                      (click)="openEmail(email)"
                    >
                      {{ email.Subject }}
                    </span>
                  </strong>

                  <div class="d-flex align-items-center">
                    <!-- <div (click)="send(email)">
                    <i class="fa-solid fa-paper-plane text-primary"  *ngIf="email.Direction === 4"></i>
                   </div> -->
                    <!-- <i
                   class="fa-solid fa-paper-plane text-primary send-icn"
                   title="Send Mail"
                   (click)="openSendEmailModal(email)"
                   *ngIf="email.Direction === 4"
                 ></i> -->
                    <!-- <img
                      style="width: 24px; height: 24px"
                      class="logo ms-0 me-2 logo-mob"
                      src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                        email.O[0].OrganizationId
                      }}"
                      title="{{ email.O[0].OrganizationName }}"
                    /> -->
                    <p class="mb-0 organization-name" style="font-size: 13px">
                      {{ email.O[0].OrganizationName }}
                    </p>

                    <div>
                      <img loading="lazy" 
                        class="ms-2 cursor"
                        src="../../../assets/Images/Icons/eye.png"
                        alt="View Manager Details"
                        [ngbPopover]="popoverContent"
                        popoverTitle="Email Contact"
                        triggers="click:outside"
                        [placement]="'bottom'"
                      />
                    </div>

                    <br />
                    <ng-template #popoverContent>
                      <div>
                        <ng-container
                          *ngFor="let contact of email.O[0].MailsContacts"
                        >
                          <div>
                            <p class="m-0">
                              <b>{{ contact.RecieverFullName }}</b>
                            </p>
                            <ul>
                              <ng-container *ngFor="let sc of contact.SC">
                                <li class="ms-2">{{ sc.CenterName }}</li>
                              </ng-container>
                            </ul>
                          </div>
                        </ng-container>
                      </div>
                    </ng-template>
                    <div class="ms-auto">
                      <i
                        class="fa-solid fa-trash-can delete-icn mx-2"
                        title="Delete Mail"
                        (click)="DeleteMailTemplate(email)"
                        *ngIf="email.Direction === 4"
                      ></i>
                    </div>
                    <p class="date mb-0" style="font-size: 12px">
                      {{ email.Date | date : "medium" }}
                    </p>
                  </div>
                </div>
              </div>
              <p *ngIf="emailsSentContact?.length === 0" class="no-email-msg">
                {{ emptyMessage }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Email body - shown when an email is selected -->
    <div
      class="col-lg-9 p-0 m-0"
      id="emailDetails"
      *ngIf="selected"
      style="overflow-y: scroll; height: 600px"
    >
      <div class="email-details-body" style="height: 600px">
        <div class="card-body">
          <!-- Back button to return to email list -->
          <button class="back" (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <div *ngIf="selectedEmail">
            <!-- Editable Subject -->
            <div class="d-flex pb-3 align-items-center">
              <label for="subject" class="IsCC_checkbox me-2">Subject: </label>
              <input
                type="text"
                [(ngModel)]="emailSubjectModal"
                class="input_checkbox form-control w-50"
                name="subject"
                id="subject"
                placeholder="Subject"
                style="background: var(--Colors-Primary-light, #f0d2e0)"
              />
            </div>

            <!-- Editable Body -->
            <div
              class="email-body"
              [innerHTML]="emailBodySafeModal"
              contenteditable="true"
              style="white-space: pre-line"
              (input)="onBodyChange($event)"
            ></div>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100">
          <button
            class="replay"
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 1"
            (click)="
              openmodel(
                replyEmail,
                selectedEmail?.Body,
                emailContactId,
                emailContextId
              )
            "
          >
            <img loading="lazy"  [src]="'../../../assets/Images/Icons/send.png'" />
            Reply
          </button>
          <button
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 4"
            type="button"
            class="replay delete-btn mx-2"
            (click)="DeleteMailTemplate(selectedEmail)"
          >
            Delete
          </button>
          <button
            class="replay"
            (click)="send(selectedEmail)"
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 4"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #replyEmail let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <app-email-inbox
          [orgIdReply]="orgId"
          [emailBodyReply]="selectedEmail?.Body"
          [selectedContactContactId]="selectedContactID"
          [selectedContactContextId]="selectedContextID"
          [modal]="modal"
        >
        </app-email-inbox>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #composeEmail let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <div class="d-flex justify-content-between align-items-center">
          <h5>New Message</h5>
          <button class="new-btn" (click)="generateContext()">
            Generate Email
          </button>
        </div>
        <div class="p-3">
          <div
            class="d-flex pb-3 align-items-center"
            *ngIf="!showGenerateSection"
          >
            <label for="subject" class="IsCC_checkbox me-2">Subject: </label>
            <input
              type="text"
              [(ngModel)]="emailSubject"
              class="input_checkbox form-control w-50"
              name="subject"
              id="subject"
              placeholder="Subject"
            />
          </div>
        </div>
        <div *ngIf="!showGenerateSection">
          <div
            class="email-body"
            [innerHTML]="sanitizedEmailBody"
            contenteditable="true"
            style="white-space: normal"
            (input)="onContentChange($event)"
          ></div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="m-3 buttonSave">Send</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteEmailModal let-modal>
  <div class="modal-body-general p-4 rounded deleteShopping">
    <h3 class="text-start mb-1 RemoveShopping">Delete Email</h3>
    <p class="text-start Areyou">Are you sure you want to delete this email?</p>

    <div class="d-flex justify-content-end mt-4">
      <button
        type="button"
        class="btn btn-secondary me-2 px-4 py-2 btnborder"
        (click)="modal.dismiss('Cancel click')"
      >
        Cancel
      </button>
      <button
        type="button"
        style="background-color: #4d65b4; border: none"
        class="btn btn-danger px-4 py-2 btnborder"
        (click)="deleteEmail()"
      >
        Delete
      </button>
    </div>
  </div>
</ng-template>
