<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div id="customToast" class="custom-toast">
  <div class="toast-content">
    <p id="toastMessage"></p>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="d-flex align-items-center justify-content-end">
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'all' }"
      (click)="filterEmails('all')"
    >
      <i class="fa-solid fa-envelope me-1"></i> All
    </div>

    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'inbox' }"
      (click)="filterEmails('inbox')"
    >
      <i class="fa-solid fa-share me-1"></i> Inbox
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'outbox' }"
      (click)="filterEmails('outbox')"
    >
      <i class="fa-solid fa-reply me-1"></i> Outbox
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'sent' }"
      (click)="filterEmails('sent')"
    >
      <i class="fa-solid fa-reply me-1" style="color: green"></i>
      Sent
    </div>
    <button class="replay" (click)="showAllEmails()">Show All</button>
  </div>

  <div class="row m-0 p-0">
    <div class="col-lg-3 p-0 m-0">
      <div class="card">
        <ul style="overflow-y: auto; max-height: 100vh; padding: 0">
          <ng-container *ngFor="let bb of BuyBoxMicroDeals">
            <p
              class="buybox-name"
              (click)="toggleBB(bb)"
              #itemRef
              [attr.data-org-id]="bb.OrganizationId"
              [ngClass]="{ 'highlight-open': bb.isOpen }"
            >
              <i
                [class]="
                  bb.isOpen
                    ? 'fa-solid fa-chevron-down'
                    : 'fa-solid fa-chevron-right'
                "
              ></i>
              <img
                class="logo"
                src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                  bb.OrganizationId
                }}"
                title="Kimco Realty"
              />
              {{ bb.OrganizationName }}
            </p>

            <!-- Only show contacts if bb.isOpen is true -->
            <ng-container *ngIf="bb.isOpen">
              <li
                class="contact-list"
                *ngFor="let contact of bb.Contact"
                (click)="getEmailsForContact(contact)"
                [ngClass]="{
                  'selected-contact':
                    contact.ContactId === selectedContact?.ContactId
                }"
              >
                <div class="d-flex justify-content-between w-100">
                  <span class="namecontact" id="{{ contact.ContactId }}">
                    {{ contact.Firstname }} {{ contact.Lastname }}
                  </span>

                  <button
                    class="new-btnCompose"
                    (click)="openCompoase(composeEmail, contact.ContactId)"
                  >
                    Compose
                    <i class="fa-solid fa-arrow-right"></i>
                  </button>
                </div>

                <ng-container *ngFor="let sc of contact.ShoppingCenters">
                  <div>
                    <span
                      class="shopping-center"
                      style="font-size: 12px; color: #4d65b4; font-weight: 600"
                      >{{ sc.CenterName }}</span
                    >
                    <span
                      style="color: #4d65b4; font-weight: 600"
                      *ngIf="getTotalEmailsCount(sc.EmailStats[0]) > 0"
                    >
                      {{ getTotalEmailsCount(sc.EmailStats[0]) }}
                    </span>
                  </div>
                </ng-container>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    <div
      class="col-lg-9 p-0 mb-3"
      *ngIf="!selected"
      style="border-left: 1px solid #ccc"
    >
      <div
        class="card"
        style="
          border: none;
          min-height: 80vh;
          border-radius: 0;
          border-right: 1px solid #ccc;
          overflow-y: auto;
        "
      >
        <div class="card-bodyy" style="max-height: 74vh; overflow-y: auto">
          <div>
            <div class="email-list">
              <div
                class="single-mail"
                style="cursor: pointer"
                *ngFor="let email of filteredEmails"
                (click)="openEmail(email)"
                [ngClass]="{
                  'selected-email': email.id === selectedEmail?.ID
                }"
              >
                <strong>
                  <i
                    [ngClass]="'fa-solid ' + getDirectionIcon(email.Direction)"
                    class="me-2"
                  ></i>
                  <span class="subject"> {{ email.Subject }}</span>
                </strong>
                <p class="date">{{ email.Date | date : "medium" }}</p>
              </div>
              <p *ngIf="emailsSentContact?.length === 0" class="no-email-msg">
                {{ emptyMessage }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Email body - shown when an email is selected -->
    <div
      class="col-lg-9 p-0 m-0"
      id="emailDetails"
      *ngIf="selected"
      style="border-left: 1px solid #ccc"
    >
      <div
        class="email-details-body"
        style="overflow-y: auto; min-height: 91vh"
      >
        <div class="card-body">
          <!-- Back button to return to email list -->
          <button class="back" (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <div *ngIf="selectedEmail">
            <p class="subject-details">{{ selectedEmail.Subject }}</p>
            <div class="body-details" [innerHTML]="emailBodySafe"></div>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100">
          <button
            class="replay"
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 1"
            (click)="
              openmodel(
                replyEmail,
                selectedEmail?.Body,
                selectedContact?.ContactId
              )
            "
          >
            <img [src]="'../../../assets/Images/Icons/send.png'" />
            Reply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #replyEmail let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <app-email-inbox
          [buyBoxIdReply]="buyBoxId"
          [orgIdReply]="orgId"
          [emailBodyReply]="selectedEmail?.Body"
          [selectedContactContactId]="selectedContact"
          [modal]="modal"
        >
        </app-email-inbox>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #composeEmail let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <div class="d-flex justify-content-between align-items-center">
          <h5>New Message</h5>
          <button class="new-btn" (click)="generateContext()">
            Generate Email
          </button>
        </div>
        <div class="p-3">
          <div class="d-flex pb-3 align-items-center gap-3">
            <label for="subject" class="IsCC_checkbox me-2"
              >Shopping Centers:
            </label>
            <ng-container *ngFor="let item of GetShoppingCenters">
              <div class="d-flex gap-1">
                <input
                  type="checkbox"
                  [id]="'GetShoppingCenters' + item.id"
                  class="form-check-input me-2 mb-2"
                  (change)="onCheckboxChange($event, item)"
                />
                <label
                  [for]="'GetShoppingCenters' + item.id"
                  class="IsCC_checkbox me-2"
                >
                  {{ item.centerName }}
                </label>
              </div>
            </ng-container>
          </div>
          <div class="gap-3">
            <div class="checkbox-section d-flex align-items-center">
              <input
                type="checkbox"
                name="includinglanding"
                id="includinglanding"
                class="form-check-input m-0"
              />
              <label for="includinglanding" class="ms-2 IsCC_checkbox"
                >Is including landing page</label
              >
            </div>
          </div>
          <div
            class="d-flex pb-3 align-items-center"
            *ngIf="!showGenerateSection"
          >
            <label for="subject" class="IsCC_checkbox me-2">Subject: </label>
            <input
              type="text"
              [(ngModel)]="emailSubject"
              class="input_checkbox form-control w-50"
              name="subject"
              id="subject"
              placeholder="Subject"
            />
          </div>
        </div>
        <div *ngIf="!showGenerateSection">
          <div
            class="email-body"
            [innerHTML]="sanitizedEmailBody"
            contenteditable="true"
            style="white-space: pre-line"
            (input)="onContentChange($event)"
          ></div>
        </div>
        <!-- <div *ngIf="showGenerateSection">
          <p-editor [(ngModel)]="ContextEmail" [style]="{ height: '350px' }">
          </p-editor>
        </div> -->
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="m-3 buttonSave" (click)="sendEmail()">
          Send
        </button>
      </div>
    </div>
  </div>
</ng-template>
