<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div id="customToast" class="custom-toast">
  <div class="toast-content">
    <p id="toastMessage"></p>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="d-flex align-items-center justify-content-end">
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'all' }"
      (click)="filterEmails('all')"
    >
      <i class="fa-solid fa-envelope me-1"></i> All
    </div>

    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'inbox' }"
      (click)="filterEmails('inbox')"
    >
      <i class="fa-solid fa-share me-1"></i> Inbox
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'outbox' }"
      (click)="filterEmails('outbox')"
    >
      <i class="fa-solid fa-reply me-1"></i> Outbox
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'sent' }"
      (click)="filterEmails('sent')"
    >
      <i class="fa-solid fa-reply me-1" style="color: green"></i>
      Sent
    </div>
    <div
      class="filter-button"
      [ngClass]="{ active: selectedFilter === 'drafts' }"
      (click)="filterEmails('drafts')"
    >
      <i class="fa-solid fa-pencil-alt me-1 drafts"></i> Drafts
    </div>
    <button class="replay" (click)="showAllEmails()">Show All</button>
  </div>

  <div class="row m-0 p-0">
    <div class="col-lg-3 p-0 m-0">
      <div class="card">
        <ul style="overflow-y: auto; max-height: 100vh; padding: 0">
          <ng-container *ngFor="let bb of BuyBoxMicroDeals">
            <p
              class="buybox-name"
              (click)="toggleBB(bb)" 
              [attr.data-org-id]="bb.OrganizationId"
              [ngClass]="{ 'highlight-open': bb.isOpen }"
            >
              <i
                [class]="
                  bb.isOpen
                    ? 'fa-solid fa-chevron-down'
                    : 'fa-solid fa-chevron-right'
                "
              ></i>
              <img
                class="logo"
                src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                  bb.OrganizationId
                }}"
                title="{{ bb.OrganizationName }}"
              />
              {{ bb.OrganizationName }}
            </p>

            <!-- Only show contacts if bb.isOpen is true -->
            <ng-container *ngIf="bb.isOpen">
              <li
                class="contact-list"
                *ngFor="let contact of bb.Contact"
                (click)="getEmailsForContact(contact)"
                [ngClass]="{
                  'selected-contact':
                    contact.ContactId === selectedContact?.ContactId
                }"
              >
                <div class="d-flex justify-content-between w-100">
                  <span class="namecontact" id="{{ contact.ContactId }}">
                    {{ contact.Firstname }} {{ contact.Lastname }}
                  </span>

                  <button class="new-btnCompose" (click)="openCompose(contact)">
                    Compose
                    <i class="fa-solid fa-arrow-right"></i>
                  </button>
                </div>

                <ng-container *ngFor="let sc of contact.ShoppingCenters">
                  <div>
                    <span
                      class="shopping-center"
                      style="font-size: 12px; color: #4d65b4; font-weight: 600"
                      >{{ sc.CenterName }}</span
                    >
                    <span
                      style="color: #4d65b4; font-weight: 600"
                      *ngIf="getTotalEmailsCount(sc.EmailStats[0]) > 0"
                    >
                      {{ getTotalEmailsCount(sc.EmailStats[0]) }}
                    </span>
                  </div>
                </ng-container>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    <div
      class="col-lg-9 p-0 mb-3"
      *ngIf="!selected"
      style="border-left: 1px solid #ccc"
    >
      <div
        class="card"
        style="
          border: none;
          min-height: 80vh;
          border-radius: 0;
          border-right: 1px solid #ccc;
          overflow-y: auto;
        "
      >
        <div class="card-bodyy" style="max-height: 74vh; overflow-y: auto">
          <div>
            <div class="email-list">
              <div
                class="single-mail"
                style="cursor: pointer"
                *ngFor="let email of filteredEmails"
                [ngClass]="{
                  'selected-email': email.id === selectedEmail?.ID
                }"
              >
                <div class="d-flex">
                  <img
                    style="width: 24px; height: 24px"
                    class="logo ms-0 me-2"
                    src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                      email.O[0].OrganizationId
                    }}"
                    title="{{ email.O[0].OrganizationName }}"
                  />
                  <p>{{ email.O[0].OrganizationName }}</p>

                  <div>
                    <img
                      class="ms-2 cursor"
                      src="../../../assets/Images/Icons/eye.png"
                      alt="View Manager Details"
                      [ngbPopover]="popoverContent"
                      popoverTitle="Email Contact"
                      triggers="click:outside"
                      [placement]="'bottom'"
                    />
                  </div>
                  <br />
                  <ng-template #popoverContent>
                    <div>
                      <ng-container
                        *ngFor="let contact of email.O[0].MailsContacts"
                      >
                        <div >
                          <p class="m-0"><b>{{ contact.RecieverFullName }}</b></p>
                          <ul>
                            <ng-container *ngFor="let sc of contact.SC">
                              <li class="ms-2">{{ sc.CenterName }}</li>
                            </ng-container>
                          </ul>
                        </div>
                      </ng-container>
                    </div>
                  </ng-template>
                </div>
                <div class="d-flex justify-content-between w-100">
                  <strong>
                    <i
                      (click)="openEmail(email)"
                      [ngClass]="
                        'fa-solid ' + getDirectionIcon(email.Direction)
                      "
                      class="me-2"
                    ></i>
                    <span class="subject" (click)="openEmail(email)">
                      {{ email.Subject }}</span
                    >
                  </strong>
                  <div class="d-flex gap-4">
                    <!-- <div (click)="send(email)">
                    <i class="fa-solid fa-paper-plane text-primary"  *ngIf="email.Direction === 4"></i>
                   </div> -->
                    <!-- <i
                   class="fa-solid fa-paper-plane text-primary send-icn"
                   title="Send Mail"
                   (click)="openSendEmailModal(email)"
                   *ngIf="email.Direction === 4"
                 ></i> -->
                    <i
                      class="fa-solid fa-trash-arrow-up delete-icn"
                      title="Delete Mail"
                      (click)="DeleteMailTemplate(email)"
                      *ngIf="email.Direction === 4"
                    ></i>
                    <p class="date">{{ email.Date | date : "medium" }}</p>
                  </div>
                </div>
              </div>
              <p *ngIf="emailsSentContact?.length === 0" class="no-email-msg">
                {{ emptyMessage }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Email body - shown when an email is selected -->
    <div
      class="col-lg-9 p-0 m-0"
      id="emailDetails"
      *ngIf="selected"
      style="border-left: 1px solid #ccc"
    >
      <div
        class="email-details-body"
        style="overflow-y: auto; min-height: 91vh"
      >
        <div class="card-body">
          <!-- Back button to return to email list -->
          <button class="back" (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <div *ngIf="selectedEmail">
            <!-- Editable Subject -->
            <div class="d-flex pb-3 align-items-center">
              <label for="subject" class="IsCC_checkbox me-2">Subject: </label>
              <input
                type="text"
                [(ngModel)]="emailSubjectModal"
                class="input_checkbox form-control w-50"
                name="subject"
                id="subject"
                placeholder="Subject"
              />
            </div>

            <!-- Editable Body -->
            <div
              class="email-body"
              [innerHTML]="emailBodySafeModal"
              contenteditable="true"
              style="white-space: pre-line"
              (input)="onBodyChange($event)"
            ></div>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100">
          <button
            class="replay"
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 1"
            (click)="
              openmodel(
                replyEmail,
                selectedEmail?.Body,
                selectedContact?.ContactId
              )
            "
          >
            <img [src]="'../../../assets/Images/Icons/send.png'" />
            Reply
          </button>
          <button
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 4"
            type="button"
            class="replay delete-btn mx-2"
            (click)="DeleteMailTemplate(selectedEmail)"
          >
            Delete
          </button>
          <button
            class="replay"
            (click)="send(selectedEmail)"
            *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 4"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #replyEmail let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <app-email-inbox
          [buyBoxIdReply]="buyBoxId"
          [orgIdReply]="orgId"
          [emailBodyReply]="selectedEmail?.Body"
          [selectedContactContactId]="selectedContact"
          [modal]="modal"
        >
        </app-email-inbox>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #composeEmail let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <div class="d-flex justify-content-between align-items-center">
          <h5>New Message</h5>
          <button class="new-btn" (click)="generateContext()">
            Generate Email
          </button>
        </div>
        <div class="p-3">
          <div
            class="d-flex pb-3 align-items-center"
            *ngIf="!showGenerateSection"
          >
            <label for="subject" class="IsCC_checkbox me-2">Subject: </label>
            <input
              type="text"
              [(ngModel)]="emailSubject"
              class="input_checkbox form-control w-50"
              name="subject"
              id="subject"
              placeholder="Subject"
            />
          </div>
        </div>
        <div *ngIf="!showGenerateSection">
          <div
            class="email-body"
            [innerHTML]="sanitizedEmailBody"
            contenteditable="true"
            style="white-space: pre-line"
            (input)="onContentChange($event)"
          ></div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="m-3 buttonSave" (click)="sendEmail()">
          Send
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteEmailModal let-modal>
  <div class="modal-body-general p-4 rounded deleteShopping">
    <h2 class="text-center mb-4 RemoveShopping">Delete Email</h2>
    <p class="text-center Areyou">
      Are you sure you want to delete this email?
    </p>

    <div class="d-flex justify-content-end mt-4">
      <button
        type="button"
        class="btn btn-secondary me-2 px-4 py-2 btnborder"
        (click)="modal.dismiss('Cancel click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-danger px-4 py-2 btnborder"
        (click)="deleteEmail()"
      >
        Delete
      </button>
    </div>
  </div>
</ng-template>

<!-- <ng-template #sendEmailModal let-modal>
  <div class="modal-body-general p-4 rounded deleteShopping">
    <h2 class="text-center mb-4">Send Email</h2>
    <p class="text-center">Subject: {{ emailSubjectModal }}</p>
    <div class="d-flex justify-content-center">
      <div class="email-body" [innerHTML]="emailBodySafe"></div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button
        type="button"
        class="btn btn-secondary me-2 px-4 py-2 btnborder"
        (click)="modal.dismiss('Cancel click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary px-4 py-2 btnborder"
        (click)="sendDraftEmail()"
      >
        Send
      </button>
    </div>
  </div>
</ng-template> -->
