  .organization-card{
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap:  8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid  #E2E4E9;
    margin-bottom: 10px;
  }
  .contacts-list {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  .contact-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .contact-ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  .contact-ul li:last-child {
    border-bottom: none;
  }
  .no-contact-msg {
    color: #999;
    font-style: italic;
    margin: 0;
    padding: 10px;
  }
   .card-header{
    display: flex;
    height: 42px;
    padding:  4px;
    margin: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius:  8px;
    background:  #F1F1F4;
    color: #707791;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .card{
    border-radius: 12px;
    min-height: 100vh;
  }
  .org-name{
    color: #707791;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.07px;
  }
  .namecontact{
    color: #606060;
    font-weight: 600;
    font-size: 14px;
  }
  .custom-width {
    width: 20%; /* Ensure it's 20% of the container for large screens */
  }
  @media (max-width: 768px) {
    .custom-width {
      width: 90%; /* Full width for smaller screens (col-12 equivalent) */
    }
  }
  .total-emails{
    color: #4D65B4;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 5px;
  }
  .view-more-less-toggle {
    font-size: 15px; 
    font-weight: 500;
    color: #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
  }
  .view-more-less-toggle i {
    font-size: 14px;
  }
  .view-more-less-toggle:hover {
    text-decoration: underline;
  }