.total-height {
    height: 500px;
    width: 60%;
  }
  .form-control {
    border-radius: 20px;
    padding: 12px;
  }
  input::placeholder {
    color: #888888;
    font-size: 13px;
  }
  
  .login-head {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  
  .login-container {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .right-container {
    background-color: #edf0f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .forget {
    color: #4d65b4;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
  }
  
  .focus {
    font-size: 26px;
    font-weight: 600;
    color: #000;
  }
  
  .worth {
    font-size: 27px;
    font-weight: 600;
    background: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For Firefox */
    display: inline-block; /* Ensure the effect applies correctly */
  }
  
  .login {
    width: 100%;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    background-color: #4d65b4;
  }
  
  .cherry-desc {
    color: #707791;
    font-size: 16px;
  }
  .termsofservice {
    text-decoration: underline;
    cursor: pointer;
  }
  .fade-out {
    animation: fadeOut 1s ease forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }  
  
  @media (max-width: 576px) {
    .total-height {
      height: 600px;
      width: 80%;
    }
    .login-container {
      padding: 15px;
      border-radius: 1rem;
    }
    .right-container {
      border-radius: 1rem;
      margin-top: 10px;
    }
    .focus {
      font-size: 21px;
    }
    .worth {
      font-size: 22px;
    }
    .cherry-desc {
      font-size: 15px;
    }
    .login-head {
      font-size: 18px;
    }
    .form-control {
      padding: 14px;
      font-size: 0.7rem;
    }
    .forget {
      font-size: 14px;
    }
    .login {
      width: 70%;
      font-size: 15px;
    }
  }
  @media (min-width: 576px) {
    .total-height {
      height: 650px;
      width: 60%;
    }
  
    .focus {
      font-size: 22px;
    }
    .worth {
      font-size: 23px;
    }
    .cherry-desc {
      font-size: 16px;
    }
    .login-head {
      font-size: 20px;
    }
    .form-control {
      padding: 14px;
    }
    .forget {
      font-size: 14px;
    }
    .login {
      width: 70%;
      font-size: 17px;
    }
  }
  
  @media (min-width: 768px) {
    .total-height {
      height: 500px;
      width: 85%;
    }
    .focus {
      font-size: 24px;
    }
    .worth {
      font-size: 25px;
    }
    .cherry-desc {
      font-size: 17px;
    }
    .login-head {
      font-size: 20px;
    }
    .form-control {
      padding: 14px;
    }
    .forget {
      font-size: 14px;
    }
    .login {
      width: 100%;
      font-size: 16px;
    }
  }
  
  @media (min-width: 992px) {
    .total-height {
      height: 500px;
      width: 65%;
    }
  }
  