<div
  class="sidebar-container"
  [ngClass]="{
    expanded: isSidebarExpanded || isHovering,
    collapsed: !isSidebarExpanded && !isHovering
  }"
>
  <div class="sidebar">
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <div
          [routerLink]="
            current.includes('landlord') ? ['/landlord'] : ['/campaigns']
          "
          class="sidebar-logo d-flex justify-content-start align-items-center"
        >
          <img
            class="cherry-logo"
            src="../../../assets/Images/Icons/logo (1).png"
          />
          <p class="cherry mb-0" *ngIf="isSidebarExpanded">
            Cherry<span class="pick">pick</span>
          </p>
        </div>
      </li>

      <li class="sidebar-item">
        <a
          [routerLink]="['/campaigns']"
          routerLinkActive="active-route"
          class="sidebar-link"
          title="Campaigns"
        >
          <img
            class="img-icn"
            src="../../../assets/Images/Icons/Campains.svg"
          />
          <span class="link-text">Campaigns</span>
        </a>
      </li>
      
      <li class="sidebar-item">
        <a
          [routerLink]="['/summary']"
          routerLinkActive="active-route"
          class="sidebar-link"
          title="Tenants"
        >
          <img class="img-icn" src="../../../assets/Images/Icons/Tenant.svg" />
          <span class="link-text">Tenants</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/Kanban']"
          routerLinkActive="active-route"
          title="Cadence"
        >
          <img class="img-icn" src="../../../assets/Images/Icons/Cadence.svg" />
          <span class="link-text">Cadence</span>
        </a>
      </li>
    </ul>
  </div>
</div>
