.cherry {
  margin-left: 6px;
  background: linear-gradient(0deg, #4d65b4 0%, #5e84f1 100%);
  font-weight: 700;
  font-size: 28px;
  font-family: "Outfit", sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pick {
  font-weight: 300;
}
.img-icn {
  margin-right: 3px;
  font-size: 16px;
  color: #72777a !important;
}
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s ease;
}

.sidebar-container.expanded {
  width: 280px;
}

.sidebar-container.collapsed {
  width: 70px;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.sidebar-logo {
  padding: 8px 15px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.cherry-logo {
  max-width: 40px;
  max-height: 40px !important;
  height: auto;
  transition: all 0.3s ease;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-item {
  margin-bottom: 15px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #707791;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
  white-space: nowrap;
}

.sidebar-link:hover {
  background-color: #f5f7fa;
  color: #4d65b4;
}

.sidebar-link svg {
  min-width: 21px;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.sidebar-link .link-text {
  opacity: 1;
  color: #707791;
  margin-left: 5px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.collapsed .sidebar-link .link-text {
  opacity: 0;
  width: 0;
  font-size: 13px;

  margin-left: 0;
}

.collapsed.sidebar-container:not(.expanded) .sidebar-link {
  padding: 12px 0;
  justify-content: center;
}

.collapsed.sidebar-container:not(.expanded) .sidebar-link svg {
  margin-right: 0;
}

.active-route {
  background-color: #b8c1e1;
  color: #4d65b4;
  font-weight: 600;
}

.active-route svg path {
  stroke: #4d65b4;
}

.sidebar-link {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 10px 10px;
  color: #444;
}

.sidebar-link:hover,
.sidebar-link.active-route {
  color: #0056b3;
}

.sidebar-subnav {
  padding-left: 35px;
  border-left: 2px solid #ddd;
}

@media (max-width: 768px) {
  .sidebar-container.expanded {
    width: 250px;
  }
  .sidebar-container.collapsed .sidebar {
    transform: translateX(-100%);
  }

  .sidebar-toggle {
    right: -15px;
  }

  .sidebar-container.collapsed .sidebar-toggle {
    right: -30px;
    background-color: #4d65b4;
    color: white;
  }

  .sidebar-container.collapsed .sidebar-toggle i {
    color: white;
  }
}
