<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="polygons-options">
  <ul class="d-flex align-items-center justify-content-center">
    <li
      *ngFor="let option of polygonsOptions"
      class="nav-item"
      [ngClass]="{ 'active-nav-item': selectedPolygonOption === option.id }"
      (click)="onPolygonOptionChange(option.id)"
    >
      <div class="tab-icon">
        <img
          [src]="
            selectedPolygonOption === option.id
              ? option.selectedIcon
              : option.icon
          "
          alt="tab-icon"
        />
      </div>
      <span>{{ option.title }}</span>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 ps-0 buybox-polygons-container">
    <input
      *ngIf="selectedPolygonOption == 2"
      type="text"
      class="form-control mb-3 search-polygons"
      name="search-polygons"
      placeholder="Search with name"
      [(ngModel)]="polygonSearch"
      (ngModelChange)="onSearchChange($event)"
    />
    <div class="table-container">
      <ng-container *ngIf="selectedPolygonOption == 1; else explorePolygons">
        <table *ngIf="polygons.length > 0; else emptyPolygons" class="table">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>Name</th>
              <th>City</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody *ngIf="polygons.length > 0">
            <tr *ngFor="let polygon of polygons; let index = index">
              <td class="text-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'checkBox' + index"
                  (change)="onCheckBoxChange($event, polygon.id)"
                />
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-between">
                  <span>{{ polygon.name }}</span>
                  <div
                    style="cursor: pointer"
                    (click)="openUpdatePolygonNameModal(content, polygon)"
                  >
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H11C11.41 1.25 11.75 1.59 11.75 2C11.75 2.41 11.41 2.75 11 2.75H9C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V13C21.25 12.59 21.59 12.25 22 12.25C22.41 12.25 22.75 12.59 22.75 13V15C22.75 20.43 20.43 22.75 15 22.75Z"
                        fill="#292D32"
                      />
                      <path
                        d="M8.50008 17.69C7.89008 17.69 7.33008 17.47 6.92008 17.07C6.43008 16.58 6.22008 15.87 6.33008 15.12L6.76008 12.11C6.84008 11.53 7.22008 10.78 7.63008 10.37L15.5101 2.49C17.5001 0.499998 19.5201 0.499998 21.5101 2.49C22.6001 3.58 23.0901 4.69 22.9901 5.8C22.9001 6.7 22.4201 7.58 21.5101 8.48L13.6301 16.36C13.2201 16.77 12.4701 17.15 11.8901 17.23L8.88008 17.66C8.75008 17.69 8.62008 17.69 8.50008 17.69ZM16.5701 3.55L8.69008 11.43C8.50008 11.62 8.28008 12.06 8.24008 12.32L7.81008 15.33C7.77008 15.62 7.83008 15.86 7.98008 16.01C8.13008 16.16 8.37008 16.22 8.66008 16.18L11.6701 15.75C11.9301 15.71 12.3801 15.49 12.5601 15.3L20.4401 7.42C21.0901 6.77 21.4301 6.19 21.4801 5.65C21.5401 5 21.2001 4.31 20.4401 3.54C18.8401 1.94 17.7401 2.39 16.5701 3.55Z"
                        fill="#292D32"
                      />
                      <path
                        d="M19.8501 9.83003C19.7801 9.83003 19.7101 9.82003 19.6501 9.80003C17.0201 9.06003 14.9301 6.97003 14.1901 4.34003C14.0801 3.94003 14.3101 3.53003 14.7101 3.41003C15.1101 3.30003 15.5201 3.53003 15.6301 3.93003C16.2301 6.06003 17.9201 7.75003 20.0501 8.35003C20.4501 8.46003 20.6801 8.88003 20.5701 9.28003C20.4801 9.62003 20.1801 9.83003 19.8501 9.83003Z"
                        fill="#292D32"
                      />
                    </svg>
                  </div>
                </div>
              </td>
              <td>{{ polygon.city }}</td>
              <td>{{ polygon.state }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 pe-0 buybox-map-container">
    <div
      #mapContainer
      class="map-container"
      style="height: 500px; width: 100%"
    ></div>
  </div>
</div>

<ng-template #explorePolygons>
  <table *ngIf="externalPolygons.length > 0; else emptyPolygons" class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="externalPolygons.length > 0">
      <tr *ngFor="let polygon of externalPolygons; let index = index">
        <td>
          {{ polygon.name }}
        </td>
        <td class="text-center">
          <ng-container
            *ngIf="
              displayedExternalPolygons.includes(polygon.id);
              else displayExternal
            "
          >
            <button
              class="btn btn-secondary me-3"
              (click)="toggleDisplayedExternalPolygon(polygon)"
            >
              Hide
            </button>
          </ng-container>
          <ng-template #displayExternal>
            <button
              class="btn btn-primary me-3"
              (click)="toggleDisplayedExternalPolygon(polygon)"
            >
              View
            </button>
          </ng-template>
          <button class="btn btn-dark">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #emptyPolygons>
  <div
    class="h-100 d-flex flex-column align-items-center justify-content-center gap-3"
  >
    <img
      src="../../../../assets/Images/empty-state.png"
      alt="empty polygons"
      style="width: 65%"
    />
    <div class="text-center" style="font-size: 1.5rem; font-weight: 700">
      Your polygons will appear here
    </div>
  </div>
</ng-template>

<ng-template #content let-modal>
  <!-- <div class="modal-header">
		<h4 class="modal-title">Update shape name</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div> -->
  <div class="modal-body">
    <h5 class="modal-title mb-3">Update shape name</h5>
    <div class="d-flex flex-column align-items-start justify-content-center">
      <label for="polygon-name" class="mb-2">Shape name</label>
      <input
        #newPolygonName
        id="polygon-name"
        type="text"
        class="form-control mb-3"
        name="polygon-name"
        [value]="selectedPolygon?.name"
      />
      <div class="w-100 d-flex align-items-center justify-content-end gap-2">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updatePolygonName(newPolygonName)"
        >
          Update
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
		<button type="button" class="btn btn-primary" >Update</button>
	</div> -->
</ng-template>
