<div>
  <div class="title-div">
    <h2 class="title">Artifacts</h2>
  </div>

  <div *ngIf="!loading && !error" class="cards-view mt-2">
    <div class="cards-grid">
      <div
        *ngFor="let page of userPages"
        class="page-card justify-content-between d-flex flex-column"
      >
        <div>
          <div class="card-header">
            <div class="page-icon">📄</div>
            <h3 class="card-title">{{ page.title }}</h3>
          </div>
          <div class="card-content">
            <p class="card-date">{{ formatDate(page.createdDate) }}</p>
          </div>
        </div>

        <div class="card-actions">
          <button class="action-btn w-100" (click)="view(page.html)">
            View
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !error && userPages.length === 0" class="empty-state">
    <div class="empty-icon">📄</div>
    <h3>No pages found</h3>
    <p>There are no user pages to display at the moment.</p>
  </div>
</div>

<ng-template #HtmlModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Page Html</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body p-0">
    <div class="preview-wrapper" [innerHTML]="htmlContent"></div>
  </div>
</ng-template>
