.container-fluid {}

.width-th-thead {
  color: #16181d;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.005em;
  padding-block: 10px !important;
  border-bottom: 1px solid #70779150;
}

.width-th-tbody {
  color: #707791;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.005em;
  padding-block: 10px !important;
  border-bottom: 1px solid #70779150;
}

.container_border {
  border-bottom: 1px solid #70779150;
  padding-bottom: 10px;
}

.checkbox-section-select {
  padding-bottom: 3px;
}

.checkbox-section-select>label {
  padding-inline: 6px;
  color: #707791;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
}

.form-select {
  box-shadow: none;
  outline: none;
  color: #707791;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.005em;
  border-radius: 10px;
}

select {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  cursor: pointer;
}

select option {
  border-radius: 10px;
  padding: 8px;
}

select option:checked {
  background-color: #001f3f;
  color: white;
}

.ellipsis_icon {
  border: 1.5px solid #7077915b;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 6px;
}

.shortcuts_icon {
  position: absolute;
  background: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 8px 26px rgba(0, 0, 0, 0.23);
  padding: 16px;
  border-radius: 10px;
  text-align: start;
  margin: 0;
  z-index: 1;
  right: 75%;
  width: max-content;
  top: -70%;
}

.shortcuts_icon>ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: start;
  margin: 0;
  gap: 8px;
  display: grid;

}

.shortcuts_icon>li {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
}

.shortcuts_icon .target {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
  text-decoration: none;
}

.shortcuts_icon>i {
  position: absolute;
  right: -8px;
  top: 25%;
  font-size: 25px;
  color: white;
}

.modal .btn-close {
  box-shadow: none;
  outline: none;
  border: 2px solid #70779194;
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
}

.modal-title {
  color: #16181D;
  font-size: 18px !important;
  font-weight: 600;
  line-height: 24px;
}

.modal-header {
  border-bottom: 0;
  padding-bottom: 0px;
}

.table-responsive>table>thead>tr>th {
  color: #16181D;
  font-size: 90%;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: start;
}

.table-responsive>table>tbody>tr>td {
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.07px;
  text-align: start;
  padding-block: 10px;
}

.table-responsive>table>thead>tr>th:nth-child(1) {
  width: 20%;
}

.table-responsive>table>thead>tr>th:nth-child(2) {
  width: 50%;
}

.table-responsive>table>thead>tr>th:nth-child(3) {
  width: 20%;
}

.table-responsive>table>thead>tr>th:nth-child(4) {
  width: 10%;
}

.table-responsive>table>tbody>tr>td:nth-child(4) {
  padding-block: 7.5px;
}

.table-responsive>table>tbody>tr {
  border-bottom: 1px solid #d6d6d68f !important;
}


.shortcuts_iconT {
  position: relative;
  background: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 8px 26px rgba(0, 0, 0, 0.23);
  padding: 16px;
  border-radius: 10px;
  text-align: start;
  margin: 0;
  z-index: 1;
  left: 10%;
  width: max-content;
  top: -70px;
}

.backgroundT {
  background: transparent;
  border: 0;
}

.shortcuts_iconT>ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: start;
  margin: 0;
  gap: 8px;
  display: grid;

}

.shortcuts_iconT>li {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
}

.shortcuts_iconT>i {
  position: absolute;
  right: 98%;
  top: 40%;
  font-size: 25px;
  color: white;
}

.ellipsis_icontrash {
  border: 2px solid #ff4c4ca4;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 6px;
  color: #FF4C4C;
}

.ellipsis_iconT {
  border: 1.5px solid #7077915b;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 6px;
}


.Bind__button {
  border: 0;
  border-radius: 6px;
  background: #4D65B4;
  padding-inline: 24px;
  padding-block: 8px;
  color: white;
  cursor: pointer;
  margin-top: 24px;
}
