<div class="why">
  <div class="container">
    <h1>Reasons</h1>
    <p [innerHTML]="organization.reasons"> 
    </p>
  </div>
</div>
<!-- <div class="d-flex justify-content-center">
  <h1 class="organization-name">Home Construction & Remodeling</h1>
</div> -->
<!-- About Section -->
<!-- <div id="about">
  <div>
    <div class="row" *ngIf="organization">
      <div class="col-xs-12 col-md-12">
        <div class="about-text">
          <div class="">
            <div class="container">
              <h3>About</h3>
              <p [innerHTML]="organization.description"></p>
            </div>
          </div>
          <div class="about-text">
            <div class="container">
              <h3>Timeline</h3>

              <ul>
                <ng-container *ngFor="let time of organization.timeline">
                  <li style="--accent-color: #e52f3c">
                    <div class="date">{{ time.eventDate }}</div>
                    <div class="title">
                      <b>{{ time.eventTitle }} </b>
                    </div>
                    <div class="title">
                      {{ time.city }} {{ time.stateCode }}
                    </div>
                    <div class="descr">
                      {{ time.description }}
                    </div>
                  </li>
                </ng-container>
              </ul>
              <div class="credits">
                <a
                  target="_blank"
                  href="https://www.freepik.com/free-vector/infographic-template-with-yearly-info_1252895.htm"
                  >inspired by</a
                >
              </div>
              <p class="mt-4">
                This Map displays stores in order from the oldest to the newest.
                <b>
                  The oldest stores are marked in dark red, while the newest
                  ones are highlighted in light red.</b
                >
              </p>
              <div id="map" style="height: 700px"></div>
            </div>
          </div>

          <div class="why">
            <div class="container">
              <h1>Reasons</h1>
              <p [innerHTML]="organization.reasons"> 
              </p>
            </div>
          </div>

          <div class="container">
            <div class="teams">
              <div class="row">
                <div class="col-md-6">
                  <div class="internal-team">
                    <h3>Internal Team</h3>
                    <p [innerHTML]="organization.internalTeam"> 
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>External Team</h3>
                  <p [innerHTML]="organization.externalTeam"> 
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="financial">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <h3>Financial Data</h3>
                  <p [innerHTML]="organization.financialData"> 
                  </p>
                </div>
                <div class="col-md-5">
                  <div>
                    <img src="../../../../assets/Images/Financial.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="locations">
            <div class="container">
              <h3>Locations</h3>
              <p [innerHTML]="organization.locations"> 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
