 
.small-table {
  font-size: 0.75rem;
}
.custom-dropdown {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.cursor {
  cursor: pointer;
}
.selected-option {
  padding: var(--Space-S-8) var(--Space-S-12);
  border: 1px solid #ced4da;
  border-radius: var(--Radius-R-4);
  background-color: var(--Colors-Pure-White);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}

.selected-option:hover {
  background-color: #f8f9fa;
  border-color: #adb5bd;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--Colors-Pure-White);
  border: 1px solid #ced4da;
  border-radius: var(--Radius-R-4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: none;
}

.dropdown-options.show {
  display: block;
}

.dropdown-item {
  padding: var(--Space-S-8) var(--Space-S-12);
  transition: all 0.2s;
}

.dropdown-item:hover {
  background-color: #f1f3f5;
}

.dropdown-item.active {
  background-color: #e9ecef;
  font-weight: 500;
}
/* Skeleton loading styles */
@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.skeleton-header {
  height: 24px;
  width: 80%;
  margin: var(--Space-S-8) 0;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
  border-radius: var(--Radius-R-4);
}

.skeleton-cell {
  height: 20px;
  width: 90%;
  margin: 10px 0;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
  border-radius: var(--Radius-R-4);
}

.skeleton-cell-small {
  height: 20px;
  width: 30px;
  margin: 10px auto;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
  border-radius: var(--Radius-R-4);
}

.skeleton-no-data {
  height: 24px;
  width: 200px;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
  border-radius: var(--Radius-R-4);
}

/* Your existing CSS */
.shortcuts_iconCard {
  position: absolute;
  background: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 8px 26px rgba(0, 0, 0, 0.23);
  padding: var(--Space-S-16);
  border-radius: 10px;
  text-align: start;
  margin: 0;
  z-index: 100;
  right: 3vw;
  width: max-content;
  top: -23%;
}

.shortcuts_iconCard > ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: start;
  margin: 0;
  gap: 8px;
  display: grid;
}

.shortcuts_iconCard > ul > li {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
  cursor: pointer;
}

.shortcuts_iconCard > ul > li > .target {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
}

.shortcuts_iconCard > ul > li > .target i {
  font-size: 16px;
  cursor: w-resize;
  width: 20px;
  height: 20px;
  color: #707791;
}

.shortcuts_iconCard > ul > li > .target svg {
  width: 20px;
  height: 20px;
}

.shortcuts_iconCard > i {
  position: absolute;
  right: -8px;
  top: 5%;
  font-size: 25px;
  color: white;
}

.h700 {
  height: 700px;
}
 

.procpect-table-body td {
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 14px;
}

.ellipsis_icont {
  border: 1.5px solid #7077915b;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}
 

img[alt="logo"] {
  margin-right: var(--Space-S-20);
}

.table-text {
  color: #7a8591;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.table-text_second {
  padding: 0px var(--Space-S-12);
  color: #7a8591;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.ShoppingCenterStage {
  font-size: 16px;
  color: #ff8028;
  font-weight: 500;
}  
   
@media (max-width: 768px) {
  .shortcuts_iconCard {
    right: 5vw !important;
  }
}

.skeleton-loader {
  text-align: center;
  font-size: 16px;
  color: #888;
}

.skeleton-head,
.skeleton-line {
  background: linear-gradient(90deg, #f6f7f8 0%, #edeef1 50%, #f6f7f8 100%);
  background-size: 800px 104px;
  animation: status-animation 1.5s infinite linear;
}

.skeleton-header {
  height: 24px;
  width: 40%;
  margin-bottom: var(--Space-S-16);
  border-radius: var(--Radius-R-4);
}

.skeleton-line {
  height: 16px;
  margin-bottom: var(--Space-S-8);
  border-radius: var(--Radius-R-4);
}

.skeleton-paragraph .skeleton-line:nth-child(1) {
  width: 100%;
}

.skeleton-paragraph .skeleton-line:nth-child(2) {
  width: 95%;
}

.skeleton-paragraph .skeleton-line:nth-child(3) {
  width: 90%;
}

@keyframes status-animation {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
 

.submission-details {
  margin-bottom: var(--Space-S-20);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--Space-S-8);
  color: #707791;
  margin: 0;
}
.available-space {
  display: flex;
  align-items: center;
  gap: var(--Space-S-8);
  color: #707791;
  margin: 0;
  margin-top: 5px;
}
.user-info {
  margin-top: 5px;
  gap: var(--Space-S-16);
  align-items: center;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

.match-percentage {
  text-align: center;
}

.circle-progress {
  position: relative;
  width: 98px;
  height: 98px;
}
.circle-svg {
  transform: rotate(180deg);
  width: 98px;
  height: 98px;
}

.circle-bg {
  fill: none;
  stroke: #e2e4e9;
  stroke-width: 3.2;
  stroke-linecap: round;
}

.circle-fg {
  fill: none;
  stroke: var(--Colors-Pending-500);
  stroke-width: 3.2;
  stroke-linecap: round;
  transition: stroke-dasharray 0.6s ease;
}
.circle-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submission-link {
  display: inline-block;
  width: 217px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--Body-Heading-Color, #16181d);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.dropdown-item.active {
  color: var(--app-color) !important;
} 
.stage-select-label {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 0;
  white-space: nowrap;
}

.custom-select-wrapper {
  position: relative;
  min-width: 180px;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--Space-S-8) var(--Space-S-16);
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: var(--Colors-Pure-White);
  color: #374151;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.custom-select:hover {
  border-color: #9ca3af;
}

.custom-select:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);
}
 
 

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: var(--Colors-Primary-light);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--Colors-Pure-White) !important;
  text-decoration: none;
  background-color: var(--Colors-Primary-light);
}
 
 
.table-responsive {
  max-height: 600px;
  overflow-y: auto;
  padding: var(--Space-S-16);
  border-radius: var(--Radius-R-20);
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(20px);
}

.table-div{
  width: 50%;
}
/* Make rows look like floating cards */
table {
  width: 100%;
  border-spacing: 0 12px; /* gap between rows */
  font-size: 0.95rem;
  border-radius: var(--Radius-R-20);
  background: var(--Colors-Card-Background);
  backdrop-filter: blur(20px);
}

/* Table head */
table thead th {
  text-align: left;
  padding: 14px var(--Space-S-20);
  font-weight: 600;
  color: #2f2a3a;
  background: transparent;
  white-space: nowrap;
  border: none;
}

/* Table body cells */
table tbody td {
  background: none;
  padding: var(--Space-S-16) var(--Space-S-20);
  vertical-align: middle;
   /* white-space: nowrap; */

}

table tbody tr:hover td {
  background: rgba(255, 255, 255, 0.8);
}

/* Optional: smooth transition */
table tbody td {
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.org-mini-menu {
  position: fixed;
  min-width: 180px;
  background: #fff;
  border: 1px solid #e6e8ee;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  padding: 8px;
  font-size: 13px;
  right: 12vw;
  top: 33vh;
  max-height: 30vh;
  overflow-y: scroll;
}

.org-mini-item .name {
  font-weight: 600;
  margin: 0 0 2px;
}
.org-mini-item .small {
  margin: 0;
  color: #555;
  font-size: 12px;
}
.divider {
  margin: 6px 0;
  border-top: 1px dashed #ddd;
}

.org-info-trigger {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.custom-dropdown {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.selected-option {
  display: flex;
  padding: var(--Space-S-4) var(--Space-S-16);
  align-items: center;
  gap: var(--Space-S-4);

  border-radius: var(--Radius-R-16);
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1.5px);
  color: var(--Body-Heading, #161017);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  white-space: nowrap;
}

.selected-option:hover {
  background-color: #f8f9fa;
  border-color: #adb5bd;
}

.dropdown-options {
   width: 100%;
  max-height: 200px;
  overflow-y: hidden;
  background-color: var(--Colors-Pure-White);
  border: 1px solid #ced4da;
  border-radius: var(--Radius-R-4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: none;
}

.dropdown-options.show {
  display: block;
  width: fit-content;
}

.dropdown-item {
  padding: var(--Space-S-8) var(--Space-S-12);
  transition: all 0.2s;
}

.dropdown-item:hover:not(.active) {
  background-color: #f1f3f5;
}

.dropdown-item.active {
  background-color: var(--Colors-Primary-500);
  font-weight: 500;
}
.addresss{
  color: var(--Colors-Primary-500);
}
/* Base style so all share the same curve */
.green, .yellow, .red {
  position: relative;
  padding: 12px 16px;
  margin: 8px 0;
  border-left-width: 6px;          /* a bit thicker for emphasis */
  border-left-style: solid;
  border-radius: 10px;    /* curves into the content */
 }

/* Individual colors */
.green {
  border-left-color: #6DE1D2;
}
.yellow {
  border-left-color: #FFD63A;
}
.red {
  border-left-color: #F75A5A;
}

 
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  font-size: 18px;
  color: var(--Colors-Primary-500);
}
.icon-btn:hover {
  color: var(--Colors-Primary-hover);
}
.rationale-text {
  white-space: pre-line;  /* keeps line breaks if your string has them */
  font-size: 15px;
  color: #333;
  line-height: 1.5;
}
 