<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<!-- <div class="d-flex justify-content-start p-3">
  <button class="active" (click)="back()"><i class="fa-solid fa-arrow-left"></i></button>
</div> -->
<section class="container-fluid pt-2 pb-2 mobileResponsive">
  <div class="main-section-emily">
    <section>
      <ng-container *ngIf="BuyBoxOrganizationsForEmail.length > 0">
        <div class="row m-0 p-0 mb-3 d-flex">
          <ng-container *ngFor="
              let OrganizationsForEmail of BuyBoxOrganizationsForEmail;
              let i = index
            ">
            <div class="col-12 col-sm-3">
              <section class="OrganizationsForEmail row m-0 p-0">
                <div class="m-0 p-0 col-12 d-flex justify-content-center align-items-center row">
                  <div class="OganirzationsForEmail__img col-8">
                    <img class="Oganirzations__img" src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                        OrganizationsForEmail.Id
                      }}" alt="" />
                  </div>
                  <div class="OrganizationsForEmail__head col-12">
                    <p>
                      {{ OrganizationsForEmail.Name }}
                    </p>
                  </div>
                </div>
                <div class="p-0 col-12 align-items-center d-flex">
                  <div class="row m-0 p-0 d-flex w-100 d-flex justify-content-center">
                    <div class="col-11 col-sm-11 p-2 h-100" *ngFor="let contact of OrganizationsForEmail?.Contact">
                      <div class="crad_Contact_Mange" *ngIf="contact.Centers && contact.Centers.length > 0">
                        <p class="Contact_head pt-1">
                          <input type="checkbox" [name]="'D' + contact?.Firstname" [id]="'D' + contact?.Firstname"
                            class="me-2 form-check-input" [(ngModel)]="contact.selected"
                            (ngModelChange)="onContactChange(contact, $event)" />
                          <label class="contactname" [for]="'D' + contact?.Firstname">{{ contact?.Firstname }}
                            {{ contact?.Lastname }}</label>
                        </p>
                        <div *ngFor="
                            let shoppingCenter of contact.Centers;
                            let i = index
                          " class="pt-2">
                          <p class="Contact_headD pt-2 d-flex justify-content-between align-items-center cursor m-0">
                            <input type="checkbox" [name]="'shoppingCenter' + shoppingCenter.id"
                              [id]="shoppingCenter.id" class="m-0 p-0 form-check-input col-1 cursor"
                              [(ngModel)]="shoppingCenter.selected" (ngModelChange)="
                                onShoppingCenterChange(contact, shoppingCenter)
                              " />
                            <label [for]="shoppingCenter.id" [ngClass]="{
                              'highlighted': CenterId == shoppingCenter.id,
                            }" class="col-11 m-0 p-0 ps-2 pe-2 d-flex justify-content-between cursor">
                              {{ shoppingCenter?.CenterName }}

                              <div class="ps-2 d-flex align-items-center cursor" [routerLink]="[
                                  '/landing',
                                  undefined,
                                  shoppingCenter.id,
                                  buyBoxId,
                                  shoppingCenterOrganization
                                ]">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M6.70001 18.75H4.15002C2.31002 18.75 1.25 17.69 1.25 15.85V4.15002C1.25 2.31002 2.31002 1.25 4.15002 1.25H8.45001C10.29 1.25 11.35 2.31002 11.35 4.15002V6C11.35 6.41 11.01 6.75 10.6 6.75C10.19 6.75 9.84998 6.41 9.84998 6V4.15002C9.84998 3.13002 9.47001 2.75 8.45001 2.75H4.15002C3.13002 2.75 2.75 3.13002 2.75 4.15002V15.85C2.75 16.87 3.13002 17.25 4.15002 17.25H6.70001C7.11001 17.25 7.45001 17.59 7.45001 18C7.45001 18.41 7.11001 18.75 6.70001 18.75Z"
                                    fill="#707791" />
                                  <path
                                    d="M14.9602 22.75H9.12018C7.11018 22.75 5.9502 21.59 5.9502 19.58V8.41998C5.9502 6.40998 7.11018 5.25 9.12018 5.25H14.9602C16.9702 5.25 18.1202 6.40998 18.1202 8.41998V19.58C18.1202 21.59 16.9702 22.75 14.9602 22.75ZM9.12018 6.75C7.92018 6.75 7.4502 7.21998 7.4502 8.41998V19.58C7.4502 20.78 7.92018 21.25 9.12018 21.25H14.9602C16.1502 21.25 16.6202 20.78 16.6202 19.58V8.41998C16.6202 7.21998 16.1502 6.75 14.9602 6.75H9.12018Z"
                                    fill="#707791" />
                                  <path
                                    d="M19.8503 18.75H17.3704C16.9604 18.75 16.6204 18.41 16.6204 18C16.6204 17.59 16.9604 17.25 17.3704 17.25H19.8503C20.8703 17.25 21.2504 16.87 21.2504 15.85V4.15002C21.2504 3.13002 20.8703 2.75 19.8503 2.75H15.5504C14.5304 2.75 14.1504 3.13002 14.1504 4.15002V6C14.1504 6.41 13.8104 6.75 13.4004 6.75C12.9904 6.75 12.6504 6.41 12.6504 6V4.15002C12.6504 2.31002 13.7104 1.25 15.5504 1.25H19.8503C21.6903 1.25 22.7504 2.31002 22.7504 4.15002V15.85C22.7504 17.69 21.6903 18.75 19.8503 18.75Z"
                                    fill="#707791" />
                                  <path
                                    d="M14 11.75H10C9.59 11.75 9.25 11.41 9.25 11C9.25 10.59 9.59 10.25 10 10.25H14C14.41 10.25 14.75 10.59 14.75 11C14.75 11.41 14.41 11.75 14 11.75Z"
                                    fill="#707791" />
                                  <path
                                    d="M14 14.75H10C9.59 14.75 9.25 14.41 9.25 14C9.25 13.59 9.59 13.25 10 13.25H14C14.41 13.25 14.75 13.59 14.75 14C14.75 14.41 14.41 14.75 14 14.75Z"
                                    fill="#707791" />
                                  <path
                                    d="M12 22.75C11.59 22.75 11.25 22.41 11.25 22V19C11.25 18.59 11.59 18.25 12 18.25C12.41 18.25 12.75 18.59 12.75 19V22C12.75 22.41 12.41 22.75 12 22.75Z"
                                    fill="#707791" />
                                </svg>
                              </div>
                            </label>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-12 col-sm-9 mt-3 mt-sm-0">
              <div class="row d-flex p-1 p-sm-0 m-0 Selections-body">
                <!-- Selections-filters -->
                <div class="col-12 col-sm-4 p-2">
                  <div class="box p-2">
                    <div class="checkbox-section-head checkbox-section">
                      <input type="checkbox" name="Parts" id="Parts" class="form-check-input"
                        [(ngModel)]="showClientProfile" (change)="onCheckboxChange()" />
                      <label for="Parts">{{ BuyBoxOrganizationName }}</label>
                    </div>
                    <div class="checkbox-section-head checkbox-section">
                      <input type="checkbox" name="detailsMin" id="detailsMin" class="form-check-input"
                        [(ngModel)]="showMinBuildingSize" (change)="onCheckboxdetailsChangeMin($event, $event)" />
                      <label for="detailsMin">Min & Max Unit Size: {{ buybox?.MinBuildingSize }} ,{{
                          buybox?.MaxBuildingSize
                        }}</label>
                    </div>
                    <div class="checkbox-section-head checkbox-section">
                      <input type="checkbox" name="BuyBoxOrganizationDescription" id="BuyBoxOrganizationDescription"
                        class="form-check-input" [(ngModel)]="showBuyBoxDescriptionDetails"
                        (change)="onCheckboxBuyBoxDescriptionDetailsChange()" />
                      <label for="BuyBoxOrganizationDescription">{{ BuyBoxOrganizationName }} Profile</label>
                    </div>
                    <div class="checkbox-section-head checkbox-section">
                      <input type="checkbox" name="showBuyBoxDescription" id="showBuyBoxDescription"
                        class="form-check-input" [(ngModel)]="showBuyBoxDescription"
                        (change)="onCheckboxBuyBoxDescriptionChange()" />
                      <label for="showBuyBoxDescription">BuyBox Profile</label>
                    </div>
                    <div class="checkbox-section-head checkbox-section">
                      <input type="checkbox" name="showShoppingCenterDescription" id="showShoppingCenterDescription"
                        class="form-check-input" [(ngModel)]="showShoppingCenterDescription"
                        (change)="onCheckShoppingCenterDescriptionChange()" />
                      <label for="showShoppingCenterDescription">{{ ShoppingCenterNameText }} Profile</label>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4 p-2" *ngIf="(generated?.[0]?.Releations || []).length > 0">
                  <div class="box p-2">
                    <div class="checkbox-section">
                      <input type="checkbox" name="Relation" id="Relation" class="form-check-input"
                        [(ngModel)]="showRelationNames" (change)="onRelationNamesChange()" />
                      <label for="Relation">Relation Name</label>
                    </div>
                    <ng-container *ngIf="showRelationNames">
                      <ng-container *ngIf="generated.length > 0 && generated[0].Releations">
                        <ng-container *ngFor="let relation of relationCategoriesNames">
                          <div class="checkbox-section checkbox-section-body-first">
                            <input type="checkbox" [name]="relation.name" [id]="relation.name" class="form-check-input"
                              [(ngModel)]="relation.selected" (change)="onRelationNamesChange()" />
                            <label [for]="relation.name">{{
                              relation.name
                            }}</label>
                          </div>

                          <!-- Show relationships only if there are relationships in the category -->
                          <ng-container *ngIf="
                              getRelationsForCategory(relation.id).length > 0
                            ">
                            <ng-container *ngFor="
                                let item of getVisibleRelations(relation.id)
                              ">
                              <div class="checkbox-section checkbox-section-body-first">
                                <input type="checkbox" [name]="item.Name" [id]="item.Name" class="form-check-input"
                                  [(ngModel)]="item.relationSelect" (change)="updateEmailBody()" />
                                <label [for]="item.Name">{{ item.Name }}</label>
                              </div>
                            </ng-container>

                            <!-- Show More/Show Less button only if the number of relationships is more than 3 -->
                            <div class="d-flex justify-content-end" *ngIf="
                                getRelationsForCategory(relation.id).length > 3
                              ">
                              <span (click)="toggleShowMore(relation.id)" class="showMoreRelations">
                                {{
                                  showMoreRelations[relation.id]
                                    ? "Show Less"
                                    : "Show More"
                                }}
                              </span>
                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 col-sm-4 p-2">
                  <div class="box p-2">
                    <!-- Manager Organizations and Contacts -->
                    <div class="checkbox-section">
                      <input type="checkbox" [name]="ManagerOrganizationName" [id]="ManagerOrganizationName"
                        class="form-check-input" [(ngModel)]="showOrganizationManagers"
                        (change)="onOrganizationManagersChange()" />
                      <label [for]="ManagerOrganizationName">{{
                        ManagerOrganizationName
                      }}</label>
                    </div>
                    <div class="checkbox-section checkbox-section-body-first" *ngIf="showOrganizationManagers">
                      <input type="checkbox" name="ManagerOrganizationDescriptionDetails"
                        id="ManagerOrganizationDescriptionDetails" class="form-check-input"
                        [(ngModel)]="showMangerDescriptionDetails" (change)="onMangerDescriptionDetailsChange()" />
                      <label for="ManagerOrganizationDescriptionDetails">{{ ManagerOrganizationName }} Profile</label>
                    </div>
                    <div class="checkbox-section checkbox-section-body-first" *ngIf="showOrganizationManagers">
                      <input type="checkbox" name="TenantRep" id="TenantRep" class="form-check-input"
                        [(ngModel)]="showMangerDescription" (change)="onMangerDescriptionChange()" />
                      <label for="TenantRep">Tenant Rep. Description</label>
                    </div>
                    <ng-container *ngIf="showMangerDescription">
                      <ng-container *ngIf="showOrganizationManagers">
                        <ng-container *ngFor="let manager of managerOrganizations">
                          <ng-container *ngFor="
                              let contact of manager.ManagerOrganizationContacts
                            ">
                            <div *ngIf="showOrganizationManagers" class="checkbox-section checkbox-section-body-second">
                              <input type="checkbox" [name]="contact.Firstname + contact.LastName"
                                [id]="contact.Firstname + contact.LastName" class="form-check-input"
                                [(ngModel)]="contact.selected" (change)="onContactCheckboxChange()"
                                [checked]="contact.selected" />
                              <label [for]="contact.Firstname + contact.LastName">{{ contact.Firstname }}
                                {{ contact.LastName }}</label>
                            </div>
                            <ng-container *ngIf="contact.selected">
                              <div class="checkbox-section checkbox-section-body-second"
                                *ngIf="showOrganizationManagers">
                                <input type="checkbox" name="MangerContactSignature" id="MangerContactSignature"
                                  class="form-check-input" [(ngModel)]="showMangerContactSignature"
                                  (change)="onMangerContactSignatureChange()" />
                                <label for="MangerContactSignature">{{ contact.Firstname }}
                                  {{ contact.LastName }} Signature</label>
                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <!-- Button-Prompet & Show Context & Prompt & Generate-->
                <ng-container>
                  <div class="row m-0 p-0">
                    <div class="col-12 col-sm-6 checkbox-section-select pb-2">
                      <label for="discussionDropdown">Select Prompt</label>
                      <select class="form-select form-select-lg" aria-label="Large select example"
                        id="discussionDropdown" [(ngModel)]="selectedPromptId" (change)="updatePrompt()">
                        <option value="" selected>Select Prompt</option>
                        <option *ngFor="let prompt of prompts" [value]="prompt.id">
                          {{ prompt?.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-12 col-sm-6 checkbox-section-select checkbox_ISCC pb-2 gap-4"
                      *ngIf="!emailBodyReply">
                      <div class="checkbox-section align-items-center">
                        <input type="checkbox" [(ngModel)]="isISCcSelected" name="IsCC" (change)="onISCCChange($event)" id="IsCC"
                          class="form-check-input m-0" />
                        <label for="IsCC" class="ms-2 IsCC_checkbox">IsCC</label>
                      </div>
                      <div class="checkbox-section align-items-center">
                        <input type="checkbox" [(ngModel)]="isLandingSelected" (change)="onIncludeLandingChange($event)" name="includinglandingpage"
                          id="includinglandingpage" class="form-check-input m-0" />
                        <label for="includinglandingpage" class="ms-2 IsCC_checkbox">Is including landing page</label>
                      </div>
                    </div>
                    <div
                      class="col-12 col-sm-12 d-flex justify-content-between mt-3 align-items-center Button_all pb-2 pb-sm-0">
                      <button class="Emily__contant__button ms-2" (click)="GenerateEmail()">
                        <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M2.07492 11.0667H4.64992V17.0667C4.64992 18.4667 5.40826 18.75 6.33326 17.7L12.6416 10.5334C13.4166 9.65838 13.0916 8.93338 11.9166 8.93338H9.34159V2.93338C9.34159 1.53338 8.58326 1.25005 7.65826 2.30005L1.34992 9.46671C0.583255 10.35 0.908256 11.0667 2.07492 11.0667Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                        Generate
                      </button>
                      <button class="Emily__contant__button" (click)="openPromptTextModal(View)">
                        Prompt
                        <i class="fas fa-sign-in-alt px-1"></i>
                      </button>
                      <button class="Emily__contant__button Emily__body__button" (click)="openBodyModal(ViewBody)">
                        Show Context
                        <i class="fa-regular fa-eye px-1"></i>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>




              <!-- API Response View Saved Template-->
              <ng-container *ngIf="!emailBodyReply">
                <!-- API Response View  Generated Email-->
                <div class="container-fluid h-auto backgroundcolor p-0" >
                  <ng-container  *ngIf="GenerateEmailall">
                    <ng-container  *ngFor="let item of GenerateEmailall">
                      <div class="form-group mt-4" *ngIf="item.recieverIds">
                        <div class="card shadow-sm border-0">
                          <div class="card-header text-white GeneratedEmail">
                            <h5 class="mb-0">Generated Email</h5>
                          </div>
                          <div class="card-body bg-light">
                            <div class="mb-3">
                              <div class="d-flex justify-content-between align-items-center">
                                <label class="fw-bold text-secondary">Email Subject:</label>
                                <span (click)="copyEmailSubject()" class="copy-icon-container">
                                  <i class="fas fa-copy copy-sty" [hidden]="isSubjectCopied" title="Copy Email Subject"></i>
                                  <span class="copied-text" *ngIf="isSubjectCopied">Copied!</span>
                                </span>
                              </div>
                              <div class="p-3 border rounded bg-white text-dark">
                                <textarea [innerHTML]="item.emailSubject" rows="1" class="form-control"></textarea>
                              </div>
                            </div>
                            <div>
                              <div class="d-flex justify-content-between align-items-center">
                                <label class="fw-bold text-secondary">Email Body:</label>
                                <span (click)="copyEmailBody()" class="copy-icon-container">
                                  <i class="fas fa-copy copy-sty" [hidden]="isBodyCopied" title="Copy Email Body"></i>
                                  <span class="copied-text" *ngIf="isBodyCopied">Copied!</span>
                                </span>
                              </div>
                              <div class="p-3 border rounded bg-white text-dark">
                                <p [innerHTML]="item.emailBody" class="m-0"></p>
                              </div>
                              <div class="d-flex justify-content-end gap-2">
                                <button class="btn btn-success mt-3" (click)="SaveTemplate(item)">
                                  Save
                                </button>
                                <button class="btn Button_Update_S mt-3" (click)="SaveAndSendTemplate(item)">
                                  Save and Send
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
                <div *ngIf="
                  CheckGetSavedTemplates && CheckGetSavedTemplates.length > 0
                " class="row m-0 p-0 d-flex justify-content-center">
                  <div class="col-12 p-0 mt-3" *ngFor="let item of CheckGetSavedTemplates">
                    <div class="col-12 p-0">
                      <div class="form-group mt-4">
                        <div class="card shadow-sm border-0">
                          <div class="card-header text-white GeneratedEmail">
                            <h5 class="mb-0 d-flex justify-content-between">
                              <p>
                                <span class="SavedTemplate">Saved Template</span>
                                <span class="firstlast" *ngFor="let contact of item.Contact">
                                  {{ contact.Firstname }} {{ contact.LastName }}
                                </span>
                              </p>
                              <p>
                                <span class="creationdate">Creation Date :
                                  {{ item.CreationDate | date : "medium" }}</span>
                                <span *ngIf="item.SentDate !== '0001-01-01T00:00:00'" class="firstlast">Sent Date :
                                  {{ item.SentDate | date : "medium" }}</span>
                              </p>
                            </h5>
                          </div>
                          <div class="card-body bg-light">
                            <div class="mb-3">
                              <div class="d-flex justify-content-between align-items-center">
                                <label class="fw-bold text-secondary">Email Subject:</label>
                              </div>
                              <div class="p-3 border rounded bg-white text-dark">
                                <textarea [(ngModel)]="item.Subject" rows="1" class="form-control"></textarea>
                              </div>
                            </div>
                            <div>
                              <div class="d-flex justify-content-between align-items-center">
                                <label class="fw-bold text-secondary">Email Body:</label>
                              </div>
                              <div class="p-3 border rounded bg-white text-dark">
                                <p [innerHTML]="item.Template" class="m-0" *ngIf="!emailBodyResponsetogale"></p>
                                <textarea [(ngModel)]="item.Template" [innerHTML]="item.Template" rows="15"
                                  class="form-control" *ngIf="emailBodyResponsetogale"></textarea>
                              </div>
                              <div class="d-flex justify-content-end mt-2 gap-2">
                                <button class="Button_Update" *ngIf="emailBodyResponsetogale"
                                  (click)="emailBodyResponsetogale = false">
                                  Cancel
                                </button>
                                <button class="Button_Update" *ngIf="item.SentDate == '0001-01-01T00:00:00'" (click)="
                                  !emailBodyResponsetogale
                                    ? toggleSwitch()
                                    : UpdateEmailTemplate(item)
                                ">
                                  {{
                                  !emailBodyResponsetogale ? "Edit" : "Update"
                                }}
                                </button>
                                <button class="Button_Update_S" *ngIf="item.SentDate == '0001-01-01T00:00:00'"
                                  (click)="SendEmailTemplate(item)">
                                  Send
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="emailBodyReply">
                <div [formGroup]="formGroup">
                  <div class="p-3">
                    <div class="d-flex pb-3 align-items-center">
                      <label for="subject" class="IsCC_checkbox me-2">Subject: </label>
                      <input type="text" formControlName="subject" class="input_checkbox form-control w-25"
                        name="subject" id="subject" placeholder="Enter your subject email">
                    </div>
                    <div class="d-flex gap-3">
                      <div class="checkbox-section align-items-center">
                        <input type="checkbox" formControlName="IsCC" name="IsCC" id="IsCC"
                          class="form-check-input m-0" />
                        <label for="IsCC" class="ms-2 IsCC_checkbox">IsCC</label>
                      </div>
                      <div class="checkbox-section align-items-center">
                        <input type="checkbox" formControlName="includinglanding" (change)="onIncludeLandingChange($event)" name="includinglanding"
                          id="includinglanding" class="form-check-input m-0" />
                        <label for="includinglanding" class="ms-2 IsCC_checkbox">Is including landing page</label>
                      </div>
                    </div>
                  </div>

                  <p-editor [(ngModel)]="emailBodyResponse" formControlName="body" [style]="{ height: '250px' }">
                  </p-editor>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="m-2 buttonSave" (click)="AddEmail()">Send</button>
                    <button class="btn btn-secondary m-2" (click)="closeModal()">
                      Close
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <!-- editor selectedPrompt -->
      <ng-template #View let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-light">Prompt editor</h3>
          </div>
          <div class="modal-body">
            <textarea *ngIf="isEditing" class="form-control" rows="15" [(ngModel)]="editablePromptText"></textarea>
            <textarea *ngIf="!isEditing" [innerHTML]="selectedPromptText" readonly rows="15"
              class="form-control"></textarea>
          </div>
          <div class="modal-footer">
            <button *ngIf="!isEditing" class="btn btn-warning" (click)="editPrompt()">
              Edit
            </button>
            <button *ngIf="isEditing" class="btn btn-success" (click)="savePrompt(modal)">
              Save
            </button>
            <button class="btn btn-secondary" (click)="modal.dismiss('Close click')">
              Close
            </button>
          </div>
        </div>
      </ng-template>

      <!-- Show Context Email Body -->
      <ng-template #ViewBody let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-dark d-flex justify-content-between w-100">
              Email Context
              <p class="Emily__contant__head__p" (click)="clearSelections()" *ngIf="emailBody != ''" title="Clear Body">
                Clear
              </p>
            </h3>
          </div>
          <div class="modal-body">
            <textarea *ngIf="isEditingBody" class="form-control" rows="15" [(ngModel)]="emailBody"></textarea>
            <textarea *ngIf="!isEditingBody" [innerHTML]="emailBody" rows="15" class="form-control"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="modal.dismiss('Close click')">
              Close
            </button>
          </div>
        </div>
      </ng-template>
    </section>
  </div>
</section>

<!-- toast -->
<div id="customToast" class="custom-toast">
  <div class="toast-content">
    <p id="toastMessage"></p>
  </div>
</div>

<ng-template #AddPrompt let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title text-dark">Add New Prompt</h3>
      <button type="button" class="btn-close" (click)="modal.dismiss('Close click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control mb-2" [(ngModel)]="newPromptName"
        placeholder="Enter the name of the prompt..." />
      <textarea class="form-control" rows="15" [(ngModel)]="newPromptText"
        placeholder="Enter your prompt here..."></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="addPrompt(modal)">Save</button>
      <button class="btn btn-secondary" (click)="modal.dismiss('Close click')">
        Close
      </button>
    </div>
  </div>
</ng-template>
