th {
  white-space: nowrap;
}
.procpect-table-body td {
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 16px;
}
.procpect-table-head th {
  padding: 10px 8px;
  background-color: #e4e7e9;
  font-size: 18px;
  font-weight: 500;
  color: #0d0c0c;
  border-bottom: 1px solid #e4e4e4;
}
.Kayack__button {
  border-radius: 10px;
  background: #4d65b4;
  color: #fff;
  text-align: center;

  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: 0;
  padding: 4px 10px;
  white-space: nowrap;
}
