<div class="p-3 table-responsive">
  <table
    class="table align-middle"
    *ngIf="submissionsArray && submissionsArray.length > 0"
  >
    <thead>
      <tr>
        <th>Buybox & Campaign</th>
        <th>Submission</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let submission of submissionsArray">
        <tr>
          <td>
            <div>{{ submission.Name }}</div>
            <div>{{ submission.Campaigns[0].CampaignName }}</div>
          </td>
          <td>
            <ng-container
              *ngFor="let Sc of submission.Campaigns[0].ShoppingCenters"
            >
              <div class="sub-wrap">
                <div class="d-flex justify-content-between my-2 mx-3">
                  <div><b>Shopping Center:</b> {{ Sc.CenterName }}</div>
                  <button
                    class="btn btn-primary"
                    style="padding: 4px 15px"
                    (click)="openPlaces(Places, Sc.Places)"
                  >
                    View places
                  </button>
                </div>
                <div class="my-2 mx-3">
                  <div>
                    <b>User:</b> {{ Sc.UserName }}
                    <ng-container *ngFor="let Submission of Sc.UserSubmissions">
                      <span class="mx-3">
                        {{ Submission.CreatedDate | date }}</span
                      >
                      <div *ngIf="Submission.StatusId !== 0">
                        <span
                          class="badge-success"
                          *ngIf="Submission.StatusId == 1"
                          >Accepted</span
                        >
                        <span
                          class="badge-danger"
                          *ngIf="Submission.StatusId == -1"
                          >Rejected</span
                        >
                      </div>
                      <div *ngIf="Submission.StatusId == 0">
                        <button
                          (click)="AcceptUserSubmission(Submission)"
                          class="btn btn-success me-2 my-0"
                          style="padding: 5px; font-size: 14px"
                        >
                          Accept
                        </button>
                        <button
                        (click)="RejectUsersubmission(Submission)"

                          class="btn btn-danger ms-2 my-0"
                          style="padding: 5px; font-size: 14px"
                        >
                          Reject
                        </button>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #Places let-modal>
  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Building Size (sq.ft.)</th>
          <th>Lease Type</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let place of places">
          <tr>
            <td>
              {{ place.BuildingSizeSf || "N/A" }}
              <span *ngIf="place.BuildingSizeSf">SF</span>
            </td>
            <td>{{ place.ForLeasePrice }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>
