.card-body {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.card-body:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.city{
    color: #000;
}

.city-row{
    cursor: pointer;
}

.city-row:hover .city{
    color: #177dff !important;
}

.card-title {
    margin: 0;
    color: #575962;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}

.card-category {
    margin-top: 8px;
    font-size: 14px;
    color: #8d9498;
    margin-bottom: 0;
    word-break: normal;
}

.activity-feed {
    padding: 15px;
    list-style: none;
}

.activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;
    display: flex;
    flex-direction: column;
}

.activity-feed .feed-item:last-child {
    border-color: transparent;
}

.activity-feed .feed-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #177dff;
}