<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container-fluid">
  <div class="row m-0 mt-3">
    <div class="d-flex justify-content-end">
      <button class="Kayack__button" (click)="open(BuyBoxProperty)">
        Add Tenant
      </button>
      <!-- <button [routerLink]="'/add-tenant'"
      >
      add
      </button> -->
    </div>
    <ng-container *ngFor="let type of buyboxTypes">
      <div class="col-12 col-sm-6 col-md-3 p-3 ResContainer">
        <section class="card__Kayak">
          <div class="card__Kayak__img mt-3 mb-3">
            <img
              class="Kayak__img ms-2"
              src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                type.organizationId
              }}"
              alt=""
            />
          </div>
          <div class="card__Kayak_title">
            {{ type.name }}
          </div>
          <div class="card__Kayak_buttons mt-2 pb-3">
            <button
              class="CherryPick__button"
              (click)="chooseType(type.id, type.organizationId, type.name)"
            >
              Market Survey
            </button>
            <button
              *ngIf="organizationId != type.organizationId"
              class="Kayack__button"
              [routerLink]="[
                '/dashboard',
                type.id,
                type.organizationId,
                type.name
              ]"
            >
              Dashboard
            </button>
          </div>
        </section>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #BuyBoxProperty let-modal>
  <div class="modal-body">
    <app-add-tenants></app-add-tenants>
  </div>
</ng-template>
