.card-body {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
}

.card-category {
  margin-top: 8px;
  font-size: 14px;
  color: #8d9498;
  margin-bottom: 0;
  word-break: normal;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.container-width {
  margin: auto;
  width: 80%;
}
.card__Kayak {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: white;
  border-radius: 20px;
}

.card__Kayak__img {
  padding-left: 20px;
  height: auto;
  min-height: 100px;
  width: 100%;
}
.chevronicon {
  padding-right: 30px;
  color: #707791;
}

.Kayak__img {
  width: 92px;
  height: 92px;
  aspect-ratio: 1/1;
  border-radius: 12px;
}

.card__Kayak_title {
  color: #16181d;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.active {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  width: fit-content;
  gap: 4px;
  border-radius: 16px;
  background: #eaf6ec;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #28a745;
  border-radius: 50%;
}

.text {
  color: #28a745;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.Kayack__button {
  border-radius: 10px;
  background: #001f3fc2;
  color: #fff;
  text-align: center;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: 0;
  padding: 4px 10px;
  white-space: nowrap;
}

.ResContainer {
  cursor: pointer;
}

.card__Kayak_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.Kayack__button {
  background: #4d65b4;
}

@media (max-width: 567px) {
  .card__Kayak {
    margin-bottom: 1rem;
    width: 300px !important;
  }
}
@media (max-width: 767px) {
  .chevronicon {
    padding-right: 12px;
  }
  .card__Kayak__img {
    padding-left: 10px;
  }
  .container-width {
    width: 100%;
  }
  .ResContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__Kayak {
    margin-bottom: 1rem;
    width: 265px;
  }
  .card__Kayak_buttons {
    justify-content: space-evenly;
    flex-direction: row;
  }
  .Kayack__button,
  .CherryPick__button {
    font-size: 10px;
    padding: 4px 8px;
    min-width: 90px;
  }
  .card__Kayak_title {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ResContainer {
    align-items: center;
  }
}
