<div class="page-layout">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <ng-container *ngFor="let item of breadcrumbList; let last = last">
        <li
          class="breadcrumb-item"
          [ngClass]="{ activeBreadcrumb: last }"
          (click)="removeBreadcrumbItem(item.kanbanId)"
        >
          {{ item.name }}
        </li>
      </ng-container>
    </ol>
  </nav>

  <!-- <section class="kanban-tabs">
    <ul class="kanban-tabs-list">
      <ng-container *ngFor="let tab of kanbanTabs">
        <li
          class="kanban-tab"
          [ngClass]="{ 'active-kanban-tab': selectedKanbanTabId == tab.id }"
          (click)="onKanbanTabSelected(tab.id)"
        >
          {{ tab.title }}
        </li>
      </ng-container>
    </ul>
  </section> -->

  <section class="h-100 kanban-data-container">
    <!-- <div
      *ngIf="activeTabKanbansList.length > 0"
      class="col-md-2 col-12 side-kanban"
    >
      <ng-container *ngFor="let kanban of activeTabKanbansList">
        <div
          class="side-kanban-item"
          [ngClass]="{
            'side-kanban-active-item': selectedKanban?.Id == kanban.Id
          }"
          (click)="getKanban(kanban); removeIdFromUrl()"
        >
          <span>
            {{ kanban.kanbanName }}
          </span>
          <br />
        </div>
        <hr />
      </ng-container>
    </div> -->

    <div
      class="kanban-stages"
      [ngClass]="{
        'col-md-12': !(activeKanbansList.length > 0),
        'p-0': !(activeKanbansList.length > 0)
      }"
      cdkDropListGroup
    >
      <div class="stage-column-container">
        <ng-container
          *ngFor="
            let stage of activeKanbanDetails?.kanbanStages;
            let stageIndex = index
          "
        >
          <section class="stage-column">
            <div
              class="stage-header"
              [ngStyle]="{
                'background-color': stagesColors[stageIndex % 5].background
              }"
            >
              <span [ngStyle]="{ color: stagesColors[stageIndex % 5].color }">
                {{ stage.stageName }}
              </span>
            </div>
            <div
              *ngIf="stage.StageActions && stage.StageActions.length > 0"
              class="w-100 row gap-2 g-2"
            >
              <ng-container
                *ngFor="
                  let action of stage.StageActions;
                  let actionIdex = index
                "
              >
                <ng-container *ngIf="action.actionType == 'Popup'">
                  <a
                    *ngIf="action.actionName.trim().length > 0"
                    class="col-5 workflow-item"
                    style="
                      background-color: #ffffff;
                      color: #707791;
                      cursor: pointer;
                    "
                    [pTooltip]="action.actionName"
                    tooltipPosition="top"
                    (click)="openActionPopup(action.actionName)"
                  >
                    {{ action.actionName }}
                  </a>
                </ng-container>
              </ng-container>
            </div>

            <div
              class="stage-content"
              cdkDropList
              [cdkDropListData]="
                stage.StageOrganizations || stage.StageListings || []
              "
              [id]="stage.StageId.toString()"
              (cdkDropListDropped)="onDrop($event)"
            >
              <ng-container
                *ngIf="
                  stage.StageOrganizations &&
                    stage.StageOrganizations.length > 0;
                  else centerCase
                "
              >
                <ng-container
                  *ngFor="
                    let organization of stage.StageOrganizations || [];
                    let orgIndex = index
                  "
                >
                  <div
                    *ngIf="organization.OrganizationName"
                    class="stage-card"
                    cdkDrag
                    [cdkDragData]="{
                      type: 'organization',
                      orgIndex: orgIndex,
                      value: organization
                    }"
                  >
                    <div
                      class="w-100 d-flex align-items-start justify-content-between gap-3"
                    >
                      <div class="d-flex align-items-center gap-2">
                        <img
                          *ngIf="organization.LogoURL"
                          [src]="organization.LogoURL"
                          alt="organization-logo"
                          class="avatar"
                        />
                        <span class="kanban-title">
                          {{ organization.OrganizationName }}
                        </span>
                      </div>
                    </div>
                    <ng-container
                      *ngIf="
                        organization.OtherKanbans &&
                        organization.OtherKanbans.length > 0
                      "
                    >
                      <hr />
                      <div class="kanban-title mb-2">Workflows</div>
                      <div class="row gap-2 g-2">
                        <ng-container
                          *ngFor="
                            let otherKanban of organization.OtherKanbans;
                            let otherKanbanIndex = index
                          "
                        >
                          <a
                            *ngIf="otherKanban.kanbanName.trim().length > 0"
                            class="col-5 workflow-item"
                            [ngStyle]="{
                              'background-color':
                                stagesColors[otherKanbanIndex + (1 % 5)]
                                  .background,
                              color:
                                stagesColors[otherKanbanIndex + (1 % 5)].color
                            }"
                            [pTooltip]="otherKanban.kanbanName"
                            tooltipPosition="top"
                            (click)="
                              updateKanbanId(
                                otherKanban.id,
                                otherKanban.kanbanName,
                                organization.OrganizationName
                              )
                            "
                          >
                            Go-to :{{ otherKanban.kanbanName }}
                          </a>
                        </ng-container>
                      </div>
                    </ng-container>

                    <g-container
                      *ngIf="
                        organization.Actions && organization.Actions.length > 0
                      "
                    >
                      <hr />
                      <div class="kanban-title mb-2">Actions</div>

                      <ng-container
                        *ngIf="
                          organization.Actions &&
                          organization.Actions.length > 0
                        "
                      >
                        <div class="row gap-2 g-2">
                          <ng-container
                            *ngFor="
                              let action of organization.Actions;
                              let actionIndex = index
                            "
                          >
                            <ng-container
                              *ngIf="action.actionLevel == 'Target'"
                            >
                              <a
                                *ngIf="action.actionName.trim().length > 0"
                                class="col-5 workflow-item"
                                [ngStyle]="{
                                  'background-color':
                                    stagesColors[actionIndex + (1 % 5)]
                                      .background,
                                  color:
                                    stagesColors[actionIndex + (1 % 5)].color
                                }"
                                [pTooltip]="action.actionName"
                                tooltipPosition="top"
                                [href]="action.actionUrlDecode"
                                target="_blank"
                              >
                                {{ action.actionName }}
                              </a>
                            </ng-container>
                          </ng-container>
                        </div>
                      </ng-container>
                    </g-container>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #centerCase>
                <ng-container
                  *ngIf="stage.StageListings && stage.StageListings.length > 0"
                >
                  <ng-container
                    *ngFor="
                      let center of stage.StageListings || [];
                      let centerIndex = index
                    "
                  >
                    <div
                      *ngIf="center.CenterName"
                      class="stage-card"
                      cdkDrag
                      [cdkDragData]="{
                        type: 'center',
                        orgIndex: centerIndex,
                        value: center
                      }"
                    >
                      <div
                        class="w-100 d-flex align-items-start justify-content-between gap-3"
                      >
                        <div class="d-flex align-items-center gap-2">
                          <img
                            *ngIf="center.LogoURL"
                            [src]="center.LogoURL"
                            alt="organization-logo"
                            class="avatar"
                          />
                          <span class="kanban-title">
                            {{ center.CenterName }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </section>
        </ng-container>
      </div>
    </div>
  </section>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
