.page-layout {
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.kanban-tabs {
  height: auto;
  margin-bottom: 2rem;
}

.kanban-tabs-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.kanban-tab {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: #707791;
  cursor: pointer;
}

.active-kanban-tab {
  background-color: #dbe0f0;
  border: 1px solid #2e3d6c;
  color: #4d65b4;
  font-weight: 500;
}

.kanban-data-container {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.side-kanban {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  border-right: 0.5px solid #707791;
  padding: 0;
  padding-right: 0.5rem;
}

.side-kanban hr {
  margin: 0.5rem 0;
}

.side-kanban-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  cursor: pointer;
}

.side-kanban-item span {
  color: #707791;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-kanban-active-item {
  background-color: #dbe0f0;
  border-radius: 0.5rem;
}

.kanban-stages {
  height: 100%;
  overflow-x: auto;
  padding: 0;
  /* padding-left: 1rem; */
  scrollbar-width: thin;
}

.kanban-stages:has(:first-child) {
  padding-bottom: 0.5rem !important;
}

.stage-column-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.stage-column {
  height: 100%;
  min-width: 25vw;
  max-width: 25vw;
  background-color: #dbe0f0;
  /* border: 1px solid rgba(0, 0, 0, .175)  ; */
  border-radius: 0.5rem;
  padding: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.stage-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* margin: -0.5rem; */
}

.stage-header span {
  /* font-size: 14px; */
  font-weight: 600;
  color: #0c0d0e;
}

.stage-header svg,
.stage-card svg {
  cursor: pointer;
}

.stage-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.stage-card {
  width: 100%;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.175); */
  color: #0c0d0e;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.kanban-title {
  font-size: 1.125rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12rem;
  color: #707791;
}

/* Drag and Drop */
.cdk-drag-preview {
  min-width: 15rem;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  opacity: 0.9;
  transform: scale(1.05);
  transition: all 0.2s var(--transition-bezier);
}

.cdk-drag-placeholder {
  min-width: 15rem;

  opacity: 0.3;
  background: #e2e8f0;
  border: 2px dashed #94a3b8;
  border-radius: 12px;
  animation: pulse 2s var(--transition-bezier) infinite;
}

.cdk-drag-animating {
  min-width: 15rem;
  transition: transform 250ms var(--transition-bezier);
}

.workflow-item {
  /* background-color: black; */
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #707791;
  border: 1px solid #e2e4e9;
}

.breadcrumb-item {
  cursor: pointer;
}

.activeBreadcrumb {
  color: #4d65b4;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive (max-width: 768px) */
@media (max-width: 768px) {
  .page-layout {
    overflow-y: auto;
  }
  .stage-column-container {
    flex-direction: column;
  }
  .stage-column {
    max-width: none;
    width: 100%;
  }
  .kanban-stages {
    padding: 0;
  }
  .side-kanban {
    padding: 0;
    margin-bottom: 1rem;
  }
  .kanban-data-container {
    overflow-y: auto;
    scrollbar-width: none;
  }
}
