<div class="p-3">
  <p class="m-0 f500" style="color: #000">
    {{ cardsSideList.length }} places within map area
  </p>
</div>
<div class="row">
  <div class="col-8 p-0 d-flex flex-column cards-container">
    <div class="row">
      <ng-container *ngFor="let place of cardsSideList">
        <div class="col-6">
          <div
            class="card-window total"
            (mouseenter)="onMouseHighlight(place)"
            (mouseleave)="onMouseLeaveHighlight(place)"
          >
            <div class="card-window_c">
              <a
                *ngIf="place.CenterCity"
                [routerLink]="[
               '/landing',
               place.ShoppingCenter?.Places
               ? place.ShoppingCenter.Places?.[0].Id
                : 0,
               place.Id,
              BuyBoxId 
             ]"
              >
                <div class="main-img">
                  <img
                    src="{{
                      place.MainImage || 'assets/Images/skeltonImage.png'
                    }}"
                  />
                </div>
              </a>
              <div class="content-wrap card-sideview">
                <div>
                  <div *ngIf="place.CenterCity">
                    <a
                      [routerLink]="[
                      '/landing',
                      place.ShoppingCenter?.Places
                        ? place.ShoppingCenter.Places?.[0].Id
                        : 0,
                      place.Id,
                      BuyBoxId
                    ]"
                    >
                      <p class="content-title total">
                        {{
                          place.CenterName.length > 22
                            ? (place.CenterName | titlecase).slice(0, 22) +
                              "..."
                            : (place.CenterName | titlecase)
                        }}
                      </p>
                    </a>
                  </div>

                  <div
                    *ngIf="place.CenterAddress"
                    class="card-address total"
                    (click)="openMapViewPlace(MapViewPlace, place)"
                  >
                    <span>
                      {{ place.CenterAddress }},
                      {{ place.CenterCity | titlecase }},
                      {{ place.CenterState }}
                    </span>
                  </div>

                  <div
                    *ngIf="place.Address"
                    class="card-address total"
                    (click)="openMapViewPlace(MapViewPlace, place)"
                  >
                    <p>
                      {{ place.Address }}, {{ place.City | titlecase }},
                      {{ place.State }}
                    </p>
                  </div>

                  <div *ngIf="place.CenterAddress">
                    <p
                      class="ShoppingCenterUnit"
                      [innerHTML]="getShoppingCenterUnitSize(place)"
                    ></p>
                  </div>

                  <div
                    class="row"
                    *ngIf="place.ShoppingCenter?.BuyBoxPlaces || place.Place"
                  >
                    <div
                      *ngFor="
                        let item of place.ShoppingCenter
                          ? place.ShoppingCenter?.BuyBoxPlaces
                          : place.Place?.BuyBoxPlaces
                      "
                      class="col-12 d-flex flex-column spec"
                    >
                      <div class="d-flex flex-column">
                        <p class="nearset-category">
                          <b>{{ getNeareastCategoryName(item.CategoryId) }} </b>
                        </p>
                        <p style="color: #000">
                          {{ item.RelationOrganizationName }}
                          <img
                            class="logo ms-2"
                            src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                              item.RelationOrganizationId
                            }}"
                            [title]="item.RelationOrganizationName"
                            alt=""
                          />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="buttons-wrap">
                <button class="view-details-card" (click)="goToPlace(place)">
                  View Details
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.9999 11.75C12.8099 11.75 12.6199 11.68 12.4699 11.53C12.1799 11.24 12.1799 10.76 12.4699 10.47L20.6699 2.26999C20.9599 1.97999 21.4399 1.97999 21.7299 2.26999C22.0199 2.55999 22.0199 3.03999 21.7299 3.32999L13.5299 11.53C13.3799 11.68 13.1899 11.75 12.9999 11.75Z"
                      fill="#fff"
                    />
                    <path
                      d="M22.0002 7.55C21.5902 7.55 21.2502 7.21 21.2502 6.8V2.75H17.2002C16.7902 2.75 16.4502 2.41 16.4502 2C16.4502 1.59 16.7902 1.25 17.2002 1.25H22.0002C22.4102 1.25 22.7502 1.59 22.7502 2V6.8C22.7502 7.21 22.4102 7.55 22.0002 7.55Z"
                      fill="#fff"
                    />
                    <path
                      d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H11C11.41 1.25 11.75 1.59 11.75 2C11.75 2.41 11.41 2.75 11 2.75H9C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V13C21.25 12.59 21.59 12.25 22 12.25C22.41 12.25 22.75 12.59 22.75 13V15C22.75 20.43 20.43 22.75 15 22.75Z"
                      fill="#fff"
                    />
                  </svg>
                </button>
              </div> -->

                <div
                  class="mt-2"
                  *ngIf="
                    place.ShoppingCenter?.ManagerOrganization &&
                    placesRepresentative != false
                  "
                >
                  <!-- <span class="managed-by">Leased by</span> -->
                  <div class="spec-head">
                    <div class="d-flex align-items-center gap-2">
                      <img
                        class="logo"
                        src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                          place.ShoppingCenter.ManagerOrganization[0].ID
                        }}"
                        [title]="
                          place.ShoppingCenter.ManagerOrganization[0].Name
                        "
                        alt=""
                      />
                      <span>
                        {{ place.ShoppingCenter.ManagerOrganization[0].Name }}
                      </span>
                    </div>

                    <img
                      class="ms-2 total"
                      src="../../../assets/Images/Icons/eye.png"
                      alt="View Manager Details"
                      [ngbPopover]="popoverContent"
                      popoverTitle="Organization Contact Info"
                      [placement]="'top'"
                    />
                    <!-- <br /> -->
                    <ng-template #popoverContent>
                      <div
                        *ngFor="
                          let org of place.ShoppingCenter.ManagerOrganization
                        "
                        class="contact-container table-texttt"
                      >
                        <p class="text-bold m-0">
                          {{ org.Firstname | titlecase }}
                          {{ org.LastName | titlecase }}
                        </p>
                        <p class="m-0">{{ org.CellPhone }}</p>
                        <p class="m-0">{{ org.Email }}</p>
                        <hr
                          *ngIf="
                            !isLast(
                              org,
                              shoppingCenter.ShoppingCenter.ManagerOrganization
                            )
                          "
                        />
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="col-4">
    <div id="map" class="custom-map"></div>
  </div>
</div>

<ng-template #MapViewPlace let-modal>
  <div id="mappopup" class="h700" *ngIf="mapViewOnePlacex"></div>
</ng-template>
