.card-window_c {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 2px 14px rgba(0, 0, 0, 0.23);
  border-radius: 18px;
}
.total {
  cursor: pointer;
}
.main-img {
  height: 250px;
  background: white;
  border-radius: 18px 18px 0 0;
}
.card-sideview {
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  gap: 5px;
}
.card-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7a8591;
}
.ShoppingCenterUnit {
  font-size: 15px;
  font-weight: 500;
  color: #565656;
}
.nearset-category {
  color: #000;
  font-size: 14px;
  margin-top: 10px;
}
.contact-container {
  padding: 0 0.5rem;
}

.logo {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  /* margin-right: 10px; */
}
.managed-by {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7a8591;
}
.spec-head {
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-texttt {
  color: #7a8591;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.cards-container {
  height: 100vh;
  overflow-y: scroll;
}
.custom-map {
  height: 100vh;
}
