.t-head {
  border-radius: 20px;
  padding: 10px;
  background-color: #e4e7e9;
  font-size: 16px;
  font-weight: 500;
  color: #0d0c0c;
}
.padd-20 th {
  padding: 20px;
}
.padd-20 th:first-child {
  border-top-left-radius: 12px;
}
.padd-20 th:last-child {
  border-top-right-radius: 12px;
}

.background {
  background-color: #ffffff;
  height: 100%;
}
.my-prop {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 500;
}
.upload {
  width: auto;
  min-width: 110px;
  border-radius: 7px;
  background: #001f3f;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: 0;
  padding: 7px 10px;
  white-space: nowrap;
}
.upload:hover{
  background-color: #043566;
}
.view-act {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}
.view-act h4 {
  font-weight: 700;
  font-size: 20px;
  color: #001f3f;
}
.close {
  background-color: white;
  border: none;
}
.modal-header {
  padding: 8px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background: #e4e7e9;
}
/* .procpect-table-body td {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
} */