<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="row m-0 p-0">
  <div class="p-0" style="width: 5%">
    <app-sidbar></app-sidbar>
  </div>
  <div class="p-0" style="width: 95%">
    <div class="background">
      <div class="container-fluid">
          <div class="pt-3 d-flex justify-content-between">
            <h3 class="my-prop">My Properties</h3>
          <button class="upload" (click)="openUploadModal()">
            Upload PDF
          </button>
        </div>
        <table class="procpect-table">
          <thead class="t-head">
            <tr class="padd-20">
              <th>Name</th>
              <th>Address</th>
              <th>ZipCode</th>
            </tr>
          </thead>
          <tbody class="procpect-table-body">
            <tr *ngFor="let property of properties">
              <td>{{ property.centerName }}</td>
              <td>
                {{ property.centerAddress }}, {{ property.centerCity }},
                {{ property.centerState }}
              </td>
              <td>{{ property.zipCode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #uploadPDF let-modal>
  <div class="d-flex justify-content-between align-items-center view-act">
    <h4 class="mb-0">Upload PDF file</h4>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12 mr-1">
      <div style="width: 100%">
        <h1 class="modal-header mb-0" *ngIf="!fileName">
          Import PDF File
        </h1>
        <h1
          class="modal-header head mb-0"
          *ngIf="fileName"
          style="justify-content: start"
        >
          {{ fileName }} Uploaded!
        </h1>
      </div>
      <div class="col-md-12 p-0">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="uploadFile($event)"
          [dropZoneClassName]="'upload-background-image'"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            <b>
              <span class="text-dark drop-sty mx-2"> Drop File Here </span>
            </b>
            <button
              type="button"
              class="btn btn-success ml-2 secondary-color"
              (click)="openFileSelector()"
            >
              Browse Files
            </button>
          </ng-template>
        </ngx-file-drop>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeModal(modal)">
      Cancel
    </button>
  </div>
</ng-template>