.todo-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.todo-card .icon {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: content-box;
  padding: 0.5rem;
  background-color: var(--Colors-Assistant-1-100);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-card .title {
  font-weight: 600;
}

.todo-card .time {
  color: #707791;
}

.todo-card button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #4d65b4;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.todo-card button span {
  white-space: nowrap;
  color: #4d65b4;
}

/* Toast styles */
.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0  4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.custom-toast.show {
  opacity: 1;
  visibility: visible;
}

.toast-content {
  display: flex;
  align-items: center;
}

.toast-content p {
  margin: 0;
}
