.emails-container {
  margin-top: 20px;
}

.table {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #f8f9fa;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
}

.badge {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-outline-primary {
  font-size: 14px;
}
.pending {
  color: rgb(194, 52, 83);
}

.verified {
  color: green;
}
