::ng-deep .my-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
::ng-deep .sub-container {
  flex: 1;
  overflow: hidden;
}

.container-divider {
  width: 100%;
  color: #e2e4e9;
}

.dashboard-container {
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
}

.dashboard-sub-container {
  height: 100%;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  /* gap: 1.25%; */
  gap: 1.5%;
}

.dashboard-item-container {
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  /* width: 32.5%; */
  width: 49.25%;
}

/* .tenants-container,
.buyBoxes-container {
  max-height: 50vh;
} */

.kanban-button {
  border: none;
  background-color: #4d65b4;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  white-space: nowrap;
}

.emails-container,
.comments-container {
  max-height: 75vh;
}

.emails-container {
  height: 75vh;
}
.container-title {
  font-size: 1rem;
  font-weight: 500;
  color: #16181d;
}
.container-count {
  background-color: #edf0f8;
  color: #4d65b4;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.scrollable-container {
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollable-table{
  width: 100%;
  margin: 0 1rem;
overflow-y: auto;
overflow-x: auto;
scrollbar-width: none;
}

.email-card {
  width: 100%;
  background-color: #edf0f8;
  padding: 0.5rem 0.75rem;
  border-left: 3px solid #4d65b4;
  border-radius: 0.75rem;
}

.email-broker-image,
.email-organization-image,
.user-image,
.organization-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.email-broker-image img,
.email-organization-image img,
.user-image img,
.organization-image img {
  width: 24px;
  height: 24px;
}

.email-calender-label {
  color: #707791;
}

.title {
  color: #16181d;
  font-weight: 600;
}
.email-view {
  border: 1px solid #4d65b4;
  /* background-color: #4d65b4; */
  color: #4d65b4;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-reply {
  border: none;
  background-color: #4d65b4;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.submissions-container {
  gap: 0;
}
.submission-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
}
.submission-card-point {
  background-color: #4d65b4;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.comments-container {
  gap: 0;
  height: 75vh;
}
.comment-card {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment-sub-card {
  width: 100%;
  background-color: #edf0f8;
  padding: 0.5rem 0.75rem;

  border-left: 3px solid #4d65b4;
  border-right: 3px solid #4d65b4;
  border-radius: 0.75rem;
}

.comment-content {
  color: #707791;
  text-align: justify;
}

.table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #dee2e6;
  margin: 0;
}

.table thead th {
  border: 1px solid #dee2e6;
}

.table tbody td {
  border: 1px solid #dee2e6;
}

@media only screen and (max-width: 768px) {
  .dashboard-item-container {
    width: 100%;
  }
  .dashboard-sub-container {
    flex-direction: column;
  }
}
