<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="dashboard-container">
  <div class="dashboard-sub-container">
    <div class="col-12 col-lg-4 dashboard-item-container emails-container">
      <div class="d-flex align-items-center justify-content-between w-100">
        <span class="container-title">Received Emails</span>
        <div class="container-count">3 New</div>
      </div>
      <div class="email-card">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center gap-2">
            <div class="calender-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M6.6665 1.66675V4.16675"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.3335 1.66675V4.16675"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.9165 7.57495H17.0832"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17.5 7.08341V14.1667C17.5 16.6667 16.25 18.3334 13.3333 18.3334H6.66667C3.75 18.3334 2.5 16.6667 2.5 14.1667V7.08341C2.5 4.58341 3.75 2.91675 6.66667 2.91675H13.3333C16.25 2.91675 17.5 4.58341 17.5 7.08341Z"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 11.4167H13.0866"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 13.9167H13.0866"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99607 11.4167H10.0036"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99607 13.9167H10.0036"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91209 11.4167H6.91957"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91209 13.9167H6.91957"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <span class="email-calender-label">20 Nov, 2025 01:30PM</span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <div
              class="email-broker-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
            <div
              class="email-organization-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
          </div>
        </div>
        <hr class="container-divider" />
        <div class="d-flex align-items-center justify-content-between">
          <span class="title">Request to Sign Rental Contract</span>
          <button class="email-reply">Reply</button>
        </div>
      </div>
      <div class="email-card">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center gap-2">
            <div class="calender-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M6.6665 1.66675V4.16675"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.3335 1.66675V4.16675"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.9165 7.57495H17.0832"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17.5 7.08341V14.1667C17.5 16.6667 16.25 18.3334 13.3333 18.3334H6.66667C3.75 18.3334 2.5 16.6667 2.5 14.1667V7.08341C2.5 4.58341 3.75 2.91675 6.66667 2.91675H13.3333C16.25 2.91675 17.5 4.58341 17.5 7.08341Z"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 11.4167H13.0866"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 13.9167H13.0866"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99607 11.4167H10.0036"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99607 13.9167H10.0036"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91209 11.4167H6.91957"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91209 13.9167H6.91957"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <span class="email-calender-label">20 Nov, 2025 01:30PM</span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <div
              class="email-broker-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
            <div
              class="email-organization-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
          </div>
        </div>
        <hr class="container-divider" />
        <div class="d-flex align-items-center justify-content-between">
          <span class="title">Request to Sign Rental Contract</span>
          <button class="email-reply">Reply</button>
        </div>
      </div>
      <div class="email-card">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center gap-2">
            <div class="calender-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M6.6665 1.66675V4.16675"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.3335 1.66675V4.16675"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.9165 7.57495H17.0832"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17.5 7.08341V14.1667C17.5 16.6667 16.25 18.3334 13.3333 18.3334H6.66667C3.75 18.3334 2.5 16.6667 2.5 14.1667V7.08341C2.5 4.58341 3.75 2.91675 6.66667 2.91675H13.3333C16.25 2.91675 17.5 4.58341 17.5 7.08341Z"
                  stroke="#707791"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 11.4167H13.0866"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 13.9167H13.0866"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99607 11.4167H10.0036"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99607 13.9167H10.0036"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91209 11.4167H6.91957"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91209 13.9167H6.91957"
                  stroke="#707791"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <span class="email-calender-label">20 Nov, 2025 01:30PM</span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <div
              class="email-broker-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
            <div
              class="email-organization-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
          </div>
        </div>
        <hr class="container-divider" />
        <div class="d-flex align-items-center justify-content-between">
          <span class="title">Request to Sign Rental Contract</span>
          <button class="email-reply">Reply</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 dashboard-item-container submissions-container">
      <div class="d-flex align-items-center justify-content-between mb-3 w-100">
        <span class="container-title">Submissions</span>
        <div class="container-count">3 New</div>
      </div>
      <div class="submission-card">
        <div class="d-flex align-items-center gap-2">
          <div class="submission-card-point"></div>
          <span class="title">1234 Elm Street, Springfield, IL</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div
            class="email-broker-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
      </div>
      <hr class="container-divider" />
      <div class="submission-card">
        <div class="d-flex align-items-center gap-2">
          <div class="submission-card-point"></div>
          <span class="title">1234 Elm Street, Springfield, IL</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div
            class="email-broker-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
      </div>
      <hr class="container-divider" />
      <div class="submission-card">
        <div class="d-flex align-items-center gap-2">
          <div class="submission-card-point"></div>
          <span class="title">1234 Elm Street, Springfield, IL</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div
            class="email-broker-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
      </div>
      <hr class="container-divider" />
      <div class="submission-card">
        <div class="d-flex align-items-center gap-2">
          <div class="submission-card-point"></div>
          <span class="title">1234 Elm Street, Springfield, IL</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div
            class="email-broker-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
      </div>
      <hr class="container-divider" />
    </div>
    <div class="col-12 col-lg-4 dashboard-item-container comments-container">
      <div class="d-flex align-items-center justify-content-between mb-3 w-100">
        <span class="container-title">Comments</span>
        <div class="container-count">3 New</div>
      </div>
      <div class="comment-card">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center gap-2">
            <div
              class="email-organization-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
            <span>Sameh Seliem</span>
          </div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
        <div class="comment-sub-card">
          <div class="title mb-2">1234 Elm Street, Springfield, IL</div>
          <div class="comment-content">
            Amazing property in a prime location! Spacious, modern, and perfect
            for families or investors. Don't miss out!
          </div>
        </div>
      </div>
      <hr class="container-divider" />
      <div class="comment-card">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center gap-2">
            <div
              class="email-organization-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
            <span>Sameh Seliem</span>
          </div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
        <div class="comment-sub-card">
          <div class="title mb-2">1234 Elm Street, Springfield, IL</div>
          <div class="comment-content">
            Amazing property in a prime location! Spacious, modern, and perfect
            for families or investors. Don't miss out!
          </div>
        </div>
      </div>
      <hr class="container-divider" />
      <div class="comment-card">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center gap-2">
            <div
              class="email-organization-image"
              style="
                width: 24px;
                height: 24px;
                background-color: gray;
                border-radius: 50%;
              "
            ></div>
            <span>Sameh Seliem</span>
          </div>
          <div
            class="email-organization-image"
            style="
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            "
          ></div>
        </div>
        <div class="comment-sub-card">
          <div class="title mb-2">1234 Elm Street, Springfield, IL</div>
          <div class="comment-content">
            Amazing property in a prime location! Spacious, modern, and perfect
            for families or investors. Don't miss out!
          </div>
        </div>
      </div>
      <hr class="container-divider" />
    </div>
  </div>
</div>
