<nav class="navbars">
  <div class="navbar-line m-0">
    <div
      class="nav-right w-100"
      style="cursor: pointer; display: flex; justify-content: space-between"
    >
      <div>
        <img
          alt="logo"
          loading="lazy"
          [style.height.px]="
            logoUrl === '../../../assets/Images/oreilly.png' ? 80 : 40
          "
          [routerLink]="['/summary']"
          decoding="async"
          data-nimg="1"
          src="../../../assets/Images/logo.png"
        />
      </div>
    </div>
  </div>
</nav>