<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="allpage">
  <div class="overfloww allbackground">
    <div class="container">
      <div class="row">
        <div class="col-12" *ngIf="TenantResult && TenantResult.Buybox">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center">
              <div>
                <img
                  class="tenant-logo"
                  [src]="
                    'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
                    organizationid
                  "
                  alt="Tenant Logo"
                />
              </div>
              <div
                class="d-flex flex-column align-items-center justify-content-center gap-2"
              >
                <div>
                  <span class="buyboxname">
                    {{ TenantResult.Buybox[0].BuyBoxOrganization[0].Name }}
                  </span>
                </div>
              </div>
            </div>
            <div class="sharebtn">
              <img src="../../../../assets/Images/Icons/share.png" />
              <span>Share</span>
            </div>
          </div>
          <div class="divider dividertop">
            <div class="my-3">
              <span class="BuyboxSpecifications"> Buybox Specifications </span>
            </div>
                <div class="row">
                    <!-- Size Range -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].MinBuildingSize || TenantResult.Buybox[0].MaxBuildingSize">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/size.png" alt="Size" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Size needed</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].MinBuildingSize }} - {{ TenantResult.Buybox[0].MaxBuildingSize }} SF
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Ceiling Height -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].CeilingHeight">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/height.png" alt="Ceiling Height" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Ceiling Height</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].CeilingHeight }} ft
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Drive Thru -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].DriveThru !== undefined">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/drive-thru.png" alt="Drive Thru" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Drive Thru</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].DriveThru ? 'Required' : 'Not Required' }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Overnight Boarding -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].OvernightBoardingPermitted !== undefined">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/overnight.png" alt="Overnight Boarding" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Overnight Boarding</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].OvernightBoardingPermitted ? 'Permitted' : 'Not Permitted' }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Building Type -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].BuildingType">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/building.png" alt="Building Type" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Building Type</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].BuildingType }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Deal Structure -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].DealStructure">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/deal.png" alt="Deal Structure" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Deal Structure</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].DealStructure }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Lease Term -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].LeaseTerm">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/lease.png" alt="Lease Term" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Lease Term</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].LeaseTerm }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- NNN Charges -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].NNNCharges">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/charges.png" alt="NNN Charges" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">NNN Charges</div>
                          <div class="spec-value">
                            ${{ TenantResult.Buybox[0].NNNCharges | number }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- TI Allowance -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].TIAllowance">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/allowance.png" alt="TI Allowance" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">TI Allowance</div>
                          <div class="spec-value">
                            ${{ TenantResult.Buybox[0].TIAllowance | number }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Parking Spaces -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].ParkingSpaces">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/parking.png" alt="Parking Spaces" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Parking Spaces</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].ParkingSpaces }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Base Rent -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].BaseRent">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/rent.png" alt="Base Rent" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Base Rent</div>
                          <div class="spec-value">
                            ${{ TenantResult.Buybox[0].BaseRent | number }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Building Square Footage -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].BuildingSquareFootage">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/square-footage.png" alt="Building Square Footage" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Building Square Footage</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].BuildingSquareFootage }} SF
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Flood Zone -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].FloodZone">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/flood.png" alt="Flood Zone" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Flood Zone</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].FloodZone }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Frontage Length -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].FrontageLength">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/frontage.png" alt="Frontage Length" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Frontage Length</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].FrontageLength }} ft
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Historic District -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].HistoricDistrict">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/historic.png" alt="Historic District" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Historic District</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].HistoricDistrict }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Lot Size -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].LotSize">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/lot-size.png" alt="Lot Size" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Lot Size</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].LotSize }} acres
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Property Condition -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].PropertyCondition">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/condition.png" alt="Property Condition" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Property Condition</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].PropertyCondition }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Purchase Price -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].PurchasePrice">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/price.png" alt="Purchase Price" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Purchase Price</div>
                          <div class="spec-value">
                            ${{ TenantResult.Buybox[0].PurchasePrice | number }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Restrictions -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].Restrictions">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/restrictions.png" alt="Restrictions" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Restrictions</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].Restrictions }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Service Access -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].ServiceAccess">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/access.png" alt="Service Access" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Service Access</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].ServiceAccess }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Traffic Direction -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].TrafficDrection">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/traffic.png" alt="Traffic Direction" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Traffic Direction</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].TrafficDrection }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Vehicles Per Day -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].VehiclePerDay">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/vehicles.png" alt="Vehicles Per Day" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Vehicles Per Day</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].VehiclePerDay }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Zoning -->
                    <div class="col-md-4 mb-3" *ngIf="TenantResult.Buybox[0].Zoning">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/zoning.png" alt="Zoning" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Zoning</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].Zoning }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Other Comments -->
                    <div class="col-12 mb-3" *ngIf="TenantResult.Buybox[0].OtherComments">
                      <div class="spec-item">
                        <div class="spec-icon">
                          <img src="../../../assets/Images/SVG/comments.png" alt="Other Comments" />
                        </div>
                        <div class="spec-content">
                          <div class="spec-title">Other Comments</div>
                          <div class="spec-value">
                            {{ TenantResult.Buybox[0].OtherComments }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
        </div>
      </div>

      <div class="divider dividertop">
        <div class="row mtopp">
          <div class="col-12">
            <div class="outer-frame">
              <div
                class="inner-frame d-flex flex-column align-items-center justify-content-center"
              >
                <div>
                  <img
                    src="../../../../assets/Images/Icons/information.png"
                    alt="Upload Icon"
                  />
                </div>
                <div>
                  <span class="upload-text"
                    >Just upload your <strong>Proposal</strong> file, and we’ll
                    handle the rest!</span
                  >
                </div>
                <div>
                  <span class="upload-text">PDF, DOCX, XLSX, PPTX</span>
                </div>
              </div>
              <div
                class="d-flex flex-column gap-4 align-items-center justify-content-center"
              >
                <div>
                  <img
                    src="../../../../assets/Images/Icons/UploadIcon.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <span class="uploadspan"
                  >Upload or drag and drop your file here.</span
                >
              </div>
              <ngx-file-drop
                class="dropzonee hidden-dropzone"
                dropZoneLabel="Drop files here"
                (onFileDrop)="uploadFile($event)"
                [dropZoneClassName]="'upload-background-image'"
              >
                <ng-template
                  ngx-file-drop-content-tmp
                  let-openFileSelector="openFileSelector"
                >
                  <div
                    class="upload-container cursor"
                    (click)="openFileSelector()"
                  >
                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      <div class="uploadbtn cursor">
                        <img
                          src="../../../../assets/Images/Icons/choosefile.png"
                        />
                        <span>Choose File</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-file-drop>
              <!-- File name and progress bar section -->
              <div class="filenameouterframe" *ngIf="fileName">
                <div class="filenameinnerframe">
                  <div
                    class="d-flex align-items-center justify-content-between uploaded-file-container"
                  >
                    <div class="filename">{{ fileName }}</div>
                    <button class="clear-button" (click)="clearModalData()">
                      Clear
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Progress Bar -->
          <div
            *ngIf="isUploading && !isSubmitting"
            class="mt-2 uploadingpadding"
          >
            <div class="progress w-100">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                [style.width]="uploadProgress + '%'"
                [attr.aria-valuenow]="uploadProgress"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ uploadProgress }}%
              </div>
            </div>
            <p class="text-center mt-3">Uploading...</p>
          </div>

          <!-- Conversion Status -->
          <div *ngIf="isConverting && !isSubmitting" class="mt-3">
            <div class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <ng-template #uploadPDF let-modal>
            <!-- Display Images Section -->
            <div
              *ngIf="images.length > 0 && !isSubmitting"
              class="extractedimagespadding"
            >
              <h4 class="my-prop">Converted Pdf to Extracted Images</h4>
              <div class="row">
                <div *ngFor="let image of images" class="col-md-4 mb-3">
                  <div class="card">
                    <div class="form-check m-2 mb-0">
                      <input
                        type="checkbox"
                        class="form-check-input input-sty"
                        style="border: 2px solid #cbcbcb"
                        [(ngModel)]="image.selected"
                        id="checkbox-{{ image.name }}"
                      />
                      <label
                        class="form-check-label"
                        for="checkbox-{{ image.name }}"
                      >
                      </label>
                    </div>
                    <img
                      [src]="displayCustomImage(image)"
                      [alt]="image.name"
                      class="img-fluid gpt-image"
                    />
                    <div class="card-body">
                      <p class="text-center mt-2">{{ image.name }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Display JsonPDF Data Section -->
            <div *ngIf="JsonPDF" class="mt-3 shopping-center-container">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                  <!-- Center Information Card -->
                  <div class="card shadow-sm mb-4">
                    <div class="card-header text-white text-center background">
                      <h4 class="mb-0 text-dark">
                        Shopping Center Information
                      </h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <dl class="row mb-0">
                            <ng-container *ngIf="JsonPDF.CenterName">
                              <dt class="col-sm-4">Center Name:</dt>
                              <dd class="col-sm-8">{{ JsonPDF.CenterName }}</dd>
                            </ng-container>
                            <ng-container *ngIf="JsonPDF.CenterType">
                              <dt class="col-sm-4">Center Type:</dt>
                              <dd class="col-sm-8">{{ JsonPDF.CenterType }}</dd>
                            </ng-container>
                            <ng-container *ngIf="JsonPDF.CenterAddress">
                              <dt class="col-sm-4">Address:</dt>
                              <dd class="col-sm-8">
                                {{ JsonPDF.CenterAddress }}
                              </dd>
                            </ng-container>
                            <ng-container *ngIf="JsonPDF.CenterCity">
                              <dt class="col-sm-4">City:</dt>
                              <dd class="col-sm-8">{{ JsonPDF.CenterCity }}</dd>
                            </ng-container>
                            <ng-container *ngIf="JsonPDF.CenterState">
                              <dt class="col-sm-4">State:</dt>
                              <dd class="col-sm-8">
                                {{ JsonPDF.CenterState }}
                              </dd>
                            </ng-container>
                            <ng-container
                              *ngIf="JsonPDF.TotalAvailableSpace_SF"
                            >
                              <dt class="col-sm-4">Available Space:</dt>
                              <dd class="col-sm-8">
                                {{ JsonPDF.TotalAvailableSpace_SF }}
                                <strong>SF</strong>
                              </dd>
                            </ng-container>
                            <ng-container *ngIf="JsonPDF.percentage">
                              <dt class="col-sm-4">Percentage:</dt>
                              <dd class="col-sm-8">
                                {{ JsonPDF.percentage }}%
                              </dd>
                            </ng-container>
                            <ng-container *ngIf="JsonPDF.reason">
                              <dt class="col-sm-4">Reason:</dt>
                              <dd class="col-sm-8">
                                <div [ngClass]="{ truncate: !showFullReason }">
                                  {{ JsonPDF.reason }}
                                </div>
                                <span
                                  (click)="toggleReason()"
                                  class="toggle-link"
                                >
                                  {{
                                    showFullReason ? "View Less" : "View More"
                                  }}
                                </span>
                              </dd>
                            </ng-container>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Availability and Tenants Section -->
                  <div class="row g-4">
                    <!-- Availability Card -->
                    <div
                      class="col-md-6"
                      *ngIf="JsonPDF.Availability.length > 0"
                    >
                      <div class="card shadow-sm h-100">
                        <div class="card-header text-white blackbackground">
                          <h5 class="mb-0 d-flex justify-content-center">
                            Availability
                          </h5>
                        </div>
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li
                              *ngFor="let avail of JsonPDF.Availability"
                              class="list-group-item border-0 px-0"
                            >
                              <div class="form-check">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  [(ngModel)]="avail.isAdded"
                                  id="availCheckbox-{{ avail.id }}"
                                />
                                <label
                                  class="form-check-label"
                                  for="availCheckbox-{{ avail.id }}"
                                >
                                  <strong>Building Size:</strong>
                                  {{ avail.BuildingSizeSf }} SF
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <!-- Tenants Card -->
                    <div class="col-md-6">
                      <div class="card shadow-sm h-100">
                        <div class="card-header text-white blackbg">
                          <h5 class="mb-0 d-flex justify-content-center">
                            Tenants
                          </h5>
                        </div>
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li
                              *ngFor="let tenant of JsonPDF.Tenants"
                              class="list-group-item border-0 px-0"
                            >
                              <div class="form-check">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  [(ngModel)]="tenant.isAdded"
                                  id="tenantCheckbox-{{ tenant.id }}"
                                />
                                <label
                                  class="form-check-label"
                                  for="tenantCheckbox-{{ tenant.id }}"
                                >
                                  {{ tenant.Name }}
                                  <a
                                    *ngIf="tenant.OrgUrl"
                                    [href]="tenant.OrgUrl"
                                    target="_blank"
                                    class="tenant-link"
                                  >
                                    (Website)
                                  </a>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!returnsubmit" class="marginleft">
              <div class="col-4">
                <button
                  class="submit-button"
                  (click)="sendImagesArray()"
                  [disabled]="!isFileUploaded"
                  [ngClass]="{ 'submit-button-enabled': isFileUploaded }"
                >
                  Submit
                </button>
              </div>
            </div>

            <div></div>
            <div class="modal-footer">
              <!-- Send Selected Images Button -->
              <div
                class="col-12 d-flex align-items-center justify-content-end paddingsubmitpdf"
              >
                <button
                  class="submitpdfbutton"
                  *ngIf="JsonPDF"
                  (click)="sendJson()"
                >
                  Submit PDF Data
                </button>
              </div>
            </div>
          </ng-template>
          <div id="customToast" class="custom-toast">
            <div class="toast-content">
              <p id="toastMessage"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
