.overfloww {
  overflow-x: hidden;
  padding: 20px 20px;
}
.background {
  background: var(--Body-Page-BG, #f2f3f4);
  width: 100% !important;
}
.boldtext {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  align-self: flex-start;
  text-align: left;
}
.brokertext {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.custom-hr {
  border: 0;
  height: 1px;
  background: var(--Body-General-Body-Border, #caced3);
  margin: 20px 0;
}
.Osmowstext {
  color: var(--Body-Body-Color-Text-Icons, #7a8591);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.cardbackground {
  border-radius: var(--Radius-Radius-12, 12px);
  box-shadow: -1px 3px 17px 0px rgba(0, 0, 0, 0.1);
}
.custom-card {
  border-radius: var(--Card-Section-Lg-Radius, 20px);
  display: flex;
  padding: var(--Card-Section-Lg-Padding-All-Sides, 26px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-Space-24, 16px);
}
.map-container {
  position: relative;
  background-image: url("../../../../assets/Images/TenantMap.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100% !important;
  height: 720px;
  padding: var(--Card-Section-Lg-Padding-All-Sides, 32px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-Space-12, 12px);
  flex-shrink: 0;
}

.content-right {
  position: absolute;
  top: 45px;
  right: 75px;
}
.namee {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.frameee {
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Card-Section-BG, #fff);
  width: -moz-fit-content;
  width: fit-content;
}
.broker {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.07px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkedin {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  transition: color 0.3s, text-decoration 0.3s;
}
.linkedin:hover {
  color: #7a8591;
  text-decoration: underline;
}
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.line {
  width: 110.5px;
  height: 1px;
  background-color: #ffffff;
}
.assistant {
  color: #fff;
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.smalllframe {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: var(--Radius-Radius-24, 24px);
  border: 1px solid var(--Body-General-Body-Border, #caced3);
  background: var(--Card-Section-BG, #fff);
  margin-right: 8px;
}
.small-image {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.lowwhite {
  color: var(--Colors-Pure-White, #FFF);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}
.brokerframeee {
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--Radius-Radius-16, 16px);
  border: 1px solid #007bff;
  background: var(--Card-Section-BG, #fff);
  width: -moz-fit-content;
  width: fit-content;
}
.nameincard {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.broker-container {
  border-radius: 40px 4px;
  position: absolute;
  top: -80px;
  left: 40px;
  width: 100%;
  height: auto;
}
.imagebroker {
  width: 100%;
  height: auto;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-radius: 40px 4px;
  border: 8px solid #accbed;
}
.customm-hr {
  border: 0.6;
  height: 1px;
  background: var(--Body-General-Body-Border, #caced3);
  margin: 10px 0;
  width: 100%;
}
.grayspan {
  color: var(--Body-Body-Color-Text-Icons, #7a8591);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.brokerandmangeorgimage {
  border-radius: 40px 4px;
  width: 120px;
  height: 120px;
}
.imagebroker {
  width: 350px;
  height: 350px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.imagebroker::before,
.imagebroker::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
}

.imagebroker::before {
  top: 0;
  left: 0;
  border-top-left-radius: 15px;
}

.imagebroker::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 15px;
}
.tenant-logo {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  border-radius: 120px;
  border: 4px solid var(--Body-Page-BG, #f2f3f4);
  margin-right: 15px;
}
.btn-share {
  display: flex;
  height: 40px;
  padding: var(--Button-Padding-top-bottom, 20px)
    var(--Button-Padding-left-right, 21px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  border: 1px solid transparent;
  background: var(--Button-Secondary-BG, #fff);
}

.btn-share span {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.btn-submit-proposel {
  display: flex;
  height: 48px;
  padding: var(--Button-Padding-top-bottom, 12px)
    var(--Button-Padding-left-right, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  border: 1px solid transparent;
}
.btn-submit-proposel span {
  color: var(--Button-Primary-Label, #fff);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.btn-submit {
  display: flex;
  height: 40px;
  padding: var(--Button-Padding-top-bottom, 20px)
    var(--Button-Padding-left-right, 21px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  background: var(--Colors-Primary-900, #00060d);
  border: 1px solid transparent;
}
.btn-submit span {
  color: var(--Button-Primary-Label, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.row-background {
  height: 20vh;
  background-image: url("../../../../assets/Images/GreyImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.colorr {
  min-height: 150px;
  border-radius: 20px;
  position: relative;
}
.organization-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.ml-3 {
  margin-left: 10px;
}
.broker-containerrrr {
  position: relative;
}
.fast-food-badge {
  border-radius: var(--Radius-Radius-20, 20px);
  background: var(--Colors-Primary-100, #dbe0f0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--Space-Space-4, 4px) var(--Space-Space-12, 12px);
  color: var(--Colors-Primary-600, #3e5190);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.buyboxname {
  color: var(--Colors-Pure-White, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  white-space: nowrap;
}
.imgshare {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.space {
  margin-top: 20px;
  padding: 0px 20px;
}
.submitproposell {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.dropzonee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filename {
  color: var(--Body-Text-and-Icons, #707791);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.uploaded-file-container {
  padding: 5px 5px !important;
  border-radius: 4px;
  margin-top: 8px;
}
.convertimages {
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #323849;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.clear-button {
  background: none;
  border: none;
  padding: 0;
  color: var(--Colors-Primary-500, #4d65b4);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.uploadingpadding{
  padding: 0px 20px;
}
.inner-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background: #edf0f8;
}

.outer-frame {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #e2e4e9;
  background: #fff;
  width: 100%;
}

.filenameouterframe{
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #e2e4e9;
  background: #fff;
  width: 100%;
}
.filenameinnerframe {
  padding: 5px 5px;
  gap: 8px;
  width: 100%;
  border-radius: 4px;
  background: #edf0f8;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.upload-img {
  width: 280px;
  height: auto;
}

.upload-text {
  font-size: 17px;
  color: #7c7c7c;
  text-align: center;
}
.modal-footer {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.cursor {
  cursor: pointer;
}
.cancel-button {
  display: flex;
  height: 48px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid #4d65b4;
  background: #fff;
  color: #4d65b4;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

/* Default submit button style */
.submit-button {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 16px;
  background: #4d65b4; /* Default background color */
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 100%;
}

.submit-button:disabled {
  border-radius: var(--Radius-Radius-16, 16px); 
  opacity: 0.5; 
  background: var(--Button-Primary-BG, #4D65B4); 
  cursor: not-allowed; 
}

.submit-button:not(:disabled):hover {
  background: #4055a8; 
}

.submit-button:hover {
  background: #4055a8;
}
.submitpdfbutton{
  display: flex;
  height: 48px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #4d65b4;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.cancel-button:hover {
  background: #f0f3ff;
}


.paddingsubmitpdf{
  padding-right: 20px;
}
.cardcampaings {
  border-radius: var(--Card-Section-Radius, 20px);
  background: var(--Card-Section-BG, #FFF);
  display: flex;
  padding: var(--Space-Space-20, 20px);
  flex-direction: column;
  gap: var(--Space-Space-20, 20px);
}
.SumbitProp{
color: var(--Body-Heading-Color, #16181D);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;line-height: 32px; 
}
.uploadyourfile{
color: var(--Body-Text-and-Icons, #707791);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
margin-top: 15px;
}
.colpadding{
  padding: 20px 20px;
}
.lineheight{
  line-height:30px;
}
.whitebackground {
  padding: 15px 5px;
  background: var(--Colors-Pure-White, #FFF);
}
.campaings{
color: var(--Body-Heading-Color, #16181D);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
}
.campaignname{
color: var(--Body-Text-and-Icons, #707791);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}
/* Button Styles */
.showpolygonsbutton {
  border-radius: var(--Radius-Radius-16, 16px);  /* Customizable border radius */
  background: var(--Button-Primary-BG, #4D65B4);  /* Customizable background */
  display: flex;
  height: 32px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
}

.showpolygonsbutton span {
  color: var(--Button-Primary-Label, #FFF);  
  text-align: center;
  
  font-family: Montserrat, sans-serif; 
  font-size: 16px;  
  font-style: normal;
  font-weight: 500; 
  line-height: 30px;  
}
.divider {
  border: none;
  border-top: 1px solid #cfc9c9;
  margin-top: 0px;
}
@media (max-width: 576px) {
  .cardcampaings {
    margin-top: 15px;
}
  .content-right {
    position: absolute;
    top: 12px;
    right: 6px;
  }
  .tenant-logo {
    width: 60px;
    height: 60px;
  }
  .buyboxname {
    font-size: 22px;
  }
  .grayspan {
    font-size: 14px;
  }
  .organization-image {
    width: 60px;
    height: 60px;
  }
  .broker-container {
    top: -50px;
    left: -13px;
  }
  .frameeeeeee {
    top: 12px;
    right: -19px;
    padding: 0px 2px;
  }
  .brokerrrr {
    font-size: 9px;
  }
  .imagebroker {
    width: 130px;
    height: 140px;
  }
  .brokertext {
    font-size: 14px;
    line-height: 25px;
  }
  .nameincard {
    font-size: 18px;
  }
  .btn-submit-proposel span {
    font-size: 11px;
  }
  .smalllframe {
    width: 30px;
    height: 30px;
    padding: 12px;
    margin-right: 8px;
  }
  .lowwhite {
    font-size: 12px;
  }
  .small-image {
    width: 15px;
    height: 15px;
  }
  .boldtext {
    font-size: 13px;
  }
  .container {
    max-width: 95% !important;
  }
  .buyboxpos {
    height: 58px;
    top: 30%;
    left: 0px;
  }
  .imgshare {
    font-size: 12px;
  }
  .btn-share {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 12px);
  }
  .btn-submit {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 11px);
  }
  .btn-submit span {
    font-size: 11px;
  }
  .btn-share span {
    font-size: 11px;
  }
  .brokerandmangeorgimage {
    width: 110px;
    height: 110px;
  }
  .namee {
    font-size: 14px;
  }
  .broker {
    font-size: 12px;
  }
  .linkedin {
    font-size: 14px;
  }
  .proposal-button {
    padding: var(--Button-Padding-top-bottom, 8px)
      var(--Button-Padding-left-right, 3px);
    gap: var(--Button-Gap, 8px);
    font-size: 10px;
  }
  .frame {
    padding: var(--Space-Space-4, 0px) var(--Space-Space-12, 3px);
  }
  .dot {
    font-weight: bold;
    margin-right: 0px;
    font-size: 17px;
  }
  .text {
    font-size: 10px;
  }
  .Osmowstext {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .cardcampaings {
    margin-top: 20px;
}
  .content-right {
    position: absolute;
    top: 12px;
    right: 6px;
  }
  .map-container {
    height: 720px;
    gap: var(--Space-Space-12, 12px);
  }
  .tenant-logo {
    width: 60px;
    height: 60px;
  }
  .buyboxname {
    font-size: 22px;
  }
  .organization-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .imagebroker {
    width: 180px;
    height: 180px;
  }
  .broker-container {
    top: -75px;
    left: 0px;
  }
  .grayspan {
    font-size: 15px;
  }
  .brokertext {
    font-size: 15px;
    line-height: 30px;
  }
  .nameincard {
    font-size: 20px;
  }
  .lowwhite {
    font-size: 12px;
  }
  .btn-submit-proposel span {
    font-size: 13px;
  }
  .btn-submit-proposel {
    padding: var(--Button-Padding-top-bottom, 12px)
      var(--Button-Padding-left-right, 15px);
  }
  .brokerandmangeorgimage {
    width: 140px;
    height: 140px;
  }
  .namee {
    font-size: 17px;
  }
  .broker {
    font-size: 14px;
  }
  .linkedin {
    font-size: 16px;
  }
  .brokerandmangeorgimage {
    width: 160px;
    height: 150px;
  }
  .container {
    max-width: 95% !important;
  }
  .buyboxpos {
    height: 60px;
    top: 34%;
    left: -16px;
  }
  .imgshare {
    font-size: 14px;
  }
  .btn-share {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 17px);
  }
  .btn-submit {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 17px);
  }
  .btn-submit span {
    font-size: 13px;
  }
  .btn-share span {
    font-size: 13px;
  }

  .proposal-button {
    padding: var(--Button-Padding-top-bottom, 9px)
      var(--Button-Padding-left-right, 15px);
    font-size: 13px;
  }
  .boldtext {
    font-size: 15px;
  }
  .frame {
    display: flex;
    padding: var(--Space-Space-4, 1px) var(--Space-Space-12, 7px);
    justify-content: center;
    align-items: center;
    gap: var(--Space-Space-4, 4px);
    border-radius: var(--Radius-Radius-16, 16px);
    background: var(--Status-Info-BG, #ccd2d9);
  }
  .dot {
    font-weight: bold;
    margin-right: 4px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .cardcampaings {
    margin-top: 0px;
}
  .content-right{
    position: absolute;
    top: 27px;
    right: 10px;
}
  .tenant-logo {
    width: 80px;
    height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 120px;
    border: 4px solid var(--Body-Page-BG, #f2f3f4);
    margin-right: 15px;
  }
  .boldtext {
    font-size: 16px;
  }
  .broker-container {
    top: -75px;
    left: -9px;
  }
  .imagebroker {
    width: 190px;
    height: 200px;
  }
  .brokertext {
    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .brokerandmangeorgimage {
    width: 90px;
    height: 90px;
  }
  .Osmowstext {
    font-size: 16px;
  }
  .namee {
    font-size: 15px;
  }
  .frameee {
    padding: 4px 7px;
  }
  .broker {
    font-size: 11px;
  }
  .linkedin {
    font-size: 13px;
  }
  .container {
    max-width: 95% !important;
  }
  .buyboxpos {
    height: 60px;
    top: 28%;
    left: -10px;
  }
  .imgshare {
    font-size: 15px;
  }
  .btn-share {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 19px);
  }
  .btn-submit {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 19px);
  }
  .btn-submit span {
    font-size: 15px;
  }
  .btn-share span {
    font-size: 15px;
  }
  .linkedin {
    font-size: 14px;
  }
  .lowwhite {
    font-size: 15px;
  }
  .btn-submit-proposel span {
    font-size: 16px;
  }
  .btn-submit-proposel {
    padding: var(--Button-Padding-top-bottom, 12px)
      var(--Button-Padding-left-right, 24px);
  }
}

@media (min-width: 992px) {
  .content-right {
    position: absolute;
    top: 45px;
    right: 75px;
  }
  .tenant-logo {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    margin-right: 15px;
  }
  .namee {
    font-size: 16px;
  }
  .broker {
    font-size: 12px;
  }
  .Osmowstext {
    font-size: 16px;
  }
  .boldtext {
    font-size: 16px;
  }
  .brokerandmangeorgimage {
    width: 100px;
    height: 110px;
  }
  .imagebroker {
    width: 301px;
    height: 310px;
  }
  .container {
    max-width: 95% !important;
  }
  .broker-container {
    top: -75px;
    left: 5px;
  }
  .lowwhite {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .namee {
    font-size: 17px;
  }
  .Osmowstext {
    font-size: 17px;
  }
  .broker-container {
    top: -80px;
    left: 15px;
  }
  .broker {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.07px;
  }
  .brokerandmangeorgimage {
    width: 120px;
    height: 120px;
  }
  .imagebroker {
    width: 300px;
    height: 300px;
  }
}
