.contact-broker-container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.contact-broker-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-broker-header .center-name {
  font-size: x-large;
  font-weight: 600;
}

.contact-broker-header .close-icon {
  cursor: pointer;
}

.contact-broker-header .close-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #5a5f74;
}

.contact-broker-stepper {
  width: 100%;
}

.contact-broker-stepper ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-broker-stepper ul li {
  width: 100%;
  height: 0.5rem;
  border-radius: 2rem;
  background-color: #dbe0f0;
}

.contact-broker-stepper ul .active-step {
  background-color: #4d65b4;
}

.contact-broker-step {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.contact-broker-step .step-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-broker-step .step-header .step-number-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d65b4;
  color: #fff;
}

.contact-broker-step .step-header .step-title {
  font-size: large;
  font-weight: 600;
}

.contact-broker-step .step-content {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
