<nav class="navbar navbar-expand-lg d-flex align-items-center w-100">
  <!-- Left Section (Logo) -->
  <div class="d-flex align-items-center">
    <img
      alt="logo"
      class="cherry-logo"
      [routerLink]="['/summary']"
      decoding="async"
      src="../../../assets/Images/logo.png"
    />
  </div>

  <!-- Right Section (Burger Button) -->
  <button class="navbar-toggler ms-auto" type="button" (click)="toggleNavbar()">
    <i class="fa-solid fa-bars nav-icon"></i>
  </button>

  <!-- Collapsible Navbar Content -->
  <div
    class="collapse navbar-collapse text-center"
    [ngClass]="{ show: isNavbarOpen }"
    id="navbarNav"
  >
    <ul class="navbar-nav mx-auto gap-3">
      <li class="nav-item">
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="active-route"
          class="nav-link"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/Kanban']"
          routerLinkActive="active-route"
          class="nav-link"
          >Kanban</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/summary']"
          routerLinkActive="active-route"
          class="nav-link"
          >Tenants</a
        >
      </li>
      <!-- <li class="nav-item" (click)="BackTo()">
        <div class="nav-link">Tenants</div>
      </li> -->
      <li class="nav-item">
        <a
          [routerLink]="['/manage-properties']"
          routerLinkActive="active-route"
          class="nav-link"
          >Properties</a
        >
      </li>
    </ul>

    <!-- Action Icons -->
    <div class="d-flex align-items-center justify-content-center">
      <!-- <i class="fa-regular fa-envelope action-icon position-relative mx-2">
        <span class="badge">{{ emails.length }}</span>
      </i>
      <i class="fa-regular fa-bell action-icon position-relative mx-2">
        <span class="badge">{{ notifications.length }}</span>
      </i> -->

      <app-notifications></app-notifications>
      <i
        class="fa-solid fa-arrow-right-from-bracket action-icon position-relative mx-2"
        (click)="logout()"
      ></i>

      <!-- <button
        class="CherryPick__button ms-4"
        (click)="logout()"
        style="text-transform: uppercase; font-weight: 700; letter-spacing: 1px"
      >
        Logout
      </button> -->
    </div>
  </div>
</nav>
