<div class="tenant-card">
  <div class="d-flex align-items-center gap-3">
    <img
      class="tenant-card-img"
      [src]="
        'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
        tenant.id
      "
      (error)="onImageError($event)"
    />
    <div
      class="d-flex flex-column align-items-start justify-content-center gap-2"
    >
      <div class="active">
        <div class="dot"></div>
        <p class="text">Active</p>
      </div>
      <div class="tenant-card-title">
        {{ tenant.name }}
      </div>
      <div
        class="d-flex align-items-center gap-1"
        style="cursor: pointer"
        (click)="openOffcanvas(offcanvasContent)"
      >
        <ng-container
          *ngIf="
            tenant.Campaigns && tenant.Campaigns.length > 0;
            else showSendButton
          "
        >
          <span class="campaigns-count">{{ tenant.Campaigns.length }}</span>
          <span class="campaign-label">Campaigns</span>
          <img src="../../../assets/Images/Icons/info.png" alt="Info Icon" />
        </ng-container>
        <ng-template #showSendButton>
          <a
            class="add-campaign"
            (click)="openCampaignModal(campaignModal)"
          >
            Add Campaign
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #offcanvasContent let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="d-flex align-items-center gap-3 m-0" ngbAutofocus>
      <img
        class="tenant-offcanvas-img"
        src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
          tenant.id
        }}"
        [alt]="tenant.name + 'logo'"
      />
      <div class="tenant-card-title">
        {{ tenant.name }}
      </div>
    </h5>
  </div>
  <div class="offcanvas-body">
    <hr />
    <button
      class="offcanvas-addcampaign"
      (click)="openCampaignModal(campaignModal);"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M6 12H18M12 18V6"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span>Add Campaign</span>
    </button>
    <div class="offcanvas-background">
      <ng-container *ngFor="let campaign of tenant.Campaigns">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex flex-column justify-content-center gap-1">
            <div class="private">
              <div class="privatedot"></div>
              <p class="privatetext">Public</p>
            </div>
            <div class="firsttradelist">
              <span>{{ campaign.CampaignName }}</span>
            </div>
            <div class="graytext">
              <span>{{ campaign.CreatedDate | date }}</span>
            </div>
          </div>
        </div>
        <div class="customline"></div>
        <div class="d-flex align-items-center justify-content-between">
          <div class="graytext">
            <span>Sites</span>
          </div>
          <div class="blackbold">
            <!-- <span>{{ campaign.Sites }}</span> -->
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <div class="graytext">
            <span>Mail Sent</span>
          </div>
          <div class="blackbold">
            <!-- <span>{{ campaign.MailsSent }}</span> -->
          </div>
        </div>
        <div class="CampaignWorkfow">
          <span>Campaign Workflow</span>
        </div>
        <!-- <ng-container
                  *ngFor="let stage of campaign.Kanban; let first = first"
                >
                  <div *ngIf="!first" class="smallline"></div>
                  <div class="d-flex flex-column">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div class="graytext">
                        <span>{{ stage.stageName }}</span>
                      </div>
                      <div class="blackbold">
                        <span>{{
                          stage.MarketSurveyShoppingCenters.length || 0
                        }}</span>
                      </div>
                    </div>
                  </div>
                </ng-container> -->
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #campaignModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title" ngbAutofocus>
      Launch Your Campaign
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #campaignForm="ngForm">
      <div class="mb-3">
        <label
          for="minSizeInput"
          class="form-label d-flex align-items-center gap-2"
        >
          Min Size (sf) *
          <span
            class="text-danger name-isrequired"
            *ngIf="minSizeInput.invalid && minSizeInput.touched"
          >
            required
          </span>
        </label>

        <input
          type="number"
          id="minSizeInput"
          class="form-control"
          name="minSizeInput"
          required
          min="100"
          max="100000"
          step="50"
          [(ngModel)]="campaignMinSize"
          #minSizeInput="ngModel"
          [ngClass]="{
            'is-invalid': minSizeInput.invalid && minSizeInput.touched
          }"
        />

        <input
          type="range"
          id="customRange3"
          class="form-range"
          name="minSizeRange"
          min="100"
          max="100000"
          step="50"
          [(ngModel)]="campaignMinSize"
        />
      </div>

      <div class="mb-3">
        <label
          for="maxSizeInput"
          class="form-label d-flex align-items-center gap-2"
        >
          Max Size (sf) *
          <span
            class="text-danger name-isrequired"
            *ngIf="maxSizeInput.invalid && maxSizeInput.touched"
          >
            required
          </span>
        </label>

        <input
          type="number"
          id="maxSizeInput"
          class="form-control"
          name="maxSizeInput"
          required
          min="100"
          max="100000"
          step="50"
          [(ngModel)]="campaignMaxSize"
          #maxSizeInput="ngModel"
          [ngClass]="{
            'is-invalid': maxSizeInput.invalid && maxSizeInput.touched
          }"
        />

        <input
          type="range"
          id="customRange4"
          class="form-range"
          name="maxSizeRange"
          min="100"
          max="100000"
          step="50"
          [(ngModel)]="campaignMaxSize"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="x-btn x-btn-outline"
      (click)="modal.close('Save click')"
    >
      <span>Cancel</span>
    </button>

    <button
      class="x-btn x-btn-primary"
      [disabled]="campaignForm.invalid"
      (click)="navigateToCampaign()"
    >
      <span>Get Start</span>
    </button>
  </div>
</ng-template>
