hr {
  border-color: #ced1d6;
}
.tenant-card {
  display: flex;
  padding: var(--Space-S-20);
  align-items: center;
  gap: var(--Space-S-16);
  border-radius: var(--Radius-R-20);
  background: var(--Colors-Card-Background);
  backdrop-filter: blur(100px);

  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
.tenant-card-img {
  width: 6.5rem;
  border-radius: 0.75rem;
}
.tenant-offcanvas-img {
  height: 4rem;
  width: auto;
  border-radius: 0.75rem;
}
.campaigns-count {
  color: #16181d;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.campaign-label {
  color: #707791;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.07px;
}
.add-campaign {
  text-decoration: underline;
  color: var(--Colors-Primary-500);
  font-size: 0.85rem;
  cursor: pointer;
}
.tenant-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}
.active {
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: center;
  width: fit-content;
  gap: 0.25rem;
  border-radius: 1rem;
  background: var(--Colors-Positive-100);
}
.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #28a745;
  border-radius: 50%;
}
.text {
  color: #28a745;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.campaign-privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
.campaign-privacy span {
  font-size: 0.95rem;
}
.campaign-privacy-icon {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
}
.campaign-privacy-public {
  background-color: var(--Colors-Positive-100);
}
.campaign-privacy-public .campaign-privacy-icon {
  background-color: var(--Colors-Positive-600);
}
.campaign-privacy-public span {
  color: var(--Colors-Positive-600);
}
.campaign-privacy-private {
  background-color: var(--Colors-Negative-100);
}
.campaign-privacy-private .campaign-privacy-icon {
  background-color: var(--Colors-Negative-600);
}
.campaign-privacy-private span {
  color: var(--Colors-Negative-600);
}
.campaign-card {
  display: flex;
  padding: 18px 18px;
  flex-direction: column;
  gap: var(--Space-S-16);
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid #e2e4e9;
  background: var(--Colors-Negative-100);
}
.campaign-card hr {
  margin-block: 0;
}
.campaign-name {
  color: #16181d;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}
.campaign-creation-date,
.campaign-stats-details {
  color: #707791;
  font-size: 0.85rem;
  line-height: 24px;
}
.campaign-stats-details {
  font-size: 1rem;
}
.black-bold {
  color: #16181d;
  font-weight: 600;
}
.stage-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--Colors-Primary-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}
.stage-dot span {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--Colors-Pure-White);
}
::ng-deep .offcanvas-panel-class {
  width: 35% !important;

  backdrop-filter: blur(100px);
}

.add-campaign-btn {
  background-color: var(--Colors-Primary-hover);
  border-radius: var(--Radius-R-24);
  border: none;
}
.add-campaign-btn:hover {
  background-color: #9b2e5f;
  color: var(--Colors-Pure-White);
}
