<div class="tenant-card">
  <div class="d-flex align-items-center gap-3 justify-content-between"style="width: 100%;">
    <div class="flex-row d-flex " style="gap: 16px;">
    <img
    class="tenant-card-img"
    [src]="getImageUrl(tenant.id)"
    crossOrigin="anonymous"
    (load)="checkImage($event)"
    (error)="onImageError($event)"
  />
  
  
    <div
      class="d-flex flex-column align-items-start justify-content-center gap-2"
    >
      <div class="active">
        <div class="dot"></div>
        <p class="text">Active</p>
      </div>
      <div class="tenant-card-title">
        {{ tenant.name }}
      </div>
      <div
        class="d-flex align-items-center gap-1"
        style="cursor: pointer"
        (click)="openOffcanvas(offcanvasContent)"
      >
        <ng-container
          *ngIf="
            tenant.Campaigns && tenant.Campaigns.length > 0;
            else showSendButton
          "
        >
          <span class="campaigns-count">{{ tenant.Campaigns.length }}</span>
          <span class="campaign-label">Campaigns</span>
          <img src="../../../assets/Images/Icons/info.png" alt="Info Icon" />
        </ng-container>
        <ng-template #showSendButton>
          <a class="add-campaign" (click)="openCampaignModal()">
            Add Campaign
          </a>
        </ng-template>
      </div>
      
    </div>
  </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
      <path d="M7.9248 3.27686C7.9606 3.27689 7.99119 3.29051 8.0127 3.31201L13.4463 8.74463C13.7783 9.07659 13.9667 9.525 13.9668 9.99951C13.9668 10.4783 13.7833 10.9238 13.4492 11.2515L13.4463 11.2544L8.02246 16.6772C7.9806 16.7154 7.94274 16.7251 7.9248 16.7251C7.90712 16.7251 7.89125 16.7217 7.87793 16.7163C7.86518 16.7112 7.85146 16.7025 7.83691 16.688C7.81545 16.6665 7.80184 16.6358 7.80176 16.6001C7.80176 16.5642 7.81539 16.5328 7.83691 16.5112L13.2695 11.0786C13.8648 10.4834 13.8648 9.51665 13.2695 8.92139L7.83691 3.48779C7.81541 3.46629 7.80179 3.4357 7.80176 3.3999C7.80176 3.36405 7.81539 3.33354 7.83691 3.31201C7.85844 3.29048 7.88895 3.27686 7.9248 3.27686Z" fill="#704E73" stroke="#704E73"/>
    </svg> -->
  </div>
</div>

<ng-template #offcanvasContent let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="d-flex align-items-center gap-3 m-0" ngbAutofocus>
      <img
        class="tenant-offcanvas-img"
        src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
          tenant.id
        }}"
        [alt]="tenant.name + 'logo'"
      />
      <div class="tenant-card-title">
        {{ tenant.name }}
      </div>
    </h5>
  </div>
  <div class="offcanvas-body">
    <hr />
    <h5 class="tenant-card-title mb-3">Campaign List</h5>
    <button
      class="x-btn x-btn-primary w-100 mb-3 add-campaign-btn"
      (click)="openCampaignModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M6 12H18M12 18V6"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span>Add Campaign</span>
    </button>
    <ng-container *ngFor="let campaign of tenant.Campaigns; let last = last">
      <div class="campaign-card" [ngClass]="{ 'mb-3': !last }">
        <div class="d-flex flex-column justify-content-center gap-1">
          <div
            class="campaign-privacy"
            [ngClass]="{
              'campaign-privacy-public': campaign.CampaignPrivacy == 0,
              'campaign-privacy-private': campaign.CampaignPrivacy == 1
            }"
          >
            <div class="campaign-privacy-icon"></div>
            <span>
              {{ campaign.CampaignPrivacy == 0 ? "Public" : "Private" }}
            </span>
          </div>
          <a
            class="campaign-name"
            [routerLink]="['/dashboard', tenant.id, tenant.name, campaign.Id]"
            (click)="closeOffcanvas()"
          >
            {{ campaign.CampaignName }}
          </a>
          <div class="campaign-creation-date">
            {{ campaign.CreatedDate | date }}
          </div>
        </div>

        <hr />

        <div
          *ngIf="campaign.Sites"
          class="d-flex align-items-center justify-content-between"
        >
          <div class="campaign-stats-details">Sites</div>
          <div class="black-bold">
            {{ campaign.Sites }}
          </div>
        </div>
        <div
          *ngIf="campaign.MailsSent"
          class="d-flex align-items-center justify-content-between"
        >
          <div class="campaign-stats-details">Mail Sent</div>
          <div class="black-bold">
            {{ campaign.MailsSent }}
          </div>
        </div>
        <hr />

        <div class="campaign-name">Campaign Workflow</div>

        <ng-container *ngFor="let stage of campaign.Kanban; let last = last">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div class="stage-dot">
                <span></span>
              </div>
              <div class="campaign-stats-details">
                {{ stage.stageName }}
              </div>
              <div class="black-bold ms-auto">
                {{ stage.MarketSurveyShoppingCenters.length || 0 }}
              </div>
            </div>
          </div>
          <hr *ngIf="!last" />
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>
