<div class="page-card">
  <!--   [routerLink]="
    tenant.Campaigns && tenant.Campaigns.length > 0
      ? ['/dashboard', tenant.id, tenant.name, tenant.Campaigns[0].Id]
      : null
  " -->
  <div
    *ngIf="tenant.Campaigns.length > 0"
    class="card-badge date-flag"
    [attr.aria-label]="tenant.Campaigns.length"
  >
    <span>{{ tenant.Campaigns.length }} </span>
  </div>

  <div class="card-header">
    <ng-container *ngIf="tenant.logoUrl; else logoPlaceholder">
      <img
        class="org-logo"
        [src]="tenant.logoUrl"
        crossOrigin="anonymous"
        (load)="checkImage($event)"
        (error)="onImageError($event)"
      />
    </ng-container>
    <ng-template #logoPlaceholder>
      <div class="org-logo placeholder">
        {{ getInitials(tenant.name) }}
      </div>
    </ng-template>
    <h3 class="card-title">{{ tenant.name }}</h3>
  </div>
  <div class="card-content">
    <div class="card-actions">
      <button
        class="action-btn secondary"
        (click)="openCampaignModal(); $event.stopPropagation()"
      >
        Add Campaign
      </button>
      <button
        class="action-btn"
        (click)="openOffcanvas(offcanvasContent); $event.stopPropagation()"
        *ngIf="tenant.Campaigns && tenant.Campaigns.length > 0"
      >
        View
      </button>
    </div>
  </div>
</div>

<ng-template #offcanvasContent let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="d-flex align-items-center gap-3 m-0" ngbAutofocus>
      <img
        loading="lazy"
        class="tenant-offcanvas-img"
        src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
          tenant.id
        }}"
        [alt]="tenant.name + 'logo'"
      />
      <div class="tenant-card-title">
        {{ tenant.name }}
      </div>
    </h5>
  </div>
  <div class="offcanvas-body">
    <hr />
    <h5 class="tenant-card-title mb-3">Campaign List</h5>
    <button
      class="g-button g-button-primary w-100 mb-3 add-campaign-btn"
      (click)="openCampaignModal(); $event.stopPropagation()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M6 12H18M12 18V6"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span>Add Campaign</span>
    </button>
    <ng-container *ngFor="let campaign of tenant.Campaigns; let last = last">
      <div
        [routerLink]="['/dashboard', tenant.id, tenant.name, campaign.Id]"
        (click)="closeOffcanvas(); $event.stopPropagation()"
        class="campaign-card"
        [ngClass]="{ 'mb-3': !last }"
      >
        <div class="d-flex flex-column justify-content-center gap-1">
          <div
            class="campaign-privacy"
            [ngClass]="{
              'campaign-privacy-public': campaign.CampaignPrivacy == 0,
              'campaign-privacy-private': campaign.CampaignPrivacy == 1
            }"
          >
            <div class="campaign-privacy-icon"></div>
            <span>
              {{ campaign.CampaignPrivacy == 0 ? "Public" : "Private" }}
            </span>
          </div>
          <a class="campaign-name">
            {{ campaign.CampaignName }}
          </a>
          <div class="campaign-creation-date">
            {{ campaign.CreatedDate | date }}
          </div>
        </div>

        <hr />

        <div
          *ngIf="campaign.Sites"
          class="d-flex align-items-center justify-content-between"
        >
          <div class="campaign-stats-details">Sites</div>
          <div class="black-bold">
            {{ campaign.Sites }}
          </div>
        </div>
        <div
          *ngIf="campaign.MailsSent"
          class="d-flex align-items-center justify-content-between"
        >
          <div class="campaign-stats-details">Mail Sent</div>
          <div class="black-bold">
            {{ campaign.MailsSent }}
          </div>
        </div>
        <hr />

        <div class="campaign-name">Campaign Workflow</div>

        <ng-container *ngFor="let stage of campaign.Kanban; let last = last">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div class="stage-dot">
                <span></span>
              </div>
              <div class="campaign-stats-details">
                {{ stage.stageName }}
              </div>
              <div class="black-bold ms-auto">
                {{ stage.MarketSurveyShoppingCenters.length || 0 }}
              </div>
            </div>
          </div>
          <hr *ngIf="!last" />
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>
