<div class="page-layout">
  <section class="kanban-tabs">
    <ul class="kanban-tabs-list">
      <ng-container *ngFor="let tab of kanbanTabs">
        <li
          class="kanban-tab"
          [ngClass]="{ 'active-kanban-tab': selectedKanbanTabId == tab.id }"
          (click)="onKanbanTabSelected(tab.id)"
        >
          {{ tab.title }}
        </li>
      </ng-container>
    </ul>
  </section>

  <section class="h-100 row kanban-data-container">
    <div
      *ngIf="activeTabKanbansList.length > 0"
      class="col-md-2 col-12 side-kanban"
    >
      <ng-container *ngFor="let kanban of activeTabKanbansList">
        <div
          class="side-kanban-item"
          [ngClass]="{
            'side-kanban-active-item': selectedKanban?.Id == kanban.Id
          }"
          (click)="getKanban(kanban); removeIdFromUrl()"
        >
          <span>
            {{ kanban.kanbanName }}
          </span>
          <br />
        </div>
        <hr />
      </ng-container>
    </div>

    <div
      class="col-md-10 col-12 kanban-stages"
      [ngClass]="{
        'col-md-12': !(activeTabKanbansList.length > 0),
        'p-0': !(activeTabKanbansList.length > 0)
      }"
      cdkDropListGroup
    >
      <div class="stage-column-container">
        <ng-container
          *ngFor="
            let stage of activeKanbanDetails?.kanbanStages;
            let stageIndex = index
          "
        >
          <section class="stage-column">
            <div
              class="stage-header"
              [ngStyle]="{
                'background-color': stagesColors[stageIndex % 5].background
              }"
            >
              <span [ngStyle]="{ color: stagesColors[stageIndex % 5].color }">
                {{ stage.stageName }}
              </span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                  fill="#7A8591"
                />
                <path
                  d="M12 13C11.44 13 11 12.55 11 12C11 11.45 11.45 11 12 11C12.55 11 13 11.45 13 12C13 12.55 12.56 13 12 13Z"
                  fill="#7A8591"
                />
                <path
                  d="M16 13C15.44 13 15 12.55 15 12C15 11.45 15.45 11 16 11C16.55 11 17 11.45 17 12C17 12.55 16.56 13 16 13Z"
                  fill="#7A8591"
                />
                <path
                  d="M8 13C7.44 13 7 12.55 7 12C7 11.45 7.45 11 8 11C8.55 11 9 11.45 9 12C9 12.55 8.56 13 8 13Z"
                  fill="#7A8591"
                />
              </svg>
            </div>
            <div
              class="stage-content"
              cdkDropList
              [cdkDropListData]="stage.kanbanOrganizations"
              [id]="stage.Id.toString()"
              (cdkDropListDropped)="onDrop($event)"
            >
              <ng-container
                *ngFor="
                  let organization of stage.kanbanOrganizations;
                  let orgIndex = index
                "
              >
                <ng-container *ngFor="let org of organization.Organization">
                  <ng-container
                    *ngIf="
                      !org.OrganizationName &&
                        org.ShoppingCenters.length > 0 &&
                        org.ShoppingCenters[0].CenterName;
                      else organizationCase
                    "
                  >
                    <ng-container
                      *ngFor="
                        let center of org.ShoppingCenters;
                        let centerIndex = index
                      "
                    >
                      <div
                        *ngIf="center.CenterName"
                        class="stage-card"
                        cdkDrag
                        [cdkDragData]="{
                          type: 'center',
                          orgIndex: orgIndex,
                          centerIndex: centerIndex,
                          value: center
                        }"
                      >
                        <div
                          class="w-100 d-flex align-items-start justify-content-between gap-3"
                        >
                          <div class="d-flex align-items-center gap-2">
                            <img
                              *ngIf="
                                center.MarketSurveyShoppingCenters[0]
                                  .ShoppingCenterRep[0].ShoppingCenterRepLogoURL
                              "
                              [src]="
                                center.MarketSurveyShoppingCenters[0]
                                  .ShoppingCenterRep[0].ShoppingCenterRepLogoURL
                              "
                              alt="organization-logo"
                              class="avatar"
                            />
                            <span class="kanban-title">
                              {{ center.CenterName }}
                            </span>
                          </div>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                          >
                            <path
                              d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                              fill="#7A8591"
                            />
                            <path
                              d="M12 13C11.44 13 11 12.55 11 12C11 11.45 11.45 11 12 11C12.55 11 13 11.45 13 12C13 12.55 12.56 13 12 13Z"
                              fill="#7A8591"
                            />
                            <path
                              d="M16 13C15.44 13 15 12.55 15 12C15 11.45 15.45 11 16 11C16.55 11 17 11.45 17 12C17 12.55 16.56 13 16 13Z"
                              fill="#7A8591"
                            />
                            <path
                              d="M8 13C7.44 13 7 12.55 7 12C7 11.45 7.45 11 8 11C8.55 11 9 11.45 9 12C9 12.55 8.56 13 8 13Z"
                              fill="#7A8591"
                            />
                          </svg>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #organizationCase>
                    <div
                      *ngIf="org.OrganizationName"
                      class="stage-card"
                      cdkDrag
                      [cdkDragData]="{
                        type: 'organization',
                        orgIndex: orgIndex,
                        value: org
                      }"
                    >
                      <div
                        class="w-100 d-flex align-items-start justify-content-between gap-3"
                      >
                        <div class="d-flex align-items-center gap-2">
                          <img
                            *ngIf="org.OrganizationLogoURL"
                            [src]="org.OrganizationLogoURL"
                            alt="organization-logo"
                            class="avatar"
                          />
                          <span class="kanban-title">
                            {{ org.OrganizationName }}
                          </span>
                        </div>
                        <div ngbDropdown>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            [id]="'dropdown' + org.OrganizationID"
                            ngbDropdownToggle
                          >
                            <path
                              d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                              fill="#7A8591"
                            />
                            <path
                              d="M12 13C11.44 13 11 12.55 11 12C11 11.45 11.45 11 12 11C12.55 11 13 11.45 13 12C13 12.55 12.56 13 12 13Z"
                              fill="#7A8591"
                            />
                            <path
                              d="M16 13C15.44 13 15 12.55 15 12C15 11.45 15.45 11 16 11C16.55 11 17 11.45 17 12C17 12.55 16.56 13 16 13Z"
                              fill="#7A8591"
                            />
                            <path
                              d="M8 13C7.44 13 7 12.55 7 12C7 11.45 7.45 11 8 11C8.55 11 9 11.45 9 12C9 12.55 8.56 13 8 13Z"
                              fill="#7A8591"
                            />
                          </svg>
                          <div
                            *ngIf="
                              stage.Actions &&
                              stage.Actions.length > 0 &&
                              checkForActionsDisplay(stage.Actions)
                            "
                            ngbDropdownMenu
                            [attr.aria-labelledby]="
                              'dropdown' + org.OrganizationID
                            "
                          >
                            <ng-container
                              *ngIf="stage.Actions && stage.Actions.length > 0"
                            >
                              <ng-container
                                *ngFor="let action of stage.Actions"
                              >
                                <ng-container
                                  *ngIf="action.actionLevel == 'Target'"
                                >
                                  <a
                                    ngbDropdownItem
                                    [href]="
                                      action.actionURL +
                                      '/' +
                                      activeKanbanDetails.buyboxid +
                                      '/' +
                                      org.OrganizationID
                                    "
                                    target="_blank"
                                  >
                                    {{ action.actionName }}
                                  </a>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </ng-container>
            </div>
          </section>
        </ng-container>
      </div>
    </div>
  </section>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
