<div class="page-layout" [ngClass]="{ 'sidebar-collapsed': sidebarCollapsed }">
  <!-- <div class="sidebar">
    <app-sidebar (collapseChange)="onSidebarCollapse($event)"></app-sidebar>
  </div> -->
  <div class="main-content">
    <!-- <div class="dashboard-header">
      <h1 class="title">Dashboard</h1>
      <nav class="tabs">
        <a routerLink="/Kanban" routerLinkActive="active" class="tab" (click)="setActiveTab('In Progress')">
          In Progress
        </a>
        <a routerLink="/Done" routerLinkActive="active" class="tab" (click)="setActiveTab('Done')">
          Done
        </a>
      </nav>
    </div> -->

    <div class="filter" *ngIf="showFilter">
      <div class="filter-tabs">
        <button
          class="filter-tab"
          [ngClass]="{ active: activeFilter === 'Prospect' }"
          (click)="setActiveFilter('Prospect')"
        >
          Prospect
        </button>
        <button
          class="filter-tab"
          [ngClass]="{ active: activeFilter === 'Project' }"
          (click)="setActiveFilter('Project')"
        >
          Project
        </button>
        <button
          class="filter-tab"
          [ngClass]="{ active: activeFilter === 'Deal' }"
          (click)="setActiveFilter('Deal')"
        >
          Deal
        </button>
      </div>
      <div class="search-bar position-relative">
        <!-- <div class="input">
          <input
            type="search"
            placeholder="Search..."
            class="form-control search-input"
            [(ngModel)]="searchText"
            (input)="onSearchChange($event)"
          />
          <img
            src="assets/Images/Icons/search-normal.svg"
            alt="Search Icon"
            class="search-icon"
          />
        </div> -->
        <div class="filter-bar">
          <!-- ... other filter bar content ... -->
          <button
            class="filter-button btn"
            (click)="toggleFilter()"
            aria-label="Toggle filter"
          >
            <img src="assets/Images/Icons/filter.svg" alt="Filter" />
          </button>
        </div>

        <app-filter-panel
          (filterChange)="onFilterChange($event)"
          [sidebarCollapsed]="sidebarCollapsed"
        ></app-filter-panel>
      </div>
    </div>
    <div class="col-md-15 p-0 ta">
      <div class="row d-flex">
        <div class="search-bar position-relative"></div>

        <div class="kanban-header-section container-fluid">
          <div class="row">
            <div class="clients">
              <!-- <div class="input">
                <input
                  type="search"
                  placeholder="Search..."
                  class="form-control search-input"
                  [(ngModel)]="searchText"
                  #searchInput
                  (input)="onSearchChange($event)"
                />

                
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="filter" *ngIf="showFilter">
        <div class="filter-tabs">
          <button
            class="filter-tab"
            [ngClass]="{ active: activeFilter === 'Prospect' }"
            (click)="setActiveFilter('Prospect')"
          >
            Prospect
          </button>
          <button
            class="filter-tab"
            [ngClass]="{ active: activeFilter === 'Project' }"
            (click)="setActiveFilter('Project')"
          >
            Project
          </button>
          <button
            class="filter-tab"
            [ngClass]="{ active: activeFilter === 'Deal' }"
            (click)="setActiveFilter('Deal')"
          >
            Deal
          </button>
        </div>

        <div class="filter-bar">
          <button
            class="filter-button btn"
            (click)="toggleFilter()"
            aria-label="Toggle filter"
          >
            <img src="assets/Images/Icons/filter.svg" alt="Filter" />
          </button>
        </div>

        <app-filter-panel
          (filterChange)="onFilterChange($event)"
          [sidebarCollapsed]="sidebarCollapsed"
        ></app-filter-panel>
      </div>

      <div class="row d-flex">
        <!-- User Kanbans (Sidebar) -->
        <div class="col-md-2 p-0 user-kanban-sidebar">
          <div class="kanban-wrap" style="height: 88; overflow-y: scroll">
            <div class="" style="width: 100%">
              <div
                class="col-12 col-md-6 col-lg-4 ccs"
                style="
                  border-bottom: 1px solid #e2e8f0;
                  width: 100%;
                  justify-content: center;
                "
                [class.active]="kanban.Id === activeKanbanId"
                *ngFor="let kanban of userKanbans"
              >
                <div
                  class="kanban-ca"
                  (click)="GetKanbanDetails(kanban)"
                  (click)="toggleCollapse(kanban)"
                >
                  <div class="card-header">
                    <div class="stakeholder-info">
                      <!-- <div class="stakeholder-avatar">
                        {{
                          getStackHolderName(kanban.targetStakeholderId)?.charAt(0)
                        }}
                      </div> -->
                      <div class="stakeholder-details">
                        <span class="stakeholder-name"                 [class.active]="kanban.Id === activeKanbanId"
                        >
                          {{ kanban.kanbanName }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="card-content" [class.show]="!kanban.isCollapsed">
                    <!-- <div class="org-chain">
                      <ng-container
                        *ngFor="let def of kanban.kanbanDefinitions; let i = index"
                      >
                        <ng-container
                          *ngFor="let org of def?.Organization; let last = last"
                        >
                          <div class="org-item">
                            <span class="org-badge">{{ org.Name }}</span>
                            <i
                              class="connection-icon fas fa-chevron-right"
                              *ngIf="!last"
                            ></i>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Kanban Wrap (Main Content) -->
        <div class="col-md-10 p-0 kanban-main-content">
          <div class="table-container">
            <table role="grid" aria-label="Kanban board">
              <thead>
                <tr>
                  <th *ngFor="let stage of filteredKanbanList[0]?.kanbanStages">
                    <div class="stage-container">
                      <h2
                        class="stage-name"
                        [ngClass]="{ 'green-text': stage.isQualified }"
                      >
                        {{ stage.stageName }}
                      </h2>

                      <img
                        src="assets/Images/Icons/more-circle.svg"
                        alt="More options"
                        class="optionsss"
                        *ngIf="stage.Id === 69"
                        (click)="openActionsForStage(ViewStageActions, stage)"
                      />
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let stage of filteredKanbanList[0]?.kanbanStages">
                    <div class="card">
                      <div
                        cdkDropList
                        [id]="stage.Id.toString()"
                        [cdkDropListData]="stage.kanbanOrganizations || []"
                        [cdkDropListConnectedTo]="
                          getConnectedLists(stage.Id.toString())
                        "
                        class="card-body example-list"
                        (cdkDropListDropped)="drop($event)"
                      >
                        <ng-container
                          *ngFor="let org of stage.kanbanOrganizations"
                        >
                          <ng-container *ngIf="org.Organization?.[0]?.Name">
                            <tr>
                              <div
                                class="kanban-card"
                                cdkDrag
                                [ngClass]="animatingCards[org.Id]"
                              >
                                <div class="kanban-header">
                                  <div
                                    class="d-flex justify-content-between w-100 align-items-center"
                                  >
                                    <div class="d-flex align-items-center">
                                      <img
                                        [src]="org.Organization?.[0]?.Logo || 'assets/Images/Logos/Osmos.svg'"
                                        alt="Logo"
                                        class="logo"
                                      />
                                      <div class="kanban-title">
                                        <span
                                          class="name"
                                          [title]="(org.Organization?.[0]?.Name?.length > 20 ? org.Organization?.[0]?.Name : '') || ''"
                                          [class.truncate]="org.Organization?.[0]?.Name?.length > 20"
                                        >
                                          {{ org.Organization?.[0]?.Name || '' }}
                                        </span>
                                        <span class="place">
                                          {{ org.Organization?.[0]?.Location || '' }}
                                        </span>
                                      </div>
                                    </div>
                                    <img
                                      src="assets/Images/Icons/more-circle.svg"
                                      alt="More Actions"
                                      class="more-iconn"
                                      *ngIf="
                                        stage.stageActions &&
                                        stage.stageActions[0]?.actionLevel ==
                                          'Target'
                                      "
                                      (click)="
                                        openActionsForTarget(
                                          ViewTargetActions,
                                          stage.stageActions,
                                          org
                                        )
                                      "
                                    />
                                    <button
                                      class="btn btn-success add-btn"
                                      *ngIf="stage.isQualified"
                                      (click)="
                                        openCreateNewKanban(
                                          chooseStackHolder,
                                          org
                                        )
                                      "
                                    >
                                      +
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalTemplate let-modal>
    <div class="modal-content">
      <div class="custom-modal">
        <div class="modal-header">
          <h5 class="modal-title">Card Details</h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="modalContent?.json; else noData">
            <div
              *ngFor="let item of modalContent.json; let i = index"
              class="content-item"
            >
              <div class="head">
                <h5 class="content-title">{{ item.content }}</h5>
                <button class="toggle-btn" (click)="toggleAnswerVisibility(i)">
                  {{ isAnswerVisible[i] ? "Hide Result" : "Show Result" }}
                </button>
              </div>
              <div
                class="content-answer"
                *ngIf="isAnswerVisible[i]"
                [innerHTML]="item.answer"
              ></div>
            </div>
          </div>
          <ng-template #noData>
            <p class="no-data">No data available</p>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" (click)="modal.close()">
            Close
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #chooseStackHolder let-modal>
    <div class="p-2">
      <ng-container *ngIf="selectedKanban?.targetStakeholderId !== 4">
        <p>
          <b>
            {{ General.modalObject.Organization[0]?.Name }} has qualified this
            kanban
          </b>
        </p>
      </ng-container>
    </div>

    <div class="row">
      <div class="bg-light rounded col-md-6 p-2">
        <h5>Start a new kanban for</h5>
        <ng-container *ngFor="let item of selectedKanban?.kanbanDefinitions">
          <ng-container *ngFor="let org of item.Organization">
            <ng-container *ngIf="org.Name"> {{ org.Name }} </ng-container>
            <ng-container *ngIf="org.Contacts?.[0]?.Firstname">
              {{ org.Contacts[0].Firstname }}
            </ng-container>
          </ng-container> </ng-container
        >& {{ General.modalObject.Organization[0]?.Name }}

        <ng-container *ngFor="let temp of kanbanTemplate">
          <p>{{ temp.kanbanTemplateName }}</p>
        </ng-container>
        <div class="template-list mt-3">
          <div
            *ngFor="let temp of kanbanTemplate"
            class="template-item d-flex justify-content-between align-items-center mb-2"
          >
            <button
              class="btn btn-success btn-sm"
              (click)="onCreateClick(temp)"
              [disabled]="!selectedBroker || isLoading"
            >
              {{ isLoading ? "Creating..." : "Create" }}
            </button>
          </div>
        </div>
      </div>
      <div class="bg-light rounded col-md-6 p-2">
        <div>
          <h5>Route To kanban</h5>

          <div class="search-container">
            <div class="mb-3">
              <label for=""><b>Search Broker</b></label>
              <input
                type="text"
                [(ngModel)]="keyword"
                (ngModelChange)="onSearchInput()"
                class="form-control"
                placeholder="Search names..."
                aria-label="Search names"
              />
            </div>

            <!-- Display Filtered Results -->
            <ul *ngIf="filteredNames.length > 0" class="list-group listtt">
              <li
                *ngFor="let name of filteredNames"
                class="list-group-item broker-name"
                (click)="onNameClick(name)"
              >
                {{ name.firstname }} {{ name.lastname }}
                <span>
                  <b>( {{ name.name }} )</b>
                </span>
              </li>
            </ul>
          </div>

          <!-- <div>
          <label for=""><b>Select Organization</b></label>
          <select
            class="form-control w-50"
            (change)="getOrganizationContacts($event)"
          >
            <option *ngFor="let org of allOrganizations" [value]="org.ID">
              {{ org.Name }}
            </option>
          </select>
        </div> -->

          <div
            class="py-2"
            *ngIf="organizationContact && organizationContact.length > 0"
          >
            <label for=""><b>Select Contact</b></label>
            <select
              class="form-control w-50"
              (change)="getContactKanbans($event)"
            >
              <option value="" selected>All</option>
              <option
                *ngFor="let contact of organizationContact"
                [value]="contact.id"
              >
                {{ contact.firstname }} {{ contact.lastname }}
              </option>
            </select>
          </div>

          <div class="py-2" *ngIf="orgKanbans && orgKanbans.length > 0">
            <label for=""><b>Select Kanban</b></label>
            <select
              class="form-control w-50"
              [(ngModel)]="selectedTargetKanban"
            >
              <option value="" selected>All</option>
              <option *ngFor="let kanaban of orgKanbans" [value]="kanaban.Id">
                {{ kanaban.kanbanName }}
              </option>
            </select>
          </div>

          <button
            class="btn btn-success"
            *ngIf="orgKanbans && orgKanbans.length > 0"
            (click)="CreateKanbanOrganization()"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #ViewStageActions let-modal>
    <div class="p-3">
      <ng-container *ngFor="let action of TargetActions">
        <ng-container *ngIf="action.actionLevel == 'Stage'">
          <a
            class="total"
            *ngIf="action.actionType == 'Popup'"
            (click)="openModel(addOrganization)"
            target="_blank"
          >
            {{ action.actionName }}
          </a>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #ViewTargetActions let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Actions</h5>
      <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    </div>
    <div class="modal-body">
      <div class="p-3">
        <ng-container *ngFor="let action of TargetActions">
          <ng-container *ngIf="action.actionLevel == 'Target'">
            <button
              class="btn btn-primary"
              (click)="showCardDetails(TargetOrg.Id)"
            >
              <a *ngIf="action.actionType == 'Link'" target="_blank">
                <!--             href="{{ action.actionURL + TargetOrg.Id }}" -->
                {{ action.actionName }}
              </a>
            </button>
            <!-- <button
            *ngIf="action.actionType == 'Function'"
            class="btn btn-link"
            (click)="showCardDetails(TargetOrg.Id)"
          >
            {{ action.actionName }}
          </button> -->
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-secondary" (click)="modal.close()">
        Close
      </button>
    </div>
  </ng-template>

  <ng-template #addOrganization let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Organization</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <form [formGroup]="newOrganizationForm" (ngSubmit)="CreateOrganication()">
      <div class="form-group">
        <label for="name">Organization Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          formControlName="location"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="assetType">Asset Type</label>
        <input
          type="text"
          id="assetType"
          formControlName="assetType"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="totalProperties">Total Properties</label>
        <input
          type="number"
          id="totalProperties"
          formControlName="totalProperties"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="leadBrokerName">Lead Broker Name</label>
        <input
          type="text"
          id="leadBrokerName"
          formControlName="leadBrokerName"
          class="form-control"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!newOrganizationForm.valid"
      >
        Create Organization
      </button>
    </form> -->

      <!-- <hr /> -->

      <h5>Search Existing Organizations</h5>
      <div class="form-group">
        <input
          type="text"
          placeholder="Search organizations"
          #searchInput
          class="form-control"
          (input)="
            searchInput.value.length >= 3
              ? SearchOrganication(searchInput.value)
              : null
          "
        />
        <button
          class="btn btn-secondary mt-2"
          (click)="
            searchInput.value.length >= 3
              ? SearchOrganication(searchInput.value)
              : null
          "
        >
          Search
        </button>
      </div>

      <ul class="list-group mt-3">
        <li
          *ngFor="let org of Organizations"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ org.name }}
          <button
            class="btn btn-success btn-sm"
            (click)="AddExistingOrganication(currentOpenedStage.Id, org.id)"
          >
            Add
          </button>
        </li>
      </ul>
    </div>
  </ng-template>
</div>
