<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="tab-view-container"  style="background-color: #F1F1F4;">
  <div class="row m-0 p-0">
    <app-link-microsoft></app-link-microsoft>
    <!-- <app-stage-email></app-stage-email> -->
    <app-emily-stages 
    *ngIf="!showContactEmail" 
    [buyBoxId]="buyBoxId" 
    (showContactEmail)="toggleView($event)"
  ></app-emily-stages>
  <app-emily-contact-email 
    *ngIf="showContactEmail" 
    [contactId]="contactId" 
    [orgId]="orgId" 
    [buyBoxId]="buyBoxId"
    (goBackEvent)="toggleView(false)"
  ></app-emily-contact-email>
    <!-- <div
      class="p-5"
      *ngIf="
        !BuyBoxOrganizationsForEmail || BuyBoxOrganizationsForEmail.length === 0
      "
    >
      No Organization Found.
    </div>
    <div
      *ngFor="let organization of BuyBoxOrganizationsForEmail; let i = index"
      class="col-sm-4 mb-4"
    >
      <a
        class="card"
        target="_blank"
        [routerLink]="['/emily', buyBoxId, organization.id]"
      >
        <div class="d-flex justify-content-center pt-2 img_div">
          <img
            src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
              organization.id
            }}"
            class="card-img-top"
            alt="Organization Image"
          />
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <h5 class="card-title">{{ organization.Name }}</h5>
          </div>
          <div class="d-flex justify-content-center">
            <p class="card-date mb-1">Last Activity :</p>
          </div>
          <div
            class="d-flex justify-content-evenly w-100 card-date-body"
            *ngIf="organization.dates && organization.dates.length > 0"
          >
            <h5 *ngFor="let date of organization.dates" class="card-date">
              {{ date | date : "short" }}
            </h5>
          </div>
        </div>
      </a>
    </div> -->
  </div>
</div>
