<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="row pt-4">
    <div class="p-3" *ngIf="!BuyBoxOrganizationsForEmail || BuyBoxOrganizationsForEmail.length === 0">
        No Organization Found.
      </div>
    
  <div
    *ngFor="let organization of BuyBoxOrganizationsForEmail; let i = index"
    class="col-sm-4 mb-4"
  >
    <a
      class="card"
      target="_blank"
      [routerLink]="['/emily', buyBoxId, organization.id]"
    >
      <div class="d-flex justify-content-center pt-2">
        <img
          src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
            organization.id
          }}"
          class="card-img-top"
          alt="Organization Image"
        />
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <h5 class="card-title">{{ organization.Name }}</h5>
        </div>
      
      </div>
    </a>
  </div>
</div>