<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div id="customToast" class="custom-toast">
  <div class="toast-content">
    <p id="toastMessage"></p>
  </div>
</div>

<div class="p-3 mb-4">
  <div class="d-flex gap-2 mb-2">
    <img class="Kayak__img ms-2" src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
      BuyBoxOrgID
    }}" alt="" />
    <span class="BuyBoxName">{{BuyBoxName}}</span> 
  </div>
  <div class="container-GenerateEmail row">
    <div class="col-12 col-sm-6 checkbox-section-select pb-2">
      <label for="discussionDropdown">Select Prompt</label>
      <select class="form-select form-select-lg" aria-label="Large select example" id="discussionDropdown"
        [(ngModel)]="selectedPromptId" (change)="updatePrompt()">
        <option value="" selected>Select Prompt</option>
        <option *ngFor="let prompt of prompts" [value]="prompt.id">
          {{ prompt?.name }}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-4 checkbox-section-select checkbox_ISCC pb-2 gap-4">
      <div class="checkbox-section align-items-center">
        <input type="checkbox" [(ngModel)]="isISCcSelected" name="IsCC" (change)="onISCCChange($event)"(change)="onISCCChange($event)" id="IsCC"
          class="form-check-input m-0" />
        <label for="IsCC" class="ms-2 IsCC_checkbox">IsCC</label>
      </div>
      <div class="checkbox-section align-items-center">
        <input type="checkbox" [(ngModel)]="isLandingSelected" (change)="onIncludeLandingChange($event)"
          name="includinglandingpage" id="includinglandingpage" class="form-check-input m-0" />
        <label for="includinglandingpage" class="ms-2 IsCC_checkbox">Is including landing page</label>
      </div>
    </div>
    <div class="col-12 col-sm-2 checkbox_ISCC pb-2 d-flex justify-content-end">
      <button class="Emily__contant__button ms-2" (click)="PutMailsDraft()">
        <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.07492 11.0667H4.64992V17.0667C4.64992 18.4667 5.40826 18.75 6.33326 17.7L12.6416 10.5334C13.4166 9.65838 13.0916 8.93338 11.9166 8.93338H9.34159V2.93338C9.34159 1.53338 8.58326 1.25005 7.65826 2.30005L1.34992 9.46671C0.583255 10.35 0.908256 11.0667 2.07492 11.0667Z"
            stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        Generate
      </button>
    </div>
  </div>
</div>

<div *ngFor="let returnEmail of returnEmails">
  <div class="d-flex justify-content-center mb-3">
    <div class="Emails_body">
      <div class="d-flex gap-4 align-items-center">
        <img class="Kayak__img ms-2" src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
            returnEmail.organizationId
          }}" alt="" />
        <p class="m-0 Name_Emails_body">
          {{returnEmail.name}}
        </p>
      </div>
      <div class="mt-3">
        <p [innerHTML]="returnEmail.body" rows="15" class="form-control m-0"></p>
      </div>
      <div class="d-flex justify-content-end gap-3">
        <button class="Button_Update_D mt-3" (click)="DeleteMailTemplate(returnEmail)">
          Delete
        </button>
        <button class="Button_Update_S mt-3" (click)="SendMailTemplate(returnEmail)">
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let template of emailTemplates">
  <div class="d-flex justify-content-center mb-3">
    <div class="Emails_body">
      <div class="d-flex gap-4 align-items-center">
        <img class="Kayak__img ms-2" src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
            template.organizationId
          }}" alt="" />
        <p class="m-0 Name_Emails_body">
        Context {{template.organizationId}}
        </p>
      </div>
      <div class="mt-3">
        <textarea class="form-control" rows="15" [(ngModel)]="template.template"></textarea>
      </div>
    </div>
  </div>
</div> -->

<!-- <div *ngFor="let EmailResponsive of GenerateEmailResponsive">
  <div class="d-flex justify-content-center mb-3">
    <div class="Emails_body">
      <div class="d-flex gap-4 align-items-center">
        <img class="Kayak__img ms-2" src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
            EmailResponsive.organizationId
          }}" alt="" />
        <p class="m-0 Name_Emails_body">
          {{EmailResponsive.organizationName}}
        </p>
      </div>
      <div class="mt-3">
        <p [innerHTML]="EmailResponsive.emailBody" rows="15" class="form-control m-0"></p>
      </div>
      <div class="d-flex justify-content-end">
        <button class="Button_Update_S mt-3" (click)="SaveAndSendTemplate(EmailResponsive)">
          Send
        </button>
      </div>
    </div>
  </div>
</div> -->