.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.back-to-campaign {
  color: #707791;
}

.campaign-information {
  width: 100%;
  background-color: #2e3d6c;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  position: relative;
}

.campaign-name {
  font-size: x-large;
  font-weight: 600;
}

.campaign-hr {
  margin: 2rem;
}

.campaign-section-body {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.campaign-section-body-name {
  font-weight: 600;
}

.pattern-top {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.pattern-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  user-select: none;
}

.ataglance-section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.ataglance-section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.ataglance-section-header .title {
  color: #000;
  font-weight: 600;
}

.ataglance-section-header .padge {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 0.5rem;
  background-color: #ff4c4c;
  color: #fff;
  font-size: 0.75rem;
}

.ataglance-section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
  padding-right: 0.25rem;
}
