.add-new-campaign-container {
  height: 100vh;
  padding-block: 1rem;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.map-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.loading-polygons *,
.map-zoom-alert * {
  color: #4d65b4;
  font-weight: 600;
}

.left-panel,
.right-panel {
  position: absolute;
  top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  z-index: 1;
}

.left-panel {
  left: 0.5rem;
}

.right-panel {
  right: 0.5rem;
}

.loading-polygons,
.map-zoom-alert,
.floating-card {
  padding: 1rem;
  min-width: 25vw;
  max-width: 25vw;
  height: 55vh;
  max-height: 55vh;
  overflow: auto;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.floating-card {
  display: flex;
  flex-direction: column;
}

.campaign-content-card {
  min-height: auto;
  max-height: 40vh;
}

.loading-polygons,
.map-zoom-alert {
  min-width: auto;
  width: auto;
  height: auto;
}

.floating-card {
  padding-top: 0;
}

.loading-polygons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: auto;
  width: fit-content;
}

.floating-card-header {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.floating-card-header svg {
  cursor: pointer;
}

.floating-card-header-titles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}

.floating-card-header-titles-container .title {
  color: #4d65b4;
}

.floating-card-header-titles-container .sub-title {
  white-space: nowrap;
  font-size: 0.75rem;
  color: #707791;
}

.floating-card-collapsed-icon {
  transform: rotate(180deg);
}

.states-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.state-tab {
  width: 100%;
  text-align: center;
  color: #707791;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
}

.state-tab-active {
  background-color: #b8c1e1;
  color: #2e3d6c;
}

.floating-card-content {
  flex: 1;
  width: 100%;
}

.floating-card-content hr {
  margin: 0.75rem 0;
}

.area-card-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.area-card-item .add-area-btn {
  font-size: small;
  background-color: #4d65b4;
  border-color: #4d65b4;
  padding: 0.25rem 0.5rem;
  color: #fff;
  white-space: nowrap;
}
/* .area-card-item .add-area-btn {
  font-size: small;
  background-color: #28A745;
  border-color: #28A745;
  padding: 0.25rem 0.5rem;
  color: #fff;
  white-space: nowrap;
} */

.area-card-item .remove-area-btn {
  font-size: small;
  background-color: #ff4c4c;
  border-color: #ff4c4c;
  padding: 0.25rem 0.5rem;
  color: #fff;
  white-space: nowrap;
}

.area-card-item .hide-area-btn {
  font-size: small;
  background-color: #007BFF;
  border-color: #007BFF;
  padding: 0.25rem 0.5rem;
  color: #fff;
  white-space: nowrap;
}



.area-name {
  color: #707791;
}

.map-controls-container {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: flex;
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.map-control {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.map-control-icon {
  display: flex;
  align-items: center;
}

.map-control-icon svg,
.launch-campaign-btn-icon svg,
.exit-draw-mode-btn-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

.map-control-icon svg path {
  fill: #707791;
}

.map-control-title {
  color: #707791;
}

.active-map-control {
  background-color: #dbe0f0;
  border-color: #2e3d6c;
}

.map-control.active-map-control .map-control-icon svg path {
  fill: #4d65b4;
}

.map-control.active-map-control .map-control-title {
  color: #4d65b4;
}

.new-campaign-title {
  font-weight: 600;
}

.campaign-status {
  font-size: 1.125rem;
  font-weight: 500;
}

.campaign-visability {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  border: 1px solid #c6c9d3;
}

.campaign-name-input {
  padding: 0.75rem 1rem;

  border-radius: 1rem;
}

.cancel-campaign {
  padding: 0.5rem 0.75rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #4d65b4;
  color: #4d65b4;
}

.save-campaign {
  padding: 0.5rem 0.75rem;
  background-color: #4d65b4;
  border-radius: 1rem;
  border: 1px solid #4d65b4;
  color: #ffffff;
}

.launch-campaign-btn {
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  background: #4d65b4;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); */
  cursor: pointer;
}
.launch-campaign-btn:disabled {
  background: #b8c1e1;
  cursor: not-allowed;
}

.launch-campaign-btn-icon {
  display: flex;
  align-items: center;
}

.launch-campaign-btn-icon svg path {
  fill: #ffffff;
}

.launch-campaign-title {
  color: #ffffff;
}

/* .form-check-input:focus {
  border-color: #4d65b4;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #4d65b4;
  border-color: #4d65b4;
} */

#user-buybox {
  border-radius: 1rem;
}

::ng-deep .p-selectbutton .p-button {
  padding: 4px 12px;
  box-shadow: none;
  outline: none;
  color: #707791 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  border: 1px solid #4d65b4;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
  background: #4d65b4;
  color: white !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  border: 1px solid #4d65b4;
}
.breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background: none;
  font-family: Arial, sans-serif;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb li + li:before {
  content: "›"; /* or use "/" */
  padding: 0 8px;
  color: #999;
}

.breadcrumb a {
  text-decoration: none;
  color: #4d65b4;
  cursor: pointer;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .active {
  color: #6c757d;
  pointer-events: none;
}
