.x-section {
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;
}
.card-btn * {
  color: #fff;
}
.card-btn {
  text-decoration: none;
  background-color: #3922d2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease;
}
.card-btn:hover {
  box-shadow: 0 4px 8px rgba(57, 34, 210, 0.2);
}
.card-btn:active {
  background-color: #3922d2;
}
.card-btn-unlink {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}
.card-btn-unlink:active {
  background-color: #fff;
}
.section-img {
  height: 3rem;
  margin-bottom: 0.8rem;
}
