<div class="preview-emails-contaciner">
  @if (!dataLoaded) {
  <div
    class="h-100 w-100 d-flex flex-column align-items-center justify-content-center gap-3"
  >
    <div class="loading-data">Loading your emails</div>
    <div class="loader"></div>
  </div>
  } @if (emails && emails.length ) { @if (emails.length > 1) {
  <div class="w-100 d-flex align-items-center justify-content-end">
    <button class="send-btn" (click)="sendAllEmails()">Send All</button>
  </div>
  }
  <div class="emails-container">
    @for (email of emails; track email.mailId;let index = $index) {
    <div class="email-container">
      <div
        #subjectDiv
        class="subject"
        contenteditable="true"
        (input)="updateMailSubject($event, index)"
      >
        {{ email.subject }}
      </div>
      <div
        #bodyDiv
        class="body"
        contenteditable="true"
        (input)="updateMailBody($event, index)"
      ></div>
      <div class="email-actions">
        <button class="send-btn" (click)="sendEmail(email)">Send</button>
      </div>
    </div>
    }@empty {
    <div class="empty-emails">There are no emails generated</div>
    }
  </div>
  }
</div>

<div id="customToast" class="custom-toast">
  <div class="toast-content">
    <p id="toastMessage"></p>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
