.custom-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #fff;
}

.icon-option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: transform 0.2s, background-color 0.2s;
  border: 1px solid rgb(190, 190, 190);
}

.icon-image {
  filter: brightness(1) invert(1);
  width: 24px;
  height: 24px;
}

.icon-text {
  color: #707275;
  font-size: 0.75rem;
  font-weight: 500;
}

.icon-option:hover {
  background-color: #eaeaea;
  transform: scale(1.1);
}

.icon-option.selected {
  background-color: #001f3f;
  color: #fff;
}

.icon-option.selected .icon-text {
  color: #fff;
}

.icon-option.selected .icon-image {
  filter: brightness(0) invert(1);
}

.tab-view-container {
  background-color: #fff;
  padding: 0.5rem;
  min-height: 85vh;
  border-radius: 1rem;
}

:host ::ng-deep .carousel-control-next {
  right: 0;
}

:host ::ng-deep .carousel-control-prev {
  left: 0;
}

::ng-deep .popover-body {
  padding: 5px !important;
}

::ng-deep .popover-arrow::after {
  border-top: none !important;
  border-top-color: transparent !important;
}

@media (max-width: 768px) {
 
  .optionMobile{
    padding: 0 !important;
    margin: 0 !important;
  }
  .mobile-nav {
    width: fit-content;
    margin-bottom: 5px;
    gap: 50px;
  }

  .mobile-n {
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

  .tab-view-container {
    padding: 0;
  }

  ::ng-deep.carousel-control-prev {
    left: -50px !important;
    background-color: #d3d3d3;
  }

  ::ng-deep .carousel-control-next {
    right: -50px !important;
    background-color: #d3d3d3;
  }

  .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}


.inbox {
  padding: 5px 8px;
  border-radius: 1rem;
  background-color: #4d65b4;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}
.mail {
  background-color: #0077b6;
}
.mail a {
  color: #fff;
  width: max-content;
}

.displayNone{
  display: none !important;
}

::ng-deep .container-fluid  {
  padding: 0 !important;
}