<div class="tab-view-container">
  <div class="header-container">
    <div class="search-container">
      <svg class="search-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.35-4.35"></path>
      </svg>
      
      <input 
        type="text" 
        placeholder="Search Properties..." 
        class="search-input" 
        [(ngModel)]="searchQuery"
        (input)="onSearch($event)">
    </div>
    <div class="actions-container">
      <div class="stage-select-container">
        <div class="custom-select-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M17.5 6.4585H2.5C2.15833 6.4585 1.875 6.17516 1.875 5.8335C1.875 5.49183 2.15833 5.2085 2.5 5.2085H17.5C17.8417 5.2085 18.125 5.49183 18.125 5.8335C18.125 6.17516 17.8417 6.4585 17.5 6.4585Z" fill="#777199"/>
            <path d="M15 10.625H5C4.65833 10.625 4.375 10.3417 4.375 10C4.375 9.65833 4.65833 9.375 5 9.375H15C15.3417 9.375 15.625 9.65833 15.625 10C15.625 10.3417 15.3417 10.625 15 10.625Z" fill="#777199"/>
            <path d="M11.6667 14.7915H8.33337C7.99171 14.7915 7.70837 14.5082 7.70837 14.1665C7.70837 13.8248 7.99171 13.5415 8.33337 13.5415H11.6667C12.0084 13.5415 12.2917 13.8248 12.2917 14.1665C12.2917 14.5082 12.0084 14.7915 11.6667 14.7915Z" fill="#777199"/>
          </svg>
          <button
            class="custom-select"
            type="button"
            id="stageDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ selectedStageId === 0 ? 'Filter' : selectedStageName }}
            <!-- <i class="fa-solid fa-chevron-down ms-2"></i> -->
            
          </button>
          <ul class="dropdown-menu" aria-labelledby="stageDropdown">
            <li>
              <a
                class="dropdown-item"
                [class.active]="selectedStageId === 0"
                (click)="selectStagekan(0)"
                >All</a
              >
            </li>
            <li *ngFor="let stage of stages">
              <a
                class="dropdown-item"
                [class.active]="selectedStageId === stage.id"
                [attr.aria-current]="selectedStageId === stage.id ? 'true' : null"
                (click)="selectStagekan(stage.id)"
              >
                {{ stage.stageName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="sort-container">
        <button class="action-btn" (click)="toggleSort()">
          <i [class]="getSelectedSortIcon()"></i>
          <span>{{ getSelectedSortText() }}</span>
        </button>
        <div class="sort-menu" *ngIf="isSortMenuOpen">
          <div 
            *ngFor="let option of sortOptions" 
            class="sort-option"
            [class.active]="selectedSortId === option.id"
            (click)="selectSort(option)"
          >
            <i [class]="option.icon"></i>
            <span>{{ option.text }}</span>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="action-btn dropdown-toggle" type="button" id="viewDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="getCurrentViewIcon()" [alt]="getCurrentViewName()" class="view-icon">
          <span>{{ getCurrentViewName() }}</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="viewDropdown">
          <li *ngFor="let option of dropdowmOptions">
            <a class="dropdown-item" (click)="selectOption(option)">
              <img [src]="option.icon" [alt]="option.text" class="view-icon">
              <span>{{ option.text }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div 
    class="mobileButtons mt-2 d-flex justify-content-between align-items-center "
    style="padding-left: 12px;"
  >
    <div class="custom-icon-container">
      <div
        class="icon-option"
        *ngFor="let option of dropdowmOptions"
        [class.d-none]="option.status == 2"
        [class.d-sm-flex]="option.status == 2"
        (click)="selectOption(option)"
        [class.displayNone]="
          (option.status == 6 && isMobile) || (option.status == 4 && isMobile)
        "
        [class.selected]="
          selectedOption === option.status || selectedOption === option
        "
      >
        <img [src]="option.icon" [alt]="option.text" class="icon-image" />
        <span class="icon-text d-none d-sm-flex" *ngIf="!isMobile">{{
          option.text
        }}</span> 
      </div>
    </div>
    <div class="d-flex">
      <button
        style="border: none; background: none"
        class="border-none mx-2 d-sm-flex d-none"
      >
        <app-link-microsoft style="height: 25px"></app-link-microsoft>
      </button>

      <button
        class="action-btn optionMobileColor"
        [routerLink]="['/organization-mail', BuyBoxId, OrgId, CampaignId]"
      >
        <i
          class="fa-regular fa-envelope me-2 optionMobile"
          style="color: #fff"
        ></i>
        <span>Emily</span>
      </button>

      <button
        class="action-btn optionMobileColor"
        [routerLink]="['/campaigns/ataglance', CampaignId]"
      >
        <i class="fa-regular fa-star"></i>
        <span> At a Glance </span>
      </button>
      <button class="action-btn optionMobileColor">
        <a
          class="action-btn optionMobileColor"
          [href]="generateSafeUrl()"
          target="_blank"
        >
          <i class="fa-solid fa-house"></i>
          <span> Market Survey </span>
        </a>
      </button>
    </div>
  </div> -->
 
  <app-map-view
    *ngIf="currentView == 1"
    (viewChange)="onViewChange($event)"
    #mapView
  ></app-map-view>

  <div class="row m-0" *ngIf="currentView == 2">
    <div class="col-12 p-0">
      <app-side-list-view
        (highlightMarker)="onHighlightMarker($event)"
        (unhighlightMarker)="onUnhighlightMarker($event)"
      ></app-side-list-view>
    </div>
  </div>
  <app-card-view *ngIf="currentView == 3"></app-card-view>
  <app-table-view *ngIf="currentView == 4" (viewChange)="onViewChange($event)"></app-table-view>
  <app-social-view *ngIf="currentView == 5" (viewChange)="onViewChange($event)"></app-social-view>
  <app-kanban-view *ngIf="currentView == 6"></app-kanban-view>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
