<div class="p-3">
  <table *ngIf="submissionsArray && submissionsArray.length > 0" class="procpect-table">
    <thead class="procpect-table-head">
      <tr>
        <th>Center Name</th>
        <th>Created Date</th>
        <th>File Name</th>
        <th>User Name</th>
      </tr>
    </thead>
    <tbody class="procpect-table-body">
      <tr *ngFor="let submission of submissionsArray">
        <td>{{ submission.centerName }}</td>
        <td>{{ submission.createdDate | date:'short' }}</td>
        <td>{{ submission.fileName }}</td>
        <td>{{ submission.userName }}</td>
      </tr>
    </tbody>
  </table>
  
</div>
  