<div class="p-3">
    <table class="procpect-table">
        <thead class="procpect-table-head">
            <th>User Name</th>
            <th>Center Name</th>
            <th>Created Date</th>
            <th>File Name</th>
        </thead>
        <tbody class="procpect-table-body">
          <tr *ngFor="let submission of submissionsArray">
            <td>{{ submission.userName }}</td>
            <td>{{ submission.centerName }}</td>
            <td>{{ submission.createdDate | date:'medium' }}</td>
            <td>{{ submission.fileName }}</td>
          </tr>
        </tbody>
      </table>
</div>
  