.sidebar-toggler {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1030;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #3c4b64;
  cursor: pointer;
}
.sidebar-header {
  padding: 0 !important;
}
.sidebar-header .nav-link.cherry-icon:hover {
  background-color: transparent !important;
}

.sidebar-header .nav-link.cherry-icon img {
  transition: none;
}

.sidebar-header .nav-link.cherry-icon:hover img {
  transform: none;
}

.cherry-logo {
  flex: none !important;
}
.border-end {
  height: 100vh;
  z-index: 11;
}

.cherry-collabse {
  width: fit-content;
  height: fit-content;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 16px;
}

.cherry-collabse:hover {
  transform: scale(1.1);
}

.cherry-collabse i {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.fa-right-from-bracket {
  transform: scaleX(-1);
}

.sidebar {
  transition: all 0.3s ease;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1030;
  overflow: hidden;
}

.sidebar-narrow {
  width: 70px;
}

.sidebar-narrow-unfoldable {
  width: 70px;
}

.sidebar-nav{
  overflow: hidden;
}