    <!-- Sidebar -->
    <div class="m-0 p-0" [style.width]="isCollapsed ? '5% !important' : '20% !important'" id="primaryColumn">
      <div class="inherit">
        <div class="d-flex">
          <!-- Sidebar Primary -->
          <div class="Sidbar-Primary" [ngStyle]="{ width: isCollapsed ? '200%' : '25%' }">
            <ul class="p-0 m-0 Sidbar-Primary-ul">
              <!-- <li routerLink="/toggleClose" *ngIf="isCollapsed" (click)="BackTo()">
                <i class="fa-solid fa-arrow-left" routerLinkActive="activeIcon"></i>
              </li> -->
              <!-- <li routerLink="/toggleClose" *ngIf="!isCollapsed">
                <i class="fa-solid fa-arrow-left" routerLinkActive="activeIcon" (click)="toggleSidebar()"></i>
              </li> -->
              <li (click)="BackTo()">
                <i class="fa-solid fa-house" ></i>
              </li>
              <li (click)="logout()">
                <i class="fa-solid fa-arrow-left"  title="Logout"></i>       
                     </li>
            </ul>
          </div>
          <!-- Sidebar Secondary -->
          <div class="Sidbar-Secondary" id="secondarySidebar" [style.display]="isCollapsed ? 'none' : 'block'">
            <p class="name-summary">Summary</p>

          </div>
        </div>
      </div>
    </div>
