
    <div class="m-0 p-0" [style.width]="isCollapsed ? '5% !important' : '20% !important'" id="primaryColumn">
      <div style="width: inherit; position: fixed">
        <div style="display: flex">
          <div class="Sidbar-Primary" [ngStyle]="{ width: isCollapsed ? '200%' : '25%' }">
            <ul class="p-0 m-0 Sidbar-Primary-ul">
              <li (click)="BackTo()">
                <i class="fa-solid fa-house" ></i>
              </li>
              <li (click)="logout()">
                <i class="fa-solid fa-arrow-left"  title="Logout"></i>       
                     </li>
            </ul>
          </div>
          <div class="Sidbar-Secondary" id="secondarySidebar" [style.display]="isCollapsed ? 'none' : 'block'">
            <p class="name-summary">Summary</p>
          </div>
        </div>
      </div>
    </div>