<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="d-flex justify-content-center align-items-center">
  <div class="container-fluid my-3">
    <div class="row">
      
        <div class="row d-flex align-items-center justify-content-center">
          <div class="search-bar container">
            <!-- State Dropdown -->
            <div class="col-md-4 d-flex align-items-start position-relative">
              <select
                id="state-select"
                class="form-select border-0 shadow-none search-textt"
                [(ngModel)]="filterValues.statecode"
                (ngModelChange)="
                  handleStateChange($event)
                "
                style="
                  appearance: none;
                  padding-right: 2.5rem;
                  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22none%22 viewBox=%220 0 24 24%22 stroke=%22%23707991%22%3E%3Cpath stroke-linecap=%22round%22 stroke-linejoin=%22round%22 stroke-width=%222%22 d=%22M19 9l-7 7-7-7%22 /%3E%3C/svg%3E');
                  background-repeat: no-repeat;
                  background-position: right 0.75rem center;
                  background-size: 1rem;
                  color: #707791;
                "
              >
                >
                <option value="" selected>State</option>
                <option *ngFor="let state of uniqueStates" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>

            <div class="separator px-2">|</div>

            <!-- City Dropdown and Search Button -->
            <div class="col-md-3 d-flex align-items-start position-relative">
              <!-- Select Dropdown with Custom Arrow -->
              <select
                id="city-select"
                class="form-select border-0 shadow-none search-textt"
                [(ngModel)]="filterValues.city"
                (ngModelChange)="onCityChange($event); "
                style="
                  appearance: none;
                  padding-right: 2.5rem;
                  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22none%22 viewBox=%220 0 24 24%22 stroke=%22%23707991%22%3E%3Cpath stroke-linecap=%22round%22 stroke-linejoin=%22round%22 stroke-width=%222%22 d=%22M19 9l-7 7-7-7%22 /%3E%3C/svg%3E');
                  background-repeat: no-repeat;
                  background-position: right 0.75rem center;
                  background-size: 1rem;
                  color: #707791;
                "
              >
                <option value="" selected>City</option>
                <option *ngFor="let city of uniqueCities" [value]="city.city">
                  {{ city.city }}
                </option>
              </select>
            </div>

        
            <div
              *ngIf="filterValues.statecode"
              class="d-flex align-items-center justify-content-center"
              style="cursor: pointer"
              (click)="openFiltersModal(filtersModal)"
            >
              <span class="showfilters">Show More Filters</span>
              <i class="fa-solid fa-chevron-down ms-2 chevronn"></i>
            </div>
            <div
              class="d-flex justify-content-start align-items-center ms-4"
              *ngIf="filterValues.statecode"
            >
              <button
                class="btn btn-outline-primary bulk-button ms-2"
                (click)="toggleBulkMode()"
              >
                {{ isBulkMode ? "Exit Bulk Bind" : "Bulk Bind" }}
              </button>
            </div>
          </div>
          <div class="row mt-3" *ngIf=" KayakResult && KayakResult?.Result?.length > 0 ">
            
            <div class="col-md-4 total" (click)="getTotalShopping()">
              <h6>Total Shopping Centers</h6>
              <p class="shopping-center-num">
                {{ KayakResult?.Result?.length }}
              </p>
            </div>

            <div class="col-md-4 total" (click)="getBindedShopping()">
              <h6>Binded Shopping Centers</h6>
              <p class="shopping-center-num">
                {{ getBindedShoppingCentersNumber() }}
              </p>
            </div>

            <div class="col-md-4 total" (click)="getUnBindedShopping()">
              <h6>UnBinded Shopping Centers</h6>
              <p class="shopping-center-num">
                {{
                  KayakResult?.Result?.length - getBindedShoppingCentersNumber() < 0  ? '0' : KayakResult?.Result?.length - getBindedShoppingCentersNumber()
                }}
              </p>
            </div>
          </div>
          <ng-container *ngIf="filterValues.statecode && ShoppingCenters && ShoppingCenters">  
             <div class="col-md-12" *ngFor="let result of ShoppingCenters; let i = index">
                  <div class="row align-items-center"> 
                    <div class="col-md-5">
                      <div class="d-flex align-items-center gap-3"> 
                        <div *ngIf="isBulkMode" class="form-check">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            [id]="'center-' + result.Id"
                            [checked]="
                              SelectedShoppingCenterIDs.includes(result.Id)
                            "
                            (change)="onCardCheckboxChange($event, result)"
                          />
                        </div>

                        <!-- Image Section -->
                        <div
                          class="image-container position-relative"
                          (click)="openGallery(i)"
                        >
                          <img
                            class="kayak-img img-fluid rounded"
                            style="cursor: pointer"
                            *ngIf="result?.MainImage"
                            [src]="result?.MainImage"
                            [alt]="result?.CenterName"
                          />
                        </div>

                        <div class="d-flex flex-column text-start">
                          <div class="shoppingcentername mb-1">
                            <span>{{ result.CenterName }}</span>
                          </div>

                          <div class="card-texts">
                            <span>
                              {{ result.CenterAddress }},
                              {{ result.CenterCity }}
                              {{ result.CenterState }}
                            </span>
                          </div>
                          <div
                            *ngIf="KayakResult?.Result?.length > 0"
                            class="d-flex align-items-center justify-content-start mt-1"
                          >
                            <ng-container
                              *ngIf="
                                KayakResult?.ManagementOrganizations?.length > i
                              "
                            >
                              <div>
                                <img
                                  [src]="
                                    'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
                                    KayakResult.ManagementOrganizations[i].Id
                                  "
                                  [alt]="
                                    KayakResult.ManagementOrganizations[i]
                                      ?.Name || 'No Name Available'
                                  "
                                  class="logooo me-2"
                                />
                              </div>
                              <div class="company-name me-2">
                                <span>{{
                                  KayakResult.ManagementOrganizations[i]?.Name
                                }}</span>
                              </div>
                            </ng-container>
                          </div>
                          <div class="d-flex align-items-center text-nowrap">
                            <span class="me-2 eye-text">Tenants</span>
                            <img
                              style="cursor: pointer"
                              src="../../../assets/Images/Icons/eye2.png"
                              alt="View Tenants Details"
                              (click)="GetShoppingCenterTenants(result.Id)"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-7 d-flex justify-content-end">
                      <div class="d-flex align-items-center gap-4 eye-text">
                        <!-- <div class="d-flex align-items-center text-nowrap">
                          <span class="me-2 eye-text"
                            >{{ result?.place?.length || 0 }} Place</span
                          >
                          <img
                            class="eye-icon"
                            style="cursor: pointer"
                            src="../../../assets/Images/Icons/eye2.png"
                            alt="View Places Details"
                            (click)="openPlacesModal(result.place, result.Id)"
                          />
                        </div> -->

                        <!-- <div class="d-flex align-items-center text-nowrap">
                          <span class="me-2 eye-text">Availability</span>
                          <img
                            style="cursor: pointer"
                            src="../../../assets/Images/Icons/eye2.png"
                            alt="View Availability Details"
                            (click)="GetShoppingCenterAvailability(result.Id)"
                          />
                        </div> -->

                        <div class="d-flex align-items-center gap-2">
                          <div>
                            <button
                              class="custom-map-btn d-flex align-items-center justify-content-center ms-4"
                              (click)="openMapViewPlace(MapViewPlace, result)"
                            >
                              Map
                            </button>
                          </div>
                          <div>
                            <button
                              class="custom-street-btn d-flex align-items-center justify-content-center"
                              (click)="
                                openStreetViewPlace(StreetViewPlace, result)
                              "
                            >
                              Street
                            </button>
                          </div>
                          <div *ngIf="!isBulkMode">
                            <button
                              class="custom-bind-btn d-flex align-items-center justify-content-center"
                              (click)="toggleShoppingCenterBind(result.Id)"
                            >
                              {{
                                SelectedShoppingCenterIDs.includes(result.Id)
                                  ? "Unbind"
                                  : "Bind"
                              }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-2 mb-3">
                      <div class="d-flex">
                        <div class="chosen-places-container p-2">
                          <span
                            style="
                              cursor: pointer;
                              color: #4d65b4;
                              font-weight: 700;
                            "
                            (click)="openPlacesModal(result.place, result.Id)"
                          >
                            View Places</span
                          >
                          <div
                            class="d-inline-flex align-items-center flex-wrap gap-2 ms-2"
                          >
                            <!-- Display up to 5 places initially -->
                            <ng-container
                              *ngFor="
                                let place of result.place.slice(
                                  0,
                                  expandedPlacesIndex === i
                                    ? result.place.length
                                    : 5
                                );
                                let j = index
                              "
                            >
                              <span class="place-item"
                                >{{ place?.BuildingSizeSf | number }} SF</span
                              >

                              <!-- Add space between places -->
                              <span
                                *ngIf="
                                  j <
                                  (expandedPlacesIndex === i
                                    ? result.place.length - 1
                                    : 4)
                                "
                                >&nbsp;</span
                              >
                            </ng-container>

                            <ng-container *ngIf="result.place.length > 5">
                              <!--  Only show if places > 5 -->
                              <span
                                class="me-2 eye-text"
                                (click)="toggleExpandedPlaces(i)"
                                style="cursor: pointer"
                              >
                                {{
                                  expandedPlacesIndex === i
                                    ? "View less"
                                    : "View " +
                                      (result.place.length - 5) +
                                      " more Places"
                                }}
                              </span>
                              <img
                                class="eye-icon"
                                style="cursor: pointer"
                                src="../../../assets/Images/Icons/eye2.png"
                                alt="View Places Details"
                                (click)="
                                  openPlacesModal(result.place, result.Id)
                                "
                              />
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
            
            
          </ng-container>
        </div>
       
    </div>
  </div>

  <ng-template #galleryModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Image Gallery</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <div *ngIf="placeImage && placeImage.length > 0; else noImages">
        <div *ngFor="let img of placeImage" class="mb-3 text-center">
          <img [src]="img" alt="Image" class="img-fluid rounded modal-imgg" />
        </div>
      </div>
      <ng-template #noImages>
        <p class="text-center">No images available for this card.</p>
      </ng-template>
    </div>
  </ng-template>

  <ng-template #popoverContent>
    <div *ngIf="sortedTenants.length > 0; else noTenants">
      <div *ngFor="let tenant of sortedTenants" class="mb-2">
        <p><strong>Name:</strong> {{ tenant.Name }}</p>
        <p><strong>Summary:</strong> {{ tenant.Summary }}</p>
      </div>
    </div>

    <ng-template #noTenants>
      <p>No tenant details available.</p>
    </ng-template>
  </ng-template>

  <ng-template #MapViewPlace let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Map View</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <div id="mappopup" style="height: 400px; width: 100%"></div>
    </div>
  </ng-template>

  <ng-template #tenantModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Shopping Center Tenants</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <div *ngIf="ShoppingCenterTenants?.length > 0" class="tenants-list mt-3">
        <table class="table table-striped">
          <thead class="table-light">
            <tr>
              <th class="table-headd">Name</th>
              <th class="table-headd">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tenant of ShoppingCenterTenants">
              <td class="table-text1">{{ tenant.name }}</td>
              <td class="table-text1">{{ tenant.summary }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!ShoppingCenterTenants || ShoppingCenterTenants.length === 0">
        <p>No tenants available for this shopping center.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bind-button" (click)="modal.close()">
        Close
      </button>
    </div>
  </ng-template>

  <ng-template #StreetViewPlace let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Street View</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <div *ngIf="sanitizedUrl; else noStreetView">
        <iframe
          [src]="sanitizedUrl"
          width="100%"
          height="400"
          style="border: 0"
          allowfullscreen
          loading="lazy"
        >
        </iframe>
      </div>
      <ng-template #noStreetView>
        <p class="text-center text-muted">
          🚨 No Street View available for this location.
        </p>
      </ng-template>
    </div>
  </ng-template>

  <ng-template #noDataTemplate>
    <div class="col-md-12">
      <div class="card carddd my-3 gray-background">
        <div class="card-body text-center">
          <span class="text-muted"
            >No results found. Try adjusting your filters.</span
          >
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #placesModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Places Details</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="table-headd">Building Size</th>
            <th class="table-headd">Suite</th>
            <th class="table-headd">For Lease Price</th>
            <!-- <th class="table-headd">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let place of selectedPlaces">
            <td class="table-text1">
              {{ place?.BuildingSizeSf | number }} SqFt
            </td>
            <td class="table-text1">{{ place?.Suite || "N/A" }}</td>
            <td class="table-text1">
              {{
                place?.ForLeasePrice
                  ? "$" + place?.ForLeasePrice + "/SqFt"
                  : "N/A"
              }}
            </td>
            <!-- <td>
              <div>
                <button
                  class="custom-bind-btn d-flex align-items-center justify-content-center"
                  (click)="togglePlaceBind(place.Id, place.ShoppingCenterId)"
                >
                  {{ SelectedPlacesIDs.includes(place.Id) ? "Unbind" : "Bind" }}
                </button>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bind-button" (click)="modal.dismiss()">
        Close
      </button>
    </div>
  </ng-template>

  <ng-template #filtersModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Filters</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6" *ngIf="sortedTenants.length > 0">
          <div class="card card-filter static-height">
            <div class="card-body position-relative">
              <div>
                <div class="small-titlefilter">
                  <span>Tenants</span>
                </div>
                <div class="mt-3">
                  <ng-container *ngFor="let tenant of sortedTenants">
                    <div class="form-check" *ngIf="tenant?.Name">
                      <input
                        type="checkbox"
                        [id]="'tenant-' + tenant?.OrganizationId"
                        name="Comp-Tenants"
                        class="form-check-input"
                        (change)="toggleTenantSelection(tenant)"
                      />
                      <label
                        class="form-check-label tenantorg"
                        [for]="'tenant-' + tenant?.OrganizationId"
                      >
                        {{ truncateText(tenant.Name) }}
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ng-template #noTenantss>
                <div class="text-muted text-center">No tenants available.</div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="sortedOrgs.length > 0">
          <div class="card card-filter static-height">
            <div class="card-body position-relative">
              <div>
                <div class="small-titlefilter">
                  <span>Management Company</span>
                </div>
                <div class="mt-3">
                  <ng-container *ngFor="let org of sortedOrgs">
                    <div class="form-check" *ngIf="org?.Name">
                      <input
                        type="checkbox"
                        [id]="'org-' + org?.OrganizationId"
                        name="Comp-ManagementCompany"
                        class="form-check-input"
                        (change)="toggleOrgSelection(org)"
                      />
                      <label
                        class="form-check-label tenantorg"
                        [for]="'org-' + org?.OrganizationId"
                      >
                        {{ truncateText(org.Name) }}
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ng-template #noManagementOrgs>
                <div class="text-muted text-center">
                  No management companies available.
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-2" *ngIf="secondaryTypes.length > 0">
          <div class="card card-filter static-height">
            <div class="card-body position-relative">
              <div>
                <div class="small-titlefilter">
                  <span>Secondary Type</span>
                </div>
                <div class="mt-3">
                  <ng-container *ngFor="let secondary of secondaryTypes">
                    <div class="form-check" *ngIf="secondary?.SecondaryType">
                      <input
                        type="checkbox"
                        [id]="'secondary-' + secondary.SecondaryType"
                        name="Comp-SecondaryType"
                        class="form-check-input"
                        (change)="toggleSecondaryTypeSelection(secondary)"
                      />
                      <label
                        class="form-check-label tenantorg"
                        [for]="'secondary-' + secondary.SecondaryType"
                      >
                        {{ secondary.SecondaryType }}
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ng-template #noSecondaryTypes>
                <div class="text-muted text-center">
                  No secondary types available.
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-2" *ngIf="neighbourhoods.length > 0">
          <div class="card card-filter static-height">
            <div class="card-body position-relative">
              <div>
                <div class="small-titlefilter">
                  <span>Neighbourhood</span>
                </div>
                <div class="mt-3">
                  <ng-container *ngFor="let neighbourhood of neighbourhoods">
                    <div
                      class="form-check"
                      *ngIf="neighbourhood?.Neighbourhood"
                    >
                      <input
                        type="checkbox"
                        [id]="'neighbourhood-' + neighbourhood.Neighbourhood"
                        name="Comp-Neighbourhood"
                        class="form-check-input"
                        (change)="toggleNeighbourhoodSelection(neighbourhood)"
                      />
                      <label
                        class="form-check-label tenantorg"
                        [for]="'neighbourhood-' + neighbourhood.Neighbourhood"
                      >
                        {{ neighbourhood.Neighbourhood }}
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ng-template #noNeighbourhoods>
                <div class="text-muted text-center">
                  No neighbourhoods available.
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-2" *ngIf="tenantCategories.length > 0">
          <div class="card card-filter static-height">
            <div class="card-body position-relative">
              <div>
                <div class="small-titlefilter">
                  <span>Tenant Categories</span>
                </div>
                <div class="mt-3">
                  <ng-container *ngFor="let category of tenantCategories">
                    <div class="form-check" *ngIf="category?.Name">
                      <input
                        type="checkbox"
                        [id]="'category-' + category.Name"
                        name="Comp-TenantCategory"
                        class="form-check-input"
                        (change)="toggleTenantCategorySelection(category)"
                      />
                      <label
                        class="form-check-label tenantorg"
                        [for]="'category-' + category.Name"
                      >
                        {{ category.Name }}
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ng-template #noTenantCategories>
                <div class="text-muted text-center">
                  No tenant categories available.
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 mt-2"
          *ngIf="minBuildingSize !== null && maxBuildingSize !== null"
        >
          <div class="card card-filter static-height">
            <div class="card-body position-relative">
              <div>
                <div class="small-titlefilter">
                  <span>Building Size Range</span>
                </div>

                <div class="mt-3">
                  <!-- Min Size Slider -->
                  <div>
                    <label for="size-min" class="sqft"
                      > SF Min Size: {{ selectedMin | number }}</label
                    >
                    <input class="ms-2"
                      type="range"
                      id="size-min"
                      [(ngModel)]="selectedMin"
                      name="minSize"
                      [min]="minBuildingSize"
                      [max]="maxBuildingSize"
                      (change)="updateSliderValues()"
                    />
                  </div>

                  <!-- Max Size Slider -->
                  <div>
                    <label for="size-max" class="sqft"
                      > SF Max Size: {{ selectedMax | number }}</label
                    >
                    <input class="ms-2"
                      type="range"
                      id="size-max"
                      [(ngModel)]="selectedMax"
                      name="maxSize"
                      [min]="minBuildingSize"
                      [max]="maxBuildingSize"
                      (change)="updateSliderValues()"
                    />
                  </div>
                  <!-- 🔹 Button to Fetch Results -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary mt-3" (click)="getResult()">
        Filter
      </button>
      <button
        type="button"
        class="btn btn-primary mt-3"
        (click)="modal.dismiss()"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>
