.btn {
  border: 1px solid #d3d3d3;
  background-color: #f8f9fa;
  color: #707791;
  border-radius: 4px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.explorebtn{
  display: flex;
  padding: var(--Space-Space-8, 8px);
  align-items: center;
  gap: var(--Space-Space-8, 4px);
  border-radius: var(--Radius-Radius-12, 12px);
 background: var(--Card-Section-BG, #FFF);
}
.buyboxbtn{
display: flex;
height: 43px;
padding: 6px 12px;
align-items: center;
gap: 8px;
border-radius: var(--Radius-Radius-8, 8px);
background: var(--Card-Section-BG, #FFF);
}

/* Selected button styling */
.selected-button {
  background-color: #e0e7ff; /* Light purple background */
  color: #4D65B4; /* Blue color for text */
  border-color: #4D65B4; /* Blue border */
}
.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container for buttons */
.mb-4 {
  margin-bottom: 1.5rem;
}

/* Bind Button */
.bind-button {
  display: flex;
  height: 48px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Button-Primary-BG, #4D65B4);
  color: #fff;
}
.apply-button {
  display: flex;
  height: 48px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Button-Primary-BG, #be2352);
  color: #fff;
}
.bind-btn {
  display: flex;
  height: 48px;
  padding: 7px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Button-Primary-BG, #4D65B4);
  color: #fff;
}

/* Bulk Bind Button */
.bulk-button {
display: flex;
height: 48px;
padding: 14px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: var(--Radius-Radius-16, 16px);
border: 1px solid var(--Button-Secondary-Stroke-Color-Default, #4D65B4);
background: var(--Button-Secondary-BG, #FFF);
color: #4D65B4;
}

/* Add hover effects for both buttons */
.bind-button:hover {
  background-color: #3c4f91;
}

.bulk-button:hover {
  background-color: #f0f4ff;
}
.chosen-places-container {
  display: inline-block; /* Make the container width fit its content */
  padding: 0px var(--Space-Space-20, 20px);
  gap: var(--Space-Space-12, 12px);
  border-radius: var(--Radius-Radius-24, 24px);
  background: var(--Body-Page-BG, #F1F1F4);
}
.chosen-places-label {
  color: var(--Body-Heading-Color, #16181D);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.place-item {
  font-size: 14px;
  color: var(--Body-Text-Color, #707791); /* Subtle text color */
  margin-right: 8px; /* Spacing between items */
  white-space: nowrap; /* Prevent wrapping */
}

.view-more-link {
  font-size: 14px;
  color: var(--Button-Link-Label, #4D65B4); /* Link color */
  text-decoration: none;
}
.view-more-link i {
  font-size: 12px; /* Smaller arrow icon */
  margin-left: 4px;
}
.search-bar {
  display: flex;
  align-items: center;
  border-radius: var(--Radius-Radius-32, 32px);
  background: var(--Card-Section-BG, #FFF);
  box-shadow: -2px 3px 15px -8px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}
.search-bar input[type="text"] {
  color: var(--Inputs-Color-Hierarchy-1, #707791);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  
}
.search-bar select {
  border: none;
  outline: none;
  font-size: 16px;
  color: #9b9b9b;
  background: none;
  margin: 0 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.search-bar select::-ms-expand {
  display: none;
}
.search-bar button {
  background-color: #5c6bc0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar button i {
  color: #ffffff;
  font-size: 16px;
}

.search-bar .separator {
  font-size: 1.5rem; 
  color: var(--Body-General-Body-Border, #E2E4E9);}

.search-bar .search-btn {
  display: flex;
  padding: var(--Space-Space-16, 16px);
  align-items: center;
  gap: 10px;
  border-radius: var(--Radius-Radius-32, 32px);
  background: var(--Colors-Primary-500, #4D65B4);
}
.search-textt{
color: var(--Inputs-Color-Hierarchy-1, #707791);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.table-headd{
color: var(--Table-Title-Cell-Color, #16181D);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.table-text1{
color: var(--Table-Info-Cell-Color, #707791);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: -0.07px;
}
.table-text2{
color: var(--Colors-Primary-500, #4D65B4);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
}













body{
  background-color: red !important;
}
.card-filter {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-select {
  border-radius: 0;
  padding: 7px 19px;
}
.d-flex .form-select,
.d-flex .input-group {
  flex-grow: 1; 
}

.d-flex {
  gap: 0; 
}

.blue-box {
  background-color: #013060;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.blue-box i {
  color: white;
  transition: color 0.3s ease; 
}

.blue-box:hover {
  background-color: #00509e; 
  transform: scale(1.1); 
}

.show-map {
  color: var(--Colors-Neutral-900, #0c0d0e);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: -0.07px;
  width: max-content;

}

.btn-filter {
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.btn-filter:hover {
  background-color: #0056b3; 
}
.image-container {
  position: relative; /* Set the container relative for absolute positioning of the button */
  display: inline-block; /* Ensure the image and button wrap together */
}

.kayak-img {
  height: 135px;
  width: 135px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px; /* Rounded corners */
  display: block; /* Ensure the image behaves as a block */
  
}
.custom-map-btn {
  height: 48px;
  padding: 14px 24px;
  gap: 8px;
  flex: 1 0 0; 
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Button-Primary-BG, #4D65B4); 
  color: #fff; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.custom-map-btn:active {
  background: #2e3f74; 
}
.custom-bind-btn {
  height: 48px;
  padding: 14px 24px;
  gap: 8px;
  flex: 1 0 0; 
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Button-Primary-BG, #6c757d); 
  color: #fff; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.custom-bind-btn:active {
  background: #666c72; 
}
.custom-street-btn {
  height: 48px;
  padding: 14px 24px;
  gap: 8px; 
  flex: 1 0 0; 
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Body-Heading-Color, #16181D); 
  color: #fff;
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  font-weight: 500; 
  line-height: 24px; 
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.custom-street-btn:active {
  background: #0e1115; 
  transform: scale(0.98); 
}
.eye-text{
color: var(--Button-Link-Label, #4D65B4);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}
.view-gallery {
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  z-index: 10; 
  padding: var(--Space-Space-12, 8px) var(--Space-Space-16, 10px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--Radius-Radius-8, 8px);
  background-color: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(1.5px);
  cursor: pointer;
}

#state-select,
#city-select {
  border-radius: 10px;
}
.card-body {
  position: relative; 
}



.btn-filter {
  width: 80%; 
  border-radius: 15px; 
}
.text-center {
  text-align: center;
  margin-top: 10px;
}

.company-name {
  color: var(--Body-Heading-Color, #0C0D0E);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}
.carddd {
  border-radius: 8px;
  border: none;
}

.carddd:hover {
  transform: translateY(-1.3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
}
.info-background {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;  
  padding: 5px 15px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.info-background:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.black-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px; 
}

.info-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.small-line {
  height: 1px;
}
.input-group-text {
  background-color: #f8f9fa;
  border: 1px solid #ced4da; 
}

.form-check-input {
  width: 20px; 
  height: 20px;
}

.form-check-label {
  color: var(--Body-Body-Color-Text-Icons, #7A8591);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}
.title-filter{
  color: var(--Body-Heading-Color, #0C0D0E);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}
.small-titlefilter{
  color: var(--Body-Heading-Color, #0C0D0E);

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}

.search-inputs::placeholder {
  color: var(--Inputs-Color-Placeholder-Label, #7A8591);
  text-align: left;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.search-inputs {
  color: var(--Inputs-Color-Placeholder-Label, #7A8591);
  text-align: left;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

}

.search-inputs option {
  color: var(--Inputs-Color-Placeholder-Label, #7A8591);
  text-align: left;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btn-primary {
  border-radius: var(--Button-Radius, 16px);
  border: 1px solid var(--Button-Secondary-Stroke-Color-Default, #001F3F);
  background: var(--Button-Secondary-BG, #FFF);
  color:#001F3F;
}

.btn-secondary {
  border-radius: var(--Button-Radius, 16px);
  background: linear-gradient(180deg, #013060 0%, #0051A5 83.53%);
}
.btn-success {
  border-radius: var(--Button-Radius, 16px);
  background: linear-gradient(180deg, #016034 0%, #00a560 83.53%);
}

.btn:hover {
  opacity: 0.9; 
}
.w-80 {
  width: 80%; 
  max-width: 400px; 
}

.d-flex.justify-content-center {
  text-align: center; 
}
.no-wrap {
  white-space: nowrap;
}
.text-truncate {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 300px; 
}
.text-managementorg {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 150px; 
}
.card-texts{
  color: var(--Body-Body-Color-Text-Icons, #7A8591);

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: -0.07px;
}
.card-strongs{
  color: var(--Body-Heading-Color, #0C0D0E);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 30px; 
}

.tags{
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  margin-left: 0;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
}

.custom-multiselect {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.specialty-list {
  display: flex;
  flex-direction: column;
}
.specialty-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.specialty-item input {
  margin-right: 10px;
}
.no-underline {
  text-decoration: none !important; /* Remove underline */
}
.tenantorg{
  font-size: 0.9rem;
}
.modal-imgg{
  max-width: 700px;
  max-height: 700px;

}
.shoppingcentername{
  color: var(--Body-Heading-Color, #0C0D0E);

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 30px; 
}
.logooo{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.main-card {
  gap: var(--Space-Space-16, 16px);
  max-width: 800px;
  margin: 0px -8px;
  position: relative;
}

.gallerybtn {
  font-size: 0.8rem;
  opacity: 0.8; /* Softer look */
  transition: opacity 0.3s ease, transform 0.2s ease, backdrop-filter 0.3s ease; /* Smooth transitions */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for blur effect */
  color: white;
  backdrop-filter: blur(5px); /* Add blur effect */
  cursor: pointer;
  border-radius: 20px;
}

.gallerybtn:hover {
  opacity: 1; /* Fully visible on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  backdrop-filter: blur(8px); /* Increase blur effect on hover */
}

.gallerybtn:active {
  opacity: 0.9; /* Slightly dimmed when clicked */
  transform: scale(0.95); /* Add a press effect */
}
.svg-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #817a79;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.circle-container {
  display: flex; /* Use Flexbox for centering */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  width: 25px; /* Set width for the circle */
  height: 25px; /* Set height for the circle */
  border-radius: 50%; /* Make it circular */
  border: 1px solid #ccc; /* Optional border */
  cursor: pointer; /* Optional pointer cursor */
}

.circle-container i {
  font-size: 16px; /* Adjust icon size */
  color: #555; /* Icon color */
}
.custom-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 6px;
  top: 50px;
  right: 26px;
  z-index: 1000;
}

ul {
  list-style: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

ul li {
  display: flex; /* Use flexbox to align image and text */
  align-items: center;
  padding: 5px 10px; /* Add some padding for better spacing */
  cursor: pointer; /* Change cursor to pointer for interactivity */
}

ul li:hover {
  background-color: #f5f5f5; /* Optional: Highlight on hover */
}

.li-icon {
  width: 20px; /* Set image size */
  height: 20px;
  margin-right: 10px; /* Space between image and text */
  object-fit: contain; /* Ensure image fits within the bounds */
}
.place-details {
  display: flex;
  align-items: center; /* Vertically center all items */
  justify-content: space-between; /* Distribute space evenly */
  gap: 10px; /* Add spacing between items */
}

.building-size {
  flex: 1; /* Push to the start */
  text-align: start; /* Align text to the left */
}

.suite {
  flex: 1; /* Center in the card */
  text-align: center; /* Center text horizontally */
}

.for-lease {
  flex: 1; /* Push to the end */
  text-align: end; /* Align text to the right */
}

.tags {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tags:hover {
  background-color: #007bff;
  color: white;
}





