<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-filter ">
        <div
          class="card-body position-relative "
          
        >
          <div class="d-flex align-items-center justify-content-between">
            <div class="title-filter">
              <span>Filter</span>
            </div>
          </div>

          <div>
            <div class="mt-3 small-titlefilter">
              <span>State</span>
            </div>
            <select
              id="state-select"
              class="form-select search-inputs"
              [(ngModel)]="filterValues.statecode"
              (ngModelChange)="onStateChange()"
            >
              <option selected>All</option>
              <option *ngFor="let state of uniqueStates">{{ state }}</option>
            </select>
          </div>

          <div>
            <div class="mt-3 small-titlefilter">
              <span>City</span>
            </div>
            <select
              id="city-select"
              class="form-select search-inputs"
              [(ngModel)]="filterValues.city"
              (ngModelChange)="onCityChange()"
            >
              <option selected>All</option>
              <option *ngFor="let city of uniqueCities">{{ city.city }}</option>
            </select>
          </div>
          

          <ng-container *ngIf="Filters">
            <hr class="small-line" />
          
            <!-- Availability Filter -->
            <div>
              <div class="mt-3 small-titlefilter">
                <input
                  type="checkbox"
                  id="availabilty"
                  name="availabilty"
                  class="form-check-input"
                  [(ngModel)]="filterValues.availabilty"
                  (ngModelChange)="handleAvailabilityChange()"
                />
                <label for="availabilty" class="form-check-label ms-2">Availabilty</label>
              </div>

              <!-- Square Footage Filter -->
              <div class="mt-3 small-titlefilter">
                <span>Sqft</span>
                <input
                  type="number"
                  class="form-control"
                  placeholder="sqft"
                  [(ngModel)]="filterValues.sqft"
                  (change)="handleSqftChange()"
                />
              </div>
          
              <!-- Secondary Type Filter -->
              <div class="mt-3 small-titlefilter">
                <span>Secondary Type</span>
              </div>
              <select
                class="form-select search-inputs"
                [(ngModel)]="filterValues.secondarytype"
                (ngModelChange)="getResult()"
              >
                <option selected>All</option>
                <ng-container *ngFor="let Secondary of Filters?.SecondaryType">
                  <option value="{{ Secondary.SecondaryType }}">
                    {{ Secondary.SecondaryType }}
                  </option>
                </ng-container>
              </select>
            </div>
          
            <hr class="small-line" />
          
            <!-- Tenants Filter -->
            <div>
            <div>
              <div class="mt-3 small-titlefilter">
                <span>Tenants</span>
              </div>
              <div class="mt-3">
                <ng-container *ngFor="let tenant of sortedTenants">
                  <div class="form-check" *ngIf="tenant.Name">
                    <input
                      type="checkbox"
                      [id]="'tenant-' + tenant.OrganizationId"
                      name="Comp-Tenants"
                      class="form-check-input"
                      (change)="toggleTenantSelection(tenant)"
                      [(ngModel)]="tenant.Selected"
                    />
                    <label
                      class="form-check-label tenantorg"
                      [for]="'tenant-' + tenant.OrganizationId"
                    >
                      {{ tenant.Name.length > 25 ? tenant.Name.slice(0, 25) + '...' : tenant.Name }}
                    </label>
                  </div>
                </ng-container>
                <div class="text-center mt-2">
                  <button class="btn btn-link no-underline" (click)="toggleTenantList()">
                    {{ showAllTenants ? "Show Less ▲" : "Show More ▼" }}
                  </button>
                </div>
              </div>
              </div>
              
              
              
              
            
            </div>
          
            <!-- Tags Filter -->
            <div>
              <div class="mt-3 small-titlefilter">
                <span>Tenant Tags</span>
              </div>
                <button class="x-btn tags" (click)="openTagsModal(tagsModal)">
                  Select Tags <i class="fas fa-tags ml-1"></i>
                </button>
            </div>
          
            <!-- Management Company Filter -->
            <div>
              <div class="mt-3 small-titlefilter">
                <span>Management Company</span>
              </div>
              <div class="mt-3">
                <div >
                  <div *ngFor="let Org of sortedOrgs">
                    <div class="form-check" *ngIf="Org.Name">
                      <input
                        type="checkbox"
                        name="Comp-Tenants"
                        class="form-check-input"
                        (change)="toggleOrgSelection(Org)"
                        [(ngModel)]="Org.Selected"
                      />
                      <label class="form-check-label tenantorg">
                        {{ Org.Name.length > 25 ? Org.Name.slice(0, 25) + '...' : Org.Name }}
                      </label>
                    </div>
                  </div>
                  <div class="text-center mt-2">
                    <button class="btn btn-link no-underline" (click)="toggleOrgList()">
                      {{ showAllOrgs ? "Show Less ▲" : "Show More ▼" }}
                    </button>
                  </div>
                </div>
                
               
              </div>
            </div>
            
          </ng-container>
          <div class="d-flex align-items-center justify-content-center mt-3">
            <button
              type="button"
              class="btn btn-secondary w-80"
              aria-label="To"
              (click)="searchShoppingCenter()"
            >
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control search-inputs"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-9">
                  <div
                    class="d-inline-flex align-items-center border p-2 rounded gray-background"
                  >
                    <span class="me-2 show-map">Show Map</span>
                    <img src="../../../../assets/Images/Icons/map.png" alt="" />
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <button class="btn btn-secondary" (click)="searchShoppingCenter()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div> -->
              </div>
            </div>
            <ng-container>
              <!-- Loop through KayakResult -->
              <div
  class="col-md-12"
  *ngFor="let result of KayakResult?.Result; let i = index"
  
>
                <div   *ngIf="
                result?.MainImage &&
                result?.CenterName &&
                result?.CenterAddress &&
                result?.CenterCity &&
                result?.CenterState
              " class="card carddd mb-3 gray-background">
                  <div class="card-body">
                    <div class="row">
                      <!-- Left Side: Result Details -->
                      <div class="col-md-4">
          <!-- Wrapper with position relative -->
          <div class="image-container position-relative">
            <!-- Image -->
                        <img
                          class="kayak-img img-fluid rounded"
              *ngIf="result?.MainImage"
              [src]="result?.MainImage"
              [alt]="result?.CenterName"
            />
            <button
              class="view-gallery btn gallerybtn"
              (click)="openGallery(i)"
            >
              View Gallery
            </button>
                      </div>
                          </div>

        <!-- Right Side -->
        <div class="col-md-8 sizeofdata">
          <div class="d-flex align-items-center justify-content-between">
            <div class="me-2">
              <div class=" shoppingcentername">
                            <span>{{ result.CenterName }}</span>
                          </div>
                        </div>

            <!-- Circle Container -->
            <div class="circle-container" (click)="toggleDropdown(i)">
              <i class="fa-solid fa-ellipsis"></i>
                          </div>

            <!-- Dropdown -->
            <div
            *ngIf="isDropdownOpenIndex === i"
            class="custom-dropdown"
          >
            <ul>
              <!-- Street View -->
              <li (click)="openStreetViewPlace(StreetViewPlace, result)">
                <img src="../../../../assets/Images/Icons/Street View.png" alt="Street View" class="li-icon" />
                Street View
              </li>
          
              <!-- Map View -->
              <li (click)="openMapViewPlace(MapViewPlace, result)">
                <img src="../../../../assets/Images/Icons/map.png" alt="Map View" class="li-icon" />
                Map View
              </li>
          
              <!-- Tenant -->
              <li (click)="GetShoppingCenterTenants(result.Id)">
                <img src="../../../../assets/Images/Icons/buildings-2.png" alt="Tenant" class="li-icon" />
                Tenant
              </li>


               <!-- Availability -->
              <li (click)="GetShoppingCenterAvailability(result.Id)">
                <img src="../../../../assets/Images/Icons/tick-square.png" alt="Availability" class="li-icon" />
                Availability
              </li>
            </ul>
                        </div>

                          </div>

          <div class="d-flex align-items-center mt-1">
            <div class=" card-texts text-nowrap">
              <span>{{ result.CenterAddress }}, {{ result.CenterCity }} {{ result.CenterState }}</span>
                          </div>
                        </div>

          <div *ngIf="KayakResult?.Result?.length > 0" class="d-flex align-items-center justify-content-start mt-1">
            <!-- Logo -->
            <div *ngIf="KayakResult?.ManagementOrganizations?.length > i">
              <img
                [src]="
                  'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
                  KayakResult?.ManagementOrganizations[i].Id
                "
                [alt]="KayakResult?.ManagementOrganizations[i]?.Name || 'No Name Available'"
                class="logooo me-2"
              />
            </div>

            <!-- Name -->
            <div class=" company-name me-2">
              <span>{{ KayakResult?.ManagementOrganizations[i]?.Name }}</span>
            </div>
            </div>
          <div class=" main-card" style="padding: 12px;">
            <!-- Header -->
            <span style=" font-size: 16px; font-weight: bold;">Places</span>
        
            <!-- Display Places -->
         <!-- Display Places -->
<!-- Display Places -->
<div *ngFor="let place of getVisiblePlaces(result, i); let j = index" class="place-row">
  <div class="d-flex align-items-center justify-content-between place-details">
    <!-- Building Size: Start -->
    <div class="building-size">
      <span class="label card-texts">Unit Size:</span>&nbsp;&nbsp;
      <span class="value card-strongs">{{ place?.BuildingSizeSf || 'N/A' }} SqFt</span>
    </div>

    <!-- Suite: Center -->
    <div class="suite text-center">
      <span class="label card-texts">Suite:</span>&nbsp;&nbsp;
      <span class="value card-strongs">{{ place?.Suite || 'N/A' }}</span>
                            </div>

    <!-- For Lease Price: End -->
    <div class="for-lease text-end">
      <span class="label card-texts">For Lease Price:</span>&nbsp;&nbsp;
      <span class="value card-strongs">{{ place?.ForLeasePrice ? ('$' + place?.ForLeasePrice + '/SqFt') : 'N/A' }}</span>
                            </div>
                          </div>
  <hr *ngIf="j !== getVisiblePlaces(result, i).length - 1" />
                        </div>
                          

<!-- See More/Show Less Link -->
<div class="text-center mt-2" *ngIf="result?.place?.length > 2">
  <button class="btn btn-link no-underline" (click)="toggleSeeMorePlaces(i)">
    {{ showAllPlacesIndex === i ? "Show Less ▲" : "Show More ▼" }}
  </button>
                        </div>

          </div>

          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tagsModal let-modal>
  <div class="modal-body">
    <div class="custom-multiselect">
      <!-- Search Input -->
      <input
        type="text"
        placeholder="Search Tags..."
        [(ngModel)]="searchTerm"
        (input)="filterTags()"
        class="search-input"
      />
      <!-- List of Tags -->
      <div class="specialty-list">
        <label *ngFor="let tag of visibleTags" class="specialty-item">
          <input
            type="checkbox"
            [checked]="isTagSelected(tag)"
            (change)="toggleTagSelection(tag)"
          />
          {{ tag.tag }}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button class="btn btn-primary tags" (click)="applyTags()">Apply</button>
  </div>
</ng-template>


<!-- Modal Template -->
<ng-template #galleryModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Image Gallery</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="placeImage && placeImage.length > 0; else noImages">
      <!-- Loop through and display images -->
      <div *ngFor="let img of placeImage" class="mb-3 text-center">
        <img [src]="img" alt="Image" class="img-fluid rounded modal-imgg" />
      </div>
    </div>
    <!-- Fallback for No Images -->
    <ng-template #noImages>
      <p class="text-center">No images available for this card.</p>
    </ng-template>
  </div>
</ng-template>
<ng-template #popoverContent>
  <div *ngIf="sortedTenants.length > 0; else noTenants">
    <div *ngFor="let tenant of sortedTenants" class="mb-2">
      <p><strong>Name:</strong> {{ tenant.Name }}</p>
      <p><strong>Summary:</strong> {{ tenant.Summary }}</p>
    </div>
  </div>

  <ng-template #noTenants>
    <p>No tenant details available.</p>
  </ng-template>
</ng-template>

<ng-template #MapViewPlace let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Map View</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div id="mappopup" style="height: 400px; width: 100%;"></div>
  </div>
</ng-template>
<ng-template #tenantModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Shopping Center Tenants</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div *ngIf="ShoppingCenterTenants?.length > 0" class="tenants-list mt-3">
      <!-- Table for Tenants -->
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tenant of ShoppingCenterTenants">
            <td>{{ tenant.name }}</td>
            <td>{{ tenant.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Fallback if no tenants -->
    <div *ngIf="!ShoppingCenterTenants || ShoppingCenterTenants.length === 0">
      <p>No tenants available for this shopping center.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Close
    </button>
  </div>
</ng-template>

<ng-template #StreetViewPlace let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Street View</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div id="street-view" style="height: 400px; width: 100%;"></div>
  </div>
</ng-template>
