<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="row p-0">

  <!-- Main Content -->
  <div class="row m-0 p-0">
    <!-- Column 1: Organization and Contacts -->
    <div class="col-lg-3 p-0 m-0">
      <div class="buttonandname">
        <button class="back" (click)="goBack()">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="org-data ms-2">
          <img
            [src]="
              'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
              orgId
            "
            width="30"
            height="30"
            style="border-radius: 50%"
          />
          <h5 class="org-name mb-0">{{ selectedOrganizationName }}</h5>
        </div>
      </div>
      
      <div class="card" style="border: none; border-radius: 0; min-height: 80vh;">
        <div class="card-header" style="background-color: white; padding: 24px;">
          <h5 class="contacts mb-0">Contacts</h5>
        </div>
        <div class="card-body" >
          <ul class="card-body" style="padding: 5px; overflow-y: auto; max-height: 63vh;"
         [class.scrolling]="isScrolling" 
         (scroll)="onScroll()"
          >
            <li
              class="contact-list"
              *ngFor="let contact of contacts"
              (click)="getEmailsForContact(contact)"
              [ngClass]="{
                'selected-contact':
                  contact.ContactId === selectedContact?.ContactId
              }"
            >
            <div class="d-flex justify-content-between w-100">
              <span class="namecontact">
                {{ contact.Firstname }} {{ contact.Lastname }}
              </span>
              
                <span style="color: #ce0000;" *ngIf="getTotalEmails(contact) > 0">
                  {{ getTotalEmails(contact) }}
                </span>
              </div>
            </li>
          </ul>
          <p *ngIf="contacts.length === 0" class="no-contact-msg">
            No contacts available in this organization.
          </p>
        </div>
      </div>
    </div>

    <!-- Email List Column -->
    <div class="col-lg-4 p-0 mb-3">
      <div class="card"
      [class.scrolling]="isScrolling" 
      (scroll)="onScroll()"
       style="border: none; min-height: 92vh; border-radius: 0; overflow-y: auto;">
        <div class="mailbox-header">
          <div class="top-left">
          <h5 class="contacts">Mail box</h5>
        </div>
        <div class="top-right d-flex">
          <button class="new-btn"
            [routerLink]="['/emily', buyBoxId, orgId , selectedMicroDealId ]"
            >
            New 
            <img [src]="'../../../assets/Images/Icons/arrow-down.png'" 
            />
          </button>
            <!-- <div class="out-icn">
              <img [src]="'../../../assets/Images/Icons/search-normal.png'"/>
            </div> -->
            <div class="out-icn" (click)="loadInitialData()">
              <img [src]="'../../../assets/Images/Icons/rotate-right.png'"/>
            </div>
        </div>
        </div>
        <div class="card-bodyy" style="max-height: 80vh; overflow-y: auto;">
          <div *ngIf="selectedContact">
            <div class="email-list">
              <div
                class="single-mail" style="cursor: pointer;"
                *ngFor="let email of emailsSentContact"
                (click)="openEmail(email)"
                [ngClass]="{ 'selected-email': email.id === selectedEmail?.ID }"
              >
                <p class="subject"> {{ email.Subject }}</p>
                <p class="date"> {{ email.Date | date : "medium" }}</p>
              </div>

              <p *ngIf="emailsSentContact.length === 0" class="no-email-msg">
                {{ emptyMessage }}
              </p>
            </div>
          </div>
          <p *ngIf="!selectedContact" class="no-contact-selected">
            Select a contact to view emails.
          </p>
        </div>
      </div>
    </div>

    <!-- Email body and subject -->
    <div class="col-lg-5 p-0 m-0" id="emailDetails">
      <div class="email-details-body"
      [class.scrolling]="isScrolling" 
      (scroll)="onScroll()"
      style=" overflow-y: auto;"
      >
        <div class="card-body"
       
        style="min-height: 87vh; max-height: 87vh;"
        >
          <div *ngIf="selectedEmail">
            <p class="subject-details"> {{ selectedEmail.Subject }}</p>
            <!-- <p>
              <strong>Date:</strong> {{ selectedEmail.Date | date : "medium" }}
            </p> -->
            <div class="body-details" [innerHTML]="selectedEmail.Body"></div>
          </div>
          <p *ngIf="!selectedEmail" class="no-email-selected">
            Select an email to view details.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
