.navbar-background {
  padding-top: 15px;
  padding-bottom: 15px;
  background: var(--Card-Section-BG, #fff);
}
.small-logo {
  width: 35px;
  height: 35px;
  border-radius: 48px;
}
.background {
  background: var(--Body-Page-BG, #f2f3f4);
}

.boldtext {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  align-self: flex-start;
  text-align: left;
}
.brokertext {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.proposal-button {
  display: flex;
  padding: var(--Button-Padding-top-bottom, 12px)
    var(--Button-Padding-left-right, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  background: var(--Button-Primary-BG, #001f3f);
  color: var(--Button-Primary-Label, #fff);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.custom-hr {
  border: 0;
  height: 1px;
  background: var(--Body-General-Body-Border, #caced3);
  margin: 20px 0;
}
.Osmowstext {
  color: var(--Body-Body-Color-Text-Icons, #7a8591);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.cardbackground {
  border-radius: var(--Radius-Radius-12, 12px);
  background: linear-gradient(108deg, #d7141b 27.97%, #d92128 86%);

  /* Highlight Shadow */
  box-shadow: -1px 3px 17px 0px rgba(0, 0, 0, 0.1);
}
.namee {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.frameee {
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Card-Section-BG, #fff);
  width: -moz-fit-content;
  width: fit-content;
}

.broker {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.07px;
  background: linear-gradient(108deg, #d7141b 27.97%, #d92128 86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.email {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.linkedin {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  transition: color 0.3s, text-decoration 0.3s;
}
.linkedin:hover {
  color: #7a8591;
  text-decoration: underline;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.line {
  width: 110.5px;
  height: 1px;
  background-color: #ffffff;
}

.assistant {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.smalllframe {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: var(--Radius-Radius-24, 24px);
  border: 1px solid var(--Body-General-Body-Border, #caced3);
  background: var(--Card-Section-BG, #fff);
  margin-right: 8px;
}
.small-image {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.lowwhite {
  color: #afa8a8;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.card-sizee {
  border-radius: var(--Card-Section-Lg-Radius, 20px);
  background: var(--Card-Section-BG, #fff);
}
.bigcard {
  border-radius: var(--Card-Section-Lg-Radius, 20px);
  background: var(--Card-Section-BG, #fff);
}
.brokerframeee {
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--Radius-Radius-16, 16px);
  border: 1px solid #007bff;
  background: var(--Card-Section-BG, #fff);
  width: -moz-fit-content;
  width: fit-content;
}
.nameincard {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.emailincard {
  color: var(--Body-Body-Color-Text-Icons, #7a8591);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.card-bodyy {
  position: relative;
}

.image-container {
  position: absolute;
  top: 30px;
  left: -40px;
  transform: translate(0, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-radius: 40px 4px;
  border: 8px solid var(--Body-Page-BG, #f2f3f4);
}

.broker-container {
  border-radius: 40px 4px;
  position: absolute;
  top: -80px;
  left: 40px;
  width: 100%;
  height: auto;
}

/* Style for the image to take up full width */
.imagebroker {
  width: 100%; /* Image will take full width of the container */
  height: auto; /* Keeps the aspect ratio intact */
  border-top-left-radius: 30px; /* Adjust border radius for rounded corners */
  border-bottom-right-radius: 30px; /* Adjust border radius for rounded corners */
  border-radius: 40px 4px;
  border: 8px solid #accbed;
}

.card-bodyy img {
  width: 100%;
  height: 100%;
}
.customm-hr {
  border: 0.6;
  height: 1px;
  background: var(--Body-General-Body-Border, #caced3);
  margin: 10px 0;
  width: 100%; /* Makes the <hr> take the full width of its container */
}
.overviewtext {
  color: var(--Body-Heading-Color, #0c0d0e);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.grayspan {
  color: var(--Body-Body-Color-Text-Icons, #7a8591);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.brokerandmangeorgimage {
  border-radius: 40px 4px;
  width: 120px;
  height: 120px;
}
.cherry-logo {
  width: 184px;
  cursor: pointer;
}
.col-1 {
  width: 20px;
}
.imagebroker {
  width: 350px;
  height: 350px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.imagebroker::before,
.imagebroker::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black; /* Change the color of the border here */
}

.imagebroker::before {
  top: 0;
  left: 0;
  border-top-left-radius: 15px; /* Top-left border effect */
}

.imagebroker::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 15px; /* Bottom-right border effect */
}
.red-background {
  background-image: url("../../../assets/Images/RedImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 150px; /* Ensure enough height for your design */
  border-radius: 20px; /* Matches the rounded edges in your screenshot */
  position: relative; /* So we can absolutely position elements inside */
}
/* Container for the logo and text, also position: relative */
.logo-container {
  min-height: 150px; /* Adjust to fit your design */
  position: relative;
}

.tenant-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 91%;
  left: 10px;
  transform: translateY(-50%);
}
.buyboxpos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 30%;
  left: -14px;
  transform: translateY(-50%);
}

/* Position the buttons at the bottom-right within .logo-container */
.content-right {
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 8px; /* Adjust the gap as needed */
}

/* Optional styling for buttons */
.share-btn,
.proposal-btn {
  background-color: #fff;
  color: #c00;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 8px;
}

.banner-text {
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-size: 1.2rem;
}
.btn-share {
  display: flex;
  height: 40px;
  padding: var(--Button-Padding-top-bottom, 20px)
    var(--Button-Padding-left-right, 21px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  border: 1px solid #d92128;
  background: var(--Button-Secondary-BG, #fff);
}

.btn-share span {
  color: #d92128;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.btn-submit-proposel {
  display: flex;
  height: 48px;
  padding: var(--Button-Padding-top-bottom, 12px)
    var(--Button-Padding-left-right, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  background: #d92128;
}
.btn-submit-proposel span {
  color: var(--Button-Primary-Label, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.btn-submit {
  display: flex;
  height: 40px;
  padding: var(--Button-Padding-top-bottom, 20px)
    var(--Button-Padding-left-right, 21px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap, 8px);
  border-radius: var(--Button-Radius, 16px);
  background: var(--Colors-Primary-900, #00060d);
}

.btn-submit span {
  color: var(--Button-Primary-Label, #fff);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.row-background {
  height: 45vh;
  background-image: url("../../../assets/Images/GreyImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.reddd {
  background-image: url("../../../assets/Images/BGPattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 150px;
  border-radius: 20px;
  position: relative;
}

.specifications {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.organization-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.ml-3 {
  margin-left: 10px;
}
.broker-containerrrr {
  position: relative;
}

.frameeeeeee {
  position: absolute;
  top: 15px;
  right: 120px;
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--Radius-Radius-16, 16px);
  background: var(--Card-Section-BG, #fff);
  width: fit-content;
}

.brokerrrr {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.07px;
  background: linear-gradient(108deg, #d7141b 27.97%, #d92128 86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buyboxname {
  color: #fff;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
}
.imgshare {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .grayspan {
    font-size: 14px;
  }
  .organization-image {
    width: 60px;
    height: 60px;
  }
  .broker-container {
    top: -50px;
    left: -13px;
  }
  .frameeeeeee {
    top: 12px;
    right: -19px;
    padding: 0px 2px;
  }
  .brokerrrr {
    font-size: 9px;
  }
  .imagebroker {
    width: 130px;
    height: 140px;
  }
  .brokertext {
    font-size: 14px;
    line-height: 25px;
  }
  .nameincard {
    font-size: 18px;
  }
  .btn-submit-proposel span {
    font-size: 11px;
  }
  .smalllframe {
    width: 30px;
    height: 30px;
    padding: 12px;
    margin-right: 8px;
  }
  .lowwhite {
    font-size: 12px;
  }
  .small-image {
    width: 15px;
    height: 15px;
  }
  .boldtext {
    font-size: 13px;
  }
  .specifications {
    font-size: 20px;
  }
  .container {
    max-width: 97% !important;
  }
  .tenant-logo {
    width: 60px;
    height: 60px;
  }
  .buyboxname {
    font-size: 20px;
  }
  .buyboxpos {
    height: 58px;
    top: 30%;
    left: 0px;
  }
  .imgshare {
    width: 15px;
    height: 15px;
  }
  .btn-share {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 12px);
  }
  .btn-submit {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 11px);
  }
  .btn-submit span {
    font-size: 11px;
  }
  .btn-share span {
    font-size: 11px;
  }
  .content-right {
    bottom: 20px;
    right: -20px;
  }
  .brokerandmangeorgimage {
    width: 110px;
    height: 110px;
  }
  .namee {
    font-size: 14px;
  }
  .broker {
    font-size: 12px;
  }
  .linkedin {
    font-size: 14px;
  }
  .proposal-button {
    padding: var(--Button-Padding-top-bottom, 8px)
      var(--Button-Padding-left-right, 3px);
    gap: var(--Button-Gap, 8px);
    font-size: 10px;
  }
  .frame {
    padding: var(--Space-Space-4, 0px) var(--Space-Space-12, 3px);
  }
  .dot {
    font-weight: bold;
    margin-right: 0px;
    font-size: 17px;
  }
  .text {
    font-size: 10px;
  }
  .Osmowstext {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .organization-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .imagebroker {
    width: 180px;
    height: 200px;
}
  .broker-container {
    top: -75px;
    left: 0px;
  }
  .grayspan {
    font-size: 15px;
  }
  .nameincard {
    font-size: 20px;
  }
  .lowwhite {
    font-size: 12px;
  }
  .specifications {
    font-size: 25px;
  }
  .btn-submit-proposel span {
    font-size: 13px;
  }
  .btn-submit-proposel {
    padding: var(--Button-Padding-top-bottom, 12px)
      var(--Button-Padding-left-right, 15px);
  }
  .brokerandmangeorgimage {
    width: 140px;
    height: 140px;
  }
  .namee {
    font-size: 17px;
  }
  .broker {
    font-size: 14px;
  }
  .linkedin {
    font-size: 16px;
  }
  .brokerandmangeorgimage {
    width: 160px;
    height: 150px;
  }
  .container {
    max-width: 97% !important;
  }
  .tenant-logo {
    width: 75px;
    height: 75px;
  }
  .buyboxname {
    font-size: 30px;
  }
  .buyboxpos {
    height: 60px;
    top: 34%;
    left: -16px;
  }
  .imgshare {
    width: 15px;
    height: 15px;
  }
  .btn-share {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 17px);
  }
  .btn-submit {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 17px);
  }
  .btn-submit span {
    font-size: 13px;
  }
  .btn-share span {
    font-size: 13px;
  }
  .content-right {
    bottom: 20px;
    right: -20px;
  }
  .proposal-button {
    padding: var(--Button-Padding-top-bottom, 9px)
      var(--Button-Padding-left-right, 15px);
    font-size: 13px;
  }
  .boldtext {
    font-size: 15px;
  }
  .frame {
    display: flex;
    padding: var(--Space-Space-4, 1px) var(--Space-Space-12, 7px);
    justify-content: center;
    align-items: center;
    gap: var(--Space-Space-4, 4px);
    border-radius: var(--Radius-Radius-16, 16px);
    background: var(--Status-Info-BG, #ccd2d9);
  }
  .dot {
    font-weight: bold;
    margin-right: 4px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .broker-container {
    top: -75px;
    left: -9px;
  }
  .imagebroker {
    width: 190px;
    height: 200px;
  }
  .brokertext {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .brokerandmangeorgimage {
    width: 90px;
    height: 90px;
  }
  .Osmowstext {
    font-size: 15px;
  }
  .namee {
    font-size: 15px;
  }
  .frameee {
    padding: 4px 7px;
  }
  .broker {
    font-size: 10px;
  }
  .linkedin {
    font-size: 13px;
  }
  .container {
    max-width: 97% !important;
  }
  .tenant-logo {
    width: 85px;
    height: 85px;
  }
  .buyboxname {
    font-size: 30px;
  }
  .buyboxpos {
    height: 60px;
    top: 28%;
    left: -10px;
  }
  .imgshare {
    width: 17px;
    height: 17px;
  }
  .btn-share {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 19px);
  }
  .btn-submit {
    padding: var(--Button-Padding-top-bottom, 20px)
      var(--Button-Padding-left-right, 19px);
  }
  .btn-submit span {
    font-size: 15px;
  }
  .btn-share span {
    font-size: 15px;
  }
  .content-right {
    bottom: 20px;
    right: -20px;
  }
  .linkedin {
    font-size: 14px;
  }
  .lowwhite {
    font-size: 16px;
  }
  .specifications {
    font-size: 32px;
  }
  .btn-submit-proposel span {
    font-size: 16px;
  }
  .btn-submit-proposel {
    padding: var(--Button-Padding-top-bottom, 12px)
      var(--Button-Padding-left-right, 24px);
  }
}

@media (min-width: 992px) {
  .brokerandmangeorgimage{
    width: 100px;
    height: 110px;
}
  .imagebroker {
    width: 301px;
    height: 310px;
  }
  .container {
    max-width: 97% !important;
  }
  .broker-container {
    top: -75px;
    left: 5px;
  }
}

@media (min-width: 1200px) {
  .broker-container {
    top: -80px;
    left: 15px;
}
  .broker {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.07px;

  }
  .brokerandmangeorgimage {
    width: 120px;
    height: 120px;
}
.imagebroker{
  width: 300px;
  height: 300px;
}
}
