<div class="w-100 p-2">
  <div class="section">
    <div class="border-section w-100">
      <div class="row m-0 p-0">
        <div class="col-3 p-0 head">From :</div>
        <div class="col-3 p-0 head">Subject :</div> 
        <div class="col-2 p-0 head">Date :</div>
      </div>
      <div *ngFor="let item of Inboxs" class="box-section row m-0 p-0"
        (click)="GetMailInfo(item.mailId,ViewContactFolders)">
        <div class="col-3 p-0 m-0 from-name pe-2">{{ item.from }}</div>
        <div class="col-3 p-0 m-0 from-subject pe-2">{{ item.subject }}</div> 
        <div class="col-2 p-0 m-0 from-date ">{{ item.date }}</div>
      </div>
    </div>
  </div>
</div>


<ng-template #ViewContactFolders let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="col-12 p-0">
          <div class="card shadow-sm border-0">
            <div class="card-header text-white GeneratedEmail">
              <h5 class="mb-0 d-flex justify-content-between">
                <p>
                  <span class="firstemail">
                    {{ mailInfo.from }}
                  </span>
                  <span class="firstlast"> To Emails :
                    <span class="firstlast" *ngFor="let item of mailInfo.toEmails">
                      {{ item }}
                    </span>
                  </span>
                </p>
                <p>
                  <span class="creationdate">Creation Date :
                    {{ mailInfo.date | date : "medium" }}</span>
                </p>
              </h5>
            </div>
            <div class="card-body bg-light">
              <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="fw-bold text-secondary">Email Subject:</label>
                </div>
                <div class="p-3 border rounded bg-white text-dark">
                  <div class="col-5 p-0 m-0">{{ mailInfo.subject }}</div>
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <label class="fw-bold text-secondary">Email Body:</label>
                </div>
                <div class="p-3 border rounded bg-white text-dark">
                  <div class="col-5 p-0 m-0" [innerHTML]="mailInfo.body"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.dismiss('Close click')">
        close
      </button>
    </div>
  </div>
</ng-template>
