<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="d-flex justify-content-center pt-4">
  <div class="searchBox">
    <input class="searchInput" type="text" name="" placeholder="Search something">
    <button class="searchButton" href="#">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>


<div class="container">
  <div class="row mt-2">
    <ng-container *ngFor="let type of buyboxTypes">
      <div class="col-md-12" (click)="chooseType(type.id , type.organizationId , type.name)">
        <div class="card-bodyx" >
          <div class="card-title">{{ type.name }}</div>
          <!-- <button class="btn btn-primary" [routerLink]="['/dashboard', type.id]">Go to Kayak</button> -->
        </div>
      </div>
    </ng-container>
  </div>