<div class="toolbar">
  <button class="g-button m-2" (click)="resetView()">Reset</button>
</div>

<div class="flow-wrapper">
  <f-flow fDraggable>
    <f-canvas
      fZoom
      [fZoomMinimum]="0.5"
      [fZoomMaximum]="5"
      [fZoomStep]="0.2"
      [fZoomDblClickStep]="0.5"
    >
      <!-- Connections -->
      <f-connection
        [ngClass]="conn.date"
        (click)="onConnectionClick(conn)"
        *ngFor="let conn of connections"
        [fOutputId]="conn.from"
        [fInputId]="conn.to"
      ></f-connection>

      <!-- Nodes -->
      <div
        *ngFor="let obj of objects"
        fNode
        fDragHandle
        fNodeOutput
        fNodeInput
        [fNodePosition]="obj.position"
        [fOutputId]="obj.id"
        [fInputId]="obj.id"
        fOutputConnectableSide="right"
        fInputConnectableSide="left"
        [ngClass]="{
          'contact-node': obj.id.startsWith('C'),
          'org-node': obj.id.startsWith('O'),
          'shop-node': obj.id.startsWith('S')
        }"
        (mousedown)="onMouseDown($event, obj.id)"
        (mouseup)="onMouseUp($event, obj.id)"
      >
        {{ obj.name }}
      </div>
    </f-canvas>
  </f-flow>
</div>
<!-- Email Modal Template -->
<ng-template #emailModal let-modal>
  <div class="modal-header bg-light">
    <h5 class="modal-title">📧 Email Preview</h5>
    <!-- <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button> -->
  </div>

  <div class="modal-body" style="max-height: 450px; overflow-y: auto">
    <!-- Subject Section -->
    <span class="badge bg-primary mb-2">Subject</span>
    <h5 class="fw-bold text-dark border-bottom pb-2 mb-3">
      {{ selectedEmail?.Subject }}
    </h5>

    <!-- Body Section -->
    <span class="badge bg-secondary mb-2">Body</span>
    <div class="email-body" [innerHTML]="selectedEmail?.Body"></div>
  </div>

  <div class="modal-footer d-flex justify-content-between">
    <small class="text-muted"> </small>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close()"
    >
      Close
    </button>
  </div>
</ng-template>
