.t-head {
  border-radius: 20px;
  padding: 10px;
  background-color: #e4e7e9;
  font-size: 16px;
  font-weight: 500;
  color: #0d0c0c;
}
.padd-20 th {
  padding: 20px;
}
.padd-20 th:first-child {
  border-top-left-radius: 12px;
}
.padd-20 th:last-child {
  border-top-right-radius: 12px;
}

.background {
  background-color: #ffffff;
  height: 100%;
}
.my-prop {
  color: #16181d;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.upload {
  width: auto;
  min-width: 110px;
  border-radius: 7px;
  background: #001f3f;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: 0;
  padding: 7px 10px;
  white-space: nowrap;
}
.upload:hover{
  background-color: #043566;
}
.view-act {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}
.view-act h4 {
  font-weight: 700;
  font-size: 20px;
  color: #001f3f;
}
.close {
  background-color: white;
  border: none;
}
.modal-header {
  padding: 10px;
  margin-top: 7px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background: #e4e7e9;
}
.shopping-center-container {
  padding: 20px;
}
.card {
  border-radius: 10px;
  transition: transform 0.2s;
}
.card-header {
  border-radius: 10px 10px 0 0;
  padding: 15px;
}
dl dt {
  font-weight: 600;
  color: #444;
}
dl dd {
  margin-bottom: 10px;
}
.list-group-item {
  padding: 10px 0;
}
.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}
.tenant-link {
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
}
.tenant-link:hover {
  text-decoration: underline;
}
.modal-header {
  padding: 1.5rem;
}
.image-container {
  padding: 10px;
}
.carousel-container {
  max-width: 100%;
}
.carousel-item img {
  object-fit: cover;
  height: 300px; /* Adjust as needed */
}
.details-container {
  padding: 10px;
}
.list-group-item {
  border: none;
  padding: 8px 0;
}
.badge {
  font-size: 0.9em;
  padding: 0.5em 1em;
}
.carousel-control-next {
  right: -20px !important;
}
.carousel-control-prev {
  left: -20px !important;
}
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '';
  /* background-color: #747373;  */
  display: block;
  /* Additional styling if needed */
}
.center-name{
  font-size: 20px;
  white-space: nowrap;
  font-weight: 700;
  /* color: #081c3e; */
  color: #000000;
  margin: 0;
  transition: color 0.3s;
  cursor: pointer;
}
.center-name:hover{
  /* color: #043566; */
  color: gray;
}
.table-text{
  color: #7a8591;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn_trash{
  background: transparent;
    color: rgb(224, 0, 0);
    width: 30px;
    height: 30px;
    border: 1px solid rgb(224, 0, 0);
    padding-inline: 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn_edit{
    background: transparent;
    color: rgb(107, 119, 133,1);
    width: 30px;
    height: 30px;
    border: 1px solid rgb(107, 119, 133,1);
    padding-inline: 0;
    border-radius: 5px;
    cursor: pointer;
}
.input-sty{
  margin-top: 0px;
  margin-left: -22px;
  border: 2px solid #cbcbcb;
  font-size: 22px;
  margin-bottom: 4px;
}