.get-started-btn{
    background-color:var(--Colors-Primary-hover);
    color: white;
    border: none;
    padding: 10px var(--Space-S-20) ;
    border-radius: 5px;
    cursor: pointer;
    border-radius:  var(--Radius-R-24) ;
}
.get-started-btn:hover {
    background-color: var(--Colors-Primary-700);  
}
