<div class="app-container">
  <ng-container *ngIf="!isMarketSurveyRoute; else fullWidthContent">
    <div class="main-content-area">
      <app-header *ngIf="display"></app-header>
      <!-- <app-breadcrumb *ngIf="display"></app-breadcrumb> -->
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>

  <ng-template #fullWidthContent>
    <div class="full-width-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
