.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.main-content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.full-width-content {
  width: 100%;
  overflow-y: auto;
}
.right-panel {
  padding: 18px 25px;
}
