.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.full-width-content {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
