<div class="app-container">
  <app-header></app-header>
  <ng-container *ngIf="!isMarketSurveyRoute; else fullWidthContent">
    <div class="container-fluid main-content-area">
      <app-breadcrumb *ngIf="display && !isMobile"></app-breadcrumb>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>

  <ng-template #fullWidthContent>
    <div class="container-fluid full-width-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
