.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #F1F1F5;
}

.full-width-content {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.termsofservice {
  text-decoration: underline;
  color: #4d65b4;
}

.termsofservice:hover {
  text-decoration: underline;
  cursor: pointer;
}
.content-container{
  background-color: #F1F1F5;
}