<!-- Updated to include copilot sidebar and handle content pushing -->
<div
  class="app-shell"
  [ngClass]="{
    'with-sidebar':
      isAuthenticated && !hideSidebar && !showingTransition && !isEmilyChatBot,
    'with-copilot': isCopilotOpen,
    'copilot-expanded': isCopilotFullyOpen,
    'emily-chatbot': isEmilyChatBot,
    'authenticated':isAuthenticated,
  }"
>
  <app-sidebar
    *ngIf="
      isAuthenticated && !hideSidebar && !showingTransition && !isEmilyChatBot
    "
  ></app-sidebar>

  <div class="app-container">
    <ng-container *ngIf="!isMarketSurveyRoute; else fullWidthContent">
      <div class="main-content-area">
        <div
          class="content-container"
          [ngClass]="{ authenticated: isAuthenticated }"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-container>

    <ng-template #fullWidthContent>
      <div class="container-fluid full-width-content">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>

  <app-notifications
    *ngIf="
      isAuthenticated && !hideSidebar && !showingTransition && !isEmilyChatBot
    "
    (sidebarStateChange)="onCopilotStateChange($event)"
  >
  </app-notifications>
</div>
