.advanced {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #4d65b4;
    font-weight: 600;
    cursor: pointer;
  }
  
  .container-GenerateEmail {
    padding: 10px 0px;
    margin: 0;
    margin-top: 6px;
  }
  
  .Emily__contant__button {
    background: #4d65b4;
    color: white;
    border-radius: 10px;
    border: 0;
    text-align: center;
    height: max-content;
    padding: 9px;
    width: fit-content;
  }
  
  .Emily__contant__Generate {
    background: #001f3f;
  }
  
  .form-check-input[type="checkbox"],
  .form-check-input[type="radio"] {
    box-shadow: none;
    outline: none;
    border: #bfbfbf 1px solid;
    border-radius: 6px;
  
    &:checked {
      border: 1px solid #001f3f;
      background-color: #001f3f;
    }
  
    &:not(checked) {
      border: 1px solid gray;
    }
  }
  
  .checkbox_ISCC {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .IsCC_checkbox {
    font-size: 14px;
    font-weight: 700;
    color: gray;
  }
  
  .form-select {
    box-shadow: none;
    outline: none;
    color: #707791;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.005em;
    border-radius: 10px;
  }
  
  select {
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    cursor: pointer;
  }
  
  select option {
    border-radius: 10px;
    padding: 8px;
  }
  
  select option:checked {
    background-color: #001f3f;
    color: white;
  }
  
  .Emails_bodyTemplete {
    background: white;
    border-radius: 16px;
    width: 95%;
    padding: 16px;
  }
  
  .Name_Emails_body {
    color: #16181d;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
  
  .form-control {
    /* height: 300px;
    max-height: 200px;
    overflow-y: auto; */
    padding: 5px;
    background: #f1f1f4;
    outline: none;
    box-shadow: none;
  }
  
  .form-control-height {
    height: 500px;
    max-height: 700px;
  }
  
  .Org__img {
    width: 40px;
    height: 40px;
    margin-inline-end: 6px;
  }
  
  .BuyBoxName {
    color: #16181d;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
  
  .showMoreRelations {
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .label-Relations {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .checkbox-section {
    display: flex;
    gap: 5px;
  }
  
  .checkbox-section>label {
    color: #707791;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.005em;
    cursor: pointer;
  }
  
  .checkbox-section-head {
    padding-bottom: 8px;
  }
  
  .checkbox-section-body {
    padding-bottom: 4px;
    padding-top: 10px;
  }
  
  .checkbox-section-body-first {
    padding-inline-start: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  
  .checkbox-section-body-second {
    padding-inline-start: 40px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  
  .checkbox-section-select {
    padding-bottom: 3px;
  }
  
  .checkbox-section-select>label {
    background: white;
    position: relative;
    left: 15px;
    top: 12px;
    padding-inline: 6px;
    color: #707791;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.005em;
  }
  
  .Section_height {
    max-height: 300px;
    overflow-y: auto;
  }
  
  div {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .modal-title {
    font-size: 16px;
    color: #747474 !important;
    margin: 0;
    padding: 0;
  }
  
  .single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    cursor: pointer;
    color: #4d65b4;
  }
  
  .Name_contact{
    font-size: 16px;
    color: #000;
    font-weight: 500px;
    line-height: 20px;
  }
  
  .img_SC{
    line-height: 20px;
  
  }
  
  .single-lineMax {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  
  .CountMail {
    color: #4d65b4;
    font-weight: 600;
    cursor: pointer;
  }
  
  .table {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    overflow: hidden;
  }
  
  thead>tr>th:nth-child(1),
  tbody>tr>th:nth-child(1) {
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Oganirzations__img {
    width: 40px;
    max-width: 100%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    height: auto;
    max-height: 100px;
    background: white;
  }
  
  .ContactName {
    color: #4d65b4;
  }
  
  .OrganizationsForEmail__head {
    font-size: 16px;
    color: #747474 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .table {
      width: max-content;
    }
  
    .div-Table {
      overflow-y: scroll;
      width: 95%;
    }
  }
  
  .table-CenterName{
    color: #4d65b4;
    font-weight: 600;
    font-size: 15px;
  }
  
  .table-Contactname{
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
  }