<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="overfloww">
  <div class="map-container img-fluid">
    <header class="card custom-card" [ngStyle]="{ background: buyboxcolor }">
      <div class="col-12 d-flex align-items-center justify-content-start">
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img
              class="tenant-logo"
              src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                buyboxid
              }}"
              alt="Tenant Logo"
            />
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center gap-2"
          >
            <div>
              <span class="buyboxname">
                {{ buyboxname }}
              </span>
            </div>
            <!-- <div>
               <div class="fast-food-badge">Fast Food</div>
             </div> -->
          </div>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-start">
        <div class="d-flex align-items-center justify-content-center">
          <div class="smalllframe">
            <img
              src="../../../assets/Images/size.png"
              alt="Small Image"
              class="small-image"
            />
          </div>

          <div class="d-flex flex-column text-center">
            <span class="boldtext">Size needed</span>
            <div class="d-flex justify-content-start">
              <span class="lowwhite" style="white-space: nowrap">
                {{ MinBuildingSize ? MinBuildingSize + " SF" : "" }}
              </span>
              <span
                class="lowwhite mx-2"
                *ngIf="MinBuildingSize && MaxBuildingSize"
              >
                -
              </span>
              <span class="lowwhite">
                {{ MaxBuildingSize ? MaxBuildingSize + " SF" : "" }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex align-items-center justify-content-start">
        <div class="d-flex align-items-center justify-content-center">
          <div class="smalllframe">
            <img
              src="../../../assets/Images/SVG/bank.png"
              alt="Small Image"
              class="small-image"
            />
          </div>

          <div class="d-flex flex-column text-center">
            <span class="boldtext">States</span>
            <div class="d-flex justify-content-start">
              <span class="lowwhite"> {{ states }} </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex align-items-center justify-content-start">
        <div class="d-flex align-items-center justify-content-center">
          <div class="smalllframe">
            <img
              src="../../../assets/Images/SVG/buildings.png"
              alt="Small Image"
              class="small-image"
            />
          </div>

          <div class="d-flex flex-column text-center">
            <span class="boldtext">Cities</span>
            <div class="d-flex justify-content-start">
              <span class="lowwhite"> {{ address }} </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content-right d-flex gap-2">
      <button
        class="btn-share"
        [ngStyle]="{ color: buyboxcolor, border: '1px solid ' + buyboxcolor }"
      >
        <div>
          <i class="fa-solid fa-arrow-up-right-from-square imgshare"></i>
        </div>
        <span>Share</span>
      </button>

      <button class="btn-submit" (click)="openUploadModal(test)">
        <span>Submit a proposal</span>
      </button>
    </div>
  </div>

  <div class="container background mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-7 order-2 order-md-0 mt-3 mt-md-0">
        <span class="Osmowstext">
          {{ buyboxDescription }}
        </span>
      </div>
      <div class="col-lg-4 col-md-5 order-1 order-md-0">
        <div
          class="card cardbackground"
          [ngStyle]="{ background: buyboxcolor }"
        >
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center">
              <div class="col-4">
                <img
                  class="brokerandmangeorgimage"
                  [src]="brokerphoto"
                  alt="Broker Photo"
                />
              </div>

              <div class="col-7 offset-1">
                <div class="d-flex flex-column text-start">
                  <div class="d-flex align-items-center justify-content-start">
                    <span class="namee me-2">
                      {{ firstnamemanagerorganization }}
                    </span>
                    <span class="namee">
                      {{ lastnamemanagerorganization }}
                    </span>
                  </div>

                  <div class="frameee">
                    <span
                      class="broker"
                      [ngStyle]="{
                        color: buyboxcolor,
                        '-webkit-text-fill-color': buyboxcolor
                      }"
                      >broker</span
                    >
                  </div>

                  <a [href]="brokerlinkedin" target="_blank">
                    <span class="linkedin">{{ brokerlinkedin }}</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="line-container d-flex align-items-center">
              <span class="line"></span>
              <span class="assistant mx-2">Assistant to</span>
              <span class="line"></span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="col-4">
                <img
                  class="brokerandmangeorgimage"
                  src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                    managementorganizationId
                  }}"
                  alt="Organization Image"
                />
              </div>
              <div class="col-7 offset-1">
                <div class="d-flex flex-column text-start">
                  <span class="namee"> {{ managementorganizationname }} </span>
                  <div class="frameee">
                    <span
                      class="broker"
                      [ngStyle]="{
                        color: buyboxcolor,
                        '-webkit-text-fill-color': buyboxcolor
                      }"
                      >Commercial Real Estate</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row row-background d-flex justify-content-center align-items-center mt-4"
  >
    <div
      class="d-flex align-items-center justify-content-center gap-2 mt-md-3 mt-0"
    >
      <button
        class="btn-submit-proposel"
        (click)="openUploadModal(test)"
        [ngStyle]="{ background: buyboxcolor }"
      >
        <span>Submit a proposal</span>
      </button>
      <button
        class="btn-share"
        [ngStyle]="{ color: buyboxcolor, border: '1px solid ' + buyboxcolor }"
      >
        <div>
          <i class="fa-solid fa-arrow-up-right-from-square imgshare"></i>
        </div>
        <span>Share</span>
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div
      class="col-8 offset-4 offset-md-3 offset-lg-4 offset-xl-3 col-md-9 col-lg-8 col-xl-9"
    >
      <div class="d-flex align-items-center justify-content-start">
        <span class="nameincard me-2">{{ firstnamemanagerorganization }}</span>
        <span class="nameincard">{{ lastnamemanagerorganization }}</span>
      </div>
    </div>
  </div>
  <div class="row colorr mt-4" [ngStyle]="{ background: buyboxcolor }">
    <div class="col-4 col-md-3 col-lg-4 col-xl-3 position-relative">
      <div class="broker-container broker-containerrrr">
        <img class="imagebroker" [src]="brokerphoto" alt="Broker Photo" />
      </div>
    </div>

    <div class="col-8 col-md-9 col-lg-8 col-xl-9">
      <div class="d-flex flex-column text-start">
        <span class="brokertext" [innerHTML]="brokersignature"></span>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="d-flex align-items-center">
      <img
        src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
          managementorganizationId
        }}"
        alt="Organization Image"
        class="organization-image"
      />

      <div class="ml-3">
        <span class="nameincard">{{ managementorganizationname }}</span>
        <div class="brokerframeee">
          <span
            class="broker"
            [ngStyle]="{
              color: buyboxcolor,
              '-webkit-text-fill-color': buyboxcolor
            }"
          >
            Commercial Real Estate
          </span>
        </div>
      </div>
    </div>

    <hr class="customm-hr" />
    <span class="grayspan" [innerHTML]="ManagerOrganizationDescription"></span>
  </div>

  <div class="row">
    <div class="col-12"></div>
  </div>
</div>
<ng-template #uploadPDF let-modal>
  <div class="d-flex align-items-center justify-content-between space">
    <div>
      <h4 class="submitproposell">Submit a Proposal</h4>
    </div>
    <div (click)="clearModalData(); closeModal(modal)" class="cursor">
      <img src="../../../assets/Images/close-circle.png" alt="" />
    </div>
  </div>
  <!-- <div class="col-12 mr-1">
    <div style="width: 100%">
      <h1 class="filename" *ngIf="fileName">
        {{ fileName }}
      </h1>
    </div>
  </div> -->
  <div class="modal-body" style="overflow: auto;">
    <div class="outer-frame" *ngIf="!fileName">
      <div class="inner-frame" >
        <!-- File drop area shown if no file has been selected -->
        <ngx-file-drop
          class="dropzonee"
          dropZoneLabel="Drop files here"
          (onFileDrop)="uploadFile($event)"
          [dropZoneClassName]="'upload-background-image'"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            <div class="upload-container cursor" (click)="openFileSelector()">
              <img
                src="../../../assets/Images/document-upload.png"
                alt="Upload Icon"
                class="upload-img"
              />
              <span class="upload-text"
                >Just upload your file, and we’ll handle the rest!</span
              >
              <span class="upload-text">PDF, DOCX, XLSX, PPTX</span>
            </div>
          </ng-template>
        </ngx-file-drop>
      </div>
    
    </div>
    <div class="filenameouterframe" *ngIf="fileName">
      <div class="filenameinnerframe" >
        <!-- Display file name once a file is selected -->
        <div
          class="d-flex align-items-center justify-content-between uploaded-file-container"
        >
          <div class="filename">{{ fileName }}</div>
          <button class="clear-button" (click)="clearModalData()">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Progress Bar -->
  <div *ngIf="isUploading" class="mt-2 uploadingpadding">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped"
        role="progressbar"
        [style.width]="uploadProgress + '%'"
        [attr.aria-valuenow]="uploadProgress"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ uploadProgress }}%
      </div>
    </div>
    <p class="text-center mt-3">Uploading...</p>
  </div>
  <!-- Conversion Status -->
  <div *ngIf="isConverting" class="mt-3">
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="mt-2">Converting PDF to images...</p>
    </div>
  </div>

  <!-- Display Images Section -->
  <div *ngIf="images.length > 0" class="extractedimagespadding">
    <h4 class="my-prop">Extracted Images</h4>
    <div class="row">
      <div *ngFor="let image of images" class="col-md-4 mb-3">
        <div class="card">
          <div class="form-check m-2 mb-0">
            <input
              type="checkbox"
              class="form-check-input input-sty"
              style="border: 2px solid #cbcbcb"
              [(ngModel)]="image.selected"
              id="checkbox-{{ image.name }}"
            />
            <label class="form-check-label" for="checkbox-{{ image.name }}">
            </label>
          </div>
          <img
            [src]="displayCustomImage(image)"
            [alt]="image.name"
            class="img-fluid gpt-image"
          />
          <div class="card-body">
            <p class="text-center mt-2">{{ image.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Display JsonPDF Data Section -->
  <div *ngIf="JsonPDF" class="mt-5 shopping-center-container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <!-- Center Information Card -->
        <div class="card shadow-sm mb-4">
          <div
            class="card-header text-white text-center"
            style="background-color: #e4e7e9 !important"
          >
            <h4 class="mb-0 text-dark">Shopping Center Information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <dl class="row mb-0">
                  <ng-container *ngIf="JsonPDF.CenterName">
                    <dt class="col-sm-4">Center Name:</dt>
                    <dd class="col-sm-8">{{ JsonPDF.CenterName }}</dd>
                  </ng-container>
                  <ng-container *ngIf="JsonPDF.CenterType">
                    <dt class="col-sm-4">Center Type:</dt>
                    <dd class="col-sm-8">{{ JsonPDF.CenterType }}</dd>
                  </ng-container>
                  <ng-container *ngIf="JsonPDF.CenterAddress">
                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">{{ JsonPDF.CenterAddress }}</dd>
                  </ng-container>
                  <ng-container *ngIf="JsonPDF.CenterCity">
                    <dt class="col-sm-4">City:</dt>
                    <dd class="col-sm-8">{{ JsonPDF.CenterCity }}</dd>
                  </ng-container>
                  <ng-container *ngIf="JsonPDF.CenterState">
                    <dt class="col-sm-4">State:</dt>
                    <dd class="col-sm-8">{{ JsonPDF.CenterState }}</dd>
                  </ng-container>
                  <ng-container *ngIf="JsonPDF.TotalAvailableSpace_SF">
                    <dt class="col-sm-4">Available Space (SF):</dt>
                    <dd class="col-sm-8">
                      {{ JsonPDF.TotalAvailableSpace_SF }}
                    </dd>
                  </ng-container>
                </dl>
              </div>
            </div>
          </div>
        </div>

        <!-- Availability and Tenants Section -->
        <div class="row g-4">
          <!-- Availability Card -->
          <div class="col-md-6" *ngIf="JsonPDF.Availability.length > 0">
            <div class="card shadow-sm h-100">
              <div
                class="card-header text-white"
                style="background-color: #081c3e !important"
              >
                <h5 class="mb-0 d-flex justify-content-center">Availability</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li
                    *ngFor="let avail of JsonPDF.Availability"
                    class="list-group-item border-0 px-0"
                  >
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [(ngModel)]="avail.isAdded"
                        id="availCheckbox-{{ avail.id }}"
                      />
                      <label
                        class="form-check-label"
                        for="availCheckbox-{{ avail.id }}"
                      >
                        <strong>Building Size:</strong>
                        {{ avail.BuildingSizeSf }} SF
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Tenants Card -->
          <div class="col-md-6">
            <div class="card shadow-sm h-100">
              <div
                class="card-header text-white"
                style="background-color: #081c3e !important"
              >
                <h5 class="mb-0 d-flex justify-content-center">Tenants</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li
                    *ngFor="let tenant of JsonPDF.Tenants"
                    class="list-group-item border-0 px-0"
                  >
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [(ngModel)]="tenant.isAdded"
                        id="tenantCheckbox-{{ tenant.id }}"
                      />
                      <label
                        class="form-check-label"
                        for="tenantCheckbox-{{ tenant.id }}"
                      >
                        {{ tenant.Name }}
                        <a
                          *ngIf="tenant.OrgUrl"
                          [href]="tenant.OrgUrl"
                          target="_blank"
                          class="tenant-link"
                        >
                          (Website)
                        </a>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w-100">
      <!-- Cancel Button (Left Column) -->
      <div class="col-6">
        <button
          class="cancel-button"
          (click)="clearModalData(); closeModal(modal)"
        >
          Cancel
        </button>
      </div>

      <!-- Submit Button (Right Column) -->
      <div class="col-6">
        <button class="submit-button"  (click)="sendImagesArray()" >Submit</button>
      </div>
    </div>
  </div>

  <div>
    <!-- <div class="col-md-12 p-0">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="uploadFile($event)"
        [dropZoneClassName]="'upload-background-image'"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <b>
            <span class="text-dark drop-sty mx-2"> Drop File Here </span>
          </b>
          <button
            type="button"
            class="btn btn-success ml-2 secondary-color upload"
            (click)="openFileSelector()"
          >
            Browse Files
          </button>
        </ng-template>
      </ngx-file-drop>
    </div> -->
  </div>
  <div class="modal-footer">
    <!-- Send Selected Images Button -->
    <div class="col-12 d-flex align-items-center justify-content-end paddingsubmitpdf">
        <!-- <button
          class="convertimages mx-1"
          (click)="sendImagesArray()"
          *ngIf="images.length > 0"
        >
          Convert Images
        </button> -->
          <button class="btn btn-success" *ngIf="JsonPDF" (click)="sendJson()">
            Submit PDF Data
          </button>
          <!-- <button
            class="btn btn-secondary mx-1"
            (click)="clearModalData(); closeModal(modal)"
          >
            Cancel
          </button> -->
    </div>
  </div>
</ng-template>
<div id="customToast" class="custom-toast">
  <div class="toast-content">
    <p id="toastMessage"></p>
  </div>
</div>
