.form-control{
  border-radius: 20px;
  padding: 12px;
}

input::placeholder {
  color: #888888; 
  font-size: 13px;
}

.login-head{
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 25px;
}

.login-container {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px 0 0 15px;
  padding: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.forget{
  color : #4D65B4;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}

.focus {
  font-size: 26px;
  font-weight: 600;
  color: #000;
}

.worth {
  font-size: 27px;
  font-weight: 600;
  background: linear-gradient(90deg, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  display: inline-block; /* Ensure the effect applies correctly */
} 

.right-container {
  background-color: #EDF0F8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0 15px  15px 0;
}

.login{
  width: 100%;
  border-radius: 16px;
  color: #fff;
  font-size: 16px;
  background-color: #4D65B4;
}

.focus-container{
  margin-top: 50px;
  margin-left: 10px;
}

.cherry-desc{
  color:#707791;
}