.main-container {
  /* height: 100vh; */
  width: 100%;
  padding: 2.5rem;
}

.logo-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  height: 4rem;
}

.slogan {
  color: #18171f;

  font-weight: 600;
  font-size: 2rem;
}

.gradient-text {
  background: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.x-section {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.25rem;
  background-color: #fff;
  border: 1px solid #e4e3eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.x-section .x-section-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #18171f;
}

.card-done-indicator {
  font-size: 0.85rem;
  background-color: #ffeded;
  color: #ff4c4c;
  padding: 0.125rem 0.75rem;
  border-radius: 1rem;
}

.card-done-indicator-done {
  background-color: #eaf6ec;
  color: #28a745;
}

.card-btn * {
  color: #fff;
}

.card-btn {
  text-decoration: none;
  background-color: #3922d2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1rem;
}

.card-btn:active {
  background-color: #3922d2;
}

/* .card-btn-unlink * {
  color: #3922d2;
} */

.card-btn-unlink {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.card-btn-unlink:active {
  background-color: #fff;
}

/*  */

.card-btn-danger-outline * {
  color: #ff4c4c;
}

.card-btn-danger-outline {
  background-color: #fff;
  border: 1px solid #ff4c4c;
}

.card-btn-danger-outline:active {
  background-color: #fff;
}

/*  */

.card-btn-outline * {
  color: #3922d2;
}

.card-btn-outline {
  background-color: #fff;
  border: 1px solid #3922d2;
}

.card-btn-outline:active {
  background-color: #fff;
}

.section-img {
  /* height: 4rem; */
  margin-bottom: 1rem;
}

.migrations-card,
.tables-card {
  height: 15rem;
  overflow: auto;
}

.toast-container.top-right {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1055;
  background-color: #e6f2ff;
  border-color: #007bff;
  color: #004a99;
}
