.main-container {
  /* height: 100vh; */
  width: 100%;
  padding: 2.5rem;
}

.logo-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  height: 4rem;
}

.slogan {
  color: #18171f;

  font-weight: 600;
  font-size: 2rem;
}

.gradient-text {
  background: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.x-section {
  width: 100%;
  padding: 1rem 0; /* Reduced from 1.5rem */ 
  background-color: transparent;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
 }

 

.x-section .x-section-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #18171f;
}

.card-done-indicator {
  font-size: 0.85rem;
  background-color: var(--Colors-Negative-100);
  color: var(--Colors-Negative-500);
  padding: 0.125rem 0.75rem;
  border-radius: 1rem;
}

.card-done-indicator-done {
  background-color: var(--Colors-Positive-100);
  color: #28a745;
}

.card-btn * {
  color: var(--Colors-Pure-White);
}

.card-btn {
  text-decoration: none;
  background-color: #3922d2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.75rem; /* Slightly reduced */
  padding: 0.5rem 1rem; /* Control padding directly */
  font-size: 0.9rem; /* Smaller text */
  font-weight: 500; /* Medium weight */
  transition: all 0.2s ease;
}
.card-btn:hover {
   box-shadow: 0 4px 8px rgba(57, 34, 210, 0.2);
}

.card-btn:active {
  background-color: #3922d2;
}

/* .card-btn-unlink * {
  color: #3922d2;
} */

.card-btn-unlink {
  background-color: var(--Colors-Negative-500);
  border-color: var(--Colors-Negative-500);
}

.card-btn-unlink:active {
  background-color: var(--Colors-Pure-White);
}

/*  */

.card-btn-danger-outline * {
  color: var(--Colors-Negative-500);
}

.card-btn-danger-outline {
  background-color: var(--Colors-Pure-White);
  border: 1px solid var(--Colors-Negative-500);
}

.card-btn-danger-outline:active {
  background-color: var(--Colors-Pure-White);
}

/*  */

.card-btn-outline * {
  color: #3922d2;
}

.card-btn-outline {
  background-color: var(--Colors-Pure-White);
  border: 1px solid #3922d2;
}

.card-btn-outline:active {
  background-color: var(--Colors-Pure-White);
}

.section-img {
  height: 40px; /* Fixed height */
  width: auto; /* Maintain aspect ratio */
  margin-bottom: 0.8rem; /* Slightly reduced */
}
.migrations-card,
.tables-card {
  height: 15rem;
  overflow: auto;
}

.toast-container.top-right {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1055;
  background-color: var(--Colors-Assistant-2-50);
  border-color: var(--Colors-Assistant-2-500);
  color: var(--Colors-Assistant-2-700);
}

.data-collection-container {
  display: flex;
  flex-direction: column;
  gap:  var(--Space-S-24) ;
  margin-bottom: 32px;
}
