<div class="row m-0 p-0">
  <div class="p-0 d-none d-sm-flex widthh">
    <app-sidbar></app-sidbar>
  </div>

  <div class="col-11 Responsive">
    <div>
      <h3 class="bb-name d-none d-sm-flex">{{ BuyboxName }}</h3>
    </div>
    <div class="Nav__section d-flex justify-content-between">
      <ul class="d-sm-flex">
        <li
          *ngFor="let tab of tabs"
          class="nav-item"
          [ngClass]="{ active: selectedTab === tab.id }"
          (click)="selectTab(tab.id)"
        >
          <div class="tab-icon">
            <img
              [src]="selectedTab === tab.id ? tab.selectedIcon : tab.icon"
              alt="tab-icon"
            />
          </div>
          <span>{{ tab.label }}</span>
        </li>
      </ul>
    </div>
    <div>
      <ng-container [ngSwitch]="activeComponent">
        <app-shopping-center-table
          *ngSwitchCase="'Properties'"
        ></app-shopping-center-table>
        <app-buybox-details *ngSwitchCase="'Details'"></app-buybox-details>
        <app-kayak *ngSwitchCase="'Manage'"></app-kayak>
        <app-emily-org *ngSwitchCase="'Emily'"></app-emily-org>
        <!-- <app-kayak *ngSwitchCase="'search'"></app-kayak> -->
        <!-- <app-kayak *ngSwitchCase="'search'"></app-kayak>
            <app-wizard *ngSwitchCase="'wizard'"></app-wizard>
            <app-shopping-centers *ngSwitchCase="'centers'"></app-shopping-centers>
            <app-edit-specs *ngSwitchCase="'specs'"></app-edit-specs>
            <app-sharing *ngSwitchCase="'sharing'"></app-sharing> -->
      </ng-container>
    </div>
  </div>
</div>
