<div class="row m-0 p-0">
  <div class="col-12 Responsive">
    <div class="d-flex align-items-center justify-content-between py-3 buybox-actions ">
      <h3 class="bb-name m-0">{{ BuyboxName }}</h3>
      <div class="Nav__section d-flex justify-content-between">
        <ul class="d-sm-flex m-0">
          <li
            *ngFor="let tab of tabs"
            class="nav-item"
            [ngClass]="{ active: selectedTab === tab.id }"
            (click)="selectTab(tab.id)"
          >
            <div class="tab-icon">
              <img
                [src]="selectedTab === tab.id ? tab.selectedIcon : tab.icon"
                alt="tab-icon"
              />
            </div>
            <span>{{ tab.label }}</span>
          </li>
        </ul>
      </div>
    </div> 

    <div>
      <ng-container [ngSwitch]="activeComponent">
        <app-shopping-center-table
          *ngSwitchCase="'Properties'"
        ></app-shopping-center-table>
        <app-buybox-details *ngSwitchCase="'Details'"></app-buybox-details>
        <app-emily-org *ngSwitchCase="'Emily'"></app-emily-org>
      </ng-container>
    </div>
  </div>
</div>
