<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container">
  <div class="back-nav">
    <a [routerLink]="['/summary']" class="back-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <path
          d="M12.5 16.6L7.0667 11.1667C6.42503 10.525 6.42503 9.47503 7.0667 8.83336L12.5 3.40002"
          stroke="#707791"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      Back to Tenants
    </a>
  </div>
  <div class="mb-2 w-100">
    <form [formGroup]="siteDetailsForm">
      <div class="row m-0">
        <div class="col-12 mb-2">
          <label class="Head-Model">Add Tenant</label>
        </div>
      </div>
      <div class="d-flex flex-column">
        <p-stepper
          [linear]="true"
          styleClass="custom-stepper"
          [activeIndex]="currentStep"
        >
          <p-stepperPanel>
            <ng-template
              pTemplate="content"
              let-nextCallback="nextCallback"
              let-index="index"
            >
              <div class="d-flex flex-column">
                <div class="row m-0">
                  <div class="col-12">
                    <label class="Head-line"
                      ><span class="Step-num">1</span> Site Details</label
                    >
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name "
                        formControlName="Name"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('Name')?.invalid &&
                            siteDetailsForm.get('Name')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        id="organizationSearch"
                        name="organizationSearch"
                        class="form-control search-input"
                        placeholder="Search Organization "
                        formControlName="OrganizationId"
                        (input)="onOrganizationInput($event)"
                        (keydown)="handleOrganizationKeydown($event)"
                        (blur)="handleOrganizationBlur()"
                        autocomplete="off"
                        required
                        aria-autocomplete="list"
                        aria-controls="organization-suggestions"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('OrganizationId')?.invalid &&
                            siteDetailsForm.get('OrganizationId')?.touched
                        }"
                      />
                      <ul
                        *ngIf="
                          showOrganizationSuggestions &&
                          organizations.length > 0
                        "
                        class="list-group position-absolute"
                        style="width: 88%"
                        id="organization-suggestions"
                      >
                        <li
                          *ngFor="let org of organizations; let i = index"
                          style="cursor: pointer"
                          class="list-group-item list-group-item-action"
                          [class.active]="highlightedOrganizationIndex === i"
                          (click)="selectOrganization(org)"
                          id="organization-suggestion-{{ i }}"
                          role="option"
                          [attr.aria-selected]="
                            highlightedOrganizationIndex === i
                          "
                        >
                          {{ org.name }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Min Building Size "
                        formControlName="MinBuildingSize"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('MinBuildingSize')?.invalid &&
                            siteDetailsForm.get('MinBuildingSize')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Max Building Size "
                        formControlName="MaxBuildingSize"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('MaxBuildingSize')?.invalid &&
                            siteDetailsForm.get('MaxBuildingSize')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Lot Size "
                        formControlName="LotSize"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('LotSize')?.invalid &&
                            siteDetailsForm.get('LotSize')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Building Square Footage"
                        formControlName="BuildingSquareFootage"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('BuildingSquareFootage')
                              ?.invalid &&
                            siteDetailsForm.get('BuildingSquareFootage')
                              ?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Frontage Length"
                        formControlName="FrontageLength"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('FrontageLength')?.invalid &&
                            siteDetailsForm.get('FrontageLength')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <select
                        class="form-select"
                        formControlName="BuildingType"
                        [ngStyle]="{
                          color:
                            siteDetailsForm.get('BuildingType')?.value === ''
                              ? '#707791'
                              : 'black'
                        }"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('BuildingType')?.invalid &&
                            siteDetailsForm.get('BuildingType')?.touched
                        }"
                      >
                        <option value="" selected disabled>
                          Building Type
                        </option>
                        <option value="Free Standing">Free Standing</option>
                        <option value="Neighborhood Strip">
                          Neighborhood Strip
                        </option>
                        <option value="Endcap">Endcap</option>
                        <option value="Inline Retail">Inline Retail</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div
                      class="form-control d-flex align-items-center justify-content-between"
                    >
                      <label class="label-style" style="color: #000"
                        >Drive-Thru</label
                      >
                      <p-selectButton
                        [options]="Options"
                        formControlName="DriveThru"
                        optionLabel="label"
                        optionValue="value"
                        unselectable="true"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <select
                        class="form-select"
                        formControlName="TrafficDrection"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('TrafficDrection')?.invalid &&
                            siteDetailsForm.get('TrafficDrection')?.touched
                        }"
                      >
                        <option value="" selected disabled>
                          Select Traffic Direction
                        </option>
                        <option value="Northbound">Northbound</option>
                        <option value="Southbound">Southbound</option>
                        <option value="Two-Way">Two-Way</option>
                        <option value="Any Side">Any Side</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Vehicles Per Day"
                        formControlName="VehiclePerDay"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('VehiclePerDay')?.invalid &&
                            siteDetailsForm.get('VehiclePerDay')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Parking Spaces"
                        formControlName="ParkingSpaces"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <select
                        class="form-select"
                        formControlName="PropertyCondition"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('PropertyCondition')?.invalid &&
                            siteDetailsForm.get('PropertyCondition')?.touched
                        }"
                      >
                        <option value="" selected disabled>
                          Property Condition
                        </option>
                        <option value="Shell">Shell</option>
                        <option value="Vanilla Shell">Vanilla Shell</option>
                        <option value="Second Generation">
                          Second Generation
                        </option>
                        <option value="Renovated">Renovated</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Ceiling Height"
                        formControlName="CeilingHeight"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Loading / Service Access"
                        formControlName="ServiceAccess"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('ServiceAccess')?.invalid &&
                            siteDetailsForm.get('ServiceAccess')?.touched
                        }"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex pt-4 justify-content-end">
                <p-button
                  (onClick)="validateAndProceed(nextCallback, 1)"
                  class="p-button-right"
                  >Save & Continue <i class="fa-solid fa-arrow-right ms-2"></i
                ></p-button>
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel>
            <ng-template
              pTemplate="content"
              let-prevCallback="prevCallback"
              let-nextCallback="nextCallback"
              let-index="index"
            >
              <div class="d-flex flex-column">
                <div class="row m-0">
                  <div class="col-12 mt-3">
                    <label class="Head-line"
                      ><span class="Step-num">2</span> Zoning &
                      Regulatory</label
                    >
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Zoning"
                        formControlName="Zoning"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('Zoning')?.invalid &&
                            siteDetailsForm.get('Zoning')?.touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div
                      class="form-control d-flex align-items-center justify-content-between"
                    >
                      <label class="label-style"
                        >Overnight Boarding Permitted</label
                      >
                      <p-selectButton
                        [options]="Options"
                        formControlName="OvernightBoardingPermitted"
                        optionLabel="label"
                        optionValue="value"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Historic District or Overlay"
                        formControlName="HistoricDistrict"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div
                      class="form-control d-flex align-items-center justify-content-between"
                    >
                      <label class="label-style">Flood Zone</label>
                      <p-selectButton
                        [options]="FloodZoneOptions"
                        formControlName="FloodZone"
                        optionLabel="label"
                        optionValue="value"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Exclusive Use Clauses / Restrictions"
                        formControlName="Restrictions"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex pt-4 justify-content-between">
                <p-button (onClick)="prevCallback.emit()" class="p-button-left"
                  ><i class="fa-solid fa-arrow-left me-2"></i> Back</p-button
                >
                <p-button
                  (onClick)="validateAndProceed(nextCallback, 2)"
                  class="p-button-right"
                  >Save & Continue <i class="fa-solid fa-arrow-right ms-2"></i
                ></p-button>
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel>
            <ng-template
              pTemplate="content"
              let-prevCallback="prevCallback"
              let-nextCallback="nextCallback"
              let-index="index"
            >
              <div class="d-flex flex-column">
                <div class="row m-0">
                  <div class="col-12 mt-3">
                    <label class="Head-line"
                      ><span class="Step-num">3</span> Lease / Purchase /
                      Financials</label
                    >
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <select
                        class="form-select"
                        formControlName="DealStructure"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('DealStructure')?.invalid &&
                            siteDetailsForm.get('DealStructure')?.touched
                        }"
                      >
                        <option value="" selected disabled>
                          Select Deal Structure
                        </option>
                        <option value="Purchase">Purchase</option>
                        <option value="Ground Lease">Ground Lease</option>
                        <option value="Lease">Lease</option>
                        <option value="Build-to-Suit">Build-to-Suit</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="input-group mb-3">
                      <span class="input-group-text">$</span>
                      <input
                        type="number"
                        class="form-control"
                        aria-label="Base Rent"
                        formControlName="BaseRent"
                        placeholder="Base Rent"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('BaseRent')?.invalid &&
                            siteDetailsForm.get('BaseRent')?.touched
                        }"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="input-group mb-3">
                      <span class="input-group-text">$</span>
                      <input
                        type="number"
                        class="form-control"
                        aria-label="NNN Charges"
                        formControlName="NNNCharges"
                        placeholder="NNN Charges"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('NNNCharges')?.invalid &&
                            siteDetailsForm.get('NNNCharges')?.touched
                        }"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="input-group mb-3">
                      <span class="input-group-text">$</span>
                      <input
                        type="number"
                        class="form-control"
                        aria-label="Purchase Price"
                        formControlName="PurchasePrice"
                        placeholder="Purchase Price"
                        [ngClass]="{
                          'is-invalid':
                            siteDetailsForm.get('PurchasePrice')?.invalid &&
                            siteDetailsForm.get('PurchasePrice')?.touched
                        }"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="form-group form-group-default">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Lease Term / Options"
                        formControlName="LeaseTerm"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <div class="input-group mb-3">
                      <span class="input-group-text">$</span>
                      <input
                        type="number"
                        class="form-control"
                        aria-label="TI Allowance"
                        formControlName="TIAllowance"
                        placeholder="TI Allowance"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3">
                    <textarea
                      class="form-control"
                      id="OtherComments"
                      formControlName="OtherComments"
                      rows="2"
                      placeholder="Other Comments"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="d-flex pt-4 justify-content-between">
                <p-button (onClick)="prevCallback.emit()" class="p-button-left"
                  ><i class="fa-solid fa-arrow-left me-2"></i> Back</p-button
                >
                <p-button
                  (onClick)="onSubmitForm(nextCallback)"
                  class="p-button-right"
                  >Create Tenant <i class="fa-solid fa-arrow-right ms-2"></i
                ></p-button>
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel>
            <ng-template
              pTemplate="content"
              let-prevCallback="prevCallback"
              let-index="index"
            >
              <div class="d-flex flex-column">
                <div class="row m-0">
                  <div class="col-12 mt-3">
                    <label class="Head-line"
                      ><span class="Step-num">4</span> Polygons</label
                    >
                  </div>
                  <div class="p-3" style="height: 500px">
                    <app-add-new-campaign
                      [buyBoxId]="newBuyboxId"
                    ></app-add-new-campaign>
                    <!-- <app-campaign-drawing></app-campaign-drawing> -->
                  </div>
                </div>
              </div>
              <div class="d-flex pt-4 justify-content-end">
                <!-- <p-button (onClick)="prevCallback.emit()" class="p-button-left"><i
                    class="fa-solid fa-arrow-left me-2"></i> Back</p-button> -->
                <!-- <button (click)="CreatePolygons()" class="Add__button">Finished</button> -->
              </div>
            </ng-template>
          </p-stepperPanel>
        </p-stepper>
      </div>
    </form>
  </div>
</div>
