<div class="scanned-pages-container">
  <div class="header">
    <div class="title-div">
      <h2 class="title">Sources</h2>
    </div>

    <div class="controls">
      <div class="search-container">
        <i class="fa fa-search search-icon"></i>

        <input
          type="text"
          placeholder="Search sources..."
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
          class="search-input"
        />
      </div>
      <div *ngIf="hasMultipleStatuses()" class="status-filter">
        <button
          (click)="changeFilter('all')"
          [class.active]="filterStatus === 'all'"
        >
          All
        </button>
        <button
          (click)="changeFilter('pending')"
          [class.active]="filterStatus === 'pending'"
          class="pending-button"
          *ngIf="getPendingPagesCount() > 0"
        >
          Pending
        </button>
        <button
          (click)="changeFilter('completed')"
          [class.active]="filterStatus === 'completed'"
          class="completed-btn"
          *ngIf="getcompletedPagesCount() > 0"
        >
        Completed
        </button>
        <button
          (click)="changeFilter('running')"
          [class.active]="filterStatus === 'running'"
          class="running-btn"
          *ngIf="getrunningPagesCount() > 0"
        >
        Running
        </button>
      </div> 
    </div>
  </div> 
  <div class="table-wrap" *ngIf="viewMode === 'table'">
    <table class="table">
      <thead>
        <tr>
          <th>Source URL</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of filteredPages">
          <tr
            [ngClass]="{
              complete: item.status === 'completed',
              running: item.status === 'running'
            }"
            *ngIf="item.sourceURL"
          >
            <td>
              <a [href]="item.sourceURL" target="_blank">{{
                item.sourceURL
              }}</a>
            </td>
            <td>
              <span
                class="status-badge"
                [class.complete]="item.status === 'completed'"
                [class.running]="item.status === 'running'"
                >{{ item.status }}</span
              >
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
