<div id="map" class="custom-map"></div>
<div class="row mb-0 d-sm-none d-flex" style="justify-content: center;">
  <div class="col-6 col-md-6 pt-2 d-flex justify-content-start align-items-center" style=" width:auto;justify-content: center; margin-top:0 !important;padding-bottom: 5px;">
    <div class="custom-icon-container">
      <div
        class="icon-option"
        *ngFor="let option of dropdowmOptions"
        (click)="selectOption(option)"
        [class.selected]="selectedOption === option.status || selectedOption === option"
        [ngClass]="{'hide-on-mobile': option.text === 'Side List View'}"
      >
        <img [src]="option.icon" [alt]="option.text" class="icon-image" />
      </div>
    </div>
  </div>
</div>
