.email-body {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 26px;
}
.generate-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}
.generate-btn button,
.advanced-controls button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: var(--Colors-Primary-500);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  color: white;
}
.generate-btn button:hover,
.advanced-controls button:hover{
  background-color: var(--Colors-Primary-hover);

} 

.generate-btn button *,
.advanced-controls button * {
  color: var(--Colors-Pure-White);
}

.generate-btn button svg,
.advanced-controls button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.generate-btn button svg path,
.advanced-controls button svg path {
  fill: var(--Colors-Pure-White);
}
.center-container {
  background-color: var(--Colors-Pure-White);
  width: calc(50% - 0.75rem);
  padding: 1rem;
  border: 1px solid #c6c9d3;
  border-radius: 1.5rem;
}

.center-container img {
  height: 8rem;
  width: 8rem;
  border-radius: 0.75rem;
}
.center-name {
  font-size: large;
  font-weight: 600;
}

.center-address {
  color: #707791;
}
.nav-pills .nav-link.active {
  background-color: var(--Colors-Primary-500);
}

.contact-broker-stepper {
  width: 100%;
}

.contact-broker-stepper ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-broker-stepper ul li {
  width: 100%;
  height: 0.5rem;
  border-radius: 2rem;
  background-color: #dbe0f0;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.contact-broker-stepper ul li.active-step {
  background-color: var(--Colors-Primary-500);
}

.contact-broker-step {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.contact-broker-step .step-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.contact-broker-step .step-header .step-number-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Colors-Primary-500);
  color: var(--Colors-Pure-White);
  font-size: 0.9rem;
  font-weight: 600;
}

.contact-broker-step .step-header .step-title {
  font-size: large;
  font-weight: 600;
  color: #333;
}

.contact-broker-step .step-header:hover .step-title {
  color: var(--Colors-Primary-500);
}
.advanced {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: var(--Colors-Primary-500);
    font-weight: 600;
    cursor: pointer;
  }
  .card-email:hover {
    opacity: 0.9;
    box-shadow: 0 var(--Space-S-4) 12px rgba(0, 0, 0, 0.2);
  }
  .shopping-name{
    color:  #16181D;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
  }
  .card-broker{
    min-height: 100px;
    display: flex;
    padding:  var(--Space-S-12)   var(--Space-S-20) ;
    align-items: flex-start;
    gap:  var(--Space-S-12) ;
    flex: 1 0 0;
    border-radius:   var(--Radius-R-20) ;
    border: 1px solid  #C6C9D3;
    background:  var(--Colors-Pure-White);
  }
  .broker-name{
    color:  #16181D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
  .broker-email{
    color: #16181D !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.07px;
  }
  .titlee{
    align-self: stretch;
    color: #16181D;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
  .text-outlook{
    color: var(--app-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
  }
  .card-email{
    border-radius:   var(--Radius-R-12) ;
    border: 1px solid  #E2E4E9;
    display: flex;
    padding: var(--Space-S-16) ;
    align-items: center;
    gap:12px;
    align-self: stretch;
    margin-bottom: var(--Space-S-16) ;
  }
  ::ng-deep   .modal-content {
    border-radius: 1rem;
    background: var(--Colors-Primary-light) !important;
   }
  .shopp-container{
    display: flex;
    gap: 5px;
  }
  @media (max-width: 768px) {
    .center-name{
      font-size: 15px;
    }
    .center-address{
      font-size: 14px;
    }
    .shopp-container{
      display: flex;
      flex-direction: column;
    }
    .center-container img {
      height: 6rem;
      width: 6rem;
    }
    .center-container {
      width: 100%;
      padding: 0.5rem;
    }
    .contact-broker-step .step-header .step-title{
      font-size: 12px;
    }
    .contact-broker-step .step-header .step-number-icon {
      width: 1.0rem;
      height: 1.0rem;
      /* border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: ;
      /* color: var(--Colors-Pure-White); */
      font-size: 0.7rem;
      font-weight: 500; 
    }
    .contact-broker-step {
      gap: 0.9rem;
    }   
    .shopping-name{
      font-size: 16px;
      text-align: center;
      line-height: 18px;
      margin-bottom: var(--Space-S-20) ;
    }
    .manager-by{
      font-size: 15px;
      line-height: 20px;
    }
    .logo{
      width: 22px;
      height: 22px;
    }
    .contact-broker-stepper ul{
      margin: 0 0 0.5rem 0;

    }
    .email-body{
      padding: 10px;
    }
  }