<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container p-0">
  <div class="row m-0 p-0">
    <div class="col-12 p-0">
      <div class="buttonandname">
        <div class="w-100 d-flex align-item-center-justify-content-between">
          <div class="d-flex align-items-start">
            <!-- <button class="back" (click)="goBack()">
              <i class="fa-solid fa-arrow-left"></i>
            </button> -->
            <div class="org-data ms-2">
              <img
                [src]="
                  'https://api.cherrypick.com/api/Organization/GetOrgImag?orgId=' +
                  orgId
                "
                width="30"
                height="30"
                style="border-radius: 50%"
              />

              <select
                class="micro-deals"
                [(ngModel)]="selectedMicro"
                (change)="onMicroDealChange($event)"
              >
                <ng-container *ngFor="let bb of BuyBoxMicroDeals">
                  <option [value]="bb.OrganizationId">
                    {{ bb.OrganizationName }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="w-100 d-flex flex-column" style="position: relative">
            <div class="w-100 ms-2 mailbox-header">
              <div class="d-flex align-items-center gap-2">
                <div
                  class="dropdownall d-flex align-items-center justify-content-center"
                  style="flex: 1"
                  (click)="toggleDropdown()"
                >
                  <span class="all">{{ selectedFilter | uppercase }}</span>
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
                <!-- <button
                    class="new-btn"
                    [routerLink]="[
                      '/emily',
                      buyBoxId,
                      orgId,
                      selectedMicroDealId
                    ]"
                  >
                    New
                    <img
                      [src]="'../../../assets/Images/Icons/arrow-down.png'"
                    />
                  </button> -->
                <!-- <div class="out-icn" (click)="loadInitialData()">
                    <img
                      [src]="'../../../assets/Images/Icons/rotate-right.png'"
                    />
                  </div> -->
              </div>
            </div>
            <div class="dropdown-content" [class.show]="isDropdownVisible">
              <div>
                <div class="email-filters d-flex flex-column">
                  <div
                    class="filter-button"
                    [ngClass]="{ active: selectedFilter === 'all' }"
                    (click)="filterEmails('all')"
                  >
                    <i class="fa-solid fa-envelope me-1"></i> All
                  </div>
                  <div
                    class="filter-button"
                    [ngClass]="{ active: selectedFilter === 'inbox' }"
                    (click)="filterEmails('inbox')"
                  >
                    <i class="fa-solid fa-reply me-1"></i> Inbox
                  </div>
                  <div
                    class="filter-button"
                    [ngClass]="{ active: selectedFilter === 'outbox' }"
                    (click)="filterEmails('outbox')"
                  >
                    <i class="fa-solid fa-share me-1"></i> Outbox
                  </div>
                  <div
                    class="filter-button"
                    [ngClass]="{ active: selectedFilter === 'sent' }"
                    (click)="filterEmails('sent')"
                  >
                    <i class="fa-solid fa-envelope-circle-check me-1"></i>
                    Sent
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content area with contacts and email content -->
    <div class="row m-0 p-0">
      <!-- Contacts list - always visible -->
      <div class="col-lg-3 p-0 m-0">
        <div
          class="card"
          style="border: none; border-radius: 0; min-height: 100vh"
        >
          <div
            class="card-body"
            style="padding: 0; border-right: 1px solid #e2e4e9"
          >
            <ul style="overflow-y: auto; max-height: 63vh; padding: 0">
              <li
                class="contact-list"
                *ngFor="let contact of contacts"
                (click)="getEmailsForContact(contact)"
                [ngClass]="{
                  'selected-contact':
                    contact.ContactId === selectedContact?.ContactId
                }"
              >
                <div class="d-flex justify-content-between w-100">
                  <span class="namecontact" id="{{ contact.ContactId }}">
                    {{ contact.Firstname }} {{ contact.Lastname }}
                  </span>
                  <span
                    style="color: #4d65b4; font-weight: 600"
                    *ngIf="getTotalEmails(contact) > 0"
                  >
                    {{ getTotalEmails(contact) }}
                  </span>
                </div>
              </li>
            </ul>
            <p *ngIf="contacts.length === 0" class="no-contact-msg">
              No contacts available in this organization.
            </p>
          </div>
        </div>
      </div>

      <!-- Email list - shown when no email is selected -->
      <div class="col-lg-9 p-0 mb-3" *ngIf="!selected">
        <div
          class="card"
          style="
            border: none;
            min-height: 80vh;
            border-radius: 0;
            overflow-y: auto;
          "
        >
          <div class="card-bodyy" style="max-height: 74vh; overflow-y: auto">
            <div *ngIf="selectedContact">
              <div class="email-list">
                <div
                  class="single-mail"
                  style="cursor: pointer"
                  *ngFor="let email of filteredEmails"
                  (click)="openEmail(email)"
                  [ngClass]="{
                    'selected-email': email.id === selectedEmail?.ID
                  }"
                >
                  <strong>
                    <i
                      [ngClass]="
                        'fa-solid ' + getDirectionIcon(email.Direction)
                      "
                      class="me-2"
                    ></i>
                    <span class="subject"> {{ email.Subject }}</span>
                  </strong>
                  <p class="date">{{ email.Date | date : "medium" }}</p>
                </div>
                <p *ngIf="emailsSentContact?.length === 0" class="no-email-msg">
                  {{ emptyMessage }}
                </p>
              </div>
            </div>
            <p *ngIf="!selectedContact" class="no-contact-selected">
              Select a contact to view emails.
            </p>
          </div>
        </div>
      </div>

      <!-- Email body - shown when an email is selected -->
      <div class="col-lg-9 p-0 m-0" id="emailDetails" *ngIf="selected">
        <div
          class="email-details-body"
          style="overflow-y: auto; min-height: 91vh"
        >
          <div class="card-body" style="min-height: 77vh; max-height: 77vh">
            <!-- Back button to return to email list -->
            <button class="back" (click)="goBackk()">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <div *ngIf="selectedEmail">
              <p class="subject-details">{{ selectedEmail.Subject }}</p>
              <div class="body-details" [innerHTML]="selectedEmail.Body"></div>
            </div>
            <p *ngIf="!selectedEmail" class="no-email-selected">
              Select an email to view details.
            </p>
          </div>
          <div class="d-flex justify-content-end w-100">
            <button
              class="replay"
              *ngIf="selectedEmail?.Body && selectedEmail?.Direction === 1"
              (click)="
                openmodel(
                  openreply,
                  selectedEmail?.Body,
                  selectedContact?.ContactId
                )
              "
            >
              <img [src]="'../../../assets/Images/Icons/send.png'" />
              Reply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #openreply let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="row m-0 p-2 d-flex justify-content-center">
        <div class="d-flex gap-3 selectedOptionDiv">
          <app-emily
            [buyBoxIdReply]="buyBoxId"
            [orgIdReply]="orgId"
            [emailBodyReply]="selectedEmail?.Body"
            [selectedContactContactId]="selectedContact"
            [modal]="modal"
          >
          </app-emily>
        </div>
      </div>
    </div>
  </div>
</ng-template>
