<section class="container-fluid pt-2 pb-2">
  <div class="Nav__section">
    <ul class="pt-3 pe-2 ps-2 m-0">
      <li
        id="Emily"
        *ngFor="let tab of getFilteredTabs()"
        [ngClass]="{ active: selectedTab === tab.id }"
        (click)="selectTab(tab.id)"
      >
        {{ tab.label }}
      </li>
    </ul>
  </div>
  <div class="main-section">
    <section *ngIf="selectedTab === 'Details'" class="row d-flex m-0 p-2">
      <app-buybox-details />
    </section>
    <section *ngIf="selectedTab === 'Emily'" class="row d-flex m-0 p-0">
      <!-- emily item list -->
      <ng-container
        *ngIf="generatedGetSavedTemplates.length > 0 || generatedGetSavedTemplates?.[0]?.BuyboxOrgEmailTemplates > 0"
      >
        <div class="row m-0 p-0 mt-2 d-flex ps-2 pe-2">
          <ng-container *ngFor="let emaily of generatedGetSavedTemplates">
            <div class="col-12 col-sm-12 p-3">
              <section class="GeneratedTemplates row m-0 p-0">
                <div
                  class="row m-0 p-0 d-flex justify-content-center mt-3 col-12 col-sm-2"
                >
                  <div class="GeneratedTemplates__img col-10">
                    <img
                      class="Templates__img"
                      src="{{ emaily?.LogoURL }}"
                      alt=""
                    />
                  </div>
                  <div class="GeneratedTemplates_title col-12">
                    <input
                      type="checkbox"
                      class="form-check-input m-0"
                      [name]="'emailyID' + emaily?.ID"
                      [checked]="isChecked(emaily?.ID)"
                      (change)="onCheckboxChangeTemplates(emaily?.ID)"
                    />
                    {{ emaily?.Name }}
                  </div>
                </div>
                <div
                  class="d-flex justify-content-center mt-2 pb-2 col-12 col-sm-10"
                >
                  <div
                    class="form-control textarea_divT"
                    contenteditable="false"
                    [innerHTML]="
                      getFormattedTextTemplate(
                        emaily?.BuyboxOrgEmailTemplates[0].Template
                      )
                    "
                  ></div>
                </div>
                <div class="d-flex justify-content-end m-3">
                  <button class="btn edit-btn">AI Generate</button>
                  <button class="btn send-btn ms-2 me-4">Send</button>
                </div>
              </section>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <!-- Generate emily name only-->
      <div
        class="Generate_emaily"
        *ngIf="generatedGetSavedTemplates.length > 0 || generatedGetSavedTemplates?.[0]?.BuyboxOrgEmailTemplates > 0"
      >
        Generate emaily
      </div>
      <!-- Generate emily -->
      <ng-container>
        <article class="sidbar__contant">
          <div
            class="checkbox-section-head checkbox-section-border checkbox-section"
          >
            <input
              type="checkbox"
              name="Parts"
              id="Parts"
              class="form-check-input"
              [(ngModel)]="showClientProfile"
              (change)="onCheckboxChange()"
            />
            <label for="Parts">{{ BuyBoxOrganizationName }}</label>
          </div>
          <div class="checkbox-section checkbox-section-body">
            <input
              type="checkbox"
              name="Relation"
              id="Relation"
              class="form-check-input"
              [(ngModel)]="showRelationNames"
              (change)="onRelationNamesChange()"
            />
            <label for="Relation">Relation Name</label>
          </div>
          <ng-container *ngIf="showRelationNames">
            <ng-container *ngFor="let relation of relationCategoriesNames">
              <div class="checkbox-section checkbox-section-body-first">
                <input
                  type="checkbox"
                  [name]="relation.name"
                  [id]="relation.name"
                  class="form-check-input"
                  [(ngModel)]="relation.selected"
                  (change)="onRelationNamesChange()"
                />
                <label [for]="relation.name">{{ relation.name }}</label>
              </div>

              <ng-container *ngFor="let item of generated?.[0]?.Releations">
                <ng-container
                  *ngIf="item.RetailRelationCategoryId == relation.id"
                >
                  <div class="checkbox-section checkbox-section-body-first">
                    <input
                      type="checkbox"
                      [name]="item.Name"
                      [id]="item.Name"
                      class="form-check-input"
                      [(ngModel)]="item.relationSelect"
                      (change)="updateEmailBody()"
                    />
                    <label [for]="item.Name">{{ item.Name }}</label>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>

          <!-- Manager Organizations and Contacts -->
          <div class="checkbox-section checkbox-section-body">
            <input
              type="checkbox"
              [name]="ManagerOrganizationName"
              [id]="ManagerOrganizationName"
              class="form-check-input"
              [(ngModel)]="showOrganizationManagers"
              (change)="onOrganizationManagersChange()"
            />
            <label [for]="ManagerOrganizationName">{{
              ManagerOrganizationName
            }}</label>
          </div>
          <div
            class="checkbox-section checkbox-section-body-first"
            *ngIf="showOrganizationManagers"
          >
            <input
              type="checkbox"
              name="TenantRep"
              id="TenantRep"
              class="form-check-input"
              [(ngModel)]="showMangerDescription"
              (change)="onMangerDescriptionChange()"
            />
            <label for="TenantRep">Tenant Rep. Description</label>
          </div>
          <ng-container *ngIf="showOrganizationManagers">
            <ng-container *ngFor="let manager of managerOrganizations">
              <ng-container
                *ngFor="let contact of manager.ManagerOrganizationContacts"
              >
                <div class="checkbox-section checkbox-section-body-second">
                  <input
                    type="checkbox"
                    [name]="contact.Firstname + contact.LastName"
                    [id]="contact.Firstname + contact.LastName"
                    class="form-check-input"
                    [(ngModel)]="contact.selected"
                    (change)="onContactCheckboxChange()"
                    [checked]="contact.selected"
                  />
                  <label [for]="contact.Firstname + contact.LastName"
                    >{{ contact.Firstname }} {{ contact.LastName }}</label
                  >
                </div>

                <!-- Add Assistant Details -->
                <div
                  class="checkbox-section checkbox-section-body-second"
                  *ngIf="contact.AssistantName"
                >
                  <input
                    type="checkbox"
                    name="BrokerAssistant"
                    id="BrokerAssistant"
                    class="form-check-input"
                    [(ngModel)]="contact.assistantSelected"
                    (change)="onAssistantCheckboxChange(contact)"
                  />
                  <label for="BrokerAssistant">Broker Assistant</label>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <div
            class="checkbox-section checkbox-section-body-second checkbox-section-border pb-2"
          >
            <label for="border"></label>
          </div>
          <!-- Select a Shopping Center  -->
          <div
            class="checkbox-section-select pb-2 checkbox-section-border"
            *ngIf="ShoppingCenterNames"
          >
            <label for="ShoppingCenter">Shopping Center</label>
            <select
              class="form-select form-select-lg mb-3"
              aria-label="Large select example"
              id="ShoppingCenter"
              [(ngModel)]="selectedShoppingCenter"
              (change)="onSelectedShoppingCenterChange()"
            >
              <option value="" selected disabled>
                Select a Shopping Center
              </option>
              <option
                *ngFor="let center of ShoppingCenterNames"
                [value]="center.CenterName"
              >
                {{ center.CenterName }}
                <span>
                  ({{
                    center.ShoppingCenterManager &&
                    center.ShoppingCenterManager[0]
                      ? center.ShoppingCenterManager[0].Name
                      : ""
                  }})</span
                >

                <!-- {{ center.CenterName }} ({{ center.ShoppingCenterManager[0]?.Name || 'No Manager' }}) -->
                <!-- {{ center.CenterName }} ({{ center.ShoppingCenterManager[0]?.Name || 'No Manager' }}) -->
              </option>
            </select>
          </div>

          <ng-container *ngIf="selectedShoppingCenter">
            <div class="checkbox-section checkbox-section-body">
              <input
                type="checkbox"
                name="LandlordDescription"
                id="LandlordDescription"
                class="form-check-input"
                [(ngModel)]="showManagerName"
                (change)="updateEmailBody()"
              />
              <label for="LandlordDescription">Landlord Rep. Description</label>
            </div>
            <!-- Manager Contacts with checkboxes -->
            <ng-container *ngIf="showManagerName">
              <div
                class="checkbox-section checkbox-section-body-first"
                *ngFor="
                  let contact of getManagerContacts(selectedShoppingCenter);
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  [name]="'M.Contact' + i"
                  [id]="'M.Contact' + i"
                  class="form-check-input"
                  [(ngModel)]="contact.selectedName"
                  (change)="updateEmailBody()"
                />
                <label [for]="'M.Contact' + i"
                  >M.Contact: {{ contact.Firstname }}
                  {{ contact.Lastname }}</label
                >
              </div>
            </ng-container>

            <!-- All Cotenants -->
            <!-- <div class="checkbox-section checkbox-section-body">
            <input type="checkbox" name="Landlord" id="Landlord" class="form-check-input"
              [(ngModel)]="showAllCotenants" (change)="onAllCotenantsChange()">
            <label for="Landlord">Select All Cotenants</label>
          </div> -->

            <!-- Cotenants in the shopping center -->
            <ng-container>
              <div class="checkbox-section checkbox-section-body">
                <input
                  type="checkbox"
                  name="Co-tenant"
                  id="Co-tenant"
                  class="form-check-input"
                  [(ngModel)]="showCotenantsWithActivity"
                  (change)="onCotenantsWithActivityChange()"
                />
                <label for="Co-tenant">Co-tenant in the shopping center</label>
              </div>

              <!-- Add *ngIf here -->
              <ng-container *ngIf="showCotenantsWithActivity">
                <ng-container *ngFor="let activity of groupedActivityTypes">
                  <div class="checkbox-section checkbox-section-body-first">
                    <input
                      type="checkbox"
                      [name]="activity.ActivityType"
                      [id]="activity.ActivityType"
                      class="form-check-input"
                      [(ngModel)]="activity.selected"
                      (change)="onActivityChange(activity)"
                    />
                    <label [for]="activity.ActivityType">{{
                      activity.ActivityType
                    }}</label>
                  </div>
                  <ng-container *ngFor="let co of activity.Cotenants">
                    <div class="checkbox-section checkbox-section-body-second">
                      <input
                        type="checkbox"
                        [name]="co.CotenantName"
                        [id]="co.CotenantName"
                        class="form-check-input"
                        [(ngModel)]="co.selected"
                        (change)="updateEmailBody()"
                      />
                      <label [for]="co.CotenantName">{{
                        co.CotenantName
                      }}</label>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>

            <!-- Cotenants without shopping center -->
            <!-- <div class="row pl-2">
            <div>
              <label class="check">
                <input type="checkbox" [(ngModel)]="showCotenantsWithoutActivity"
                  (change)="onCotenantsWithoutActivityChange()" />
                <p>Cotenants without shopping center</p>
              </label>
              <ul *ngIf="showCotenantsWithoutActivity" style="list-style-type: none; padding-left: 10px;">
                <li *ngFor="let cotenant of getCotenantsWithoutActivityType(selectedShoppingCenter)">
                  <label class="check">
                    <input type="checkbox" [(ngModel)]="cotenant.selected" (change)="updateEmailBody()" />
                    {{ cotenant.CotenantName }}
                  </label>
                </li>
              </ul>
            </div>
          </div> -->
          </ng-container>
          <!-- <div class="checkbox-section checkbox-section-body-second">
          <input type="checkbox" name="Mitchell" id="Mitchell" class="form-check-input">
          <label for="Mitchell">Mitchell Recoon</label>
        </div>
        <div class="checkbox-section checkbox-section-body-second checkbox-section-border pb-2">
          <input type="checkbox" name="Esther" id="Esther" class="form-check-input">
          <label for="Esther">Esther Foster</label>
        </div>
        <div class="checkbox-section checkbox-section-body-first checkbox-section-border pb-2">
          <input type="checkbox" name="ComplementaryTwo" id="ComplementaryTwo" class="form-check-input">
          <label for="ComplementaryTwo">Complementary Tenants</label>
        </div>
        <div class="checkbox-section-select pb-2 checkbox-section-border">
          <label for="ShoppingCenter">Shopping Center</label>
          <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="ShoppingCenter">
            <option value="1" selected>Jemal's Van Ness</option>
            <option value="2">Jemal's Van Ness</option>
            <option value="3">Jemal's Van Ness</option>
          </select>
        </div>
        <div class="checkbox-section checkbox-section-body-first">
          <input type="checkbox" name="ComplementaryTenants" id="ComplementaryTenants" class="form-check-input">
          <label for="ComplementaryTenants">Museum Gift Shop</label>
        </div>-->
        </article>
        <aside class="Emily__contant">
          <div class="Emily__contant__head">Prompt</div>
          <!-- Select Prompt -->
          <div class="checkbox-section-select pb-2">
            <label for="discussionDropdown">Select Prompt</label>
            <select
              class="form-select form-select-lg"
              aria-label="Large select example"
              id="discussionDropdown"
              [(ngModel)]="selectedPromptId"
              (change)="updatePrompt()"
            >
              <option value="" selected>Select Prompt</option>
              <option *ngFor="let prompt of prompts" [value]="prompt.id">
                {{ prompt?.name }}
              </option>
            </select>
          </div>
          <!-- Display Prompt in Separate Textarea -->
          <!-- *ngIf="selectedPromptId" -->
          <div
            class="textarea pb-3 checkbox-section-border"
            *ngIf="selectedPromptId"
          >
            <label id="selectedPromptTextarea">Selected Prompt</label>
            <textarea
              id="selectedPromptTextarea"
              rows="4"
              class="form-control"
              [(ngModel)]="selectedPromptText"
              readonly
            ></textarea>

            <div class="d-flex justify-content-end mt-2">
              <button
                class="Emily__contant__button"
                (click)="openPromptTextModal(View)"
              >
                Prompt
                <i class="fas fa-sign-in-alt px-1"></i>
              </button>
            </div>
          </div>
          <div class="Emily__contant__head pt-3 pb-2" for="emailBodyTextarea">
            Email Body
            <p
              class="Emily__contant__head__p"
              (click)="clearSelections()"
              *ngIf="emailBody != ''"
              title="Clear Body"
            >
              Clear
            </p>
          </div>
          <div class="textarea">
            <!-- contenteditable="true" -->
            <!-- <div class="form-control textarea_div" id="emailBodyTextarea" rows="20"  [(ngModel)]="emailBody">
          </div> -->
            <textarea
              id="emailBodyTextarea"
              rows="20"
              class="form-control"
              [(ngModel)]="emailBody"
            ></textarea>
            <!-- <div
            id="emailBodyDiv"
            class="form-control"
            [innerHTML]="emailBody"
            style="white-space: pre-wrap; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
          </div> -->
          </div>
          <div class="d-flex justify-content-end">
            <button
              class="Emily__contant__button mt-3 mb-1"
              (click)="getGenericEmail()"
            >
              <svg
                width="14"
                height="20"
                viewBox="0 0 14 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.07492 11.0667H4.64992V17.0667C4.64992 18.4667 5.40826 18.75 6.33326 17.7L12.6416 10.5334C13.4166 9.65838 13.0916 8.93338 11.9166 8.93338H9.34159V2.93338C9.34159 1.53338 8.58326 1.25005 7.65826 2.30005L1.34992 9.46671C0.583255 10.35 0.908256 11.0667 2.07492 11.0667Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Generate
              <p class="spinner-grow" *ngIf="ShowSpinner"></p>
            </button>
          </div>
        </aside>
      </ng-container>
      <!-- API Response View -->
      <div class="container-fluid h-auto backgroundcolor p-0">
        <div class="row">
          <!-- API Response View -->
          <div class="col-12 p-0">
            <div
              class="form-group mt-4"
              *ngIf="emailSubject || emailBodyResponse"
            >
              <div class="card shadow-sm border-0">
                <div
                  class="card-header text-white"
                  style="background-color: #141e2a"
                >
                  <h5 class="mb-0">Generated Email</h5>
                </div>
                <div class="card-body bg-light">
                  <div class="mb-3">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <label class="fw-bold text-secondary"
                        >Email Subject:</label
                      >
                      <span
                        (click)="copyEmailSubject()"
                        class="copy-icon-container"
                      >
                        <i
                          class="fas fa-copy copy-sty"
                          [hidden]="isSubjectCopied"
                          title="Copy Email Subject"
                        ></i>
                        <span class="copied-text" *ngIf="isSubjectCopied"
                          >Copied!</span
                        >
                      </span>
                    </div>
                    <div class="p-3 border rounded bg-white text-dark">
                      {{ emailSubject }}
                    </div>
                  </div>
                  <div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <label class="fw-bold text-secondary">Email Body:</label>
                      <span
                        (click)="copyEmailBody()"
                        class="copy-icon-container"
                      >
                        <i
                          class="fas fa-copy copy-sty"
                          [hidden]="isBodyCopied"
                          title="Copy Email Body"
                        ></i>
                        <span class="copied-text" *ngIf="isBodyCopied"
                          >Copied!</span
                        >
                      </span>
                    </div>
                    <div class="p-3 border rounded bg-white text-dark">
                      <p [innerHTML]="emailBodyResponse" class="m-0"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- editor selectedPrompt -->
      <ng-template #View let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-light">{{ selectedPromptName }}</h3>
            <!-- <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button> -->
          </div>
          <div class="modal-body">
            <!-- Display or Edit Prompt Text -->
            <textarea
              *ngIf="isEditing"
              class="form-control"
              rows="15"
              [(ngModel)]="editablePromptText"
            ></textarea>
            <textarea
              *ngIf="!isEditing"
              [innerHTML]="selectedPromptText"
              readonly
              rows="15"
              class="form-control"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              *ngIf="!isEditing"
              class="btn btn-warning"
              (click)="editPrompt()"
            >
              Edit
            </button>
            <button
              *ngIf="isEditing"
              class="btn btn-success"
              (click)="savePrompt(modal)"
            >
              Save
            </button>
            <button
              class="btn btn-secondary"
              (click)="modal.dismiss('Close click')"
            >
              Close
            </button>
          </div>
        </div>
      </ng-template>
    </section>
    <section
      *ngIf="selectedTab === 'Shopping Centers'"
      class="row d-flex m-0 p-2"
    >
      <!-- <app-buybox-shopping-centers (bindClicked)="selectTab('kayak')" /> -->
      <app-shopping-center-table
        (bindClicked)="selectTab('kayak')"
      ></app-shopping-center-table>
    </section>
    <!-- <section *ngIf="selectedTab === 'Locations'" class="row d-flex m-0 p-2">
      <app-work-spaces></app-work-spaces>
    </section> -->
    <section
      *ngIf="selectedTab === 'Sharingh'"
      class="row d-flex m-0 p-2"
    ></section>
    <section *ngIf="selectedTab === 'kayak'" class="row d-flex m-0 p-2">
      <app-kayak></app-kayak>
    </section>
    <section
    *ngIf="selectedTab === 'Relations'"
    class="row d-flex m-0 p-2"
  >
  <app-buybox-relatios></app-buybox-relatios>
</section>
  </div>
</section>
