.choose-broker-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contacts-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-container {
  width: calc(33.3% - 0.75rem);
  /* height: 100%; */
}

.contact-container,
.send-as {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #c6c9d3;
  border-radius: 1.5rem;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
}

.contact-information * {
  color: #707791;
}

.contact-name {
  font-weight: 600;
  color: var(--app-color) !important;
}

.send-as {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-as-title {
  font-size: large;
  font-weight: 600;
}

.send-as-switch {
  border: 1px solid var(--Colors-Primary-500);
  color: var(--Colors-Primary-500);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.send-as-switch * {
  padding: 0.5rem 1.75rem;
}

.send-as-active {
  background-color: var(--Colors-Primary-500);
  color: var(--Colors-Pure-White);
}

.continue-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}

.continue-btn button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--Colors-Primary-500);
  background-color: var(--Colors-Primary-500);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
}

.continue-btn button * {
  color: var(--Colors-Pure-White);
}

.continue-btn button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.load-another-contact {
  color: var(--Colors-Primary-500);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

.generate-email-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.generate-email-sub-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.generate-email-column {
  width: calc(50% - 0.75rem);
  padding: 1rem;
  border: 1px solid #c6c9d3;
  border-radius: 1.5rem;
  height: 40vh;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: auto;
}

.checkbox-section {
  display: flex;
  gap: 5px;
}

.checkbox-section label {
  color: #707791;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.005em;
  cursor: pointer;
}

.checkbox-section-head {
  padding-bottom: var(--Space-S-8) ;
}

.checkbox-section-body {
  padding-bottom: var(--Space-S-4);
  padding-top: 10px;
}

.checkbox-section-body-first {
  padding-inline-start: var(--Space-S-20) ;
  padding-bottom: 3px;
  padding-top: 3px;
}

.checkbox-section-body-second {
  padding-inline-start: 40px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.checkbox-section-select {
  padding-bottom: 3px;
  /* margin-inline: 1rem; */
}

.checkbox-section-select > label {
  background: white;
  position: relative;
  left: 15px;
  /* top: 1px; */
  padding-inline: 6px;
  color: #707791;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.005em;
  z-index: 1;
  background: var(--Main-Container-BG);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.checkbox-section-select select {
  height: 3rem;
}

.showMoreRelations {
  color: #707791;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.005em;
  cursor: pointer;
}

.prompt-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.generate-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}

.advanced-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.generate-btn button,
.advanced-controls button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--Colors-Primary-500);
  background-color: var(--Colors-Primary-500);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
}

.generate-btn button:disabled,
.advanced-controls button:disabled {
  border: 1px solid #d294a9;
  background-color: #d294a9;
}

.generate-btn button *,
.advanced-controls button * {
  color: var(--Colors-Pure-White);
}

.generate-btn button svg,
.advanced-controls button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.generate-btn button svg path,
.advanced-controls button svg path {
  fill: var(--Colors-Pure-White);
}

.preview-emails-contaciner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.emails-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.email-container {
  width: 100%;
  padding: 1rem;
  border: 1px solid #c6c9d3;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.subject,
.body {
  width: 100%;
  background-color: #f1f1f4;
  padding: 1rem;
  border-radius: 0.75rem;
}

.subject {
  font-size: large;
  font-weight: 600;
}

.body {
  white-space: break-spaces;
  color: #707791;
}

.subject:focus,
.body:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #c6c9d3;
}

.email-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: auto;
}

.edit-btn,
.send-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--Colors-Primary-500);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
}

.edit-btn {
  background-color: var(--Colors-Pure-White);
  color: #4d65b4;
}

.send-btn {
  background-color: var(--Colors-Primary-500);
  color: var(--Colors-Pure-White);
}

.empty-emails {
  color: #707791;
  font-weight: 600;
}

.loader {
  display: block;
  --height-of-loader: var(--Space-S-4);
  --loader-color: var(--Colors-Primary-500);
  width: 10rem;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

::ng-deep .send-mail-content .modal-content {
  border-radius: 1rem;
}

.send-mail-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #e2e4e9;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--app-color);
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@media (max-width: 768px) {
  .generate-email-column {
    width: 100%;
  }
}
.form-check-input:checked {
  border: 1px solid var(--Colors-Primary-500);
  background-color: var(--Colors-Primary-500);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(181, 31, 99, 0.25) !important;
}
.form-control {
  background: var(--Main-Container-BG) !important;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}
.form-select {
  background: var(--Main-Container-BG) !important;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}
