<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container">
  <div class="mt-2 mb-2">
    <form [formGroup]="siteDetailsForm" (ngSubmit)="onSubmitForm()">
      <div class="row m-0">
        <div class="col-12">
          <label class="Head-line">Site Details</label>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Name*</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="Name" 
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('Name')?.invalid && siteDetailsForm.get('Name')?.touched }"/>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style" for="organizationSearch">Organization*</label>
            <input type="text" id="organizationSearch" name="organizationSearch" class="form-control"
              placeholder="Search Organization" formControlName="OrganizationId" 
              (input)="onOrganizationInput($event)" (keydown)="handleOrganizationKeydown($event)"
              (blur)="handleOrganizationBlur()" autocomplete="off" required aria-autocomplete="list"
              aria-controls="organization-suggestions"
              [ngClass]="{ 'is-invalid': siteDetailsForm.get('OrganizationId')?.invalid && siteDetailsForm.get('OrganizationId')?.touched }" />
            <ul *ngIf="showOrganizationSuggestions && organizations.length > 0" class="list-group position-absolute"
              style="width: 88%;" id="organization-suggestions">
              <li *ngFor="let org of organizations; let i = index" style="cursor: pointer;" class="list-group-item list-group-item-action"
                [class.active]="highlightedOrganizationIndex === i" (click)="selectOrganization(org)"
                id="organization-suggestion-{{ i }}" role="option"
                [attr.aria-selected]="highlightedOrganizationIndex === i">
                {{ org.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Min Building Size*</label>
            <input type="number" class="form-control" placeholder="0" formControlName="MinBuildingSize"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('MinBuildingSize')?.invalid && siteDetailsForm.get('MinBuildingSize')?.touched }" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Max Building Size*</label>
            <input type="number" class="form-control" placeholder="0" formControlName="MaxBuildingSize"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('MaxBuildingSize')?.invalid && siteDetailsForm.get('MaxBuildingSize')?.touched }" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Lot Size (Acres)* </label>
            <input type="number" class="form-control" placeholder="0" formControlName="LotSize" 
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('LotSize')?.invalid && siteDetailsForm.get('LotSize')?.touched }"/>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Building Square Footage*</label>
            <input type="number" class="form-control" placeholder="0" formControlName="BuildingSquareFootage" 
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('BuildingSquareFootage')?.invalid && siteDetailsForm.get('BuildingSquareFootage')?.touched }"/>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Frontage Length* </label>
            <input type="number" class="form-control" placeholder="0" formControlName="FrontageLength" 
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('FrontageLength')?.invalid && siteDetailsForm.get('FrontageLength')?.touched }"/>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Building Type* </label>
            <select class="form-select" formControlName="BuildingType"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('BuildingType')?.invalid && siteDetailsForm.get('BuildingType')?.touched }">
              <option value="" selected disabled>Select Building Type</option>
              <option value="Free Standing">Free Standing</option>
              <option value="Neighborhood Strip">Neighborhood Strip</option>
              <option value="Endcap">Endcap</option>
              <option value="Inline Retail">Inline Retail</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Drive-Thru*</label>
            <div class="d-flex gap-5 style_radio">
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="DriveThru" id="Drivethru1" [value]="1"
                  checked>
                <label class="form-check-label" for="Drivethru1">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="DriveThru" id="Drivethru2" [value]="0">
                <label class="form-check-label" for="Drivethru2">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Traffic Direction*</label>
            <select class="form-select" formControlName="TrafficDrection"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('TrafficDrection')?.invalid && siteDetailsForm.get('TrafficDrection')?.touched }">
              <option value="" selected disabled>Select Traffic Direction</option>
              <option value="Northbound">Northbound</option>
              <option value="Southbound">Southbound</option>
              <option value="Two-Way">Two-Way</option>
              <option value="Any Side">Any Side</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Vehicles Per Day* </label>
            <input type="number" class="form-control" placeholder="0" formControlName="VehiclePerDay"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('VehiclePerDay')?.invalid && siteDetailsForm.get('VehiclePerDay')?.touched }" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Parking Spaces </label>
            <input type="number" class="form-control" placeholder="0" formControlName="ParkingSpaces" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Property Condition* </label>
            <select class="form-select" formControlName="PropertyCondition"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('PropertyCondition')?.invalid && siteDetailsForm.get('PropertyCondition')?.touched }">
              <option value="" selected disabled>Select Property Condition</option>
              <option value="Shell">Shell</option>
              <option value="Vanilla Shell">Vanilla Shell</option>
              <option value="Second Generation">Second Generation</option>
              <option value="Renovated">Renovated</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Ceiling Height </label>
            <input type="number" class="form-control" placeholder="0" formControlName="CeilingHeight" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Loading / Service Access*</label>
            <input type="text" class="form-control" placeholder="Loading / Service Access"
              formControlName="ServiceAccess"
              [ngClass]="{ 'is-invalid': siteDetailsForm.get('ServiceAccess')?.invalid && siteDetailsForm.get('ServiceAccess')?.touched }" />
          </div>
        </div>
        <div class="col-12 mt-3">
          <label class="Head-line">Zoning & Regulatory</label>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Zoning*</label>
            <input type="text" class="form-control" placeholder="C-2" formControlName="Zoning" 
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('Zoning')?.invalid && siteDetailsForm.get('Zoning')?.touched }"/>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Overnight Boarding Permitted*</label>
            <div class="d-flex gap-5 style_radio">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="Overnight1"
                  formControlName="OvernightBoardingPermitted" [value]="1" checked>
                <label class="form-check-label" for="Overnight1">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="Overnight2"
                  formControlName="OvernightBoardingPermitted" [value]="0">
                <label class="form-check-label" for="Overnight2">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Historic District or Overlay</label>
            <input type="text" class="form-control" placeholder="Historic District or Overlay"
              formControlName="HistoricDistrict" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Flood Zone</label>
            <div class="d-flex gap-5 style_radio">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="FloodZone1" formControlName="FloodZone" value="Zone X"
                  checked>
                <label class="form-check-label" for="FloodZone1">
                  Zone X
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="FloodZone2" formControlName="FloodZone"
                  value="Zone AE">
                <label class="form-check-label" for="FloodZone2">
                  Zone AE
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Exclusive Use Clauses / Restrictions</label>
            <input type="text" class="form-control" placeholder="Exclusive Use Clauses / Restrictions"
              formControlName="Restrictions" />
          </div>
        </div>
        <div class="col-12 mt-3">
          <label class="Head-line">Lease / Purchase / Financials</label>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Deal Structure* </label>
            <select class="form-select" formControlName="DealStructure"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('DealStructure')?.invalid && siteDetailsForm.get('DealStructure')?.touched }">
              <option value="" selected disabled>Select Deal Structure</option>
              <option value="Purchase">Purchase</option>
              <option value="Ground Lease">Ground Lease</option>
              <option value="Lease">Lease</option>
              <option value="Build-to-Suit">Build-to-Suit</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <label class="mb-2 label-style">Base Rent* </label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" aria-label="Base Rent" formControlName="BaseRent" placeholder="0"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('BaseRent')?.invalid && siteDetailsForm.get('BaseRent')?.touched }">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <label class="mb-2 label-style">NNN Charges* </label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" aria-label="NNN Charges" formControlName="NNNCharges" placeholder="0"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('NNNCharges')?.invalid && siteDetailsForm.get('NNNCharges')?.touched }">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <label class="mb-2 label-style">Purchase Price* </label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" aria-label="Purchase Price" formControlName="PurchasePrice" placeholder="0"
            [ngClass]="{ 'is-invalid': siteDetailsForm.get('PurchasePrice')?.invalid && siteDetailsForm.get('PurchasePrice')?.touched }">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-group form-group-default">
            <label class="mb-2 label-style">Lease Term / Options</label>
            <input type="text" class="form-control" placeholder="5-year" formControlName="LeaseTerm" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <label class="mb-2 label-style">TI Allowance </label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" aria-label="TI Allowance" formControlName="TIAllowance" placeholder="0">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <label class="mb-2 label-style" for="OtherComments">Other Comments*</label>
          <textarea class="form-control" id="OtherComments" formControlName="OtherComments" rows="2" placeholder="Comment"></textarea>
        </div>
        <div class="modal-footer no-bd p-0 mt-3">
          <button type="submit" class="CherryPick__button">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>