@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/satoshi-regular/Satoshi-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/satoshi-regular/Satoshi-Regular.woff") format("woff"),
    url("/assets/fonts/satoshi-regular/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/satoshi-bold/Satoshi-Bold.woff2") format("woff2"),
    url("/assets/fonts/satoshi-bold/Satoshi-Bold.woff") format("woff"),
    url("/assets/fonts/satoshi-bold/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/satoshi-medium/Satoshi-Medium.woff2") format("woff2"),
    url("/assets/fonts/satoshi-medium/Satoshi-Medium.woff") format("woff"),
    url("/assets/fonts/satoshi-medium/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --app-color: #000000;
  --app-font: "Satoshi", sans-serif; /* Define Satoshi as a font variable */
}

body{
  font-family: var(--app-font) !important;
}

.row {
  margin: 0;
}

.login-btn {
  color: var(--app-color);
  border: 1px solid var(--app-color);
}

.login-btn:hover {
  background-color: var(--app-color);
  color: #fff;
  border: 1px solid var(--app-color);
}

.default-color {
  color: var(--app-color);
}

.page-link {
  color: var(--app-color);
}

.num-places {
  font-size: 17px;
  padding: 8px 3px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000a34;
}

.activity-feed {
  padding: 15px;
  list-style: none;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #e4e8eb;
  display: flex;
  flex-direction: column;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--app-color);
}

.card-bodyx.selected {
  background-color: var(--app-color);
  color: #fff !important;
}

.active > .page-link,
.page-link.active {
  background-color: var(--app-color);
  border: none;
}

.page-link:focus {
  box-shadow: none;
}

.pagination {
  margin: 0 !important;
}

/* styles.css or your component's stylesheet */
/* Custom scrollbar styles */
.custom-scrollbar {
  overflow-x: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: var(--app-color) #f1f1f1;
  /* For Firefox */
  cursor: pointer;
  /* Change cursor to pointer */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  /* Change the height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
  border-radius: 20px;
  /* Rounded corners for track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--app-color);
  /* Thumb color */
  border-radius: 20px;
  /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--app-color);
  /* Thumb color on hover */
  border-radius: 20px;
  /* Rounded corners for track */
}

.default-btn {
  padding: 5px 20px;
  background-color: var(--app-color);
  color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  margin: 0 0 0 8px;
}

.transparent-btn {
  padding: 5px 20px;
  background-color: #ffffff;
  color: var(--app-color);
  border-radius: 30px;
  border: 2px solid var(--app-color);
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}

.transparent-btn:hover {
  background-color: var(--app-color);
  color: #fff;
}

.active {
  color: #00aeff !important;
}

.logout-admin {
  color: #383838;
  background: #000 !important;
  padding: 18px;
  margin: 0 0 0 15px;
  border: none;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
  white-space: nowrap;
}

.logout-admin:hover {
  color: #fff;
  background: #fff;
}

.logo {
  font-family: var(--app-font);
  text-transform: uppercase;
}

.login-person {
  font-family: var(--app-font);
  color: #383838;
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
  /* text-transform: uppercase; */
  cursor: pointer;
}

.capsnap-ai {
  font-family: var(--app-font);
  color: #383838;
  font-size: 15px;
  padding: 0 5px;
  font-weight: 700;
}

.review_bottom li {
  list-style: none;
}

.review_bottom li:after {
  content: "\A";
  white-space: pre;
}

/* Style each line of tabs */

.navbar-line {
  width: 100%;
  padding: 12px 8px;
  background: #ffffff;
}

.nav-link {
  font-family: var(--app-font);
  color: #2d3436;
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0 20px;
}

.nav-link-sec {
  color: #000000;
  font-size: 14px;
  line-height: 5px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.ngx-slider .ngx-slider-selection {
  z-index: 2;
  background: var(--app-color) !important;
  border-radius: 2px;
}

.ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
  top: -10px !important;
  background-color: var(--app-color) !important;
  z-index: 3;
  border-radius: 16px;
}

.ngx-slider .ngx-slider-pointer:after {
  content: "";
  width: 7px !important;
  height: 7px !important;
  position: absolute;
  top: 7px !important;
  left: 7px !important;
  border-radius: 4px;
  background: #fff;
}

.sb-icon[_ngcontent-ng-c4288589785] {
  padding: 0;
  font-size: 23px !important;
}

.sb-facebook {
  color: #3b5998 !important;
  /* Facebook blue */
}

/* Email Icon */
.sb-email {
  color: #ff5733 !important;
  /* Custom color for email */
}

/* Viber Icon */
.sb-viber {
  color: #665cac !important;
  /* Custom color for Viber */
}

/* Whatsapp Icon */
.sb-whatsapp {
  color: #25d366 !important;
  /* Whatsapp green */
}

/* Messenger Icon */
.sb-messenger {
  color: #0084ff !important;
  /* Messenger blue */
}

/* Linkedin Icon */
.sb-linkedin {
  color: #0077b5 !important;
  /* Linkedin blue */
}

/* Telegram Icon */
.sb-telegram {
  color: #0088cc !important;
  /* Telegram blue */
}

/* Twitter Icon */
.sb-twitter {
  color: #1da1f2 !important;
  /* Twitter blue */
}

/* Copy Icon */
.sb-copy {
  color: #4caf50 !important;
  /* Green */
}

/* Print Icon */
.sb-print {
  color: #4285f4 !important;
  /* Blue */
}

.home-head {
  text-align: center;
}

.form-select {
  border-radius: 20px;
  padding: 10px 19px;
  font-size: 13px;
  border-radius: 20px;
}

.select-label {
  margin: 0 0 2px 6px;
  font-size: 13px;
  color: hsla(0, 0%, 9%, 0.47);
}

.feature {
  font-size: 1rem;
  color: #000000;
  text-wrap: balance;
}

.card-container {
  padding: 2px;
  background-color: #f7f7f7;
  color: #17171759;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.place-card {
  width: 95%;
  border-radius: 7px;
  background-color: #fff;
  border-radius: 7px;
  margin: 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.place-card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.card-head {
  padding: 15px;
}

.place-name {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 3px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 5px;
}

.card-footer {
  background-color: #fff;
  padding: 0 15px 15px 15px;
}

.footer-item {
  padding: 0 20px;
}

.footer-item p {
  font-size: 14px;
}

.item-value {
  color: #2e2e2e;
  opacity: 0.9;
}

.img-container {
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #012498;
  border: 1px solid #fff;
  font-weight: 400;
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 13px;
}
.gm-style .gm-style-iw-c {
  padding: 0;
  margin-top: 10px;
  height: auto;
  max-height: 650px !important;
}



@media (max-width: 768px) {
  .gm-style .gm-style-iw-c { 
    max-width: 100vw !important; 
  }
  .modal-dialog  {
    margin: 40px !important;
  }
}

.gm-style-iw-chr {
  display: none !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
  padding: 0;
  height: auto;
  max-height: 650px !important;
}

/* Styles for Google Maps Info Window */
.info-window { 
  padding: 0px 0px 24px 0px;
  gap: 0px;
  border-radius: 20px;
}

.card-window {
  cursor: pointer;
  margin-bottom: 30px;
}

.main-img {
  position: relative;
}

.card-window .main-img img {
  width: 100%;
  height: 250px;
  border-radius: 18px 18px 0 0 ;
}

 

.close-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 24px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.content-wrap {
  padding: 14px 18px; 
}

.info-window .main-img img {
  width: 100%;
  height: 309px;
  gap: 0px;
  opacity: 0px; 
}

.content-title { 
  font-size: 24px;
  font-weight: 700;
  color: #000000;  
  margin: 0;
}

@media (max-width: 768px) {
  .content-title { 
    font-size: 14px;
  } 
}

/* .content-title .info {
  width: 494px;
  height: 80px;
} */
.info-window-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.info-window-center,
.info-window-address,
.info-window-suite,
.info-window-size,
.info-window-nearest-branches,
.info-window-nearest-competitors,
.info-window-nearest-cotenants,
.info-window-name {
  font-size: 14px;
  font-weight: normal;
  color: #555;
}

.info-window-address {
  margin-top: 5px;
  font-weight: bold;
}
.spec {
  margin-block: 5px;
  padding-right: 10px;
  padding-left: 0;
}
.spec-head {
  color: #817a79;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
}

.spec-content {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 4px 0;
  color: #0d0c0c;
}

.buttons-wrap {
  display: flex;
  justify-content: space-between;
  margin-top:auto;
  height: 40px;
}

.view-details-card {
  color: #fff;
  background-color: #0d0c0c;
  gap: 8px;
  border-radius: 16px;
  border: none;
  margin-right: 10px;
  font-size: 15px;
  padding: 7px 15px;
}

.save-address-btn {
  height: fit-content;
  padding: 7px 12px;
  background-color: #ffffff;
  gap: 8px;
  border-radius: 16px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.address-content {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #817a79;
}

.procpect-table-head {
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 10px; /* Apply border-radius to .procpect-table-head */
}

.procpect-table-head th {
  padding: 10px;
  background-color: #E4E7E9;
}

.procpect-table-head th:first-child {
  border-top-left-radius: 12px; 
  background-color: #E4E7E9; 
}

.procpect-table-head th:last-child {
  border-top-right-radius: 12px; 
  background-color: #E4E7E9; 

}

.rounded-table {
  border-collapse: separate;  
  border-spacing: 0;   
  width: 100%;
}

.procpect-table {
  width: 100%; 
}

.procpect-table-body{
  background-color: #fff;
}

.procpect-table-head th {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #0d0c0c;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
}

.procpect-table-body td {
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  color: #0d0c0c;
  border: 1px solid #e4e4e4;
}


.content-address {
  font-size: 15px;
  font-weight: 500;
  color: #0039ff !important;
  text-decoration: underline !important; 
  margin-block: 5px;
  cursor: pointer;
}

.content-address:hover {
  text-decoration: underline;
}

.fa-info{
  color: #000 !important;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 26px;
}

p {
  margin-bottom: 0 !important;
}

.carousel-control-prev {
  left: -121px !important;
}

.carousel-control-next {
  right: -121px !important;
}