<div class="p-3 justify-content-between d-flex">
  <p class="m-0 f500" style="color: #000">
    {{ cardsSideList.length }} places within map area
  </p>
</div>

<div class="row m-0">
  <div class="col-8 p-0 d-flex flex-column cards-container">
    <div class="row m-0 mt-1" *ngIf="!isLoading; else loadingSkeleton">
      <ng-container *ngFor="let place of cardsSideList; trackBy: trackById">
        <div class="col-6">
          <div
            class="card-window total"
            (mouseenter)="onMouseHighlight(place)"
            (mouseleave)="onMouseLeaveHighlight(place)"
          >
            <div class="card-window_c">
              <a
                [routerLink]="[ '/landing', place?.ShoppingCenter?.Places ? place?.ShoppingCenter?.Places?.[0]?.Id : 0,place.Id,BuyBoxId]"
              >
                <div class="main-img">
                  <img
                    [src]="getImageUrl(place)"
                    [title]="place.CenterName"
                    [ngClass]="{ loading: imageLoadingStates[place.Id] }"
                    (error)="onImageError(place)"
                    (load)="onImageLoad(place.Id)"
                    loading="lazy"
                    alt="{{ place.CenterName }}"
                  />
                  <div
                    class="image-placeholder"
                    *ngIf="imageLoadingStates[place.Id]"
                  >
                    <div class="loading-spinner"></div>
                  </div>
                </div>
              </a>
              <div class="content-wrap card-content">
                <div>
                  <div class="d-flex justify-content-between">
                    <a
                      style="max-width: 45%"
                      [routerLink]="[ '/landing', place?.ShoppingCenter?.Places ? place?.ShoppingCenter?.Places?.[0]?.Id : 0,place.Id,BuyBoxId]"
                    >
                      <p
                        class="content-title total"
                        style="white-space: pre-line"
                      >
                        {{
                          place.CenterName.length > 22
                            ? (place.CenterName | titlecase).slice(0, 22) +
                              "..."
                            : (place.CenterName | titlecase)
                        }}
                      </p>

                      <span
                        class="badge badge-danger mx-2"
                        *ngIf="place.Deleted == true"
                        >Deleted</span
                      >
                    </a>
                    <div style="display: flex; gap: 5px">
                      <div *ngIf="place.stageName">
                        <!-- <p class="ShoppingCenterStage mb-1">{{place.stageName}}</p> -->
                        <div class="custom-dropdown" style="width: 200px">
                          <div
                            class="selected-option"
                            (click)="toggleDropdown(place, $event)"
                          >
                            {{ getSelectedStageName(place.kanbanStageId) }}
                            <i class="fas fa-chevron-down"></i>
                          </div>
                          <div
                            class="dropdown-options"
                            [class.show]="place.isDropdownOpen"
                          >
                            <div
                              *ngFor="let stage of KanbanStages"
                              class="dropdown-item"
                              [class.active]="stage.id === place.kanbanStageId"
                              (click)="
                                selectStage(
                                  place.MarketSurveyId,
                                  stage.id,
                                  place,
                                  $event
                                )
                              "
                            >
                              {{ stage.stageName }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        class="ellipsis_icont"
                        (click)="toggleShortcutsCard(place.Id)"
                      >
                        <i class="fa-solid fa-ellipsis"></i>
                      </button>
                      <div
                        class="shortcuts_iconCard"
                        *ngIf="selectedIdCard === place.Id"
                      >
                        <ul>
                          <!-- <li class="cursor">
                            <a class="target" [href]="
                                  '/emily/' +
                                  BuyBoxId +
                                  '/' +
                                  place.ShoppingCenter.ManagerOrganization[0]
                                    .ID +
                                  '/' +
                                  place?.Id
                                " target="_blank">
                              <i class="fa-regular fa-envelope emily"></i>
                              Emily
                            </a>
                          </li> -->
                          <li (click)="toggleShortcuts(place.Id, 'close')">
                            <a
                              class="target"
                              [routerLink]="['/landing',place?.ShoppingCenter?.Places?.[0]?.Id || 0,place?.Id,BuyBoxId]"
                            >
                              <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M6.70001 18.75H4.15002C2.31002 18.75 1.25 17.69 1.25 15.85V4.15002C1.25 2.31002 2.31002 1.25 4.15002 1.25H8.45001C10.29 1.25 11.35 2.31002 11.35 4.15002V6C11.35 6.41 11.01 6.75 10.6 6.75C10.19 6.75 9.84998 6.41 9.84998 6V4.15002C9.84998 3.13002 9.47001 2.75 8.45001 2.75H4.15002C3.13002 2.75 2.75 3.13002 2.75 4.15002V15.85C2.75 16.87 3.13002 17.25 4.15002 17.25H6.70001C7.11001 17.25 7.45001 17.59 7.45001 18C7.45001 18.41 7.11001 18.75 6.70001 18.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M14.9602 22.75H9.12018C7.11018 22.75 5.9502 21.59 5.9502 19.58V8.41998C5.9502 6.40998 7.11018 5.25 9.12018 5.25H14.9602C16.9702 5.25 18.1202 6.40998 18.1202 8.41998V19.58C18.1202 21.59 16.9702 22.75 14.9602 22.75ZM9.12018 6.75C7.92018 6.75 7.4502 7.21998 7.4502 8.41998V19.58C7.4502 20.78 7.92018 21.25 9.12018 21.25H14.9602C16.1502 21.25 16.6202 20.78 16.6202 19.58V8.41998C16.6202 7.21998 16.1502 6.75 14.9602 6.75H9.12018Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M19.8503 18.75H17.3704C16.9604 18.75 16.6204 18.41 16.6204 18C16.6204 17.59 16.9604 17.25 17.3704 17.25H19.8503C20.8703 17.25 21.2504 16.87 21.2504 15.85V4.15002C21.2504 3.13002 20.8703 2.75 19.8503 2.75H15.5504C14.5304 2.75 14.1504 3.13002 14.1504 4.15002V6C14.1504 6.41 13.8104 6.75 13.4004 6.75C12.9904 6.75 12.6504 6.41 12.6504 6V4.15002C12.6504 2.31002 13.7104 1.25 15.5504 1.25H19.8503C21.6903 1.25 22.7504 2.31002 22.7504 4.15002V15.85C22.7504 17.69 21.6903 18.75 19.8503 18.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M14 11.75H10C9.59 11.75 9.25 11.41 9.25 11C9.25 10.59 9.59 10.25 10 10.25H14C14.41 10.25 14.75 10.59 14.75 11C14.75 11.41 14.41 11.75 14 11.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M14 14.75H10C9.59 14.75 9.25 14.41 9.25 14C9.25 13.59 9.59 13.25 10 13.25H14C14.41 13.25 14.75 13.59 14.75 14C14.75 14.41 14.41 14.75 14 14.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M12 22.75C11.59 22.75 11.25 22.41 11.25 22V19C11.25 18.59 11.59 18.25 12 18.25C12.41 18.25 12.75 18.59 12.75 19V22C12.75 22.41 12.41 22.75 12 22.75Z"
                                  fill="#707791"
                                />
                              </svg>
                              View Details
                            </a>
                          </li>
                          <li>
                            <a class="target" (click)="openContactModal(place)">
                              <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M6.70001 18.75H4.15002C2.31002 18.75 1.25 17.69 1.25 15.85V4.15002C1.25 2.31002 2.31002 1.25 4.15002 1.25H8.45001C10.29 1.25 11.35 2.31002 11.35 4.15002V6C11.35 6.41 11.01 6.75 10.6 6.75C10.19 6.75 9.84998 6.41 9.84998 6V4.15002C9.84998 3.13002 9.47001 2.75 8.45001 2.75H4.15002C3.13002 2.75 2.75 3.13002 2.75 4.15002V15.85C2.75 16.87 3.13002 17.25 4.15002 17.25H6.70001C7.11001 17.25 7.45001 17.59 7.45001 18C7.45001 18.41 7.11001 18.75 6.70001 18.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M14.9602 22.75H9.12018C7.11018 22.75 5.9502 21.59 5.9502 19.58V8.41998C5.9502 6.40998 7.11018 5.25 9.12018 5.25H14.9602C16.9702 5.25 18.1202 6.40998 18.1202 8.41998V19.58C18.1202 21.59 16.9702 22.75 14.9602 22.75ZM9.12018 6.75C7.92018 6.75 7.4502 7.21998 7.4502 8.41998V19.58C7.4502 20.78 7.92018 21.25 9.12018 21.25H14.9602C16.1502 21.25 16.6202 20.78 16.6202 19.58V8.41998C16.6202 7.21998 16.1502 6.75 14.9602 6.75H9.12018Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M19.8503 18.75H17.3704C16.9604 18.75 16.6204 18.41 16.6204 18C16.6204 17.59 16.9604 17.25 17.3704 17.25H19.8503C20.8703 17.25 21.2504 16.87 21.2504 15.85V4.15002C21.2504 3.13002 20.8703 2.75 19.8503 2.75H15.5504C14.5304 2.75 14.1504 3.13002 14.1504 4.15002V6C14.1504 6.41 13.8104 6.75 13.4004 6.75C12.9904 6.75 12.6504 6.41 12.6504 6V4.15002C12.6504 2.31002 13.7104 1.25 15.5504 1.25H19.8503C21.6903 1.25 22.7504 2.31002 22.7504 4.15002V15.85C22.7504 17.69 21.6903 18.75 19.8503 18.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M14 11.75H10C9.59 11.75 9.25 11.41 9.25 11C9.25 10.59 9.59 10.25 10 10.25H14C14.41 10.25 14.75 10.59 14.75 11C14.75 11.41 14.41 11.75 14 11.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M14 14.75H10C9.59 14.75 9.25 14.41 9.25 14C9.25 13.59 9.59 13.25 10 13.25H14C14.41 13.25 14.75 13.59 14.75 14C14.75 14.41 14.41 14.75 14 14.75Z"
                                  fill="#707791"
                                />
                                <path
                                  d="M12 22.75C11.59 22.75 11.25 22.41 11.25 22V19C11.25 18.59 11.59 18.25 12 18.25C12.41 18.25 12.75 18.59 12.75 19V22C12.75 22.41 12.41 22.75 12 22.75Z"
                                  fill="#707791"
                                />
                              </svg>
                              Contact Broker
                            </a>
                          </li>
                          <li (click)="toggleShortcuts(place.Id, 'close')">
                            <a
                              class="target"
                              (click)="openMapViewPlace(MapViewPlace, place)"
                            >
                              <i class="fa-solid fa-map-location-dot emily"></i>
                              View Location
                            </a>
                          </li>
                          <li (click)="toggleShortcuts(place.Id, 'close')">
                            <a
                              class="target"
                              (click)="
                                openStreetViewPlace(StreetViewPlace, place)
                              "
                            >
                              <svg
                                class="emily"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g id="Street View">
                                  <path
                                    id="Vector"
                                    d="M12 3C10.3506 3 9 4.35059 9 6C9 6.83496 9.35742 7.58789 9.91406 8.13281C8.91504 8.80957 8.25 9.96094 8.25 11.25V14.7188L9.75 15.4688V18.75H14.25V15.4688L15.75 14.7188V11.25C15.75 9.96094 15.085 8.80957 14.0859 8.13281C14.6426 7.58789 15 6.83496 15 6C15 4.35059 13.6494 3 12 3ZM12 4.5C12.8379 4.5 13.5 5.16211 13.5 6C13.5 6.83789 12.8379 7.5 12 7.5C11.1621 7.5 10.5 6.83789 10.5 6C10.5 5.16211 11.1621 4.5 12 4.5ZM12 9C13.251 9 14.25 9.99902 14.25 11.25V13.7812L12.75 14.5312V17.25H11.25V14.5312L9.75 13.7812V11.25C9.75 9.99902 10.749 9 12 9ZM6.75 14.1562C4.56152 14.7686 3 15.8057 3 17.25C3 19.7109 7.52637 21 12 21C16.4736 21 21 19.7109 21 17.25C21 15.8057 19.4385 14.7686 17.25 14.1562V15.7266C18.6768 16.1865 19.5 16.7812 19.5 17.25C19.5 18.1465 16.5088 19.5 12 19.5C7.49121 19.5 4.5 18.1465 4.5 17.25C4.5 16.7812 5.32324 16.1865 6.75 15.7266V14.1562Z"
                                    fill="#707791"
                                  />
                                </g>
                              </svg>
                              Street View
                            </a>
                          </li>
                          <li>
                            <a
                              class="target"
                              (click)="
                                $event.preventDefault();
                                $event.stopPropagation();
                                requestCenterStatus(place.Id, place.CampaignId)
                              "
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check-big-icon lucide-circle-check-big"
                              >
                                <path d="M21.801 10A10 10 0 1 1 17 3.335" />
                                <path d="m9 11 3 3L22 4" />
                              </svg>
                              Center Status</a
                            >
                          </li>
                          <!-- <li *ngIf="place.Deleted != true" class="cursor">
                            <a class="target" (click)="openDeleteShoppingCenterModal(
                                  deleteSingleShoppingCenterModal,
                                  place
                                );toggleShortcuts(place.Id, 'close')
                              ">
                              <i class="fa-regular fa-trash-can emily"></i>
                              Remove Shopping
                            </a>
                          </li> -->
                          <li *ngIf="place.Deleted == true">
                            <a
                              class="target"
                              (click)="
                                RestoreShoppingCenter(
                                  place.MarketSurveyId,
                                  place.Deleted,
                                  place.Id
                                )
                              "
                            >
                              <i class="fa-solid fa-trash-arrow-up emily"></i>
                              Restore
                            </a>
                          </li>
                        </ul>
                        <i class="fa-solid fa-caret-up"></i>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="place.CenterAddress"
                    class="card-address total"
                    (click)="openMapViewPlace(MapViewPlace, place)"
                  >
                    <span>
                      {{ place.CenterAddress }},
                      {{ place.CenterCity | titlecase }},
                      {{ place.CenterState }}
                    </span>
                  </div>

                  <div *ngIf="place.CenterAddress">
                    <div
                      *ngIf="place.ShoppingCenter?.Places?.length"
                      class="table-responsive mt-2"
                      style="max-height: 150px; overflow-y: auto"
                    >
                      <table
                        class="table table-sm table-striped mb-0 small-table"
                        style="font-size: 0.75rem"
                      >
                        <thead>
                          <tr>
                            <th scope="col">Select</th>
                            <th scope="col" style="min-width: 60px">
                              Size (SF)
                            </th>
                            <th scope="col">Price</th>
                            <th scope="col">Extras</th>
                            <th scope="col">Type</th>
                            <th scope="col">S.Type</th>
                            <th scope="col">Privacy</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let place of place.ShoppingCenter.Places">
                            <ng-container
                              *ngIf="
                                place.BuildingSizeSf || place.ForLeasePrice
                              "
                            >
                              <td>
                                <input
                                  type="checkbox"
                                  [(ngModel)]="place.Checked"
                                  (change)="
                                    onCheckboxChange(
                                      $event,
                                      place.Id,
                                      place.CampaignId
                                    )
                                  "
                                />
                              </td>
                              <td>{{ place.BuildingSizeSf | number }}</td>
                              <td>
                                {{
                                  place.ForLeasePrice
                                    ? (place.ForLeasePrice
                                      | currency : "USD" : "symbol" : "1.0-0")
                                    : "On Request"
                                }}
                              </td>
                              <td>{{ place.Extras || "—" }}</td>
                              <td>{{ place.LeaseType }}</td>
                              <td>{{ place.SecondaryType }}</td>
                              <td>
                                <i
                                  *ngIf="!place.CampaignId"
                                  class="fa-solid fa-lock-open"
                                ></i>
                                <i
                                  *ngIf="place.CampaignId"
                                  class="fa-solid fa-lock"
                                  (click)="
                                    place.MailId && openMailPopup(place.MailId)
                                  "
                                ></i>
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div
                      *ngIf="place.ShoppingCenter?.Places?.length"
                      class="table-responsive mt-2"
                      style="max-height: 150px; overflow-y: auto"
                    >
                      <p class="mb-0 pt-1"><b>Notes</b></p>
                      <table
                        class="table table-sm table-striped mb-0 small-table"
                        style="font-size: 0.75rem"
                      >
                        <tbody>
                          <tr *ngFor="let place of place.ShoppingCenter.Places">
                            <td>{{ place.Notes || "—" }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <ng-container *ngIf="getSentMails(place) as mails">
                      <div *ngIf="place.lastOutgoingEmail">
                        <span
                          class="mail-summary"
                          (click)="openMailPopup(place.lastOutgoingEmail.ID)"
                        >
                          Last Sent Email:
                          <span style="text-decoration: none">{{
                            place.lastOutgoingEmail.Date | date
                          }}</span>
                        </span>
                      </div>
                      <div *ngIf="place.lastIncomingEmail" class="mt-2">
                        <span
                          class="mail-summary"
                          (click)="openMailPopup(place.lastIncomingEmail.ID)"
                        >
                          Last Received Email:
                          <span style="text-decoration: none">{{
                            place.lastIncomingEmail.Date | date
                          }}</span>
                        </span>
                      </div>
                      <!-- <li
                      *ngFor="let m of mails"
                      class="mail-item"
                      (click)="openMailPopup(m.Id)"
                    >
                      <ng-container [ngSwitch]="m.Direction">
                        <span *ngSwitchCase="2" class="sent">Sent</span>
                        <span *ngSwitchCase="-1" class="outbox">Outbox</span>
                        <span *ngSwitchCase="1" class="inbox">Inbox</span>
                        <span *ngSwitchCase="4" class="drafts">Drafts</span>
                        <span *ngSwitchDefault class="unknown">
                          Unknown ({{ m.Direction }})
                        </span>
                      </ng-container>
                      <span class="mail-date">
                        {{ m.Date | date : "yyyy-MM-dd HH:mm:ss" }}
                      </span>
                    </li> -->
                    </ng-container>
                  </div>

                  <div class="row m-0">
                    <div
                      *ngFor="let item of place.ShoppingCenter?.BuyBoxPlaces"
                      class="col-12 d-flex flex-column spec"
                    >
                      <div class="d-flex flex-column">
                        <p class="nearset-category">
                          <b>{{ getNeareastCategoryName(item.CategoryId) }} </b>
                        </p>
                        <p>
                          {{ item.RelationOrganizationName }}
                          <img
                            class="logo ms-2"
                            src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                              item.RelationOrganizationId
                            }}"
                            [title]="item.RelationOrganizationName"
                            alt=""
                            loading="lazy"
                          />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="small-hr mt-1 mb-1" />
                <div
                  class="mt-2"
                  *ngIf="
                    place.ShoppingCenter?.ManagerOrganization &&
                    placesRepresentative != false
                  "
                >
                  <span class="managed-by">Leased by</span>
                  <div class="spec-head">
                    <div class="d-flex align-items-center gap-2">
                      <img
                        class="logo"
                        src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{
                          place.ShoppingCenter.ManagerOrganization[0].ID
                        }}"
                        [title]="
                          place.ShoppingCenter.ManagerOrganization[0].Name
                        "
                        alt=""
                        loading="lazy"
                      />
                      <span>
                        {{ place.ShoppingCenter.ManagerOrganization[0].Name }}
                      </span>
                    </div>

                    <img
                      class="ms-2 total"
                      src="../../../assets/Images/Icons/eye.png"
                      alt="View Manager Details"
                      [ngbPopover]="popoverContent"
                      popoverTitle="Organization Contact Info"
                      [placement]="'left'"
                      loading="lazy"
                    />
                    <!-- <br /> -->
                    <ng-template #popoverContent>
                      <div
                        *ngFor="
                          let org of place.ShoppingCenter.ManagerOrganization
                        "
                        class="contact-container table-text"
                      >
                        <p class="text-bold m-0">
                          {{ org.Firstname | titlecase }}
                          {{ org.LastName | titlecase }}
                        </p>
                        <p class="m-0">{{ org.CellPhone }}</p>
                        <p class="m-0">{{ org.Email }}</p>
                        <hr
                          *ngIf="
                            !isLast(
                              org,
                              shoppingCenter.ShoppingCenter.ManagerOrganization
                            )
                          "
                        />
                      </div>
                    </ng-template>
                  </div>
                </div>
                <button
                  *ngIf="checkSubmission(place?.ShoppingCenter?.UserSubmmision)"
                  class="submission-button"
                  (click)="
                    openModalSubmission(
                      place?.ShoppingCenter?.UserSubmmision || [],
                      submission
                    )
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-file-icon lucide-file"
                  >
                    <path
                      d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
                    />
                    <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                  </svg>
                  View Submissions
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="col-4">
    <ng-container *ngIf="isLoading; else mapContent">
      <div class="skeleton-map h700"></div>
    </ng-container>
    <ng-template #mapContent>
      <div id="map" class="custom-map"></div>
    </ng-template>
  </div>

  <ng-template #MapViewPlace let-modal> </ng-template>

  <ng-template #ShareLink let-modal>
    <div class="d-flex p-3 m-3 align-items-center">
      <p>{{ shareLink }}</p>
      <i class="fa-solid fa-copy ms-3 cursor" (click)="copyLink(shareLink)"></i>
    </div>
  </ng-template>

  <ng-template #StreetViewPlace let-modal>
    <div *ngIf="General.modalObject.StreetViewURL">
      <iframe
        [src]="sanitizedUrl"
        height="700"
        width="798px"
        class="sanitizedUrl"
        allowfullscreen=""
      >
      </iframe>
    </div>
    <div
      id="street-view"
      class="h700"
      *ngIf="!General.modalObject.StreetViewURL"
    ></div>
  </ng-template>

  <ng-template #deleteSingleShoppingCenterModal let-modal>
    <div class="modal-body-general p-4 rounded deleteShopping">
      <h2 class="text-center mb-4 RemoveShopping">Remove Shopping Center</h2>
      <p class="text-center Areyou">
        Are you sure you want to remove this Shopping Center?
      </p>

      <div class="d-flex justify-content-end mt-4">
        <button
          type="button"
          class="btn btn-secondary me-2 px-4 py-2 btnborder"
          (click)="modal.dismiss('Cancel click')"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger px-4 py-2 btnborder"
          (click)="deleteShCenter()"
        >
          Remove
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #statusModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Center Status</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <!-- Render the skeleton loader or fetched content -->
      <div *ngIf="isLoadingstatus; else contentTemplate">
        <div class="skeleton-loader">
          <div
            class="skeleton-head"
            style="
              height: 24px;
              width: 40%;
              margin-bottom: 16px;
              border-radius: 4px;
              background-color: #e0e0e0;
            "
          ></div>
          <div class="skeleton-paragraph">
            <div
              class="skeleton-line"
              style="
                height: 16px;
                width: 100%;
                margin-bottom: 8px;
                border-radius: 4px;
                background-color: #e0e0e0;
              "
            ></div>
            <div
              class="skeleton-line"
              style="
                height: 16px;
                width: 95%;
                margin-bottom: 8px;
                border-radius: 4px;
                background-color: #e0e0e0;
              "
            ></div>
            <div
              class="skeleton-line"
              style="
                height: 16px;
                width: 90%;
                border-radius: 4px;
                background-color: #e0e0e0;
              "
            ></div>
          </div>
        </div>
      </div>
      <ng-template #contentTemplate>
        <div [innerHTML]="htmlContent"></div>
      </ng-template>
    </div>
  </ng-template>

  <ng-template #loadingSkeleton>
    <div class="row m-0 mt-1">
      <ng-container *ngFor="let _ of skeletonItems">
        <div class="col-6 skeleton-col">
          <div class="card-window total skeleton-card">
            <div class="card-window_c skeleton">
              <div class="main-img">
                <div class="skeleton-image"></div>
              </div>
              <div class="content-wrap card-content skeleton-content">
                <div class="skeleton-text skeleton-title"></div>
                <div class="skeleton-text skeleton-line"></div>
                <div class="skeleton-text skeleton-line short"></div>
                <div class="skeleton-text skeleton-line"></div>
                <div class="skeleton-text skeleton-line short"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #submission let-modal>
    <div class="modal-header d-flex justify-content-between">
      <h4 class="modal-title">Submissions</h4>
      <button
        type="button"
        class="close"
        style="background: none; border: none"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
            fill="#7A8591"
          />
          <path
            d="M9.16986 15.5799C8.97986 15.5799 8.78986 15.5099 8.63986 15.3599C8.34986 15.0699 8.34986 14.5899 8.63986 14.2999L14.2999 8.63986C14.5899 8.34986 15.0699 8.34986 15.3599 8.63986C15.6499 8.92986 15.6499 9.40986 15.3599 9.69986L9.69986 15.3599C9.55986 15.5099 9.35986 15.5799 9.16986 15.5799Z"
            fill="#7A8591"
          />
          <path
            d="M14.8299 15.5799C14.6399 15.5799 14.4499 15.5099 14.2999 15.3599L8.63986 9.69986C8.34986 9.40986 8.34986 8.92986 8.63986 8.63986C8.92986 8.34986 9.40986 8.34986 9.69986 8.63986L15.3599 14.2999C15.6499 14.5899 15.6499 15.0699 15.3599 15.3599C15.2099 15.5099 15.0199 15.5799 14.8299 15.5799Z"
            fill="#7A8591"
          />
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let submission of submissions">
        <div class="submission-details" *ngIf="submission?.SubmmisionLink">
          <div class="detailsInfo d-flex flex-column">
            <a
              [href]="
                'https://files.cherrypick.com/submissions/' +
                submission?.SubmmisionLink
              "
              target="_blank"
              class="submission-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
              >
                <circle cx="4" cy="4" r="4" fill="#16181D" />
              </svg>

              https://files.cherrypick.com/submissions/' +
              submission?.SubmmisionLink
            </a>

            <div class="user-info d-flex flex-row">
              <p *ngIf="submission?.FirstName">
                {{ submission?.FirstName + " " + submission?.LastName }}
              </p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
              >
                <circle cx="4" cy="4" r="4" fill="#E2E4E9" />
              </svg>
              <p *ngIf="submission?.CreatedDate">
                {{ submission?.CreatedDate | date : "MMM dd, yyyy" }}
              </p>
            </div>
            <p class="available-space" *ngIf="submission?.AvailableSpace">
              Available Space:{{ submission?.AvailableSpace }} SF
            </p>
          </div>
          <div class="progress-bar-container">
            <div class="match-percentage">
              <div class="circle-progress">
                <svg viewBox="0 0 36 36" class="circle-svg">
                  <!-- Background path (gray) -->
                  <path
                    class="circle-bg"
                    d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                    [style.stroke-dasharray]="getCircleProgressBackground(98)"
                  />
                  <!-- Foreground path (green) -->
                  <path
                    class="circle-fg"
                    d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                    [style.stroke-dasharray]="getCircleProgress(98)"
                  />
                </svg>
                <div class="circle-label">
                  <span class="match">Match</span>
                  <span class="match-percentage"
                    >{{ submission?.Percentage }}%</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </ng-template>
</div>

<ng-template #mailModal let-modal>
  <div class="modal-body" style="height: 90vh; overflow-y: auto">
    <div>
      <label for="">Email Subject</label>
      <div class="mail-body" [innerHTML]="openedEmail.Subject"></div>
    </div>
    <div class="date">
      {{ openedEmail.Date | date : "EEEE, MMMM d, y" }} at
      {{ openedEmail.Date | date : "h:mm a" }}
    </div>

    <div>
      <label for="">Email Body</label>
      <div class="mail-body" [innerHTML]="openedEmail.Body"></div>
    </div>
  </div>
</ng-template>
