<div class="row m-0 p-0 mb-5">
    <div class="col-12 col-sm-3">
        <p-accordion>
            @for(stage of Stages; track stage){
            <p-accordionTab [header]="stage.title">
                <p-accordion>
                    @for(email of stageEmailsMap[stage.id]; track email){
                    @for(org of email.Organization; track org){
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            <div
                                style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                                <span>{{ org.OrganizationName }}</span>
                                <img src="https://api.cherrypick.com/api/Organization/GetOrgImag?orgId={{ org.OrganizationId }}"
                                    width="30" height="30" style="border-radius: 50%;">
                            </div>
                        </ng-template>
                        <ul class="contact-ul">
                            @for(contact of org.Contact; track contact){
                            <li>{{ contact.Firstname }} {{ contact.Lastname }}</li>
                            }
                        </ul>
                    </p-accordionTab>
                    }
                    }
                </p-accordion>
            </p-accordionTab>
            }
        </p-accordion>
    </div>
    <div class="col-12 col-sm-9">

    </div>
</div>