::ng-deep .p-accordion-header a {
  color: #001f3f !important;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
}

::ng-deep .p-accordion .p-accordion-content .p-accordion .p-accordion-header a {
    padding-block: 8px !important;
    color: #001f3f !important;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
}

::ng-deep .p-accordion-header .p-accordion-toggle-icon {
  color: #001f3f !important;
}


.contact-ul {
  margin: 0;
}

.contact-ul>li {
  color: #001f3f !important;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat;
  cursor: pointer;
}

.contact-ul>li:hover {
 color: darkgreen !important;
}

::ng-deep .p-accordion-tab .p-accordion-content {
  padding: 10px !important;
}
