.shortcuts_iconCard {
  position: absolute;
  background: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 8px 26px rgba(0, 0, 0, 0.23);
  padding: 16px;
  border-radius: 10px;
  text-align: start;
  margin: 0;
  z-index: 100;
  right: 2vw !important;
  width: max-content;
  top: -135%;
}

.shortcuts_iconCard>ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: start;
  margin: 0;
  gap: 8px;
  display: grid;
}

.shortcuts_iconCard>ul>li {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
  cursor: pointer;
}

.shortcuts_iconCard>ul>li>.target {
  display: flex;
  gap: 6px;
  color: #707791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-align: start;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
}

.shortcuts_iconCard>ul>li>.target i {
  font-size: 16px;
  cursor: w-resize;
  width: 20px;
  height: 20px;
  color: #707791;
}

.shortcuts_iconCard>ul>li>.target svg {
  width: 20px;
  height: 20px;
}

.shortcuts_iconCard>ul>li>.target svg path {
  fill: #707791;
}

.shortcuts_iconCard>i {
  position: absolute;
  right: -8px;
  top: 5%;
  font-size: 25px;
  color: white;
}

@media (max-width: 768px) {
  .shortcuts_iconCard {
    right: 5vw !important;
  }
}

.h700 {
  height: 700px;
}

.mtopp {
  overflow-y: scroll;
  height: 86vh;
}

.procpect-table-body td {
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 14px;
}

.ellipsis_icont {
  border: 1.5px solid #7077915b;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.option-icon img {
  margin-right: 10px;
}

img[alt="logo"] {
  margin-right: 20px;
}

.table-text {
  color: #7a8591;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.table-text_second {
  color: #7a8591;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

::ng-deep .popover-body {
  padding: 0 !important;
}

::ng-deep .popover-arrow::after {
  border-top: none !important;
  border-top-color: transparent !important;
}

::ng-deep .popover-arrow::before {
  border-top: none !important;
}
